:root {
 --container: 1360px;

 --fz: 16px;
 --ff: 'Muller';

 --text: #662E2C;
 --accent: #D60700;
 --bg: #FAF6F2;

 --grey: #8F8C8A;
 --grey10: #FAF6F2;
 --grey15: #F3EFEB;
 --grey20: #ECE8E5;
 --grey30: #D4D1CD;
 --prim: #CF643F;
 --prim12: rgba(207, 100, 63, 0.12);
 --prim24: rgba(207, 100, 63, 0.24);
 --prim80: #cf633fdc;


}