//layout

html, body {
	width: 100%;
	height: 100px;
}

html {
	font-size: 14px;
	font-family: Arial, sans-serif;
}

body {
	background: url(img/bg.jpg) center center / cover;
}

.container {
	max-width: $container;
	min-width: 320px;
	min-height: 100%;
	padding: 0 30px;
	margin: 20px auto;
	background: #fff;
	border-radius: 10px;
	border: 8px solid rgba(0, 0, 0, .2);
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
}

.header {
	@include decorate;
	.logo-pic {
		width: 100%;
	}
}

.main-menu {
	text-align: right;
	width: 100%;
	.main-menu__link {
		width: 19%;
		text-align: center;
		line-height: 50px;
		font-size: 14px;
		color: $main-text;
		@include pref(transition, all 0.3s ease-in-out);
		&:hover{
			color: $span-color;
			@include pref(text-shadow, -4px 4px 4px -4px rgba(0,0,0,0.75));
		}
	}
}

.about {
	@include decorate;
	line-height: 2;
	font-size: 14px;
	color: $main-text;
	a {
		color: $span-color;
		font-weight: bold;
	}
}

.main-content {
	@include decorate;
}

article {
	vertical-align: top;
	margin: 0 0 20px 0;
	.foto {
		width: 90%;
		border-radius: 3px;
		border: 4px solid #fff;
		box-shadow: 0 0 1px 0 $main-text;
		margin: 0 0 15px 0;
		cursor: pointer;
		@include pref(transition, all 0.3s ease-in-out);
		&:hover {
			@include pref(transform, translate(2px, -2px));
			@include pref(box-shadow, -4px 4px 4px -4px rgba(0,0,0,0.75));
		}
	}
	.descr {
		color: $main-text;
		font-size: 1em;
		width: 90%;
		.descr-header {
			font-size: 1em;
			color: $hover-text;
			margin: 0 0 10px 0;
		}
		p {
			line-height: 2;
		}
	}
}

.buttons {
	text-align: right;
	padding: 0 5% 0 0;
}

.btn-link {
	padding: 9px 18px;
	margin-left: 20px;
	border-radius: 3px;
	color: #fff;
	@include pref (text-shadow, 1px 1px 2px #6b9a2c);
	box-shadow: inset 1px 1px 0 1px #99b73f;
	border: 1px solid #628727;
	background: #6b9a2c;
	@include pref(background, linear-gradient(to bottom, #99b73f 0%, #6b9a2c 100%));
}

//aside

.twitter {
	width: 100%;
	position: relative;
	&:after {
		content: '';
		display: block;
		position: absolute;
		bottom: -10px;
		right: 0;
		background: url(/img/tw-logo.png) no-repeat;
		width: 40px;
		height: 40px;
	}
}

.tw-messige {
	padding: 15px 17px;
	margin-bottom: 15px;
	border-radius: 3px;
	border: 1px solid rgba($main-text, .2);
	background-color: #fbfbfb;
	width: 80%;
	position: relative;
	&:after{
		content: '';
		position: absolute;
		bottom: -11px;
		right: 40px;
		width: 21px;
		height: 21px;
		background-color: #fbfbfb;
		transform: skew(57deg) rotate(44deg);
		border-bottom: 1px solid rgba($main-text, .2);
		border-right: 1px solid rgba($main-text, .2);
	}
	p {
		font-size: 12px;
		color: $main-text;
		line-height: 2;
	}
}
.tw-title {
	text-align: right;
	width: 80%;
	margin-right: 20%;
	font-size: 12px;
	color: $main-text;
}

.side-header{
	padding: 20px 0;
	color: #404040;
	font-size: 14px;
}

.catalog-item {
	border-bottom: 1px solid rgba($main-text, .2);
	&:first-child{
		border-top: 1px solid rgba($main-text, .2);
	}
}

.catalog-link {
	padding: 0.7em 0.8em;
	display: block;
	color: $main-text;
	font-size: 12px;
	@include pref(transition, all 0.3s ease-in-out);
	&:hover {
		color: $hover-text;
		background: rgba($main-text, .2);
	}
}

.contact {
	color: $main-text;
	font-size: 12px;
	.side-header {
		padding-bottom: 10px;
	}
}

.contact-link {
	@extend .catalog-link;
	display: inline-block;
}

//footer

footer {
	padding: 2.5em 0;
  border-bottom: 1px solid rgba($main-text, .2);
	color: $main-text;
	font-size: 12px;
}

.social {
	width: 100%;
}

.social-item {
	display: inline-block;
	width: 49%;
	vertical-align: middle;
	.social-link{
		color: $main-text;
		padding: 0 0 0 60px;
		position: relative;
		@include pref(transition, all 0.3s ease-in-out);
		&:before {
			content: '';
			width: 45px;
			height: 45px;
			position: absolute;
			top: -15px;
			left: 0;
			background: url(/img/soc-ic.png) 0 0 no-repeat;
		}
			&:hover {
			color: $hover-text;
		}
	}
}
.social-link.tw:before{
			background-position: -47px 0;
	}
