//vars

$container: 960px;
$span-color: #8c6641;
$main-text: #b8b8b8;
$hover-text: #939393;

//mixins
@function rem($px) {
	@return $px / 16px + 0rem;
}

@mixin pref($name, $argument) {
	-webkit-#{$name}: #{$argument};
	-ms-#{$name}: #{$argument};
	-moz-#{$name}: #{$argument};
	-o-#{$name}: #{$argument};
	#{$name}: #{$argument};
} 

@mixin justify {
	content: '';
	width: 100%;
	height: 0;
	display: inline-block;
}

@mixin decorate {
    padding: 2em 0;
    border-bottom: 1px solid rgba($main-text, .2);
}

//layout
@import "reset";
@import "grid";
@import "base";
@import "media";