@media screen and (max-width: 780px) {
	article {
		text-align: center;
		.descr {
			text-align: left;
		}
	}
	.buttons {
		text-align: center;
	}

	.twitter{
		&:after{
			right: 5%;
		}
	}
	footer{
		text-align: center;
		.copy {
			margin: 0 0 30px 0;
		}
	}
	
}

@media screen and (max-width: 700px) {
	.main-content {
		text-align: center;
		border: none;
	}
	aside {
		@include decorate;
	}

}

@media screen and (max-width: 400px) {
	.main-menu {
	.main-menu__link {
		width: 18%;
	}
 }
 	.social-item{
 		display: block;
 		text-align: center;
 		width: 100%;
 		+ .social-item {
 			margin: 50px 0 0 0;
 		}
 	}
 	.btn-link + .btn-link {
		margin: 20px 0 0 0;
	}
}
