$text-color: #436276;
$accent-color: #7cc15e;
$action-color: #db5026;
$submit-color: #e27d65;
$section-color: #355163;
$footer-color: #213746;

//mixin

%cf {
  clear: both;
  content: "";
  display: table;
}

@mixin 
btn($bg-color, $bg-active) {
  background-color: $bg-color;
  &:hover, &:active {
    background-color: $bg-active;
  }
}


// layout
@import "typografy";
@import "layout";
@import "forms";
@import "controls";