html {
  font-family: var(--ff), Arial, Helvetica, sans-serif;
  color: var(--text);
  font-size: var(--fz);
  //  @include fFS(16px, $fz, 320px, 1900px, 20px);
  // height: -webkit-fill-available;
}

body {
  display: flex;
  flex-direction: column;
  // min-height: -webkit-fill-available;
}

.wrapper {
  position: relative;
  min-width: 320px;
  min-height: 100vh;
  // height: 100%;
  flex-grow: 1;
  overflow: hidden;
}

.footer {
  flex-grow: 0;
}

a {
  display: inline-block;
  vertical-align: middle;
}

img {
  display: inline-block;
}

.container {
  max-width: var(--container);
  margin: 0 auto;
  padding: 0 10px;
}

.section {
  padding: 7vmax 0;
}

.section__head {
  text-align: center;
  @include fFS(16px, 28px, 320px, 1900px, 20px);
  font-weight: 500;
}

.section__title {
  margin-bottom: 0.4em;
  @include fFS(26px, 48px, 320px, 1900px, 20px);
  font-weight: 700;
  line-height: 1.1;
}

.section__row {
  @include row(jc, ac);
}

.section__col {
  flex: 1 1 50%;

  @include bp(650px) {
    flex: 1 1 100%;
  }
}

.ligth {
  color: #fff;
}

.center {
  text-align: center;
}

/**/

*::-webkit-media-controls-panel {
  display: none !important;
  -webkit-appearance: none;
}

/* Old shadow dom for play button */

*::-webkit-media-controls-play-button {
  display: none !important;
  -webkit-appearance: none;
}

/* New shadow dom for play button */

/* This one works! */

*::-webkit-media-controls-start-playback-button {
  display: none !important;
  -webkit-appearance: none;
}