:root {
 --container: 1320px;
 --fz: 14px;
 --ff: 'suisse';
 --text: #272135;
 --accent: #FF7A00;
 --warning: #FF4C4C;
 --warning-bg: #F6D7C9;
 --hero: #223064;
 --dark: #5E697A;
 --ligth: #B9BEC6;
 --bg: #3478BB;
 --ligth-bg: #F2EEFA;
 --bullets: #86C3FF;
 --menu-hover: #4350C2;
 --menu-hover_mob: #564C6D;
 --disabled: #646E77;
}