:root {
 --container: 1320px;
 --fz: 14px;
 --ff: 'suisse';
 --text: #272135;
 --accent: #FF7A00;
 --hero: #223064;
 --dark: #5E697A;
 --ligth: #B9BEC6;
 --bg: #3478BB;
 --ligth-bg: #C2E5F9;
 --bullets: #86C3FF;
 --menu-hover: #2A94FC;
 --menu-hover_mob: #564C6D;
}