:root {
 --container: 1280px;
 --fz: 16px;
 --ff: 'nunito_sans';
 --text: #272135;
 --accent: #FF7A00;
 --warning: #FF4C4C;
 --warning-bg: #F6D7C9;
 --hero: #223064;
 --ligth: #B9BEC6;
 --dark: #5E697A;
 --bg: #3478BB;
 --btn: #53A8DD;
 --btn-hover: #55BEFF;
 --ligth-bg: #F2EEFA;
 --light-menu: #C9E8FF;
 --bullets: #86C3FF;
 --disabled: #646E77;
}