.menu-trigger {
 position: relative;
 display: flex;
 align-items: center;
 max-width: 500px;
 overflow: hidden;
 transition: 0.5s;
 .menu-trigger__text {
  position: relative;
  text-transform: uppercase;
  font-size: 1.45em;
  transition: 0.5s;
  white-space: nowrap;
  @include bp(770px) {
   display: none;
  }
 }
 .menu-trigger__btn {
  position: relative;
  transition: 0.5s linear;
  width: 3rem;
  height: 2rem;
  background-clip: content-box;
  &:after,
  &:before {
   content: "";
   position: absolute;
   width: 2rem;
   left: 0;
   height: 1px;
   background-color: #fff;
   transform-origin: center center;
   transition: 0.5s linear;
  }
  &:before {
   top: 0.6rem;
  }
  &:after {
   bottom: 0.6rem;
  }
 }
 &.open {
  max-width: 3em;
  .menu-trigger__text {
   font-size: 0;
  }
  .menu-trigger__btn {
   &:after,
   &:before {
    top: 50%;
   }
   &:after {
    transform: rotate(45deg);
   }
   &:before {
    transform: rotate(-45deg);
   }
  }
 }
}

.btn {
 @include fFS(10px, 15px, 320px, 1600px, 14px);
 padding: 1.2em 2em;
 border: 1px solid;
 text-align: center;
 text-transform: uppercase;
 &--smuth {
  background: rgba(0, 0, 0, 0.4);
 }
 &--dark {
  background: #010001;
  border: none;
 }
 &--light {
  background: #fff;
  color: #010001;
 }
 &:hover {
  background: #fff;
  color: #010001;
 }
}

.to-catalog {
 position: relative;
 font-size: 1.5em;
 padding-inline-end: 2em;
 text-transform: lowercase;
 line-height: 1.1;
 writing-mode: vertical-rl;
 &:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2em;
  bottom: 0;
  left: 0;
  // inset-inline-end: -2em;
  background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 20'%3E%3Cpath d='M7 18.987l-5.803-5.913M7 18.987l5.797-5.687M7 18.987L7.18.015' stroke='%23fff'/%3E%3C/svg%3E");
  background-position: center bottom;
  background-size: 50% 50%;
  background-repeat: no-repeat;
 }
 @include bp(770px) {
  display: none;
 }
}

.glide__arrow {
 position: relative;
 // flex: 0 0 50px;
 width: 50px;
 height: 50px;
 overflow: hidden;
 border: 1px solid;
 border-radius: 100%;
 background: rgba(0, 0, 0, 0.4);
 text-indent: 150%;
 &:hover {
  background: rgba(0, 0, 0, 0.6);
 }
 &:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 55%;
  width: 10px;
  height: 10px;
  border-bottom: 1px solid;
  border-left: 1px solid;
 }
}

.glide__arrow--left {
 margin-left: -1.5em;
 &:before {
  left: 55%;
  transform: translate(-50%, -50%) rotate(45deg);
 }
}

.glide__arrow--right {
 margin-right: -1.5em;
 &:before {
  left: 45%;
  transform: translate(-50%, -50%) rotate(-135deg);
 }
}

.close-btn {
 position: absolute;
 top: 0;
 right: 0;
 width: 50px;
 height: 50px;
 text-indent: -99999px;
 overflow: hidden;
 cursor: pointer;
 z-index: 2;
 &:before,
 &:after {
  content: "";
  @include center();
  transform-origin: center;
  width: 40%;
  height: 1px;
  background: #fff;
 }
 &:before {
  transform: translate(-50%, -50%) rotate(-45deg);
 }
 &:after {
  transform: translate(-50%, -50%) rotate(45deg);
 }
}
