:root {
 --ff: Lato, sans-serif;
 --af: 'Maven Pro', sans-serif;

//color
 --dark:#222;
 --light: #e4e9eb;
 --main: #323232;
 --accent: #2eb398;
 --accent-text: #20816d;
 --accent-border: #219d84;
 --text: #bebebe;
 --input: #454545;
}
