@-ms-viewport {
  width: device-width;
  initial-scale: 1; }

@-moz-viewport {
  width: device-width;
  initial-scale: 1; }

@-webkit-viewport {
  width: device-width;
  initial-scale: 1; }

*,
:before,
:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  position: relative;
  min-height: 100%;
  overflow: auto;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  -webkit-text-decoration-skip: objects;
  text-decoration-skip: objects;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-overflow-scrolling: touch;
  -ms-touch-action: manipulation;
  touch-action: manipulation; }

span {
  display: inline-block; }

a,
input,
button,
textarea,
optgroup,
select,
fieldset,
figure,
legend,
address {
  font: inherit;
  color: inherit;
  line-height: inherit;
  text-transform: inherit;
  text-shadow: inherit;
  border: none;
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  margin: 0;
  padding: 0; }

a,
button,
[type="button"],
[type="submit"] {
  -webkit-transition: color 0.25s, background 0.25s, opacity 0.25s;
  -o-transition: color 0.25s, background 0.25s, opacity 0.25s;
  transition: color 0.25s, background 0.25s, opacity 0.25s; }
  a > *,
  button > *,
  [type="button"] > *,
  [type="submit"] > * {
    pointer-events: none; }

a {
  cursor: pointer;
  text-decoration: none;
  -webkit-text-decoration-skip: none; }

button {
  overflow: visible;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit; }

p {
  margin: 0; }

b,
strong {
  font-weight: 700; }

audio,
canvas {
  display: inline-block; }

img,
svg,
embed,
object,
iframe,
video,
audio,
canvas {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  border: 0; }

img,
embed,
object,
iframe,
video {
  display: block;
  margin: auto; }

img {
  image-rendering: optimizeQuality; }

svg {
  color: inherit; }
  svg:not(:root) {
    overflow: hidden; }

progress {
  vertical-align: baseline;
  border: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  text-rendering: optimizeLegibility;
  font: inherit;
  color: inherit;
  margin: 0; }

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none; }

input,
select,
button,
button > * {
  display: inline-block;
  vertical-align: middle; }

button,
label,
select,
summary,
[type="button"],
[type="submit"],
[type="reset"],
[type="checkbox"],
[type="radio"],
[type="range"] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer; }

select,
[type="button"],
[type="submit"],
[type="search"],
[type="radio"],
[type="range"],
::-webkit-search-cancel-button,
::-webkit-search-decoration,
::-webkit-outer-spin-button,
::-webkit-inner-spin-button,
::-webkit-slider-thumb {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

::-webkit-contacts-auto-fill-button,
::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  right: 0; }

:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 1000px #fff;
  box-shadow: inset 0 0 0 1000px #fff; }

::marker {
  display: none; }

[type="radio"] {
  -webkit-appearance: radio; }

[type="number"] {
  -moz-appearance: textfield; }

::-ms-clear,
::-ms-reveal {
  display: none; }

input,
textarea {
  width: 100%; }

input {
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis; }

textarea {
  overflow: auto;
  resize: none; }

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0; }

:disabled {
  pointer-events: none;
  cursor: not-allowed;
  -webkit-text-fill-color: initial; }

::-moz-focus-outer,
::-moz-focus-inner {
  border: 0;
  padding: 0; }

::-webkit-input-placeholder {
  opacity: 1;
  color: inherit; }

:-ms-input-placeholder {
  opacity: 1;
  color: inherit; }

::-ms-input-placeholder {
  opacity: 1;
  color: inherit; }

::placeholder {
  opacity: 1;
  color: inherit; }

::-moz-placeholder {
  opacity: 1;
  color: inherit; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

td,
th {
  padding: 0;
  text-align: center; }

html {
  font-family: "Rubik", Arial, sans-serif;
  color: #222;
  font-size: 16px;
  height: -webkit-fill-available; }
  @media (min-width: 320px) {
    html {
      font-size: 20px;
      font-size: calc(0.00253 * 100vw + 15.18987px); } }
  @media (min-width: 1900px) {
    html {
      font-size: 20px; } }

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: -webkit-fill-available; }

.wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 320px;
  height: 100vh;
  min-height: 1px;
  min-height: -webkit-fill-available;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

a {
  display: inline-block;
  vertical-align: middle; }

img {
  display: inline-block; }

.container {
  max-width: 1380px;
  margin: 0 auto;
  padding: 0 10px; }

.bg {
  background-color: #ddd; }

.bg-white {
  background-color: #fff; }

p {
  font-size: 20px;
  margin-bottom: 0.5em; }
  @media (min-width: 320px) {
    p {
      font-size: 20px;
      font-size: calc(0.01266 * 100vw + 15.94937px); } }
  @media (min-width: 1900px) {
    p {
      font-size: 40px; } }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1;
  -ms-flex: 0 1;
  flex: 0 1;
  background-color: grey; }

.header__container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 95%; }
  @media (max-width: 750px) {
    .header__container {
      width: 100%;
      padding-right: 20px; } }

.menu {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media (max-width: 750px) {
    .menu {
      position: absolute;
      top: 100%;
      left: 0;
      -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      transform: translateX(-100%);
      -webkit-transition: -webkit-transform 0.5s ease-out;
      transition: -webkit-transform 0.5s ease-out;
      -o-transition: transform 0.5s ease-out;
      transition: transform 0.5s ease-out;
      transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
      display: block;
      width: 100%;
      background-color: #000;
      opacity: 0; }
      .menu.open {
        opacity: 1;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0); } }

.menu__list,
.soc-net {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  .menu__list li,
  .soc-net li {
    color: #fff; }
  @media (max-width: 750px) {
    .menu__list,
    .soc-net {
      display: block; } }

.menu__list {
  -webkit-box-flex: 4;
  -webkit-flex: 4 1 auto;
  -ms-flex: 4 1 auto;
  flex: 4 1 auto; }

.soc-net {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 15%;
  -ms-flex: 0 1 15%;
  flex: 0 1 15%; }

.logo {
  line-height: 40px;
  height: 40px; }
  @media (max-width: 700px) {
    .logo {
      font-size: 12px; } }

.main__container {
  height: 100%;
  min-height: 1px;
  margin-top: 40px;
  overflow: auto;
  -webkit-scroll-snap-type: y mandatory;
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth; }

.section {
  padding: 2em 0;
  height: 100%;
  scroll-snap-align: start; }
  .section .container {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }

#contacts {
  height: 90%; }
  #contacts .container {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; }

.title span,
.section__title span {
  position: relative;
  line-height: 1;
  z-index: 1; }
  .title span:after,
  .section__title span:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 20%;
    background: #5cb85c;
    z-index: -1; }

.title {
  font-size: 40px;
  text-align: center; }
  @media (min-width: 320px) {
    .title {
      font-size: 20px;
      font-size: calc(0.02848 * 100vw + 30.88608px); } }
  @media (min-width: 1900px) {
    .title {
      font-size: 85px; } }

.subtitle {
  text-align: center; }

.section__title {
  font-size: 30px;
  margin-bottom: 0.5em;
  line-height: 1; }
  @media (min-width: 320px) {
    .section__title {
      font-size: 20px;
      font-size: calc(0.01899 * 100vw + 23.92405px); } }
  @media (min-width: 1900px) {
    .section__title {
      font-size: 60px; } }

.section__wrapper {
  min-width: 80%;
  max-width: 100%;
  width: calc((600px - 100%) * 600);
  margin-left: auto; }

.about__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 80%; }

.about__descr {
  min-width: 40%;
  max-width: 100%;
  width: calc((400px - 100%) * 400);
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center; }

.about__text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-width: 55%;
  max-width: 100%;
  width: calc((500px - 100%) * 500);
  padding: 2% 4.5%; }

.section__caption {
  position: relative;
  display: inline-block;
  line-height: 1;
  z-index: 1;
  font-size: 25px; }
  @media (min-width: 320px) {
    .section__caption {
      font-size: 20px;
      font-size: calc(0.00949 * 100vw + 21.96203px); } }
  @media (min-width: 1900px) {
    .section__caption {
      font-size: 40px; } }
  .section__caption:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 20%;
    background: #5cb85c;
    z-index: -1; }

.menu-btn {
  display: none;
  position: relative;
  width: 50px;
  height: 50px;
  padding: 24px 14px;
  background-clip: content-box;
  cursor: pointer;
  top: 0;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  z-index: 11;
  background-color: #fff; }

.menu-btn:before,
.menu-btn:after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  left: 14px;
  right: 14px;
  height: 2px;
  background-color: #fff;
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out; }

.menu-btn:before {
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px); }

.menu-btn:after {
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px); }

.menu-btn.open {
  background-color: transparent; }

.menu-btn.open:before {
  -webkit-transform: translateY(0) rotate(45deg);
  -ms-transform: translateY(0) rotate(45deg);
  transform: translateY(0) rotate(45deg); }

.menu-btn.open:after {
  -webkit-transform: translateY(0) rotate(-45deg);
  -ms-transform: translateY(0) rotate(-45deg);
  transform: translateY(0) rotate(-45deg); }

@media (max-width: 750px) {
  .menu-btn {
    display: block; } }

.btn {
  font-size: 20px;
  padding: 0.8em 2.2em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background-color: #5cb85c; }
  @media (min-width: 320px) {
    .btn {
      font-size: 20px;
      font-size: calc(0.01709 * 100vw + 14.53165px); } }
  @media (min-width: 1900px) {
    .btn {
      font-size: 47px; } }

.btn-call {
  font-size: 12px; }
  @media (min-width: 320px) {
    .btn-call {
      font-size: 20px;
      font-size: calc(0.00506 * 100vw + 10.37975px); } }
  @media (min-width: 1900px) {
    .btn-call {
      font-size: 20px; } }

/*# sourceMappingURL=main.css.map */