.responsiv__menu-hide, .responsiv__menu {
  display: none;
}

.responsiv__menu {
  width: 55px;
  height: 55px;
  padding: 10px;
  float: right;
  margin-right: 20px;
  cursor: pointer;
  &:after {
    content: '';
    display: block;
    width: 35px;
    height: 7px;
    background: $title_color;
    box-shadow: 0px 10px 0px $title_color, 0px 20px 0px $title_color;
  }
}

.logo__img-phon {
  display: none;
}

.main__nav {
  float: right;
  margin: 0 rem(70px) 0 0;
  width: 70%;
  .callback__tel-nav {
    display: none;
  }
}

.nav__list  {
  text-align: justify;
  &:after {
    @include justify;
  }
  
}

.main__nav-link {
    color: #fff;
    font-size: 20px;
    font-family: 'arsenal';
    line-height: 55px;
    &:before {
      content: '';
      display: inline-block;
      background: url(../img/icons.png) no-repeat;
      width: 69px;
      height: 69px;
      vertical-align: middle;
      margin: -20px 0;
    }
    &.advantages:before {
    background-position: 2px -2px;
   } 
   &.boxes:before {
    background-position: -142px -2px;
   }
   &.buket:before {
    background-position: -69px -2px;
   }
}


