// header

.header_stiky {
  height: 55px;
}

.top__head {
    background-color: $dark;
    // width: $container_width;
    height: 118px;
}

.head__collback {
    float: right;
    padding: 15px 0 0 0;
}

.callback__tel {
    color: #fff;
    font-size: rem(35px);
    font-family: 'arsenal';
}

.main__head {
    background-color: $main-color;
    // width: $container_width;
    position: relative;
    height: 55px;
}

.logo__img-min {
  display: none;
}

.logo {
  position: absolute;
  top: -89px;
  left: -40px;
  transition: top .5s ease-in-out;
}

//stn__slider

section {
  margin: 62px 0;
}


//form
.stn__form {
  margin: 0 10px 240px 10px;
}

.order__form {
  padding: 0 rem(85px) rem(40px) rem(85px);
}

.form__container {
  margin: 0 auto;
  max-width: 520px;
  background: #1d7d7b;
  text-align: center;
  @include pref(border-radius, 20px);
  .decor__title {
   padding: rem(45px) 0;
   margin: 0;
  }
}

.order__form-input {
  width: rem(350px);
  height: 60px;
  display: block;
  @include pref(border-radius, 10px);
  font: rem(37px)/1 'nautilus';
  color: #989898;
  border: none;
  outline: none;
  margin: 0 auto 10px auto;
  padding: 0 30px;
}

//fboxes catalog

.catalog {
  margin: 0 0 60px 0;
  font-size: 0;
}

.product { 
  display: inline-block;
  vertical-align: top;
  background: #fff;
  width: 310px;
  margin: 8px;
  border: 5px solid #fff;
  @include pref(border-radius, 10px);
  cursor: pointer;
}

.product__foto {
  width: 300px;
  height: 300px;
  overflow: hidden;
  @include pref(border-radius, 10px);
  margin:0 0 10px 0;
  img {
    width: 100%;
  }
}
.product__offer {
 font: rem(37px) 'nautilus';
  color: $main-color;
  padding: 0px 0px 5px 10px;
}

.product__price{
  vertical-align: sub;
  margin: 0 16px 0 0;
}


//work

.work__list {
  text-align: center;
}

.work__item {
  display: inline-block;
  margin: 0 rem(190px) 0 0;
  position: relative;
   &:first-of-type {
    margin-left: 0;
   }
  &:last-of-type {
    margin: 0;
  }

  &:first-of-type:before {
    display: none;
  }
  &:before {
    content: '';
    display: inline-block;
    background: url(../img/decor.png) no-repeat  -150px 0;
    width: 65px;
    height: 69px;
    position: absolute;
    top: rem(55px);
    left: rem(-135px);
  }
}

.work__img {
  margin: 0 0 rem(30px) 0;
}

//footer

.main__head-footer {
  margin: 0 0 rem(45px) 0;
}

.logo__footer {
  position: absolute;
  top: -89px;
  left: -40px;
}

.main__head-footer .logo__img-min {
  display: block;
}

.footer__header .container {
  text-align: justify;
    &:after {
      @include justify;
  }
}

.adreses, .footer__nav, .preferences {
  display: inline-block;
  vertical-align: top;
  font-family: 'arsenal';
}

.adreses, .preferences {
  color: #fff;
}

.preferences a {
  color: #fd9700;
  text-decoration: underline;
}

.footer__nav-link {
  color: $title-color;
  text-decoration: underline;
  +.footer__nav-link {
    margin: 0 0 0 35px;
  }

}

//social

.social__list {
  text-align: center;
}

.social__item {
  display: inline-block;
  + .social__item {
    margin-left: 20px;
  }
}

.social__link {
  display: block;
  width: 85px;
  height: 85px;
  position: relative;
  background: url(../img/social.png) no-repeat;
  &:hover {
    opacity: .8;
  }
}

.social__link-vk {
  background-position: -90px 0;
}

.social__link-ig {
  background-position: -5px 0;
}