.small.logo {
    top: -155px;
}

.callback__tel{
      display: inline-block;
      line-height: 55px;
    }

@media screen and (max-width: 1200px) { //hd
    html {
        font-size: 16px;
    }
}




@media screen and (max-width: 992px) { //laptop
    html {
        font-size: 15px;
    }
    
    .logo {
        left: 0;
    }

    .main__nav {
        margin-right: 20px;
    }
    .carousel__controls-right {
        right: 0;
    }

    .carousel__controls-left {
        left: 0;
    }

    footer {
        height: auto;
    }
}

@media screen and (max-width: 960px) {
  .slide__overflow {
    float: none;
    margin: 0 auto;
  }

  .slide__bonus {
    float: none;
    width: 100%;
    margin: 20px 0 0 0;
    .bonus__list {
      text-align: justify;
        &:after {
        @include justify;
      }
  }
    
  .bonus__item {
    display: inline-block;
    margin: 0 20px 0 0;
    text-align: center;
    }
  }  
}

@media screen and (max-width: 850px) {
  .slide__action-item {
    width: 10%;
  }

  .slide__action-list .slide__action-item:hover {
    width: 43.125rem;
  }

  .work__item {
    margin: 0 8.875rem 0 0;
  }
}

@media screen and (max-width: 800px) {
  .nav__list{
    display: none;
  }
      
  .responsiv__menu {
    display: block;
    position: relative;
    z-index: 9999;
  }

  .responsiv__menu-hide:checked ~ .nav__list {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: rgba($main-color, .9);
    &:after {
      content: none;
    }
    .main__nav-link {
      display: block;
      padding: 20px;
      border-bottom: 1px solid $title-color;
      &:hover{
        background: rgba($main-color, .5);
      }
    }
  }

  .slide__action-item {
   display: block;
   width: 100%;

  }
  
  .slide__action-list .slide__action-item:hover, 
  .slide__action-list:hover .slide__action-item  {
   width: 100%;
}

  .product{
    margin: 8px 5px;
  }

  .fbucet__carousel{
    text-align: center;
  }
}

@media screen and (max-width: 768px) { //tablets
    html {
      font-size: 14px;
    }

    .callback__btn {
      &:before {
        margin: -1px 10px 0 -3px;
      }
    }

    .logo {
      top: -73px;
      img{
        width: 80%;
      }
    }

    .small.logo {
    top: -123px;
  }

  .slide__action-list {
    width: 100%;
  }

  .slide__title{
    width: auto;
  }

  .slide__text {
    white-space: normal;
  }

  .work__list {
    text-align: justify;
    &:after {
      @include justify;
    }
  }

  .work__item {
    margin: 0;
    text-align: center;
    &:before {
      left: -50%;
    }
  }

  .stn__form{
    margin-bottom: 15rem;
  }

  footer {
    .nav__list {
      display: inline-block;
    }
  }
  
  .logo__footer {
    top: -70px;
    img {
      width: 80%;
    }
  }
  .footer__header .container {
      text-align: center;
  }
  .adreses, .footer__nav {
      display: block;
      margin-bottom: 20px;
  }
}

@media screen and (max-width: 650px) {

  .work__item{
    &:before {
      display: none;
    }
  }
}

@media screen and (max-width: 550px) {
  .work__item {
    width: 32.333%;
    img{
      width: 100%;
    }
  }
}

@media screen and (max-width: 500px) { //phones
    html {
      font-size: 12px;
    }

    .decor__title::before, .decor__title::after {
      display: block;
      margin: 0 auto;
    }

    .slide__bonus .bonus__item {
      margin: 0;
  } 
  
}

@media screen and (max-width: 400px) {

  .logo__img {
    display: none;
  }
  .logo .logo__img-phon {
    display: block;
    width: auto;
  }
  .logo {
    position: static;
    width: 50%;
    display: inline-block;
  }

  .main__nav {
    width: 42%;
    margin: 0;
  }

  footer .logo {
    position: absolute;
    right: 0;
    width: 100%;
  }
  .slid__container {
    padding: 10px;
  }
  .product {
    margin: 8px auto;
  }

  .slide__bonus .bonus__item {
    width: 32%;
  } 

  .order__form {
    padding: 0 1rem 1rem 1rem;
  }
}