@mixin pref($name, $argument) {
	-webkit-#{$name}: #{$argument};
	-ms-#{$name}: #{$argument};
	-moz-#{$name}: #{$argument};
	-o-#{$name}: #{$argument};
	#{$name}: #{$argument};
} 

@mixin justify {
	content: '';
	width: 100%;
	height: 0;
	display: inline-block;
}

@mixin bg-img ($img-uri, $background-top:"center", 
	$background-left:"center", $background-attachment:"scroll") {
  background: url($img-uri) repeat unquote($background-top) unquote($background-left) unquote($background-attachment) $bg-color; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}

//responsive
@function rem($px) {
	@return $px / 16px + 0rem;
}