$container: 1160px;

$fz: 16px;
$ff: "Roboto", sans-serif;

$text: #281435;
$prime: #8800c2;
$btn: #b900e8;
$menu: #6c14b4;

$iconGrad: linear-gradient(38.87deg, #eee8ff 13.97%, #eee8ff 13.97%, #fff5ff 101.08%);
