.catalog {
  @extend %container;
  padding: 0 25px;
  margin-top: 30px;
  margin-bottom: 54px;
}

.catalog__title {
  position: relative;
  margin-bottom: 15px;
  font-size: 20px;
  color: #010101;
  &:before {
    content: '';
    position: absolute;
    top: -15px;
    left: -10px;
    display: inline-block;
    width: 17px; 
    height: 43px;
    background: url(../img/icon/sprites.png) no-repeat -100px -60px;
  }
}

.catalog__description {
  margin-bottom: 45px;
}

.catalog__item {
  width: 180px;
  padding: 13px;
  background: #f3f0f0;
  text-align: center;
  margin: 10px 10px 0 10px;
  transition: all 0.3s ease-in-out;
  &:hover {
    box-shadow: 0 5px 3px rgba(0, 0, 0, 0.5);
  }
}

.catalog__item-link {
  font-size: 14px;
  line-height: 1.5;
  color: #000;
  font-weight: 500;
}

.catalog__item-pic {
  max-width: 154px;
  text-align: center;
  font-size: 0;
  margin: 0 auto 10px auto;
  img {
    width: 100%;
  }
}
.catalog__item-info {
  word-break: break-all;
}
.catalog__item-price {
  color: $logo-color;
  font-size: 18px;
  font-weight: 500;
}

.catalog__item-decr {
  padding-bottom: 0;
}