/*top header*/

.header__top {
  @extend %container;
  @extend %flex;
  padding: 16px 40px;
  margin: 0 auto;
}

/*logo group*/

.logo {
  position: relative;
  width: 198px;
  @include breakpoint($xs) {
    width: 127px;
  }
  img {
    width: 100%;
  }
}

.logo__nav {
  position: absolute;
  top: 0;
  left: 31px;
  font-size: 0;
  width: 100%;
  @include breakpoint($xs) {
    display: none;
  }
}

.logo__nav-item {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 0 7px;
  font-size: 12px;
  &:not(:last-child):after {
    content: '|';
    position: absolute;
    top: 0;
    right: -1px;
  }
}

.logo__nav-link {
  padding-bottom: 5px;
  font-size: 11px;
  text-transform: uppercase;
  color: $fill-color;
  &--active {
    color: $accent-color;
  }
  &:hover {
    color: $accent-color;
  }
}

/*user group*/

.user {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
  padding-top: 10px;
}

.user__login {
  @include breakpoint($xs) {
    display: none;
  }
  &--mobil {
  @include breakpoint($xs) {
    display: block; 
    padding-top: 5px;
    text-align: center;
    background: $fill-color;
    }
  }
}

.user__login-link {
  padding-bottom: 10px;
  font-size: 11px;
  text-transform: uppercase;
  color: $fill-color;
  border-bottom: 1px solid transparent;
  transition: all 0.3s linear;
  @include breakpoint($xs) {

    color: #fff;
  }
  &:hover {
    border-color: currentColor;
  }
}

.user__login-icon {
  display: inline-block;
  vertical-align: bottom;
  width: 20px;
  height: 20px;
  margin: -3px 10px;
  background: url(../img/icon/sprites.png) no-repeat 0 -163px;
  @include breakpoint($xs) {
    background-position: -66px -100px; 
  }
}

/*header__menu*/

.header__menu {
  background: $fill-color;
}

.nav-toggle, .nav-toggle-close {
  display: none;
    @include breakpoint($xs) {
    display: block;
  }
}

.nav {
  max-width: 690px;
  @include breakpoint($xs) {
    // position: absolute;
    // top: 0;
    // left: 0;
    // transform: translateX(-100%);
    position: absolute;
    top: 0;
    left: -9999px;
    opacity: 0;
    z-index: -10;
  }
  &--active {
    // transform: translateX(0);
    // transition: 500ms transform ease-in-out;
    top: 0;
    left: 0;
    opacity: 1;transition: 0.5s left ease-in-out;
    display: flex;
    flex-direction: column;
    z-index: 10;
    background: $fill-color;
    max-width: 380px;
    padding: 50px 25px 25px 25px;
    // overflow: hidden;
    .nav__list {
      flex-direction: column;
    }
    .nav__item {
      align-self: flex-start;
      text-align: left;
      width: 100%;
      border-bottom: 1px solid #000;
    }
    .nav__link {
      display: block;
      padding: 8px 0 8px 10px;
      font-size: 16px;
      &:hover, &:focus {
        color: #8d8d8d;
      }
    }
  }
}

.nav__list {
  @extend %flex;
}

.nav__item {
  flex: 1 1 0%;
  text-align: center;
  position: relative; 
  align-self: stretch;
  line-height: 33px;
  transition: all 0.3s ease-in-out;
  &:hover {
    background: $main-text;
    @include breakpoint($xs) {
      background: $fill-color;
    }
  }
}

.nav__link {
  display: inline-block;
  vertical-align: middle;
  padding: 5px;
  font-size: 11px;
  text-transform: uppercase;
  line-height: 1.5;
  color: #fff;
  
}

.nav__dropdown {
  position: absolute;
  top: -9999px;
  left: 0;
  background: $lite-fill;
  transition: left 0.5s ease-in-out, opacity 0.5s ease-in-out;
  @include breakpoint(900px) {
    transition: opacity 0.5s ease-in-out;
  }
  @include breakpoint($xs) {
    position: static;
    background: $fill-color;
  }
}

.nav__dropdown-list {
  width: 158px;
  padding: 20px 18px;
  text-align: left;
  @include breakpoint($xs) {
    width: 100%;
    padding: 0 18px;
  }
  &:not(:last-child) {
    border-right: 1px solid $fill-color;
  }
} 

.nav__dropdown-title {
  display: block;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-size: 12px;
  color: #686767;
}

.nav__dropdown-link {
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  color: #010101;
  &:hover {
    text-decoration: underline;
  }
  @include breakpoint($xs) {
    color: $lite-fill;
  }
}

.nav__item:hover .nav__dropdown,
.nav__link:hover .nav__dropdown {
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
  z-index: 10;
  @include breakpoint(900px) {
    left: 0;
    transform: translateX(0%);
  }
  @include breakpoint($xs) {
    transform: none;
  }
}

.nav__item:hover .nav__dropdown--wide,
.nav__link:hover .nav__dropdown--wide {
  display: flex;
  @include breakpoint($xs) {
    display: block;
  }
} 

/*header__mobile*/

.mobile {
  display: none;
    @include breakpoint($xs) {
    display: block;
  }
}