
.product-slider__slide {
  width: 160px;
}

.product-slider__link {
  color: #000;
}

.product-slider__pic {
  width: 160px;
  text-align: center;
  font-size: 0;
  margin: 0 auto 20px auto;
  img {
    width: 100%;
  }
}

.product-slider__info {
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
  word-break: break-all;
}

.product-slider__price {
  color: $logo-color;
  font-size: 18px;
  font-weight: 500;
}