#mobil__main {
  display: none;
}


/* Singl product page */

.product__container {
  @extend %container;
  @extend %flex;
  flex-wrap: wrap;
}

.col {
  flex: 1 1 33.33%;
  margin-top: 45px;
  &--foto {
    margin-top: 0;
  }
}
.product__header {
  text-align: right;
  margin-bottom: 25px;
}

.product__main-title {
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.product__id {
  font-size: 15px;
  text-transform: uppercase;
  color: $span-color;
}

.product__spec {
  margin-bottom: 25px;
}

.product__caption {
  position: relative;
  display: inline-block;
  padding-right: 28px;
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 1;
  color: $title-color;
  cursor: pointer;
  &:after {
    content: '';
    position: absolute;
    top: -50%;
    right: 0;
    display: inline-block;
    width: 18px;
    height: 32px;
    background: url(../img/icon/arrow.png) no-repeat;
    transition: transform 0.5s ease-out;
  }
  &:hover:after {
    transform: rotate(90deg);
  }
}

.product__description {
  font-size: 15px;
  text-align: right;
  max-height: 150px;
  overflow: auto;
  padding: 0 15px;
}

/* product__reviews */

.product__reviews-list {
  max-height: 140px;
  overflow: auto;
}

.product__reviews-item {
  margin-bottom: 20px;
  padding: 0 15px;
  font-size: 15px;
  .reviews__autor {
    font-weight: bold;
  }
}

/* PRODUCT-FOTO */

.product__foto-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 200px;
  max-width: 350px;
  margin: 0 auto;
  img {
    width: 100%;
    height: auto;
  }
}

/* PRODUCT-SPEC */
.product__size {
  @extend %flex;
}

.product__title {
  position: relative;
  display: inline-block;
  margin-bottom: 0;
  padding-right: 35px;
  line-height: 1;
  font-size: 24px;
  text-transform: uppercase;
  &:after {
    content: '';
    display: inline-block;
    position: absolute;
    top: -5px;
    right: 0;    
    width: 18px;
    height: 32px;
    transform: rotate(90deg);
    background: url(../img/icon/arrow.png) no-repeat;
  }
}

.col--price {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.product__price {
  button {
    display: block;
    margin: 12px auto;
  }
}

.product__extra-wrap {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;

  .product__extra-link {
    position: relative;
    flex: 0 0 50%;
  }

  .product__extra-img {
    position: relative;
    height: 160px;
    width: 50%;
    margin: 0 auto;
    img {
      width: 100%;
      height: auto;
    }
    &:after {
      content: '';
      transition: background 0.3s ease-in-out;
    }
    &:hover:after {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: rgba(#fff, 0.3);
    }
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: inline-block;
      width: 24px;
      height: 24px;
      background: transparent url(../img/icon/spritesheet.png) -42px -31px;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }
    &:hover:before {
      opacity: 1;
    }
  }

  .product__extra-link {
    overflow: hidden;
    height: 160px; 
  }
}

.product__cost {
  margin-bottom: 20px;
  font-size: 35px;
  line-height: 1;
  color: $button;
}

/* Catalog */

.catalog {
  @extend %container;
  @extend %flex;
  flex-wrap: wrap;
}

.catalog__menu {
  flex: 1 0 250px;
}

.catalog__header {
  flex: 1 0 100%;
  .sorting {
    @extend %flex;
    flex-wrap: wrap;
    border-bottom: 2px solid #636363;
  }
  .filtr {
    display: flex;
    justify-content: flex-end;
    align-content: flex-start;
    flex-wrap: wrap;
  }
  .catalog__title {
    border-bottom: none;
  }
  .catalog__header-title {
    flex-basis: 200px;
  }
  .catalog__sorting {
    @extend %flex;
    flex-wrap: wrap;
    flex: 1;
    padding-bottom: 15px;
    border-bottom: none;
  }
  .catalog__filtr {
    flex: 0 0 calc(100% - 200px); 
    padding: 6px 0;
    border-bottom: 2px solid #636363; 
  }
}

.catalog__title {
  font-size: 24px;
  text-transform: uppercase;
  padding-bottom: 5px;
  border-bottom: 2px solid #636363;
}

.catalog__nav {
  line-height: 1;
  .catalog__nav-link {
    display: block;
    position: relative;
    padding: 9px 0 9px 15px;
    text-transform: uppercase;
    color: #000;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: -3px;
      width: 20px;
      height: 39px;
      }
    &:hover:before {
      background: url(../img/icon/logo-small-red.png) 7px 0px no-repeat;
    }
  }
}

/* Catalog sorting */

.sort-list__title {
  font-size: 15px;
  color: $catalog-text;
}
.sort-list__item {
  display: inline-block;
}

.sort-list__link {
  position: relative;
  padding-right: 23px;
  margin-right: 25px;
  font-size: 15px;
  color: $catalog-text;
  &:hover {
    text-decoration: underline;
  }
  &:after {
    content: '';
    position: absolute;
    top: 7px;
    right: 0;
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url(../img/icon/shape.svg) 0 0 no-repeat;
  }
}


/* Pagination */
.pagination__item {
  display: inline-block;
  color: $catalog-text;
}

.pagination__link {
  margin-right: 8px;
  color: $catalog-text;
  font-size: 15px;
  text-align: center;
  &--active, &:hover {
    border-bottom: 2px solid $sub-header;
  }
  svg {
    transform: rotate(-90deg);
  }
}

.filtr-list {
  @extend .sort-list__title;
}

.filtr-list__item {
  @extend .sort-list__item;
}

.filtr-list__link {
  @extend .sort-list__link;
}

/* Catalog list */

.catalog__container {
  flex: 1 0 calc(100% - 250px);
}

.catalog__list {
  @extend %flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.catalog__item {
  flex: 0 0 25%;
  padding: 0 10px;
  position: relative;
  max-width: 220px;
  margin-bottom: 70px;
  .catalog__item-link {
    display: block;
    position: relative;
    text-align: center;
    color: #000;
  }
  .catalog__item-pic {
    width: 100%;
    height: 260px;
    overflow: hidden;
    margin-bottom: 15px;
    img {
      width: 100%;
      height: auto;
    }
  }
  .catalog__item-info {
    margin-bottom: 13px;
    font-size: 18px;
    flex: 1 1 0%;
    min-width: 0;
    word-wrap: break-word;
  }
  .catalog__item-price {
    color: $sub-header;
  }
}
