.main {
  @extend %container;
  @extend %flex;
  align-items: center;
  padding: 0 25px;
  margin-bottom: 70px;
  @include breakpoint($xs) {
    padding: 0;
    margin-bottom: 10px;
  }
  .main__header {
    margin-bottom: 40px;
    @include breakpoint($xs) {
    margin: 0;
    }
  }
}

.main__header {
  flex: 1 1 100%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  font-size: 28px;
  text-transform: uppercase;
  text-align: center;
  color: $hover-color;
  &:after {
    content: '';
    display: block;
    margin: 10px auto 0 auto;
    width: 150px;
    height: 2px;
    background: #6f6e6e;
    @include breakpoint($xs) {
      width: 105px;
    }
  }
    @include breakpoint($xs) {
    font-size: 16px;
    font-weight: 500;
  }
}

.main__stn {
  padding: 20px 25px;
  margin: auto;
  @include breakpoint($xs) {
    padding: 20px 0;
  }
  &:nth-child(even) {
    .main__banner-title {
      background: $logo-color;
    }
    .main__banner-text {
      &:before {
      background: url(../img/icon/sprites.png) no-repeat 0 -100px;
      }
    }
  }
  &:nth-child(odd) {
    .main__banner-title {
      background: $accent-color;
    }
    .main__banner-text {
      &:before {
      background: url(../img/icon/sprites.png) no-repeat -100px -60px;
      }
    }
  }
}


.main__banner {
  max-width: 430px;
  position: relative;
  font-size: 0;
  transition: all 0.3s ease-in-out;
  img {
    width: 100%;
    height: auto;  
  }
  @include breakpoint($xs) {
    max-width: 100%;
  }
  &:hover {
    box-shadow: 0 5px 3px rgba(0, 0, 0, 0.5);
  }
}

.main__banner-title {
  position: absolute;
  bottom: 30px;
  padding: 16px 0;
  width: 300px;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.85;
}
.main__banner-text {
  position: relative;
  font-size: 17px;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: -14px;
    left: -12px;
    width: 17px; 
    height: 43px;
  }
}

/*product*/

.product {
  max-width: 950px;
  margin: 25px auto 30px auto;
  min-width: 300px;
  @include breakpoint($xs) {
    padding: 0 20px;
  }
}

.breadcrumbs {
  margin-bottom: 30px;
  padding-left: 20px;
  border-top: 1px solid $lite-fill;
  border-bottom: 1px solid $lite-fill;
  font-size: 0;
}

.breadcrumbs__item {
  position: relative;
  display: inline-block;
  font-size: 14px;
  margin-right: 7px;
  &--active {
    color: #868686;
  }
  &:not(:last-child):after {
    content: '/';
    display: inline-block;
    margin-left: 3px;
    font-size: 14px;
    color: currentColor;
  }
}

.breadcrumbs__link {
  font-size: 14px;
  padding: 5px 0;
  color: #5f5f5f;
  transition: color 0.3s ease-in-out;
  &:hover {
    color: #868686;
    text-decoration: underline;
  }
}

/*product*/ 

.product__wrapper {
  @extend %flex;
  margin-bottom: 70px;
  @include breakpoint($xs) {
    margin-bottom: 30px;
  }
}

.product__gallery {
  display: flex;
  max-width: 440px;
  @include breakpoint(900px) {
    margin: auto;
  }
  @include breakpoint($xs) {
    max-width: 400px;
    margin-bottom: 30px;
  }
}

.gallery__list {
  max-width: 350px;
  height: 480px;
  margin-left: 9px;
  overflow: hidden;
  @include breakpoint($xs) {
    max-width: 316px;
    height: 420px;
  }
}

.gallery__item {
  font-size: 0;
  height: 480px;
    @include breakpoint($xs) {
    height: 420px;
  }
  &:hover {
    cursor: zoom-in;
  }
  img {
    max-width: 100%;
    display: block;
  }
}

.gallery-nav {
  width: 88px;
  
  @include breakpoint($xs) {
    width: 77px;
  }
}

.gallery-nav__item {
  width: 88px;
  font-size: 0;
  @include breakpoint($xs) {
    width: 77px;
  }
  &:hover {
    cursor: pointer;
  }
  img {
    width: 100%;
    display: block;
  }
}

.product__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 400px;
   @include breakpoint(900px) {
    max-width: 100%;
    padding: 0 20px;
    margin-top: 30px;
  }
}

.product__title {
  margin-bottom: 10px;
  font-size: 24px;
  color: $fill-color;
}

.product__description {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid $lite-fill;
}

.product__description-wrap {
  max-height: 130px;
  overflow: auto;
  margin-bottom: 20px;
  @include breakpoint($xs) {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  }
}

.product__price {
  font-size: 20px;
  font-weight: 500;
  color: $logo-color;
}

.product__btn {
  @extend %flex;

}