$container: 1500px;
$container-wide: 1740px;
$fz: 14px;
$ff: "Forum", serif;

$text: #fff;
$main: #3b181e;
$accent: #000;
$dark: #010001;
$light: rgba(255, 255, 255, 0.5);
$hover: rgba(0, 0, 0, 0.4);
