html {
 font-family: $ff;
 color: $text;
 @include fFS(14px, $fz, 320px, 1920px, 16px);
 line-height: 1;
}

body {
 display: flex;
 flex-direction: column;
}

.wrapper {
 position: relative;
 min-width: 320px;
 min-height: 100vh;
 flex-grow: 1;
 overflow: hidden;
}

.footer {
 flex-grow: 0;
}

a {
 display: inline-block;
 vertical-align: middle;
}
picture {
 display: block;
}

.container {
 max-width: $container;
 margin: 0 auto;
 padding: 0 8px;
}

.accent {
 color: $accent;
}

%section__title {
 @include fFS(30px, 36px, 320px, 1920px, 16px);
 font-family: $aff;
 text-align: center;
}
