h1 {
 margin-bottom: 1em;
 @include fFS(48px, 65px, 320px, 1900px, 20px);
 font-weight: 600;
 line-height: 1.1;
 color: var(--hero);

}

h2 {
 margin-bottom: 0.4em;
 @include fFS(26px, 48px, 320px, 1900px, 20px);
 font-weight: 600;
 line-height: 1.1;
}