.hero {
  padding-top: 75px;
  overflow: hidden;
  background: radial-gradient(52.6% 75.73% at 57.53% 51.73%, #9393AC 0%, #D7DFEA 100%),
    linear-gradient(284.64deg, #C6E0FF -19.68%, #BDFFD0 -4.59%);

  // &--index {
  // }
}

.hero__subtitle {
  @include fFS(18px, 28px, 320px, 1900px, 18px);
  margin-bottom: 1em;
  color: var(--text);
}

.hero__title {
  margin-bottom: .5em;
  @include fFS(28px, 65px, 320px, 1900px, 18px);
  font-weight: 600;
  line-height: 1;
  color: var(--text);

  @include bp(1200px) {
    @include fFS(28px, 38px, 320px, 1900px, 18px);
  }
}


.hero__row {
  position: relative;
  display: grid;
  grid-template-columns: 40% 60%;
  justify-content: center;
  align-items: center;

  @include bp(650px) {
    grid-template-columns: 100%;
  }
}

.hero__content {
  max-width: 700px;
  padding: 0 15px;
  /*!!!!!!!*/
  margin: -10% -16% 0 auto;

  .btn--action {
    box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.5);
  }

  @include bp(650px) {
    margin: 0 auto 1.5em auto;
    text-align: center;
  }
}

.hero__media {
  padding-bottom: 73%;

  @include bp(650px) {
    padding-bottom: 0;
  }
}

.hero__minepic {
  position: absolute;
  bottom: -3px;
  right: -3px;
  width: 74%;

  @include bp(650px) {
    position: relative;
    bottom: auto;
    right: auto;
    width: 100%;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/*media*/

.media {
  .video {
    @include bp(650px) {
      margin: 0 -40px;
    }

    @include bp(350px) {
      margin: 0 -20px;
    }
  }
}


/*solutions*/
.solutions {
  .section__head {
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
  }
}

.solutions__row {
  @include row(jsb, ac);

  &--rewerse {
    flex-direction: row-reverse;

    @include bp(650px) {
      flex-direction: row;
    }
  }

  max-width: 780px;
  margin: 0 auto 4em auto;
}

.solutions__content {
  flex: 0 1 calc(60% - 30px);

  @include bp(650px) {
    flex: 0 1 100%;
    margin-bottom: 2em;
    text-align: center;
  }

  .btn {
    margin-top: 1em;
  }
}

.solutions__media {
  flex: 0 1 40%;

  img {
    display: block;
  }

  @include bp(650px) {
    flex: 0 1 100%;

    img {
      width: 95%;
      margin: auto;
    }
  }
}


.solutions__caption {
  @include fFS(26px, 32px, 320px, 1900px, 20px);
  margin-bottom: 0.5em;
}



/*platform*/
.platform {
  background: linear-gradient(228deg, #DBF8FE 51.48%, #FFE6C9 87.16%), #FFF3E9;

  .section__content {
    max-width: 530px;
    padding: 0 10px;
  }

  @include bp(650px) {
    padding-bottom: 80vmax;
  }
}

.platform__picture {
  @include bp(650px) {
    display: none;
  }
}

/* request*/

.request {
  padding: 0;
  background: linear-gradient(228deg, #DBF8FE 51.48%, #FFE6C9 87.16%), #FFF3E9;

  .section__content {
    max-width: 600px;
    margin: 0 10% 0 auto;

    @include bp(650px) {
      margin: 0 auto;
      padding-bottom: 7vmax;
    }
  }

  @include bp(650px) {
    padding: 7vmax 0 0 0;
  }
}


/*contact*/
.contact {
  .section__col {
    @include bp(1000px) {
      flex: 1 1 100%;
    }
  }

  .section__content {
    max-width: 510px;

    @include bp(1000px) {
      margin: 0 auto 2em auto;
    }

    .form {
      margin-top: 2em;
    }
  }
}


.contact__pic {
  max-width: 440px;
  margin: 0 0 0 auto;

  @include bp(1000px) {
    display: none;
  }

  img {
    display: block;
  }
}

/*get demo*/

.get-demo {
  .section__col {
    @include bp(1000px) {
      flex: 1 1 100%;
    }
  }

  .section__content {
    max-width: 740px;
    margin: 0 10% 0 auto;
    padding-left: 40px;

    @include bp(1000px) {
      padding: 0 40px;
      margin: 0 auto;
    }

    @include bp(350px) {
      padding: 0 10px;
    }
  }

  .section__pic {
    max-width: 630px;
    margin: auto;

    @include bp(1000px) {
      display: none;
    }
  }
}