.card {
 position: relative;
 display: flex;
 flex-direction: column;
 max-width: 524px;
 &.reverse {
  flex-direction: column-reverse;
 }
 &--img {
  max-width: 362px;
  .card__pic {
   padding-top: 0;
   min-height: 440px;
  }
  .card__content {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   color: #fff;
   background-color: transparent;
  }
 }
 &--imggrid {
  max-width: 362px;
  display: grid;
  grid-template-areas: stack;
  .card__pic,
  .card__content {
   grid-area: stack;
  }
  .card__pic {
   padding-top: 0;
   min-height: 440px;
  }
  .card__content {
   color: #fff; /*variable!!!!*/
   background-color: transparent;
   z-index: 1;
  }
 }
 &--grid {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1.25em;
  background-color: #fff;
  &.reverse {
   flex-direction: row-reverse;
  }
  .card__pic {
   width: 40%;
   padding-top: 30%;
  }
  .card__content {
   width: calc(60% - 1.25em);
   padding: 0;
  }
  @include bp(400px) {
   .card__pic,
   .card__content {
    width: 100%;
   }
   .card__pic {
    padding-top: (3 / 4) * 100%;
    margin-bottom: 1em;
   }
  }
 }
 &--plank {
  .card__pic {
   padding-top: 0;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
  }
  .card__content {
   background-color: transparent;
   color: #fff; /*variable!!!!*/
  }
 }
}

.card__pic {
 position: relative;
 display: flex;
 padding-top: (3 / 4) * 100%;
 // margin: 0 -20px;
 overflow: hidden;
 img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
 }
 &:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.2);
  z-index: 1;
 }
}
.card__content {
 position: relative;
 display: flex;
 flex-direction: column;
 padding: 1.25em;
 background-color: #fff;
 z-index: 1;
}

.card__info {
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 margin-bottom: 0.625em;
}

.card__data {
 font-size: 14px;
 margin-right: 1.15em;
}

.card__title {
 display: -webkit-box;
 -webkit-line-clamp: 3;
 -webkit-box-orient: vertical;
 overflow-y: hidden;
 margin-bottom: 0.5em;
 font-size: 1.5rem;
 font-weight: 600;
 line-height: 1.2;
 &:only-child {
  margin-bottom: 0;
 }
 a {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow-y: hidden;
 }
}

.card__text {
 display: -webkit-box;
 -webkit-line-clamp: 9;
 -webkit-box-orient: vertical;
 overflow-y: hidden;
 line-height: 1.4;
 margin-bottom: 0.95em;
}

.card__action {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 margin-top: auto;
}

/*beaty*/

.row {
 display: grid;
 grid-template-columns: repeat(auto-fill, minmax(min(100%, max(480px, 30%)), 1fr));
 gap: 1em;
 grid-auto-flow: dense;
 align-items: start;
}
