body, html {
  width: 100%;
  height: 100%;
}


html {
  position: relative;
  font-size: 18px;
  line-height: 1.42;
  font-family: $font-family;
  -webkit-font-smoothing: subpixel-antialiased !important;
  backface-visibility: hidden;
    @include breakpoint($sm) {
      font-size: 16px;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  
}

.wrapper {
  overflow: hidden;
  flex: 1 0 auto;
  min-width: 300px;
}

footer {
  flex: 0 0 auto;
}

%container {
  max-width: $container-width;
  min-width: 300px;
  padding: 0 10px;
  margin: 0 auto;
  position: relative;
}

%flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

%cf {
  clear: both;
  content: "";
  display: table;
}

%vhidden { //визуально скрыт
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

%li {
  position: relative;
  padding-bottom: 5px;
  padding-left: 20px;
  &:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
    background: $main-color;
    border-radius: 50%;
  }
}