@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/myriad-regular/MyriadPro-Regular.html');
  src: url('../fonts/myriad-regular/MyriadPro-Regulard41d.html?#iefix') format('embedded-opentype'),
       url('../fonts/myriad-regular/MyriadPro-Regular.ttf')  format('truetype'), 
       url('../fonts/myriad-regular/MyriadPro-Regular.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'Myriad Pro';
  font-weight: bold;
  src: url('../fonts/myriad-bold/MyriadPro.otf');
  src: url('../fonts/myriad-bold/MyriadPro-Boldd41d.html?#iefix') format('embedded-opentype'),
       url('../fonts/myriad-bold/MyriadPro-Bold.ttf')  format('truetype'), 
       url('../fonts/myriad-bold/MyriadPro-Bold.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'Myriad Pro';
  font-style: italic;
  src: url('../fonts/myriad-it/MyriadPro-It.html');
  src: url('../fonts/myriad-it/MyriadPro-Itd41d.html?#iefix') format('embedded-opentype'),
       url('../fonts/myriad-it/MyriadPro-It.ttf')  format('truetype'), 
       url('../fonts/myriad-it/MyriadPro-It.svg#svgFontName') format('svg');
}


@font-face {
  font-family: 'Bebasneue';
  src: url('../fonts/bebas/Bebasneue.ttf')  format('truetype'), 
       url('../fonts/bebas/Bebasneue.otf');
}
