html {
  font-size: 16px;
  font-family: Verdana, sans-serif;
  height: 100%;
  width: 100%;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  line-height: 1.42;
  width: 100%;
}

.wrapper {
  overflow: hidden;
  flex: 1 0 auto;
  min-height: 100%;
  @include breakpoint(601px) {
    overflow: inherit;
 }
}

footer {
  flex: 0 0 auto;
}

%container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
  position: relative;
  
}

%flex {
  display: flex;
  justify-content: space-between;
}

%cf {
  clear: both;
  content: "";
  display: table;
}