
$top-header: #f79b1d;
$sub-header: #b11f29;
$button: #a70606;

$title-color: #5f5e5e;
$span-color: #aaaaaa;

$catalog-text: #7b7979;

$mobil-nav: #c8c7c7;
$mobil-item: #aaa7a7;
$mobil-item-hov: #676767;
$mobil-dropdown: #8a8888;
$mobil-dropdown-hov: #6d6b6b;
