//

.cart-form__btn {
  background: transparent;
  color: #fff;
  font-size: 12px;
  &:hover {
    text-decoration: underline;
  }
}

.login-form__btn {
  background: transparent;
  font-size: 9px;
  color: #fff;
  &:hover {
    text-decoration: underline;
  }
}

.user-form__button {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  vertical-align: middle;
  background: transparent url(../img/icon/spritesheet.png) -42px -31px;
  cursor: pointer;
}