/*search*/

.search {
  align-self: center;
  @include breakpoint($xs) {
    display: none;
  }
  &--mobile {
    @include breakpoint($xs) {
    display: block;
    }
  }
}

.search__form {
  position: relative;
  width: 270px;
  &--mobil {
    @include breakpoint($xs) {
      width: 100%;
    }
  }
}

.search__form-input {
  position: relative;
  min-width: 270px;
  height: 24px;
  padding: 0 55px 0 10px;
  border: 2px solid #c4c4c4;
  font-family: $font-family;
  background: #ebebeb;
  -webkit-appearance: none;
  &--mobil {
    @include breakpoint($xs) {
      width: 100%;
      height: 30px;
      background: #fff;      
    }
  }
}

.search__form-button {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 2px;
  width: 50px;
  height: 20px;
  text-indent: -99999px;
  background: #ebebeb;
  &:after {
    content: '';
    position: absolute;
    top: 2px;
    right: 7px;
    display: block;
    width: 17px;
    height: 17px;
    background: url(../img/icon/sprites.png) no-repeat -99px -118px;
  }
  @include breakpoint($xs) {
    height: 26px;
    background: #fff;
  }
}

/*login-form */
.pop-up {
  display: none;
}

.login-form {
  position: relative;
  max-width: 450px;
  min-width: 200px;
  padding: 30px;
  background: #fff;
  margin: 0 auto;
  text-align: center;
}

.login-form__row {
  margin-bottom: 8px;
  text-align: left;
}
.login-form__label {
  display: block; 
  margin-bottom: 8px;
  color: inherit;
}

.login-form__input {
  width: 100%;
  height: 30px;
  padding: 0 10px;
  &:hover, &:focus {
    border: 1px solid currentColor;
  }
}

.login-form__link {
  margin: 30px 30px 30px;
  color: inherit;
  text-align: center;
  &:hover {
    text-decoration: underline;
  }
}

.btn-login {
  background: transparent;
  height: 30px;
  width: 120px;
  font-family: $font-family;
  font-size: 16px;
  margin: 0 auto;
  color: inherit;
  &:hover, &:active, &:focus {
    border-bottom: 1px solid currentColor;
  }
}


.zoom-in .pop-up {
  opacity: 0;
  transform: scale(0.8); 
}

/* animate in */
.zoom-in.mfp-ready .pop-up {
  opacity: 1;
  transform: scale(1); 
}

/* animate out */
.zoom-in.mfp-removing .pop-up {
  transform: scale(0.8); 
  opacity: 0;
}

/* Dark overlay, start state */
.zoom-in.mfp-bg {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}
/* animate in */
.zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}
/* animate out */
.zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}


/*product forms*/

.product__range-title {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
  color: $fill-color;
}

.product__range {
  width: 100%;
  margin-bottom: 15px;
}

.product__select-wrapper {
  position: relative;
  max-width: 360px;
  height: 30px;
  background: #fff;
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 7px;
    right: 10px;
    pointer-events: none;
    z-index: 1;
    width: 9px;
    height: 9px;
    border-top: 2px solid $fill-color;
    border-right: 2px solid $fill-color;
    transform: rotate(135deg);
  }
}

.product__select {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  background: none;
  outline: none;
  border: 1px solid $lite-fill;
  font-size: 14px;
  font-family: $font-family;
  color: $fill-color;
}

.product__amount {
  position: relative;
  margin: 15px 0 25px 0;

}
.product__amount-label {
  position: absolute;
  width: 42px;
  height: 28px;
  padding: 5px 0 5px 5px;
  background: $lite-fill;
  border-right: 1px solid $lite-fill;
  font-size: 14px;
}
.product__amount-input {
  width: 68px;
  height: 28px;
  margin-left: 40px;
  padding: 5px;
  background: #fff;

  font-size: 14px;
  font-family: $font-family;
  color: $fill-color;
  outline: none;
  border: 1px solid $lite-fill;
}