/*main-slider*/
.slide {
  position: relative;
  width: 100%;
  height: 560px;
  background: url(../img/slider.jpg) no-repeat center center/cover;
  @include breakpoint($xs) {
    height: 210px;
  }
}


.slide__content {
  max-width: 327px;
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translateY(-50%);
  @include breakpoint($xs) {
    max-width: 177px;
  }
  &:before {
    content: '';
    position: absolute;
    top: -88px;
    left: -65px;
    display: block;
    width: 114px;
    height: 287px;
    background: url(../img/icon/paper-red.png) no-repeat left/contain;
    @include breakpoint($xs) {
      display: none;
    }
  }
}

.slide__title {
  font-size: 1.9em;
  font-weight: 900;
  color: #282828;
  line-height: 1.1;
  margin-bottom: 5px;
  span {
    color: $logo-color;
  }
  @include breakpoint($xs) {
    font-size: 1em;
  }
}

.slide__text {
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.5;
  color: #282828;
  margin-bottom: 25px;
  @include breakpoint($xs) {
    font-size: 0.6em;
  }
}

.slide__link {
  display: block;
  margin-left: 40%;
  font-size: 1rem;
  text-decoration: underline;
  color: #282828;
  &:hover {
    text-decoration: none;
  }
  @include breakpoint($xs) {
    font-size: 0.6em;
  }
}


.main-slider {
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid $fill-color;
  .slick-dots {
    bottom: 5px;
  }
  .slick-dots li button:before {
    width: 17px;
    height: 17px;
    opacity: 1;
    border-radius: 50%;
    color: transparent;
    background: url(../img/icon/sprites.png) no-repeat -34px -130px;
  }
  .slick-dots li.slick-active button:before {
    background-position: -100px 0;
  }
}


/*product-slider*/

.product-slider {
  max-width: 820px;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 100px;
  text-align: center;
  @include breakpoint($xs) {
    margin-top: 20px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid $fill-color;
  }

  .slick-prev, .slick-next {
    width: 37px;
    height: 37px;
    background: #6f6e6e;
    border-radius: 50%;
    z-index: 1;
  }
  .slick-prev {
    left: 21px;
    transition: left 0.5s ease-in-out;
  }
  .slick-next {
    right: 21px;
    transition: right 0.5s ease-in-out
  }
  .slick-prev::before, .slick-next::before {
    content: '';
    font-family: Verdana;
    opacity: 1;
    font-size: 0;
    text-align: center;
  }

  .slick-prev::before {
    width: 0;
    height: 0;
    margin-right: 3px;
    border-style: solid;
    border-width: 7px 13px 7px 0;
    border-color: transparent #ffffff transparent transparent;
  }

  .slick-next::before {
    width: 0;
    height: 0;
    margin-left: 3px;
    border-style: solid;
    border-width: 7px 0 7px 13px;
    border-color: transparent transparent transparent #ffffff;
  } 
}

.product-slider:hover ~ .slick-prev {
    left: 21px;
  }
.product-slider:hover ~ .slick-next {
    right: 21px;
  }

/*Catalog slider*/

.catalog__list {
  
  .slick-dots {
    position: static;
    margin-top: 30px;
    padding-right: 20px;
    counter-reset: slider;
    text-align: right;
  }
  .slick-dots li, .slick-dots li button {
    width: 28px;
    height: 28px;
    margin: 0;
  }
  .slick-dots li button::before {
    content: counter(slider);
    counter-increment: slider;
    width: 28px;
    height: 28px;
    opacity: 1;
    z-index: 1;
    font-family: $font-family;
    line-height: 28px;
    font-size: 20px;
    color: #585858;
    background: #f3f0f0;
    border: 1px solid #afaeae;
  }

  .slick-dots li.slick-active button::before {
    color: #fff;
    background: #afaeae;
  }

} 

/*product-galery*/

// .gallery__list {
//   .slick-prev, .slick-next {
//     top: auto;
//     background: rgba($fill-color, 0.6);
//     width: 88px;
//     height: 35px;
//     transform: none;
//   }
// }