* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
  border: none;
  display: inline-block;
}

textarea {
  overflow: auto;
  resize: none;
}

img {
  border: none;
  outline: none;
}

.clearfix {
  clear: both;
}

input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:placeholder-shown {
  color: transparent;
}

textarea:focus:-ms-input-placeholder {
  color: transparent;
}

textarea:focus::-moz-placeholder {
  color: transparent;
}

textarea:focus:-moz-placeholder {
  color: transparent;
}

textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

textarea:focus:placeholder-shown {
  color: transparent;
}

.cf:after {
  clear: both;
  content: "";
  display: table;
}

@font-face {
  font-family: 'nautilus';
  src: url("../fonts/nautilus.woff2") format("woff2"), url("../fonts/nautilus.woff") format("woff"), url("../fonts/Snautilus.svg#nautilus_pompiliusregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'arsenal';
  src: url("../fonts/arsenal.woff2") format("woff2"), url("../fonts/arsenal.woff") format("woff"), url("arsenal.svg#arsenalregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: url("../img/bg-trsprt.png") repeat center center scroll #1bb0ae;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 16px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  padding: 0 10px;
}

footer {
  position: relative;
  background: #0d4f4d;
  height: 270px;
  font-size: 18px;
}

.mine__title {
  font: 4.5rem "nautilus";
  line-height: 1;
  text-align: center;
  color: #fce9be;
}

.sub__header {
  font: 1.9375rem "nautilus";
  text-align: center;
  line-height: 1;
  color: #0b4443;
  margin: 0 0 2.5rem 0;
}

.decor__title {
  text-align: center;
  color: #fce9be;
  font: 3rem "nautilus";
  margin: 0 0 50px 0;
}

.decor__title:before, .decor__title:after {
  content: '';
  background: url(../img/decor.png) no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 66px;
  height: 51px;
  margin: 0 10px;
}

.decor__title:before {
  background-position: -78px -9px;
}

.decor__title:after {
  background-position: -3px -9px;
}

.bonus__text {
  font: 14px/1 'arsenal';
  color: #fce9be;
}

.work__text {
  font: 1.5625rem "arsenal";
  color: #0b4443;
}

.header_stiky {
  height: 55px;
}

.top__head {
  background-color: #2a2a28;
  height: 118px;
}

.head__collback {
  float: right;
  padding: 15px 0 0 0;
}

.callback__tel {
  color: #fff;
  font-size: 2.1875rem;
  font-family: 'arsenal';
}

.main__head {
  background-color: #0b4443;
  position: relative;
  height: 55px;
}

.logo__img-min {
  display: none;
}

.logo {
  position: absolute;
  top: -89px;
  left: -40px;
  transition: top .5s ease-in-out;
}

section {
  margin: 62px 0;
}

.stn__form {
  margin: 0 10px 240px 10px;
}

.order__form {
  padding: 0 5.3125rem 2.5rem 5.3125rem;
}

.form__container {
  margin: 0 auto;
  max-width: 520px;
  background: #1d7d7b;
  text-align: center;
  -webkit-border-radius: 20px;
  -ms-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}

.form__container .decor__title {
  padding: 2.8125rem 0;
  margin: 0;
}

.order__form-input {
  width: 21.875rem;
  height: 60px;
  display: block;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  font: 2.3125rem "nautilus";
  color: #989898;
  border: none;
  outline: none;
  margin: 0 auto 10px auto;
  padding: 0 30px;
}

.catalog {
  margin: 0 0 60px 0;
  font-size: 0;
}

.product {
  display: inline-block;
  vertical-align: top;
  background: #fff;
  width: 310px;
  margin: 8px;
  border: 5px solid #fff;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.product__foto {
  width: 300px;
  height: 300px;
  overflow: hidden;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  margin: 0 0 10px 0;
}

.product__foto img {
  width: 100%;
}

.product__offer {
  font: 2.3125rem "nautilus";
  color: #0b4443;
  padding: 0px 0px 5px 10px;
}

.product__price {
  vertical-align: sub;
  margin: 0 16px 0 0;
}

.work__list {
  text-align: center;
}

.work__item {
  display: inline-block;
  margin: 0 11.875rem 0 0;
  position: relative;
}

.work__item:first-of-type {
  margin-left: 0;
}

.work__item:last-of-type {
  margin: 0;
}

.work__item:first-of-type:before {
  display: none;
}

.work__item:before {
  content: '';
  display: inline-block;
  background: url(../img/decor.png) no-repeat -150px 0;
  width: 65px;
  height: 69px;
  position: absolute;
  top: 3.4375rem;
  left: -8.4375rem;
}

.work__img {
  margin: 0 0 1.875rem 0;
}

.main__head-footer {
  margin: 0 0 2.8125rem 0;
}

.logo__footer {
  position: absolute;
  top: -89px;
  left: -40px;
}

.main__head-footer .logo__img-min {
  display: block;
}

.footer__header .container {
  text-align: justify;
}

.footer__header .container:after {
  content: '';
  width: 100%;
  height: 0;
  display: inline-block;
}

.adreses, .footer__nav, .preferences {
  display: inline-block;
  vertical-align: top;
  font-family: 'arsenal';
}

.adreses, .preferences {
  color: #fff;
}

.preferences a {
  color: #fd9700;
  text-decoration: underline;
}

.footer__nav-link {
  color: #fce9be;
  text-decoration: underline;
}

.footer__nav-link + .footer__nav-link {
  margin: 0 0 0 35px;
}

.social__list {
  text-align: center;
}

.social__item {
  display: inline-block;
}

.social__item + .social__item {
  margin-left: 20px;
}

.social__link {
  display: block;
  width: 85px;
  height: 85px;
  position: relative;
  background: url(../img/social.png) no-repeat;
}

.social__link:hover {
  opacity: .8;
}

.social__link-vk {
  background-position: -90px 0;
}

.social__link-ig {
  background-position: -5px 0;
}

.callback__btn {
  display: block;
  font-size: 1.25rem;
  font-family: 'arsenal';
  background-color: #fff;
  height: 39px;
  border: none;
  outline: none;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: #1bb0ae;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0 10px 0 0;
}

.callback__btn:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  background: url(../img/decor.png) no-repeat -218px -15px #1bb0ae;
  width: 45px;
  height: 39px;
  -webkit-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -o-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
  margin: -2px 10px 0 -3px;
}

.big__order, .small__oder {
  width: 21.875rem;
  height: 100px;
  background: #fce9be;
  display: inline-block;
  -webkit-border-radius: 20px;
  -ms-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  font: 3.5625rem "nautilus";
  color: #d6305a;
  border: 5px solid #fff;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.big__order:hover, .small__oder:hover {
  background: #d6305a;
  color: #fce9be;
  border-color: #fce9be;
}

.small__oder {
  width: 130px;
  height: 40px;
  background: #d6305a;
  color: #fff;
  font-size: 1.75rem;
  border: 2px solid transparent;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

.small__oder:hover {
  background: #fce9be;
  color: #d6305a;
  border-color: #d6305a;
}

.slid__container {
  max-width: 970px;
  background: #0b4443;
  padding: 28px;
  -webkit-border-radius: 20px;
  -ms-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}

.slide__bonus {
  float: right;
}

.bonus__item {
  margin: 0 0 15px 0;
  width: 7.375rem;
}

.bonus__item:last-of-type {
  margin: 0;
}

.slide__overflow {
  float: left;
  -webkit-border-radius: 20px;
  -ms-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  overflow: hidden;
  background: #fff;
  height: 100%;
  max-width: 775px;
}

.slide__item {
  width: 33.3333%;
  float: left;
}

.slide__item .slide__pic {
  width: 100%;
  display: block;
}

.slider__list {
  position: relative;
  width: 300%;
  margin: 0;
  left: 0;
  animation: 20s slidy infinite;
}

@keyframes slidy {
  0% {
    left: 0%;
  }
  22% {
    left: 0%;
  }
  24% {
    left: -100%;
  }
  46% {
    left: -100%;
  }
  48% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  72% {
    left: -100%;
  }
  94% {
    left: -100%;
  }
  96% {
    left: 0%;
  }
  100% {
    left: 0%;
  }
}

.slide__action {
  border: 7px solid #f8ebe5;
  -webkit-border-radius: 20px;
  -ms-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  overflow: hidden;
  height: 100%;
  max-width: 970px;
  text-align: left;
  cursor: pointer;
}

.slide__action-list {
  width: 300%;
  font-size: 0;
}

.slide__action-item {
  position: relative;
  width: 20.625rem;
  display: inline-block;
  transition: all 0.4s ease .300ms;
}

.slide__action-list:hover .slide__action-item {
  width: 6.25rem;
}

.slide__action-list .slide__action-item:hover {
  width: 48.125rem;
}

.slide__action-pic img {
  display: block;
}

.slide__title {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  padding: 15px;
  width: 775px;
  color: #fff;
}

.slide__header {
  font: 33px/1 'nautilus';
  white-space: nowrap;
}

.slide__text {
  font: 20px/1 'arsenal';
  white-space: nowrap;
}

.fbucet__carousel {
  text-align: left;
  position: relative;
}

.buket__catalog {
  overflow: hidden;
  max-width: 970px;
  min-width: 315px;
  height: 383px;
  position: relative;
  text-align: center;
}

.buket__catalog .product {
  display: inline-block;
  margin: 0 4px;
}

.carousel__controls {
  position: absolute;
  top: 0;
  width: 70px;
  height: 100%;
}

.carousel__controls:hover {
  opacity: .5;
}

.carousel__controls:before {
  content: '';
  width: 60px;
  height: 60px;
  display: block;
  position: absolute;
  top: 50%;
  left: 5px;
}

.carousel__controls-left {
  left: -75px;
}

.carousel__controls-left:before {
  background: url(../img/controls.png) no-repeat -8px -5px;
}

.carousel__controls-right {
  right: -56px;
}

.carousel__controls-right:before {
  background: url(../img/controls.png) no-repeat -84px -5px;
}

.responsiv__menu-hide, .responsiv__menu {
  display: none;
}

.responsiv__menu {
  width: 55px;
  height: 55px;
  padding: 10px;
  float: right;
  margin-right: 20px;
  cursor: pointer;
}

.responsiv__menu:after {
  content: '';
  display: block;
  width: 35px;
  height: 7px;
  background: #fce9be;
  box-shadow: 0px 10px 0px #fce9be, 0px 20px 0px #fce9be;
}

.logo__img-phon {
  display: none;
}

.main__nav {
  float: right;
  margin: 0 4.375rem 0 0;
  width: 70%;
}

.main__nav .callback__tel-nav {
  display: none;
}

.nav__list {
  text-align: justify;
}

.nav__list:after {
  content: '';
  width: 100%;
  height: 0;
  display: inline-block;
}

.main__nav-link {
  color: #fff;
  font-size: 20px;
  font-family: 'arsenal';
  line-height: 55px;
}

.main__nav-link:before {
  content: '';
  display: inline-block;
  background: url(../img/icons.png) no-repeat;
  width: 69px;
  height: 69px;
  vertical-align: middle;
  margin: -20px 0;
}

.main__nav-link.advantages:before {
  background-position: 2px -2px;
}

.main__nav-link.boxes:before {
  background-position: -142px -2px;
}

.main__nav-link.buket:before {
  background-position: -69px -2px;
}

.small.logo {
  top: -155px;
}

.callback__tel {
  display: inline-block;
  line-height: 55px;
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 16px;
  }
}

@media screen and (max-width: 992px) {
  html {
    font-size: 15px;
  }
  .logo {
    left: 0;
  }
  .main__nav {
    margin-right: 20px;
  }
  .carousel__controls-right {
    right: 0;
  }
  .carousel__controls-left {
    left: 0;
  }
  footer {
    height: auto;
  }
}

@media screen and (max-width: 960px) {
  .slide__overflow {
    float: none;
    margin: 0 auto;
  }
  .slide__bonus {
    float: none;
    width: 100%;
    margin: 20px 0 0 0;
  }
  .slide__bonus .bonus__list {
    text-align: justify;
  }
  .slide__bonus .bonus__list:after {
    content: '';
    width: 100%;
    height: 0;
    display: inline-block;
  }
  .slide__bonus .bonus__item {
    display: inline-block;
    margin: 0 20px 0 0;
    text-align: center;
  }
}

@media screen and (max-width: 850px) {
  .slide__action-item {
    width: 10%;
  }
  .slide__action-list .slide__action-item:hover {
    width: 43.125rem;
  }
  .work__item {
    margin: 0 8.875rem 0 0;
  }
}

@media screen and (max-width: 800px) {
  .nav__list {
    display: none;
  }
  .responsiv__menu {
    display: block;
    position: relative;
    z-index: 9999;
  }
  .responsiv__menu-hide:checked ~ .nav__list {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: rgba(11, 68, 67, 0.9);
  }
  .responsiv__menu-hide:checked ~ .nav__list:after {
    content: none;
  }
  .responsiv__menu-hide:checked ~ .nav__list .main__nav-link {
    display: block;
    padding: 20px;
    border-bottom: 1px solid #fce9be;
  }
  .responsiv__menu-hide:checked ~ .nav__list .main__nav-link:hover {
    background: rgba(11, 68, 67, 0.5);
  }
  .slide__action-item {
    display: block;
    width: 100%;
  }
  .slide__action-list .slide__action-item:hover,
  .slide__action-list:hover .slide__action-item {
    width: 100%;
  }
  .product {
    margin: 8px 5px;
  }
  .fbucet__carousel {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
  .callback__btn:before {
    margin: -1px 10px 0 -3px;
  }
  .logo {
    top: -73px;
  }
  .logo img {
    width: 80%;
  }
  .small.logo {
    top: -123px;
  }
  .slide__action-list {
    width: 100%;
  }
  .slide__title {
    width: auto;
  }
  .slide__text {
    white-space: normal;
  }
  .work__list {
    text-align: justify;
  }
  .work__list:after {
    content: '';
    width: 100%;
    height: 0;
    display: inline-block;
  }
  .work__item {
    margin: 0;
    text-align: center;
  }
  .work__item:before {
    left: -50%;
  }
  .stn__form {
    margin-bottom: 15rem;
  }
  footer .nav__list {
    display: inline-block;
  }
  .logo__footer {
    top: -70px;
  }
  .logo__footer img {
    width: 80%;
  }
  .footer__header .container {
    text-align: center;
  }
  .adreses, .footer__nav {
    display: block;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 650px) {
  .work__item:before {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .work__item {
    width: 32.333%;
  }
  .work__item img {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  html {
    font-size: 12px;
  }
  .decor__title::before, .decor__title::after {
    display: block;
    margin: 0 auto;
  }
  .slide__bonus .bonus__item {
    margin: 0;
  }
}

@media screen and (max-width: 400px) {
  .logo__img {
    display: none;
  }
  .logo .logo__img-phon {
    display: block;
    width: auto;
  }
  .logo {
    position: static;
    width: 50%;
    display: inline-block;
  }
  .main__nav {
    width: 42%;
    margin: 0;
  }
  footer .logo {
    position: absolute;
    right: 0;
    width: 100%;
  }
  .slid__container {
    padding: 10px;
  }
  .product {
    margin: 8px auto;
  }
  .slide__bonus .bonus__item {
    width: 32%;
  }
  .order__form {
    padding: 0 1rem 1rem 1rem;
  }
}

/*# sourceMappingURL=main.css.map */