<!DOCTYPE html>
<html lang="ru">

<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, viewport-fit=cover">
 <meta name="robots" content="all">
 <meta property="og:title" content="Как SpaceX Илона Маска создает самую мощную ракету в истории" />
 <meta property="og:image" content="img/pic.jpg" />
 <meta property="og:description" content="Как SpaceX Илона Маска создает самую мощную ракету в истории" />
 <meta name="description" content="Как SpaceX Илона Маска создает самую мощную ракету в истории" />
 <meta name="keywords" content="" />

 <!-- <link rel="icon" href="img/favicon.png" type="image/png" sizes="34x34"> -->
 <!-- <link rel="icon" href="img/favicon.ico" type="image/x-icon"> -->
 <meta name="theme-color" content="#ffffff">

 <title>Как SpaceX Илона Маска создает самую мощную ракету в истории</title>
 <link rel="preload" href="fonts/Golos-Text_Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous">
 <link rel="stylesheet" href="css/main.css">

</head>

<body>

 <!--[if lt IE 9]>
<p class="browsehappy">Ваш браузер <strong>устарел</strong>. Пожалуйста<a href="
http://browsehappy.com/">обновите</a>
<![endif]-->

 <div class="wrapper">
  <section class="section">
   <div class="container">
    <h1>Новости</h1>

    <div class="row">
     <article class="card">
      <div class="card__pic"><img src="img/pic.jpg" alt="lorem ipsum"></div>
      <div class="card__content">
       <header class="card__header">
        <div class="card__info">
         <time class="card__data" datetime="ifYouNeedIt">25 июля 2021</time>
         <div class="tags"><a href="" class="tag">Выборы</a> <a href="" class="tag">Выборы Выборы</a></div>
        </div>
        <h2 class="card__title"><a href="">Как SpaceX Илона Маска создает самую мощную ракету в истории</a></h2>
       </header>
       <div class="card__text">Американская компания SpaceX в местности Бока-Чика (Техас) завершила установку 29 двигателей Raptor на прототип ракетного ускорителя Super Heavy, который позднее в том же месяце на короткое время был интегрирован с прототипом космического корабля Starship. Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta est ab sequi culpa eveniet aut, hic, delectus quod qui, neque nostrum cumque suscipit fugiat omnis a illo esse aspernatur voluptas laudantium velit quidem incidunt ut sint eos! Facilis, ducimus in! Illo est laudantium voluptatem asperiores!</div>
       <footer class="card__action">
        <a href="" class="btn btn--link">Подробнее</a>
        <button class="btn btn--share" type="button">Поделиться</button>
       </footer>
      </div>
     </article>
     <!-- let's revert -->
     <article class="card reverse">
      <div class="card__pic"><img src="img/pic.jpg" alt="lorem ipsum"></div>
      <div class="card__content">
       <header class="card__header">
        <div class="card__info">
         <time class="card__data" datetime="ifYouNeedIt">25 июля 2021</time>
         <div class="tags"><a href="" class="tag">Выборы</a></div>
        </div>
        <h2 class="card__title"><a href="">Как SpaceX Илона Маска создает самую мощную ракету в истории</a></h2>
       </header>
       <div class="card__text">Американская компания SpaceX в местности Бока-Чика (Техас) завершила установку 29 двигателей Raptor на прототип ракетного ускорителя Super Heavy, который позднее в том же месяце на короткое время был интегрирован с прототипом космического корабля Starship.</div>
       <footer class="card__action">
        <a href="" class="btn btn--link">Подробнее</a>
        <button class="btn btn--share" type="button">Поделиться</button>
       </footer>
      </div>
     </article>

     <article class="card card--img">
      <div class="card__pic"><img src="img/pic2.jpg" alt="lorem ipsum"></div>
      <div class="card__content">
       <header class="card__header">
        <div class="card__info">
         <time class="card__data" datetime="ifYouNeedIt">25 июля 2021</time>
         <div class="tags">
          <a href="" class="tag">Выборы</a>
         </div>
        </div>
        <h2 class="card__title"><a href="">Как SpaceX Илона Маска создает самую мощную ракету в истории</a></h2>
       </header>
       <div class="card__text">Американская компания SpaceX в местности Бока-Чика (Техас) завершила установку 29 двигателей Raptor на прототип ракетного ускорителя Super Heavy, который позднее в том же месяце на короткое время был интегрирован с прототипом космического корабля Starship. Lorem, ipsum.</div>

       <footer class="card__action">
        <a href="" class="btn btn--link">Подробнее</a>
        <button class="btn btn--share" type="button">Поделиться</button>
       </footer>
      </div>
     </article>
     <!-- let's display:grid; -->
     <article class="card card--imggrid">
      <div class="card__pic"><img src="img/pic3.jpg" alt="lorem ipsum"></div>
      <div class="card__content">
       <header class="card__header">
        <div class="card__info">
         <time class="card__data" datetime="ifYouNeedIt">25 июля 2021</time>
         <div class="tags"><a href="" class="tag">Выборы</a></div>
        </div>
        <h2 class="card__title"><a href="">Как SpaceX Илона Маска создает самую мощную ракету в истории</a></h2>
       </header>
       <div class="card__text">Американская компания SpaceX в местности Бока-Чика (Техас) завершила установку 29 двигателей Raptor на прототип ракетного ускорителя Super Heavy, который позднее в том же месяце на короткое время был интегрирован с прототипом космического корабля Starship.</div>
       <footer class="card__action">
        <a href="" class="btn btn--link">Подробнее</a>
        <button class="btn btn--share" type="button">Поделиться</button>
       </footer>
      </div>
     </article>

     <article class="card card--grid">
      <div class="card__pic"><img src="img/pic.jpg" alt="lorem ipsum"></div>
      <div class="card__content">
       <header class="card__header">
        <div class="card__info">
         <time class="card__data" datetime="ifYouNeedIt">25 июля 2021</time>
         <div class="tags"><a href="" class="tag">Выборы</a></div>
        </div>
        <h2 class="card__title"><a href="">Как SpaceX Илона Маска создает самую мощную ракету в истории</a></h2>
       </header>
       <div class="card__text">Американская компания SpaceX в местности Бока-Чика (Техас) завершила установку 29 двигателей Raptor на прототип ракетного ускорителя Super Heavy, который позднее в том же месяце на короткое время был интегрирован с прототипом космического корабля Starship.</div>
       <footer class="card__action">
        <a href="" class="btn btn--link">Подробнее</a>
        <button class="btn btn--share" type="button">Поделиться</button>
       </footer>
      </div>
     </article>
     <!-- let's revert -->
     <article class="card card--grid reverse">
      <div class="card__pic"><img src="img/pic3.jpg" alt="lorem ipsum"></div>
      <div class="card__content">
       <header class="card__header">
        <div class="card__info">
         <time class="card__data" datetime="ifYouNeedIt">25 июля 2021</time>
         <div class="tags"><a href="" class="tag">Выборы</a> <a href="" class="tag">Выборы Выборы</a></div>
        </div>
        <h2 class="card__title"><a href="">Как SpaceX Илона Маска создает самую мощную ракету в истории</a></h2>
       </header>
       <div class="card__text">Американская компания SpaceX в местности Бока-Чика (Техас) завершила установку 29 двигателей Raptor на прототип ракетного ускорителя Super Heavy, который позднее в том же месяце на короткое время был интегрирован с прототипом космического корабля Starship.</div>
       <footer class="card__action">
        <a href="" class="btn btn--link">Подробнее</a>
        <button class="btn btn--share" type="button">Поделиться</button>
       </footer>
      </div>
     </article>
     <!-- let's only pic & title -->
     <article class="card card--plank">
      <div class="card__pic"><img src="img/pic2.jpg" alt="lorem ipsum"></div>
      <div class="card__content">
       <header class="card__header">
        <h2 class="card__title"><a href="">Как SpaceX Илона Маска создает самую мощную ракету в истории</a></h2>
       </header>
      </div>
     </article>
    </div>
   </div>
  </section>
 </div>

 <script src="js/scripts.js"></script>
</body>

</html>