.footer {
 padding: 3em 0;
}

.footer__row {
 @include row(jsb);
 margin-bottom: 2em;
 &:last-of-type {
  margin-bottom: 0;
 }
}

.footer__col {
 flex: 0 1 28%;
 font-size: 0.8em;
 line-height: 1.5;
 &--text {
  flex: 0 1 33%;
 }
 &--about {
  padding-left: 1.5em;
 }
 @include bp(650px) {
  flex: 1 1 100%;
  margin-bottom: 1.5em;
  &:last-of-type {
   margin-bottom: 0;
  }
 }
 &:only-child {
  margin-left: auto;
 }
}

.footer__title {
 font-weight: bold;
}

.footer__text {
 margin-bottom: 0.8em;
 &:last-of-type {
  margin-bottom: 0;
 }
 &--icon {
  position: relative;
  a {
   color: $accent2;
   font-weight: bold;
  }
  &:before {
   content: "";
   @include center(y);
   right: 100%;
   width: 30px;
   height: 20px;
   background-position: left center;
   background-size: 20px 20px;
   background-repeat: no-repeat;
  }
  &.in {
   &:before {
    background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22 22'%3E%3Cpath d='M21.756 6.662c-.048-1.109-.228-1.87-.484-2.53a5.089 5.089 0 00-1.206-1.85A5.133 5.133 0 0018.22 1.08c-.664-.257-1.422-.436-2.53-.485C14.573.542 14.219.53 11.387.53 8.556.53 8.201.542 7.09.59c-1.108.05-1.87.23-2.53.486-.701.265-1.328.672-1.85 1.206a5.135 5.135 0 00-1.202 1.845c-.257.665-.436 1.422-.485 2.53C.97 7.775.957 8.129.957 10.96s.012 3.186.061 4.298c.049 1.109.228 1.87.485 2.53.265.701.676 1.329 1.206 1.85.522.53 1.153.942 1.846 1.202.664.257 1.422.436 2.53.485 1.112.05 1.467.061 4.298.061 2.832 0 3.186-.012 4.299-.06 1.108-.05 1.87-.229 2.53-.486a5.335 5.335 0 003.052-3.051c.256-.664.436-1.422.484-2.53.05-1.113.061-1.467.061-4.299 0-2.832-.004-3.186-.053-4.298zm-1.878 8.515c-.045 1.019-.216 1.569-.358 1.935a3.46 3.46 0 01-1.98 1.98c-.367.143-.921.314-1.936.359-1.1.049-1.43.061-4.212.061-2.783 0-3.117-.012-4.213-.061-1.02-.045-1.57-.216-1.936-.358a3.208 3.208 0 01-1.198-.779 3.243 3.243 0 01-.778-1.198c-.142-.366-.314-.92-.358-1.935-.05-1.1-.061-1.43-.061-4.213 0-2.783.012-3.117.06-4.213.045-1.018.217-1.568.36-1.935a3.17 3.17 0 01.782-1.198 3.237 3.237 0 011.197-.778c.367-.143.921-.314 1.936-.359 1.1-.048 1.43-.06 4.212-.06 2.787 0 3.117.012 4.213.06 1.019.045 1.569.216 1.936.359.452.167.863.432 1.197.778.347.338.612.746.779 1.198.142.367.313.92.358 1.935.05 1.1.061 1.43.061 4.213 0 2.783-.012 3.109-.06 4.209z' fill='%23E35555'/%3E%3Cpath d='M11.387 5.602A5.36 5.36 0 006.03 10.96a5.359 5.359 0 105.358-5.358zm0 8.833a3.476 3.476 0 11.001-6.951 3.476 3.476 0 010 6.951zM18.208 5.39a1.25 1.25 0 11-2.502 0 1.25 1.25 0 012.502 0z' fill='%23E35555'/%3E%3C/svg%3E");
   }
  }
  &.ml {
   &:before {
    background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 23 17'%3E%3Cpath d='M19.977.869H2.79C1.78.869.957 1.69.957 2.7V14.92c0 1.006.82 1.832 1.833 1.832h17.187c1.006 0 1.832-.82 1.832-1.832V2.7c0-1.006-.82-1.832-1.832-1.832zm-.253 1.221l-8.302 8.302L3.05 2.09h16.675zM2.179 14.667V2.949l5.884 5.833-5.884 5.885zm.864.864L8.93 9.643l2.063 2.045a.61.61 0 00.862-.002l2.012-2.012 5.856 5.857H3.043zm17.545-.864L14.732 8.81l5.856-5.857v11.713z' fill='%23E35555'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.79.668h17.187c1.123 0 2.032.916 2.032 2.033V14.92a2.036 2.036 0 01-2.032 2.033H2.79A2.036 2.036 0 01.757 14.92V2.701c0-1.12.913-2.033 2.033-2.033zM19.723 2.09H3.05l8.373 8.302 8.302-8.302zm-.482.2H3.534l7.887 7.82 7.82-7.82zM2.179 14.666l5.884-5.884-5.884-5.834v11.718zm.2-.482l5.4-5.401-5.4-5.355v10.756zm.664 1.346h16.68l-5.856-5.856-2.011 2.012a.61.61 0 01-.862.002L8.93 9.642 3.043 15.53zm.482-.2h15.716l-5.374-5.373-1.87 1.87a.81.81 0 01-1.144.003L8.93 9.925 3.525 15.33zm17.063-.664V2.954L14.73 8.81l5.856 5.856zm-.2-.482V3.437L15.014 8.81l5.373 5.374zM2.79.868h17.187c1.012 0 1.832.826 1.832 1.833V14.92a1.836 1.836 0 01-1.832 1.833H2.79A1.836 1.836 0 01.957 14.92V2.701c0-1.01.823-1.833 1.833-1.833z' fill='%23E35555'/%3E%3C/svg%3E");
   }
  }
  @include bp(650px) {
   margin-left: 1em;
  }
 }
}
