@media screen and (max-width: 900px) {
  html {font-size: 12px; }
  .works__list { display: block; }
  .works__list-row { display: block; }
  .works__item {
    display: inline-block;
    width: 100%; }
    .works__item:first-of-type, .works__item:last-of-type {
      width: 100%;}
    .works__item:nth-of-type(2) { width: 100%; padding: 10px 0;}
    .works__title { font-size: 2rem; left: 10px;}
}

@media screen and (max-width: 800px) {
  .container {
    max-width: 600px;
  }
    .section__title {
      max-width: 600px;
  //   &:before { left: -45px; }
  //   &:after { left: 45px; }
  }
}

@media screen and (max-width: 550px) {
  .container { margin: 0 10px; }
    .section__title {
      width: calc(100% - 20px);
      &:before { left: -45px; }
      &:after { left: 45px; }
    }
}

@media screen and (max-width: 450px) {
  .header {
    background-position-x: 89%;
  }
  .services{
    background-position-x: 69%;
  }
  
}