@font-face {
    font-family: 'museo';
    src: url('../fonts/museo_300.eot');
    src: url('../fonts/museo_300.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museo_300.woff2') format('woff2'),
         url('../fonts/museo_300.woff') format('woff'),
         url('../fonts/museo_300.ttf') format('truetype'),
         url('../fonts/museo_300.svg#museo_cyrl300') format('svg');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'museo';
    src: url('../fonts/museo_500.eot');
    src: url('../fonts/museo_500.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museo_500.woff2') format('woff2'),
         url('../fonts/museo_500.woff') format('woff'),
         url('../fonts/museo_500.ttf') format('truetype'),
         url('../fonts/museo_500.svg#museo_cyrl500') format('svg');
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: 'museo';
    src: url('../fonts/museo_700.eot');
    src: url('../fonts/museo_700.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museo_700.woff2') format('woff2'),
         url('../fonts/museo_700.woff') format('woff'),
         url('../fonts/museo_700.ttf') format('truetype'),
         url('../fonts/museo_700.svg#museo_cyrl700') format('svg');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'museo';
    src: url('../fonts/museo_900.eot');
    src: url('../fonts/museo_900.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museo_900.woff2') format('woff2'),
         url('../fonts/museo_900.woff') format('woff'),
         url('../fonts/museo_900.ttf') format('truetype'),
         url('../fonts/museo_900.svg#museo_cyrl900') format('svg');
    font-weight: 900;
    font-style: normal;
}