$container-width: 1010px;
$font-family: 'museo';

$accent-color: #f79b1d;
$logo-color: #b11f29;

$fill-color: #3e3d3d;
$main-text: #7e7d7d;
$hover-color: #222222;
$lite-fill: #e8e8e8;


/*respond*/
$sm: 768px;
$xs: 500px;

