.header {
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 transition: 0.3s ease-in-out;
 z-index: 100;
 &.hide {
  top: -58px;
 }
}

.header__menu {
 position: relative;
 // padding: 5px 0;
 background-color: $btn;
 .container-wide {
  @include row(jsb);
 }
}

.logo {
 width: 50px;
}

.menu {
 margin: 0 auto;
 flex: 0 1 75%;
 @include bp(1270px) {
  flex: 0 1 90%;
 }
 @include bp(780px) {
  position: absolute;
  top: 100%;
  left: -100%;
  width: 100%;
  background-color: #fff;
  transition: 0.3s ease-in-out;
  z-index: 100;
  &.open {
   left: 0;
  }
 }
}

.menu__list {
 @include row(jsb);
 height: 100%;
 li {
  flex: 1 1 auto;
  transition: 0.3s ease-in-out;
  &:hover {
   background: #d52fff;
   a {
    color: #fff;
   }
  }
 }
 a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 5px 0.5em;
  font-size: 17px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #fff;
  @include bp(1250px) {
   font-size: 12px;
  }
  @include bp(780px) {
   font-size: 16px;
   padding: 1em;
   color: $btn;
  }
 }
 @include bp(780px) {
  display: block;
 }
}

.header__plank {
 padding: 0.8em 0 1.1em 0;
 text-align: center;
}

.header__promotion {
 position: relative;
 display: inline-block;
 padding: 0 2.5em 0 2em;
 text-transform: uppercase;
 color: #4e0000;
 letter-spacing: 0.01em;
 @include fFS(12px, 17px, 320px, 1920px, 18px);
 font-weight: 700;
 &:before,
 &:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-54%);
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
 }
 &:before {
  left: 0;
  width: 1.5em;
  background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 11'%3E%3Cpath d='M14.667 0h-8.89c-.353 0-.692.083-.942.23-.25.147-.39.347-.39.556 0 .208.14.408.39.555.25.148.59.23.943.23h8.889c.353 0 .692-.082.943-.23.25-.147.39-.347.39-.555 0-.209-.14-.409-.39-.556-.25-.147-.59-.23-.943-.23zM14.222 7.071c0-.208-.14-.408-.39-.555-.25-.148-.59-.23-.943-.23H4c-.354 0-.693.082-.943.23-.25.147-.39.347-.39.555 0 .209.14.409.39.556.25.147.59.23.943.23h8.889c.354 0 .693-.083.943-.23.25-.147.39-.347.39-.556zM13.778 9.429H7.556c-.354 0-.693.082-.943.23-.25.147-.39.347-.39.555 0 .209.14.409.39.556.25.147.589.23.943.23h6.222c.353 0 .692-.083.943-.23.25-.147.39-.347.39-.556 0-.208-.14-.408-.39-.555-.25-.148-.59-.23-.943-.23zM14.222 3.929c0-.209-.14-.409-.39-.556-.25-.147-.59-.23-.943-.23H1.333c-.353 0-.692.083-.942.23C.14 3.52 0 3.72 0 3.929c0 .208.14.408.39.555.25.148.59.23.943.23H12.89c.354 0 .693-.082.943-.23.25-.147.39-.347.39-.555z' fill='%23B900E8'/%3E%3C/svg%3E");
  background-size: auto 11px;
 }
 &:after {
  right: 0;
  width: 2em;
  height: 1.9em;
  background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 37 31'%3E%3Cpath d='M33.448 10.058l.945-.89a.83.83 0 00.194-.27.79.79 0 00-.19-.91.886.886 0 00-.287-.18.929.929 0 00-.963.185l-.983.927a13.53 13.53 0 00-5.735-2.58V4.429h.88a.909.909 0 00.623-.244.807.807 0 00.259-.587V.83a.807.807 0 00-.259-.587A.909.909 0 0027.31 0h-7.048a.909.909 0 00-.623.243.807.807 0 00-.258.587v2.768c0 .22.093.432.258.587.165.156.39.244.623.244h.88v1.91a13.53 13.53 0 00-5.734 2.58l-.983-.926a.885.885 0 00-.286-.183.928.928 0 00-.965.178.83.83 0 00-.192.271.79.79 0 00.197.908l.944.89c-2.284 2.302-3.554 5.336-3.552 8.488C10.571 25.412 16.5 31 23.786 31 31.072 31 37 25.413 37 18.545c.002-3.152-1.267-6.186-3.552-8.487zM21.143 1.66h5.286v1.107h-5.286V1.66zm1.762 2.768h1.762v1.689a14.12 14.12 0 00-1.762 0v-1.69zm.88 24.91c-6.314 0-11.452-4.842-11.452-10.794 0-5.953 5.138-10.795 11.453-10.795 6.315 0 11.452 4.842 11.452 10.795 0 5.952-5.137 10.794-11.452 10.794z' fill='%23B900E8'/%3E%3Cpath d='M23.786 9.41c-5.344 0-9.69 4.098-9.69 9.135 0 5.036 4.346 9.134 9.69 9.134 5.343 0 9.69-4.098 9.69-9.134 0-5.037-4.347-9.134-9.69-9.134zm7.88 8.304h-7v-6.596c1.787.19 3.452.947 4.723 2.145s2.074 2.768 2.276 4.451zm-7.88 8.304c-2.027 0-3.976-.732-5.448-2.044-1.472-1.313-2.355-3.107-2.468-5.014-.112-1.907.554-3.782 1.862-5.24 1.308-1.459 3.16-2.39 5.173-2.602v7.427c0 .22.093.431.258.587.165.155.39.243.623.243h7.88c-.22 1.826-1.144 3.512-2.597 4.737s-3.334 1.904-5.283 1.906zM9.69 12.732H3.817a.909.909 0 00-.622.243.807.807 0 00-.258.588c0 .22.092.43.258.587.165.155.389.243.622.243H9.69a.909.909 0 00.623-.243.807.807 0 00.258-.588.807.807 0 00-.258-.587.909.909 0 00-.623-.243zM9.397 20.205a.807.807 0 00-.258-.587.909.909 0 00-.623-.243H2.643a.909.909 0 00-.623.243.807.807 0 00-.258.587c0 .22.093.432.258.588.165.155.39.243.623.243h5.873a.909.909 0 00.623-.244.807.807 0 00.258-.587zM9.103 22.696h-4.11a.909.909 0 00-.624.244.807.807 0 00-.258.587c0 .22.093.431.258.587.165.156.39.243.623.243h4.111a.909.909 0 00.623-.243.807.807 0 00.258-.587.807.807 0 00-.258-.587.909.909 0 00-.623-.244zM9.397 16.884a.807.807 0 00-.258-.587.909.909 0 00-.623-.243H.88a.909.909 0 00-.623.243.807.807 0 00-.258.587c0 .22.093.431.258.587.165.156.39.243.623.243h7.635a.909.909 0 00.623-.243.807.807 0 00.258-.587z' fill='%23B900E8'/%3E%3C/svg%3E");
 }
}
