.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.row.ac {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.row.as {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.row.ab {
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.row.ast {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.row.jc {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.row.jsb {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.row.jsa {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.row.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.col {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}
.col-1 {
  width: 8.33333%;
}
.col-2 {
  width: 16.66667%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33333%;
}
.col-5 {
  width: 41.66667%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33333%;
}
.col-8 {
  width: 66.66667%;
}
.col-9 {
  width: 75%;
}
@media (max-width: 650px) {
  .col {
    width: 100%;
    padding: 0;
    margin-bottom: 2em;
  }
  .col:last-of-type {
    margin-bottom: 0;
  }
}

@-ms-viewport {
  width: device-width;
  initial-scale: 1;
}
@-moz-viewport {
  width: device-width;
  initial-scale: 1;
}
@-webkit-viewport {
  width: device-width;
  initial-scale: 1;
}
*,
:before,
:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  overflow: auto;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-overflow-scrolling: touch;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

video,
audio,
canvas {
  display: inline-block;
}

span {
  display: inline-block;
}

a,
input,
button,
textarea,
optgroup,
select,
fieldset,
figure,
legend,
address {
  color: inherit;
  line-height: inherit;
  text-transform: inherit;
  text-shadow: inherit;
  border: none;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
}

a,
button,
[type=button],
[type=submit] {
  -webkit-transition: color 0.25s, background 0.25s, opacity 0.25s;
  -o-transition: color 0.25s, background 0.25s, opacity 0.25s;
  transition: color 0.25s, background 0.25s, opacity 0.25s;
}

a {
  cursor: pointer;
  text-decoration: none;
  -webkit-text-decoration-skip: none;
}

button {
  overflow: visible;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
}

p {
  margin: 0;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  overflow: hidden;
}

b,
strong {
  font-weight: 700;
}

img,
svg,
embed,
object,
iframe,
video,
audio,
canvas {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  border: 0;
}

img {
  image-rendering: optimizeQuality;
}

svg {
  color: inherit;
}
svg:not(:root) {
  overflow: hidden;
}

progress {
  vertical-align: baseline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-rendering: optimizeLegibility;
  color: inherit;
  margin: 0;
}

ul,
ol,
menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

input,
select,
button,
button > *,
a > * {
  display: inline-block;
  vertical-align: middle;
}

button,
label,
select,
summary,
[type=button],
[type=submit],
[type=reset],
[type=checkbox],
[type=radio],
[type=range] {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

[type=button],
[type=submit],
[type=search],
[type=radio],
[type=range],
::-webkit-search-cancel-button,
::-webkit-search-decoration,
::-webkit-outer-spin-button,
::-webkit-inner-spin-button,
::-webkit-slider-thumb {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

::-webkit-contacts-auto-fill-button,
::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  right: 0;
}

:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 1000px #fff;
          box-shadow: inset 0 0 0 1000px #fff;
}

::-webkit-details-marker {
  display: none;
}

[type=radio] {
  -webkit-appearance: radio;
}

[type=number] {
  -moz-appearance: textfield;
}

::-ms-clear,
::-ms-reveal {
  display: none;
}

input,
textarea {
  width: 100%;
}

input {
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

textarea {
  overflow: auto;
  resize: none;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

:disabled {
  pointer-events: none;
}

::-moz-focus-outer,
::-moz-focus-inner {
  border: 0;
  padding: 0;
}

::-moz-placeholder {
  opacity: 1;
}

::placeholder,
::-moz-placeholder {
  opacity: 1;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td,
th {
  padding: 0;
  text-align: center;
}

article p:not(:empty) {
  margin-top: 0.7em;
  margin-bottom: 0.7em;
}
article img,
article embed,
article object,
article iframe,
article video {
  display: block;
  margin: auto;
}
article span {
  display: inline;
}
article ul,
article ol,
article menu {
  margin-top: 0.7em;
  margin-bottom: 0.7em;
}
article ul ul,
article ul ol,
article ul menu,
article ol ul,
article ol ol,
article ol menu,
article menu ul,
article menu ol,
article menu menu {
  margin: 0;
  padding-left: 1.3em;
}
article ul > li:before,
article ol > li:before,
article menu > li:before {
  margin-right: 0.7em;
}
article ul > li p,
article ol > li p,
article menu > li p {
  display: inline;
}
article ul > li:before,
article menu > li:before {
  content: "";
  width: 0.4em;
  height: 0.4em;
  display: inline-block;
  vertical-align: 10%;
  border-radius: 50%;
  background: #000;
  border: 1px solid #000;
}
article ul > li li:before,
article menu > li li:before {
  background: transparent;
}
article ol {
  counter-reset: count;
}
article ol > li:before {
  content: counter(count) ".";
  counter-increment: count;
}

html {
  font-family: "Roboto", sans-serif;
  color: #281435;
  font-size: 16px;
}

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper {
  position: relative;
  min-width: 320px;
  min-height: 100vh;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: hidden;
}

.footer {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

a {
  display: inline-block;
  vertical-align: middle;
}

p span {
  color: #8800c2;
}

.main {
  margin-top: 69px;
}
@media (max-width: 780px) {
  .main {
    margin-top: 56px;
  }
}

.main__title {
  font-size: 33px;
  margin-bottom: 0.5em;
  font-weight: 400;
  text-align: center;
}
@media (min-width: 320px) {
  .main__title {
    font-size: 18px;
    font-size: calc(0.005625 * 100vw + 31.2px);
  }
}
@media (min-width: 1920px) {
  .main__title {
    font-size: 42px;
  }
}
@media (max-width: 780px) {
  .main__title {
    margin-bottom: 0;
  }
}

.section__title {
  font-size: 27px;
  margin-bottom: 0.7em;
  text-align: center;
}
@media (min-width: 320px) {
  .section__title {
    font-size: 18px;
    font-size: calc(0.009375 * 100vw + 24px);
  }
}
@media (min-width: 1920px) {
  .section__title {
    font-size: 42px;
  }
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.container-wide {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 35px;
}
@media (max-width: 1250px) {
  .container-wide {
    padding: 0 10px;
  }
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background-color: #b900e8;
  z-index: 10;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.header .container-wide {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header.hide {
  top: -68px;
}
@media (max-width: 780px) {
  .header {
    padding: 0.5em 0;
  }
  .header.hide {
    top: -58px;
  }
}

.logo {
  margin: auto 0;
}

.menu {
  margin: 0 auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 65%;
      -ms-flex: 0 1 65%;
          flex: 0 1 65%;
}
@media (max-width: 1270px) {
  .menu {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 85%;
        -ms-flex: 0 1 85%;
            flex: 0 1 85%;
  }
}
@media (max-width: 780px) {
  .menu {
    position: absolute;
    top: 100%;
    left: -100%;
    width: 100%;
    background-color: #fff;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    z-index: 100;
  }
  .menu.open {
    left: 0;
  }
}

.menu__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}
.menu__list li {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.menu__list li:hover {
  background: #d52fff;
}
.menu__list li:hover a {
  color: #fff;
}
.menu__list a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  padding: 1.4em 0.5em;
  font-size: 17px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #fff;
}
@media (max-width: 780px) {
  .menu__list a {
    font-size: 16px;
    padding: 1em;
    color: #b900e8;
  }
}
@media (max-width: 780px) {
  .menu__list {
    display: block;
  }
}

.product {
  position: relative;
  padding: 4.5em 0 2em 0;
  border-radius: 0 0 20px 20px;
}
.product .btn {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 400px;
  margin: 0 auto;
}
@media (max-width: 780px) {
  .product {
    padding: 2em 0;
  }
  .product .btn {
    width: 288px;
  }
}
.product#contact {
  padding: 4.5em 0;
}

.prodict__title {
  font-size: 21px;
  margin-bottom: 1.5em;
  letter-spacing: 0.02em;
  text-align: center;
}
@media (min-width: 320px) {
  .prodict__title {
    font-size: 18px;
    font-size: calc(0.005 * 100vw + 19.4px);
  }
}
@media (min-width: 1920px) {
  .prodict__title {
    font-size: 29px;
  }
}
@media (max-width: 780px) {
  .prodict__title {
    margin-top: 0;
  }
}

.product__pic {
  position: relative;
  padding-top: 43.9236111111%;
  margin-bottom: 2.5em;
}
.product__pic img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.product__features {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  margin-bottom: 1.9em;
}
.product__features li {
  position: relative;
  width: 32%;
  padding-left: 1.5em;
  letter-spacing: 0.02em;
}
@media (max-width: 850px) {
  .product__features li {
    width: 100%;
    margin-bottom: 1.5em;
  }
  .product__features li:last-of-type {
    margin-bottom: 0;
  }
}
.product__features li::before {
  content: "";
  position: absolute;
  top: -0.2em;
  left: 0;
  height: 1.2em;
  width: 1.2em;
  border-radius: 100%;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='19' viewBox='0 0 20 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.40647 0.593865C8.98543 -0.197956 10.1673 -0.197955 10.7463 0.593866L13.31 4.10014C13.4889 4.34478 13.7399 4.52719 14.0279 4.62171L18.1548 5.97645C19.0867 6.28239 19.452 7.40642 18.8778 8.20174L16.3354 11.7235C16.158 11.9692 16.0621 12.2643 16.0612 12.5674L16.048 16.9109C16.045 17.8918 15.0889 18.5865 14.1551 18.2862L10.02 16.9565C9.73154 16.8637 9.4212 16.8637 9.13269 16.9565L4.99767 18.2862C4.06386 18.5865 3.1077 17.8918 3.10473 16.9109L3.09157 12.5674C3.09066 12.2643 2.99476 11.9692 2.81737 11.7235L0.274937 8.20173C-0.29922 7.40642 0.0660015 6.28239 0.997978 5.97645L5.12487 4.62171C5.41281 4.52719 5.66388 4.34478 5.84275 4.10014L8.40647 0.593865Z' fill='url(%23paint0_linear)'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.57637 3.90471L8.18256 5.81096C7.64594 6.54487 6.89274 7.0921 6.02892 7.37567L3.78525 8.1122L5.16749 10.0269C5.69966 10.764 5.98736 11.6494 5.99011 12.5586L5.99726 14.9201L8.24535 14.1971C9.11087 13.9188 10.0419 13.9188 10.9074 14.1971L13.1555 14.9201L13.1626 12.5586C13.1654 11.6494 13.4531 10.764 13.9852 10.0269L15.3675 8.1122L13.1238 7.37567C12.26 7.0921 11.5068 6.54487 10.9702 5.81096L9.57637 3.90471ZM10.7463 0.593866C10.1673 -0.197955 8.98543 -0.197956 8.40647 0.593865L5.84275 4.10014C5.66388 4.34478 5.41281 4.52719 5.12487 4.62171L0.997978 5.97645C0.0660015 6.28239 -0.29922 7.40642 0.274937 8.20173L2.81737 11.7235C2.99476 11.9692 3.09066 12.2643 3.09157 12.5674L3.10473 16.9109C3.1077 17.8918 4.06386 18.5865 4.99767 18.2862L9.13269 16.9565C9.4212 16.8637 9.73154 16.8637 10.02 16.9565L14.1551 18.2862C15.0889 18.5865 16.045 17.8918 16.048 16.9109L16.0612 12.5674C16.0621 12.2643 16.158 11.9692 16.3354 11.7235L18.8778 8.20174C19.452 7.40642 19.0867 6.28239 18.1548 5.97645L14.0279 4.62171C13.7399 4.52719 13.4889 4.34478 13.31 4.10014L10.7463 0.593866Z' fill='url(%23paint1_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='14.0547' y1='0.1387' x2='9.57637' y2='18.3569' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23CC00FF'/%3E%3Cstop offset='1' stop-color='%237D00B8'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear' x1='14.0547' y1='0.1387' x2='9.57637' y2='18.3569' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23CC00FF'/%3E%3Cstop offset='1' stop-color='%237D00B8'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.freeshipping {
  position: relative;
  z-index: 1;
  text-align: center;
  margin-top: 1.8em;
}
.freeshipping span {
  display: inline-block;
  vertical-align: middle;
  width: 34px;
  height: 34px;
  background-image: url("data:image/svg+xml,%3Csvg width='36' height='35' viewBox='0 0 36 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M34.5366 1.33312C34.1891 0.986407 33.7711 0.718492 33.3109 0.547553C32.8508 0.376613 32.3592 0.306649 31.8697 0.342406C26.1535 0.770341 20.7835 3.24608 16.746 7.31498L16.2154 7.85494H9.29449C9.20092 7.85502 9.10829 7.87374 9.02203 7.91002C8.93577 7.9463 8.8576 7.9994 8.79209 8.06623L1.45329 15.5788C1.35623 15.6778 1.29056 15.8032 1.26451 15.9394C1.23845 16.0756 1.25317 16.2164 1.30682 16.3443C1.36046 16.4721 1.45065 16.5813 1.56608 16.6581C1.68151 16.7349 1.81704 16.776 1.95569 16.7761H8.70758L10.5153 18.5838C7.7726 18.6844 5.17222 19.8301 3.24691 21.786C-2.50488 27.6082 2.02612 34.2521 2.07307 34.3178C2.15889 34.4408 2.2817 34.5331 2.42363 34.5815C2.56556 34.6298 2.71921 34.6315 2.86221 34.5865C3.00522 34.5414 3.13011 34.4519 3.21873 34.331C3.30734 34.21 3.35504 34.064 3.3549 33.914C3.3549 31.6556 5.47249 29.5145 7.70747 29.5145C8.78052 29.5207 9.80729 29.9523 10.5625 30.7146C11.3178 31.4769 11.7398 32.5076 11.7361 33.5807C11.7383 33.708 11.7749 33.8323 11.8421 33.9404C11.9094 34.0486 12.0047 34.1365 12.1179 34.1947C12.2311 34.253 12.3579 34.2795 12.485 34.2715C12.6121 34.2634 12.7346 34.221 12.8395 34.1488C14.193 33.0984 15.2902 31.7542 16.0483 30.2177C16.8064 28.6812 17.2055 26.9926 17.2155 25.2793L19.0937 27.1575V33.914C19.0938 34.0532 19.1352 34.1893 19.2125 34.305C19.2899 34.4207 19.3999 34.5109 19.5285 34.5641C19.6571 34.6174 19.7986 34.6313 19.9352 34.6042C20.0717 34.5771 20.1972 34.5101 20.2957 34.4117L27.8082 26.8992C27.938 26.7696 28.0122 26.5944 28.0148 26.4109V19.6543L28.5548 19.1237C32.6237 15.0862 35.0994 9.71625 35.5273 4.00007C35.5631 3.51049 35.4931 3.01895 35.3222 2.55879C35.1512 2.09863 34.8833 1.68062 34.5366 1.33312ZM9.5903 9.26354H14.8068L8.70288 15.3675H3.62723L9.5903 9.26354ZM12.9615 32.1909C12.6587 31.0254 11.9785 29.9931 11.0272 29.255C10.0759 28.5168 8.90689 28.1144 7.70278 28.1106C5.39267 28.1106 3.24221 29.7352 2.35949 31.8669C1.5378 29.815 0.875763 26.1855 4.23762 22.7908C5.23514 21.7764 6.45125 21.0033 7.79311 20.5305C9.13498 20.0577 10.5671 19.8977 11.9802 20.0628L15.7365 23.8191C15.9266 25.3331 15.7761 26.8704 15.296 28.3189C14.8159 29.7673 14.0183 31.0901 12.9615 32.1909ZM26.6062 26.1198L20.5023 32.2237V27.1668L26.6062 21.0629V26.1198ZM27.5453 18.1377L26.8128 18.8702L26.7893 18.8937L19.798 25.8756L9.9941 16.0718L16.9948 9.07103L17.0183 9.04756L17.7508 8.32447C21.5445 4.49387 26.5925 2.15993 31.9683 1.75101C32.2572 1.7251 32.5482 1.76294 32.8209 1.86186C33.0936 1.96077 33.3412 2.11834 33.5463 2.32344C33.7514 2.52854 33.909 2.77617 34.0079 3.04884C34.1068 3.32151 34.1446 3.61257 34.1187 3.90147C33.7098 9.27723 31.3759 14.3252 27.5453 18.1189V18.1377Z' fill='%23B900E8' stroke='%23B900E8' stroke-width='0.5'/%3E%3Cpath d='M24.961 6.91354C23.9291 6.91408 22.9293 7.2724 22.1319 7.92746C21.3345 8.58253 20.7889 9.49379 20.5881 10.506C20.3873 11.5182 20.5436 12.5688 21.0305 13.4786C21.5174 14.3885 22.3047 15.1014 23.2582 15.4959C24.2118 15.8904 25.2727 15.942 26.26 15.642C27.2474 15.3421 28.1002 14.709 28.6732 13.8507C29.2462 12.9925 29.5038 11.9621 29.4023 10.9352C29.3007 9.90823 28.8463 8.94826 28.1163 8.21884C27.7028 7.80345 27.211 7.47421 26.6694 7.25015C26.1278 7.0261 25.5472 6.91168 24.961 6.91354ZM27.1209 13.534C26.6221 14.0336 25.9654 14.3449 25.2628 14.4147C24.5603 14.4845 23.8552 14.3086 23.2678 13.9168C22.6804 13.5251 22.2469 12.9419 22.0413 12.2664C21.8357 11.591 21.8707 10.8651 22.1402 10.2126C22.4098 9.55999 22.8972 9.02106 23.5196 8.68758C24.1419 8.35411 24.8606 8.24672 25.5532 8.38371C26.2458 8.5207 26.8695 8.8936 27.3181 9.43887C27.7666 9.98414 28.0122 10.6681 28.013 11.3741C28.0145 11.7752 27.9364 12.1726 27.7833 12.5434C27.6302 12.9141 27.405 13.2508 27.1209 13.534Z' fill='%23B900E8' stroke='%23B900E8' stroke-width='0.5'/%3E%3C/svg%3E%0A");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 780px) {
  .freeshipping {
    margin: 1em 0 0 0;
  }
}

/*features*/
.features {
  padding: 4.5% 0 3.5% 0;
}

.features__lead {
  font-size: 16px;
  line-height: 1.45;
  margin-bottom: 1.7em;
  text-align: center;
}
@media (min-width: 320px) {
  .features__lead {
    font-size: 18px;
    font-size: calc(0.005625 * 100vw + 14.2px);
  }
}
@media (min-width: 1920px) {
  .features__lead {
    font-size: 25px;
  }
}
.features__lead p {
  margin-bottom: 0.1em;
}
.features__lead p:last-of-type {
  margin-bottom: 0;
}

.features__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 850px) {
  .features__list {
    width: 80%;
    margin: 0 auto;
  }
}
@media (max-width: 450px) {
  .features__list {
    width: 100%;
  }
}

.features__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 30%;
}
@media (max-width: 850px) {
  .features__item {
    width: 100%;
    margin-bottom: 1.5em;
  }
  .features__item:last-of-type {
    margin-bottom: 0;
  }
}

.features__icon {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin-right: 1em;
  overflow: hidden;
  background: -o-linear-gradient(51.13deg, #eee8ff 13.97%, #eee8ff 13.97%, #fff5ff 101.08%);
  background: linear-gradient(38.87deg, #eee8ff 13.97%, #eee8ff 13.97%, #fff5ff 101.08%);
}
@media (max-width: 850px) {
  .features__icon {
    width: 65px;
    height: 65px;
  }
}

.features__text {
  width: calc(100% - 100px - 1em);
}
@media (max-width: 850px) {
  .features__text {
    width: calc(100% - 65px - 1em);
  }
}

.order {
  padding: 4.5% 0 3.5% 0;
}
.order .container {
  max-width: 1560px;
}
.order .features__list {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 850px) {
  .order .features__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.order .features__item {
  width: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}
@media (max-width: 850px) {
  .order .features__item {
    width: 100%;
    margin-bottom: 0;
  }
}
.order .arrow {
  width: 5.8%;
  padding-top: 5%;
  margin: 0 2%;
  background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 43'%3E%3Cpath d='M80 21.5L53.592 43V0L80 21.5z' fill='%23E5DAFF'/%3E%3Cpath d='M80 21.5L53.592 43V0L80 21.5z' fill='url(%23paint0_linear)'/%3E%3Cpath d='M0 8.023h57.465v25.535H0V8.023z' fill='%23E5DAFF'/%3E%3Cpath d='M0 8.023h57.465v25.535H0V8.023z' fill='url(%23paint1_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='-17.674' y1='21.269' x2='80' y2='23.001' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23fff'/%3E%3Cstop offset='1' stop-color='%23fff' stop-opacity='0'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear' x1='-17.674' y1='21.269' x2='80' y2='23.001' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23fff'/%3E%3Cstop offset='1' stop-color='%23fff' stop-opacity='0'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 850px) {
  .order .arrow {
    margin: 1% 0;
    width: 3.5em;
    padding-top: 4em;
    background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 54 66'%3E%3Cpath d='M27 66L0 33.855h54L27 66z' fill='%23E5DAFF'/%3E%3Cpath d='M27 66L0 33.855h54L27 66z' fill='url(%23paint0_linear)'/%3E%3Cpath d='M43.925 0v38.57H11.857V0h32.068z' fill='%23E5DAFF'/%3E%3Cpath d='M43.925 0v38.57H11.857V0h32.068z' fill='url(%23paint1_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='26.449' y1='0' x2='26.477' y2='40.574' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23fff'/%3E%3Cstop offset='1' stop-color='%23fff' stop-opacity='0'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear' x1='26.449' y1='0' x2='26.477' y2='40.574' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23fff'/%3E%3Cstop offset='1' stop-color='%23fff' stop-opacity='0'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
  }
}

/*plank*/
.plank {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 calc(50% - 50vw);
  max-width: 1000%;
  width: auto;
  min-height: 120px;
  margin-bottom: 20px;
  text-align: center;
}
@media (max-width: 650px) {
  .plank {
    margin: 0.5em -20px 20px -20px;
    text-align: right;
    overflow: hidden;
  }
  .plank .plank__price {
    text-align: initial;
  }
}

.plank__content {
  max-width: 550px;
  margin: 0 auto;
  display: inline-block;
  z-index: 1;
  font-size: initial;
}
@media (max-width: 850px) {
  .plank__content {
    max-width: 30%;
  }
}
@media (max-width: 650px) {
  .plank__content {
    max-width: 53%;
    text-align: initial;
    padding-left: 12px;
  }
}

.plank__title {
  font-size: 23px;
  margin-bottom: 0.5em;
  font-weight: 700;
  color: #281435;
}
@media (min-width: 320px) {
  .plank__title {
    font-size: 18px;
    font-size: calc(0.011875 * 100vw + 19.2px);
  }
}
@media (min-width: 1920px) {
  .plank__title {
    font-size: 42px;
  }
}

.plank__pic-left,
.plank__pic-right {
  width: 25%;
}
@media (max-width: 850px) {
  .plank__pic-left,
.plank__pic-right {
    width: 35%;
  }
}
.plank__pic-left img,
.plank__pic-left svg,
.plank__pic-right img,
.plank__pic-right svg {
  display: block;
  width: 100%;
}

@media (max-width: 650px) {
  .plank__pic-left {
    display: none;
  }
}

.plank__pic-right {
  display: block;
}
@media (max-width: 650px) {
  .plank__pic-right {
    width: 43%;
  }
}

.plank__price {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0.2em;
}

.plank__sale,
.sale {
  display: inline-block;
  border-radius: 3px;
  padding: 0.3em 0.5em 0.2em 0.4em;
  font-size: 17px;
  color: #6c0000;
  text-transform: uppercase;
  font-weight: 700;
  background: -webkit-gradient(linear, right top, left top, color-stop(32.29%, #ffe600), to(#ffb342));
  background: -o-linear-gradient(right, #ffe600 32.29%, #ffb342 100%);
  background: linear-gradient(270deg, #ffe600 32.29%, #ffb342 100%);
}

.plank__sale {
  font-size: 15px;
  margin-bottom: 1em;
}
@media (min-width: 320px) {
  .plank__sale {
    font-size: 18px;
    font-size: calc(0.00625 * 100vw + 13px);
  }
}
@media (min-width: 1920px) {
  .plank__sale {
    font-size: 25px;
  }
}

.plank__text {
  font-size: 16px;
  font-weight: 700;
}
@media (min-width: 320px) {
  .plank__text {
    font-size: 18px;
    font-size: calc(0.005 * 100vw + 14.4px);
  }
}
@media (min-width: 1920px) {
  .plank__text {
    font-size: 24px;
  }
}
.plank__text span {
  color: #6c14b4;
}

.catalog__list {
  margin: 0 -1.5%;
  font-size: 0;
}

.catalog__item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-size: initial;
  width: 31%;
  padding: 16px 14px 22px 14px;
  border: 1px solid #f2f2f6;
  border-bottom: none;
  border-radius: 4px 4px 0 0;
  margin: 0 1% 127px 1%;
  background-color: #fff;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  z-index: 0;
}
.catalog__item:nth-child(n+3) {
  margin: 0 1% 157px 1%;
}
.catalog__item:hover {
  -webkit-box-shadow: 7px 5px 33px rgba(0, 0, 0, 0.27);
          box-shadow: 7px 5px 33px rgba(0, 0, 0, 0.27);
  z-index: 3;
}
.catalog__item:hover .catalog__descr:hover {
  -webkit-line-clamp: 33;
  max-height: 120px;
  overflow: auto;
}
.catalog__item:hover .catalog__text {
  -webkit-box-shadow: 7px 29px 29px rgba(0, 0, 0, 0.27);
          box-shadow: 7px 29px 29px rgba(0, 0, 0, 0.27);
}
@media (max-width: 850px) {
  .catalog__item {
    width: 47.5%;
    padding: 8px 7px 15px 7px;
    margin-bottom: 20px;
  }
}
@media (max-width: 350px) {
  .catalog__item {
    width: 100%;
    margin: 0 auto;
  }
}

.catalog__pic {
  position: relative;
  padding-top: 119.877675841%;
  overflow-y: hidden;
  margin-bottom: 13px;
}
.catalog__pic img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
@media (max-width: 650px) {
  .catalog__pic {
    margin-bottom: 10px;
  }
}

.catalog__price {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.catalog__price .sale {
  margin-left: auto;
}
@media (max-width: 850px) {
  .catalog__price .sale {
    position: absolute;
    top: -4em;
    left: 10px;
  }
}
@media (max-width: 650px) {
  .catalog__price .sale {
    top: -3em;
  }
}

.catalog__price-new {
  font-size: 24px;
  font-weight: 700;
  color: #6c14b4;
}
@media (min-width: 320px) {
  .catalog__price-new {
    font-size: 16px;
    font-size: calc(0.005625 * 100vw + 22.2px);
  }
}
@media (min-width: 1920px) {
  .catalog__price-new {
    font-size: 33px;
  }
}
@media (max-width: 850px) {
  .catalog__price-new {
    margin-right: auto;
  }
}

.catalog__price-old {
  position: relative;
  margin: 0 10px;
  font-size: 14px;
  font-weight: 700;
  color: #8b8b8b;
}
@media (min-width: 320px) {
  .catalog__price-old {
    font-size: 16px;
    font-size: calc(0.00625 * 100vw + 12px);
  }
}
@media (min-width: 1920px) {
  .catalog__price-old {
    font-size: 24px;
  }
}
.catalog__price-old:before {
  content: "";
  position: absolute;
  bottom: 0.4em;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: currentColor;
}
@media (max-width: 850px) {
  .catalog__price-old {
    margin: 0;
  }
}

.catalog__descr {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow-y: hidden;
  max-height: 55px;
  margin-bottom: 1em;
  font-size: 14px;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
@media (min-width: 320px) {
  .catalog__descr {
    font-size: 18px;
    font-size: calc(0.00125 * 100vw + 13.6px);
  }
}
@media (min-width: 1920px) {
  .catalog__descr {
    font-size: 16px;
  }
}

.catalog__text {
  position: absolute;
  top: 100%;
  left: -1px;
  right: -1px;
  padding: 0 14px 22px 14px;
  border: 1px solid #f2f2f6;
  border-top: none;
  border-radius: 0 0 4px 4px;
  background-color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.footer {
  margin-top: -35px;
  background: -webkit-gradient(linear, left top, left bottom, from(#9c00c9), to(#540096));
  background: -o-linear-gradient(top, #9c00c9, #540096);
  background: linear-gradient(180deg, #9c00c9, #540096);
  border-radius: 20px 20px 0px 0px;
  padding: 4.5% 0 3.5em 0;
  font-size: 11px;
  color: #fff;
  line-height: 1.5;
  font-weight: 300;
  z-index: 1;
}
@media (min-width: 320px) {
  .footer {
    font-size: 18px;
    font-size: calc(0.003125 * 100vw + 10px);
  }
}
@media (min-width: 1920px) {
  .footer {
    font-size: 16px;
  }
}
.footer .container {
  max-width: 1700px;
}
.footer .row + .row {
  margin-top: 5%;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media (max-width: 650px) {
  .footer {
    padding: 10% 0 3.5em 0;
  }
}

.footer__title {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.2em;
}

.footer__text + .footer__text {
  margin-top: 1.2em;
}

/*popup*/
.popup-container {
  position: fixed;
  top: 7vw;
  right: 10vw;
  z-index: 10;
  -webkit-transition: top 0.3s ease-in-out;
  -o-transition: top 0.3s ease-in-out;
  transition: top 0.3s ease-in-out;
}
@media (max-width: 1550px) {
  .popup-container {
    right: 20px;
  }
}
@media (max-width: 850px) {
  .popup-container {
    top: auto;
    bottom: 8%;
  }
}
@media (max-width: 450px) {
  .popup-container {
    bottom: 10%;
    right: 10px;
  }
}
.popup-container.hide {
  top: 4vw;
}
@media (max-width: 850px) {
  .popup-container.hide {
    top: auto;
  }
}

.popup {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -99999px;
  background: -webkit-gradient(linear, left bottom, left top, from(#ffffff), to(#ffffff)), -webkit-gradient(linear, left bottom, left top, from(#eee8ff), color-stop(0.01%, #f0e9ff), color-stop(77.1%, #ffffff));
  background: -o-linear-gradient(bottom, #ffffff, #ffffff), -o-linear-gradient(bottom, #eee8ff 0%, #f0e9ff 0.01%, #ffffff 77.1%);
  background: linear-gradient(0deg, #ffffff, #ffffff), linear-gradient(0deg, #eee8ff 0%, #f0e9ff 0.01%, #ffffff 77.1%);
  width: 354px;
  padding: 2.7em 2em;
  border-radius: 8px;
  text-align: center;
  -webkit-box-shadow: 0px 5px 20px rgba(70, 0, 103, 0.43);
          box-shadow: 0px 5px 20px rgba(70, 0, 103, 0.43);
  z-index: 100;
  -webkit-transition: right 1.5s ease-in-out;
  -o-transition: right 1.5s ease-in-out;
  transition: right 1.5s ease-in-out;
  z-index: -1;
}
@media (max-width: 650px) {
  .popup {
    width: 280px;
  }
}
@media (max-width: 450px) {
  .popup {
    width: 250px;
  }
}
.popup.show {
  right: 50%;
}
.popup.promotion {
  padding: 4em 2em 2em 2em;
  background: -webkit-gradient(linear, left top, right top, color-stop(38.54%, #ffe600), to(#ffc700));
  background: -o-linear-gradient(left, #ffe600 38.54%, #ffc700 100%);
  background: linear-gradient(90deg, #ffe600 38.54%, #ffc700 100%);
}
@media (max-width: 650px) {
  .popup.promotion {
    padding: 3em 2em 2em 2em;
  }
}

.popup__promotion {
  position: relative;
  display: inline-block;
  color: #4e0000;
  letter-spacing: 0.01em;
  line-height: 1.45;
  font-weight: 500;
}
.popup__promotion:before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 105%;
  background-position: center center;
  background-repeat: no-repeat;
  width: 2em;
  height: 1.9em;
  background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 37 31'%3E%3Cpath d='M33.448 10.058l.945-.89a.83.83 0 00.194-.27.79.79 0 00-.19-.91.886.886 0 00-.287-.18.929.929 0 00-.963.185l-.983.927a13.53 13.53 0 00-5.735-2.58V4.429h.88a.909.909 0 00.623-.244.807.807 0 00.259-.587V.83a.807.807 0 00-.259-.587A.909.909 0 0027.31 0h-7.048a.909.909 0 00-.623.243.807.807 0 00-.258.587v2.768c0 .22.093.432.258.587.165.156.39.244.623.244h.88v1.91a13.53 13.53 0 00-5.734 2.58l-.983-.926a.885.885 0 00-.286-.183.928.928 0 00-.965.178.83.83 0 00-.192.271.79.79 0 00.197.908l.944.89c-2.284 2.302-3.554 5.336-3.552 8.488C10.571 25.412 16.5 31 23.786 31 31.072 31 37 25.413 37 18.545c.002-3.152-1.267-6.186-3.552-8.487zM21.143 1.66h5.286v1.107h-5.286V1.66zm1.762 2.768h1.762v1.689a14.12 14.12 0 00-1.762 0v-1.69zm.88 24.91c-6.314 0-11.452-4.842-11.452-10.794 0-5.953 5.138-10.795 11.453-10.795 6.315 0 11.452 4.842 11.452 10.795 0 5.952-5.137 10.794-11.452 10.794z' fill='%23B900E8'/%3E%3Cpath d='M23.786 9.41c-5.344 0-9.69 4.098-9.69 9.135 0 5.036 4.346 9.134 9.69 9.134 5.343 0 9.69-4.098 9.69-9.134 0-5.037-4.347-9.134-9.69-9.134zm7.88 8.304h-7v-6.596c1.787.19 3.452.947 4.723 2.145s2.074 2.768 2.276 4.451zm-7.88 8.304c-2.027 0-3.976-.732-5.448-2.044-1.472-1.313-2.355-3.107-2.468-5.014-.112-1.907.554-3.782 1.862-5.24 1.308-1.459 3.16-2.39 5.173-2.602v7.427c0 .22.093.431.258.587.165.155.39.243.623.243h7.88c-.22 1.826-1.144 3.512-2.597 4.737s-3.334 1.904-5.283 1.906zM9.69 12.732H3.817a.909.909 0 00-.622.243.807.807 0 00-.258.588c0 .22.092.43.258.587.165.155.389.243.622.243H9.69a.909.909 0 00.623-.243.807.807 0 00.258-.588.807.807 0 00-.258-.587.909.909 0 00-.623-.243zM9.397 20.205a.807.807 0 00-.258-.587.909.909 0 00-.623-.243H2.643a.909.909 0 00-.623.243.807.807 0 00-.258.587c0 .22.093.432.258.588.165.155.39.243.623.243h5.873a.909.909 0 00.623-.244.807.807 0 00.258-.587zM9.103 22.696h-4.11a.909.909 0 00-.624.244.807.807 0 00-.258.587c0 .22.093.431.258.587.165.156.39.243.623.243h4.111a.909.909 0 00.623-.243.807.807 0 00.258-.587.807.807 0 00-.258-.587.909.909 0 00-.623-.244zM9.397 16.884a.807.807 0 00-.258-.587.909.909 0 00-.623-.243H.88a.909.909 0 00-.623.243.807.807 0 00-.258.587c0 .22.093.431.258.587.165.156.39.243.623.243h7.635a.909.909 0 00.623-.243.807.807 0 00.258-.587z' fill='%23B900E8'/%3E%3C/svg%3E");
}

.popup__icon {
  position: relative;
  width: 3.3em;
  height: 3.3em;
  text-align: center;
  line-height: 3.3em;
  border-radius: 100%;
  background-color: #b900e8;
  overflow: hidden;
}
.popup__icon .score {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 21px;
  height: 21px;
  line-height: 21px;
  text-align: center;
  border-radius: 100%;
  font-size: 12px;
  color: #ff0000;
  font-weight: 700;
  background-color: #fff;
  -webkit-animation: zoom 3s 3s both infinite;
          animation: zoom 3s 3s both infinite;
}
.popup__icon .bell {
  -webkit-transform-origin: 50% 10px;
      -ms-transform-origin: 50% 10px;
          transform-origin: 50% 10px;
  -webkit-animation: ring 4.5s ease infinite;
          animation: ring 4.5s ease infinite;
}

@-webkit-keyframes ring {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  1% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  3% {
    -webkit-transform: rotate(-28deg);
            transform: rotate(-28deg);
  }
  5% {
    -webkit-transform: rotate(34deg);
            transform: rotate(34deg);
  }
  7% {
    -webkit-transform: rotate(-32deg);
            transform: rotate(-32deg);
  }
  9% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  11% {
    -webkit-transform: rotate(-28deg);
            transform: rotate(-28deg);
  }
  13% {
    -webkit-transform: rotate(26deg);
            transform: rotate(26deg);
  }
  15% {
    -webkit-transform: rotate(-24deg);
            transform: rotate(-24deg);
  }
  17% {
    -webkit-transform: rotate(22deg);
            transform: rotate(22deg);
  }
  19% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  21% {
    -webkit-transform: rotate(18deg);
            transform: rotate(18deg);
  }
  23% {
    -webkit-transform: rotate(-16deg);
            transform: rotate(-16deg);
  }
  25% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  27% {
    -webkit-transform: rotate(-12deg);
            transform: rotate(-12deg);
  }
  29% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  31% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  33% {
    -webkit-transform: rotate(6deg);
            transform: rotate(6deg);
  }
  35% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  37% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  39% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
  41% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
  43% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes ring {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  1% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  3% {
    -webkit-transform: rotate(-28deg);
            transform: rotate(-28deg);
  }
  5% {
    -webkit-transform: rotate(34deg);
            transform: rotate(34deg);
  }
  7% {
    -webkit-transform: rotate(-32deg);
            transform: rotate(-32deg);
  }
  9% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  11% {
    -webkit-transform: rotate(-28deg);
            transform: rotate(-28deg);
  }
  13% {
    -webkit-transform: rotate(26deg);
            transform: rotate(26deg);
  }
  15% {
    -webkit-transform: rotate(-24deg);
            transform: rotate(-24deg);
  }
  17% {
    -webkit-transform: rotate(22deg);
            transform: rotate(22deg);
  }
  19% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  21% {
    -webkit-transform: rotate(18deg);
            transform: rotate(18deg);
  }
  23% {
    -webkit-transform: rotate(-16deg);
            transform: rotate(-16deg);
  }
  25% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  27% {
    -webkit-transform: rotate(-12deg);
            transform: rotate(-12deg);
  }
  29% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  31% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  33% {
    -webkit-transform: rotate(6deg);
            transform: rotate(6deg);
  }
  35% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  37% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  39% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
  41% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
  43% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
@-webkit-keyframes zoom {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  10% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes zoom {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  10% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.popup__text {
  font-size: 14px;
  font-weight: 700;
}
@media (min-width: 320px) {
  .popup__text {
    font-size: 18px;
    font-size: calc(0.0025 * 100vw + 13.2px);
  }
}
@media (min-width: 1920px) {
  .popup__text {
    font-size: 18px;
  }
}
.popup__text p {
  margin-bottom: 0.3em;
}
.popup__text p:last-child {
  margin-bottom: 0;
}

.rating {
  margin: 0.9em 0;
}
@media (max-width: 650px) {
  .rating {
    margin: 0.3em 0;
  }
}

.raiting__list {
  font-size: 0;
}
.raiting__list li {
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  margin: 0 1px;
  background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 19 18'%3E%3Cpath d='M9.426.001L12.65 4.99l5.74 1.525-3.747 4.608.323 5.93-5.54-2.14-5.54 2.14.322-5.93L.461 6.514l5.74-1.525L9.426 0z' fill='url(%23paint0_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='9.426' y1='.001' x2='9.426' y2='18.853' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FFE934'/%3E%3Cstop offset='.714' stop-color='%23FFD600'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
  background-size: cover;
  background-position: center center;
}
@media (max-width: 650px) {
  .raiting__list li {
    width: 10px;
    height: 10px;
  }
}

.btn {
  min-width: 300px;
  padding: 1.1em 1.5em;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  color: #fff;
  background: #b900e8;
  text-align: center;
}
@media (min-width: 320px) {
  .btn {
    font-size: 18px;
    font-size: calc(0.003125 * 100vw + 17px);
  }
}
@media (min-width: 1920px) {
  .btn {
    font-size: 23px;
  }
}
.btn--slim {
  min-width: auto;
  width: 100%;
  padding: 0.5em 1.5em;
  font-size: 13px;
}
@media (min-width: 320px) {
  .btn--slim {
    font-size: 18px;
    font-size: calc(0.004375 * 100vw + 11.6px);
  }
}
@media (min-width: 1920px) {
  .btn--slim {
    font-size: 20px;
  }
}
.btn:hover {
  background: #d738ff;
}

.menu-trigger {
  display: none;
  padding: 10px 15px;
}
@media (max-width: 780px) {
  .menu-trigger {
    display: block;
  }
  .menu-trigger span {
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
    padding: 9px 0;
    background-clip: content-box;
    background-color: #fff;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  .menu-trigger span:before, .menu-trigger span:after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
            transform: rotate(0);
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  .menu-trigger span:before {
    top: 0;
  }
  .menu-trigger span:after {
    bottom: 0;
  }
  .menu-trigger.open span {
    background-color: transparent;
  }
  .menu-trigger.open span:before {
    top: 9px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .menu-trigger.open span:after {
    bottom: 9px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

.popup__close {
  position: absolute;
  top: 17px;
  right: 17px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.popup__close:before, .popup__close:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #b900e8;
}
.popup__close:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.popup__close:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
/*# sourceMappingURL=main.css.map */