*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}
li{
    list-style: none;
}
a{
  text-decoration: none;
	outline: none;
	border: none;
	display: inline-block;
}
textarea{
    overflow: auto;
    resize: none;
}
img{
	border: none;
	outline: none;
}
.clearfix{
    clear: both;
}

input:focus {
  outline: none;
}
textarea:focus{
    outline: none;
}


input:focus:-ms-input-placeholder{
    color: transparent;
}
input:focus::-moz-placeholder{
    color: transparent;
}
input:focus:-moz-placeholder{
    color: transparent;
}
input:focus::-webkit-input-placeholder{
    color: transparent;
}
input:focus:placeholder-shown{
    color: transparent;
}

textarea:focus:-ms-input-placeholder{
    color: transparent;
}
textarea:focus::-moz-placeholder{
    color: transparent;
}
textarea:focus:-moz-placeholder{
    color: transparent;
}
textarea:focus::-webkit-input-placeholder{
    color: transparent;
}
textarea:focus:placeholder-shown{
    color: transparent;
}

.cf:after {
	clear: both;
	content: "";
	display: table;
}

/*Адаптивность картинок и видео*/
img{
  max-width: 100%;
  height: auto;
}

.vidres{
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
}

.vidres iframe, .vidres embed, .vidres object{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}