@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
  border: none;
  display: inline-block;
}

textarea {
  overflow: auto;
  resize: none;
}

img {
  border: none;
  outline: none;
}

.clearfix {
  clear: both;
}

input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:placeholder-shown {
  color: transparent;
}

textarea:focus:-ms-input-placeholder {
  color: transparent;
}

textarea:focus::-moz-placeholder {
  color: transparent;
}

textarea:focus:-moz-placeholder {
  color: transparent;
}

textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

textarea:focus:placeholder-shown {
  color: transparent;
}

.cf:after {
  clear: both;
  content: "";
  display: table;
}

/*Адаптивность картинок и видео*/
img {
  max-width: 100%;
  height: auto;
}

.vidres {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
}

.vidres iframe, .vidres embed, .vidres object {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

@font-face {
  font-family: 'proxima';
  src: local("lol");
  src: url("../fonts/proxima-nova-regular.woff2") format("woff2"), url("../fonts/proxima-nova-regular.woff") format("woff"), url("../fonts/proxima-nova-regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'novecento';
  src: local("lol");
  src: url("../fonts/novecentowide-light-webfont.woff2") format("woff2"), url("../fonts/novecentowide-light-webfont.woff") format("woff"), url("../fonts/novecentowide-light-webfont.svg#novecento_widelight") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'novecento';
  src: local("lol");
  src: url("../fonts/novecentowide-medium-webfont.woff2") format("woff2"), url("../fonts/novecentowide-medium-webfont.woff") format("woff"), url("../fonts/novecentowide-medium-webfont.svg#novecento_widemedium") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'novecento';
  src: local("lol");
  src: url("../fonts/novecentowide-normal-webfont.woff2") format("woff2"), url("../fonts/novecentowide-normal-webfont.woff") format("woff"), url("../fonts/novecentowide-normal-webfont.svg#novecento_widenormal") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ostrich';
  src: local("lol");
  src: url("../fonts/ostrich-regular-webfont.woff2") format("woff2"), url("../fonts/ostrich-regular-webfont.woff") format("woff"), url("../fonts/ostrich-regular-webfont.svg#ostrich_sansmedium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ostrich_black';
  src: local("lol");
  src: url("../fonts/ostrichsans-black-webfont.woff2") format("woff2"), url("../fonts/ostrichsans-black-webfont.woff") format("woff"), url("../fonts/ostrichsans-black-webfont.svg#ostrich_sansblack") format("svg");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  font-size: 16px;
}

section {
  position: relative;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  position: relative;
  max-width: 1600px;
  height: auto;
  margin: 0 auto;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}

footer {
  height: 100px;
  margin: 70px 0 0 0;
}

header {
  background: #2a323a;
  padding: 50px 0;
}

.main__menu {
  text-align: justify;
}

.main__menu:after {
  content: '';
  width: 100%;
  height: 0;
  display: inline-block;
}

.nav__link {
  color: #fff;
  font: bold 14px/2 'proxima';
  text-transform: uppercase;
  vertical-align: middle;
}

.logo {
  display: inline-block;
}

.logo .nav__link-logo {
  color: #f39c12;
  font: bolder 2.5rem "novecento";
}

.logo-responsiv {
  display: none;
}

.nav__hide {
  display: none;
}

.nav__trigger {
  display: none;
}

.preference {
  background: #2a323a;
  margin: 0 0 12.5rem 0;
}

.preference:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: inherit;
  z-index: -1;
  bottom: 0;
  transform-origin: right bottom;
  transform: skewY(-8deg);
}

.preferens-foto__container {
  text-align: center;
}

.descriptions {
  padding: 0 0 9.375rem 0;
  background: #fff;
  z-index: 1;
}

.descriptions:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: inherit;
  z-index: -1;
  bottom: 0;
  transform-origin: left bottom;
  transform: skewY(9deg);
}

.descriptions .row {
  margin: 0 0 12.5rem 0;
}

.descriptions .row + .row {
  margin: 0;
}

.descriptions .col {
  vertical-align: middle;
}

.dscr__header {
  font: 24px/1 'ostrich_black';
  color: #222;
  margin: 0 0 25px 0;
  text-transform: uppercase;
}

.dscr__text {
  font: 300 16px/1 'proxima';
  color: #222;
  margin: 0 0 30px 0;
}

.registration {
  background: -webkit-radial-gradient(circle at center -10%, #222 50%, #2a323a 50%);
  background: -o-radial-gradient(circle at center -10%, #222 50%, #2a323a 50%);
  background: -moz-radial-gradient circle at center -10%, #222 50%, #2a323a 50%;
  background: radial-gradient(circle at center -10%, #222 50%, #2a323a 50%);
  padding: 26.25rem 0 0;
}

.registration:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: inherit;
  z-index: -1;
  bottom: 0;
  transform-origin: left bottom;
  transform: skewY(6deg);
}

.registration__text {
  color: #fff;
  font: 30px/1 'ostrich_black';
  text-transform: uppercase;
  text-align: center;
  margin: 33px 0 0 0;
}

.btn__register {
  width: 215px;
  height: 55px;
  background: transparent;
  border-radius: 30px 30px;
  border: 3px solid #2ecc71;
  font: bolder 24px/1 'proxima';
  color: #2ecc71;
  margin: 28px 0 0 0;
}

.testimonials {
  padding: 10rem 0 0;
}

.testimonials:after {
  content: '';
  width: 100%;
  height: 50%;
  position: absolute;
  background: #fff;
  z-index: -1;
  bottom: 0;
  left: 0;
  right: 0;
  transform-origin: 100%;
  transform: skewY(-6deg);
}

.stn__header {
  color: #000;
  font: 300 30px/1 'ostrich_black';
  text-align: center;
  text-transform: uppercase;
}

.testimonial {
  width: 100%;
  margin: 80px 0 0 0;
}

.testimonial__text {
  position: relative;
  color: #2a323a;
  font: 500 16px/1 'proxima';
  padding: 0 0 23px 0;
  background: linear-gradient(to top, #a1a1a1 20px, transparent 0) right, linear-gradient(to right, #a1a1a1 165px, #a1a1a1 0) bottom;
  background-repeat: no-repeat;
  background-size: 2px 100%, 100% 2px;
}

.testimonial__text:after {
  content: '';
  position: absolute;
  top: 100%;
  right: 183px;
  width: 30px;
  height: 24px;
  border-right: 2px solid #a1a1a1;
  border-bottom: 2px solid #a1a1a1;
  transform: skewY(39deg);
  transform-origin: 100% 50%;
  background: #fff;
}

.testimonial__content {
  text-align: right;
  padding: 13px 0 0 0;
}

.testimonial__pic {
  width: 46px;
  height: 46px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  margin: 0 10px 0 0;
  overflow: hidden;
}

.testimonial__title {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}

.testimonial__title .testimonial__header {
  font: bold 16px/1 'proxima';
  color: #2a323a;
}

.testimonial__title small {
  display: block;
  color: #a1a1a1;
  font: 300 14px/1 'proxima';
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -100;
  height: 100%;
}

.contacts {
  padding: 15.625rem 0 0 0;
}

.contacts:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2a323a;
  opacity: .8;
  z-index: -2;
}

.adress {
  font: 16px/1 'proxima';
  color: #fff;
}

.adress span {
  display: block;
  text-transform: uppercase;
}

.adress .adress__link {
  color: #2ecc71;
  padding: 0 0 10px 0;
}

.logo-small {
  color: #f39c12;
  font: bolder 24px/1 'ostrich_black';
  margin: 0 0 25px 0;
}

.location {
  margin: 0 0 25px 0;
}

.main__menu-footer {
  text-align: center;
  border-left: 1px dotted #fff;
  border-right: 1px dotted #fff;
}

.nav__link-footer {
  display: block;
}

.social__item {
  display: inline-block;
  width: 17px;
  height: 17px;
}

.social__item .social__link {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 7px 0 0;
  background: url(../img/icon.png) no-repeat;
}

.social__item .social__link-fb {
  background-position: -27px 0;
}

.social__item .social__link-tv {
  background-position: -51px 0;
}

.input__group {
  position: relative;
  width: 100%;
  border-bottom: 1px solid #a1a1a1;
  height: 33px;
}

.input__group .subscribe__input {
  width: 100%;
  height: 33px;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  text-transform: uppercase;
  font: 16px/1 'proxima';
}

.input__group .subscribe__btn {
  width: 60px;
  height: 33px;
  position: absolute;
  top: 0;
  right: 0;
  background: url(../img/icon.png) 36px 5px no-repeat;
  border: none;
  outline: none;
  cursor: pointer;
}

.subscribe__text {
  padding: 30px 0 0 0;
  color: #fff;
  font: 30px/1 'ostrich';
  text-transform: uppercase;
}

footer {
  color: #fff;
  font: bold 14px/1 'proxima';
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 16px;
  }
}

@media screen and (max-width: 900px) {
  html {
    font-size: 15px;
  }
}

@media screen and (max-width: 720px) {
  html {
    font-size: 14px;
  }
  .header__menu .logo {
    display: none;
  }
  .header__menu .logo-responsiv {
    display: inline-block;
    float: left;
  }
  .main__menu {
    position: absolute;
    top: 0;
    left: 9999px;
    opacity: 0;
    -webkit-transition: top 0.3s ease-in-out;
    -ms-transition: top 0.3s ease-in-out;
    -moz-transition: top 0.3s ease-in-out;
    -o-transition: top 0.3s ease-in-out;
    transition: top 0.3s ease-in-out;
    z-index: 5;
  }
  .main__menu .nav__link {
    display: block;
    font-size: 25px;
    padding: 20px 0;
    border-bottom: 2px dotted #fff;
    background: #2a323a;
  }
  .main__menu:after {
    content: none;
  }
  .nav__trigger {
    width: 40px;
    height: 40px;
    display: block;
    position: relative;
    float: right;
    border-bottom: 3px solid #f39c12;
    border-top: 3px solid #f39c12;
    cursor: pointer;
    -webkit-transition: transform 0.3s;
    -ms-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
  }
  .nav__trigger:after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background: #f39c12;
    position: absolute;
    top: 50%;
  }
  .nav__hide:checked ~ .main__menu {
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 1;
    width: 100%;
  }
  .photo__dscr {
    text-align: center;
  }
  .photo__dscr .descr__img {
    width: 100%;
  }
  .nav__hide:checked + .nav__trigger {
    transform: rotate(90deg);
  }
  .testimonials {
    padding: 5rem 0;
  }
  .main__menu-footer {
    height: 46px;
    text-align: justify;
    margin: 50px 0;
    border: none;
    border-top: 1px dotted #fff;
    border-bottom: 1px dotted #fff;
  }
  .main__menu-footer .nav__link-footer {
    display: inline-block;
    line-height: 46px;
  }
  .main__menu-footer:after {
    content: '';
    width: 100%;
    height: 0;
    display: inline-block;
  }
}

@media screen and (max-width: 500px) {
  html {
    font-size: 13px;
  }
  .logo.logo-responsiv .nav__link-logo {
    font-size: 20px;
  }
}

@media screen and (max-width: 400px) {
  html {
    font-size: 13px;
  }
}

.row {
  list-style: none;
  position: relative;
}

.col--2-of-2, .col--3-of-3, .col--4-of-4, .col--5-of-5, .col--6-of-6, .col--8-of-8, .col--12-of-12 {
  width: 100%;
}

.col--1-of-2, .col--2-of-4, .col--3-of-6, .col--4-of-8, .col--6-of-12 {
  width: 50%;
}

.col--1-of-3, .col--2-of-6, .col--4-of-12 {
  width: 33.33333%;
}

.col--2-of-3, .col--4-of-6, .col--8-of-12 {
  width: 66.66667%;
}

.col--1-of-4, .col--2-of-8, .col--3-of-12 {
  width: 25%;
}

.col--3-of-4, .col--6-of-8, .col--9-of-12 {
  width: 75%;
}

.col--push-2-of-2, .col--push-3-of-3, .col--push-4-of-4, .col--push-5-of-5, .col--push-6-of-6, .col--push-8-of-8, .col--push-12-of-12 {
  margin-left: 100%;
}

.col--push-1-of-2, .col--push-2-of-4, .col--push-3-of-6, .col--push-4-of-8, .col--push-6-of-12 {
  margin-left: 50%;
}

.col--push-1-of-3, .col--push-2-of-6, .col--push-4-of-12 {
  margin-left: 33.33333%;
}

.col--push-2-of-3, .col--push-4-of-6, .col--push-8-of-12 {
  margin-left: 66.66667%;
}

.col--push-1-of-4, .col--push-2-of-8, .col--push-3-of-12 {
  margin-left: 25%;
}

.col--push-3-of-4, .col--push-6-of-8, .col--push-9-of-12 {
  margin-left: 75%;
}

.col--pull-2-of-2, .col--pull-3-of-3, .col--pull-4-of-4, .col--pull-5-of-5, .col--pull-6-of-6, .col--pull-8-of-8, .col--pull-12-of-12 {
  margin-left: -100%;
}

.col--pull-1-of-2, .col--pull-2-of-4, .col--pull-3-of-6, .col--pull-4-of-8, .col--pull-6-of-12 {
  margin-left: -50%;
}

.col--pull-1-of-3, .col--pull-2-of-6, .col--pull-4-of-12 {
  margin-left: -33.33333%;
}

.col--pull-2-of-3, .col--pull-4-of-6, .col--pull-8-of-12 {
  margin-left: -66.66667%;
}

.col--pull-1-of-4, .col--pull-2-of-8, .col--pull-3-of-12 {
  margin-left: -25%;
}

.col--pull-3-of-4, .col--pull-6-of-8, .col--pull-9-of-12 {
  margin-left: -75%;
}

.col--1-of-5 {
  width: 20%;
}

.col--push-1-of-5 {
  margin-left: 20%;
}

.col--pull-1-of-5 {
  margin-left: -20%;
}

.col--2-of-5 {
  width: 40%;
}

.col--push-2-of-5 {
  margin-left: 40%;
}

.col--pull-2-of-5 {
  margin-left: -40%;
}

.col--3-of-5 {
  width: 60%;
}

.col--push-3-of-5 {
  margin-left: 60%;
}

.col--pull-3-of-5 {
  margin-left: -60%;
}

.col--4-of-5 {
  width: 80%;
}

.col--push-4-of-5 {
  margin-left: 80%;
}

.col--pull-4-of-5 {
  margin-left: -80%;
}

.col--1-of-6 {
  width: 16.66667%;
}

.col--push-1-of-6 {
  margin-left: 16.66667%;
}

.col--pull-1-of-6 {
  margin-left: -16.66667%;
}

.col--5-of-6 {
  width: 83.33333%;
}

.col--push-5-of-6 {
  margin-left: 83.33333%;
}

.col--pull-5-of-6 {
  margin-left: -83.33333%;
}

.col--1-of-8 {
  width: 12.5%;
}

.col--push-1-of-8 {
  margin-left: 12.5%;
}

.col--pull-1-of-8 {
  margin-left: -12.5%;
}

.col--3-of-8 {
  width: 37.5%;
}

.col--push-3-of-8 {
  margin-left: 37.5%;
}

.col--pull-3-of-8 {
  margin-left: -37.5%;
}

.col--5-of-8 {
  width: 62.5%;
}

.col--push-5-of-8 {
  margin-left: 62.5%;
}

.col--pull-5-of-8 {
  margin-left: -62.5%;
}

.col--7-of-8 {
  width: 87.5%;
}

.col--push-7-of-8 {
  margin-left: 87.5%;
}

.col--pull-7-of-8 {
  margin-left: -87.5%;
}

.col--1-of-12 {
  width: 8.33333%;
}

.col--push-1-of-12 {
  margin-left: 8.33333%;
}

.col--pull-1-of-12 {
  margin-left: -8.33333%;
}

.col--2-of-12 {
  width: 16.66667%;
}

.col--push-2-of-12 {
  margin-left: 16.66667%;
}

.col--pull-2-of-12 {
  margin-left: -16.66667%;
}

.col--5-of-12 {
  width: 41.66667%;
}

.col--push-5-of-12 {
  margin-left: 41.66667%;
}

.col--pull-5-of-12 {
  margin-left: -41.66667%;
}

.col--7-of-12 {
  width: 58.33333%;
}

.col--push-7-of-12 {
  margin-left: 58.33333%;
}

.col--pull-7-of-12 {
  margin-left: -58.33333%;
}

.col--10-of-12 {
  width: 83.33333%;
}

.col--push-10-of-12 {
  margin-left: 83.33333%;
}

.col--pull-10-of-12 {
  margin-left: -83.33333%;
}

.col--11-of-12 {
  width: 91.66667%;
}

.col--push-11-of-12 {
  margin-left: 91.66667%;
}

.col--pull-11-of-12 {
  margin-left: -91.66667%;
}

.col {
  box-sizing: border-box;
  display: inline-block;
  margin-right: -.25em;
  min-height: 1px;
  padding-left: 20px;
  vertical-align: top;
}

@media (max-width: 700px) {
  .col {
    display: block;
    margin-left: 0;
    margin-right: 0;
    width: auto;
  }
}

@media (max-width: 700px) and (min-width: 480px) {
  .col[class*="col--m-"] {
    display: inline-block;
    margin-right: -.24em;
  }
  .col.col--m-1-of-2, .col.col--m-2-of-4 {
    width: 50%;
  }
  .col.col--m-1-of-3 {
    width: 33.33333%;
  }
  .col.col--m-2-of-3 {
    width: 66.66667%;
  }
  .col.col--m-1-of-4 {
    width: 25%;
  }
  .col.col--m-3-of-4 {
    width: 75%;
  }
}

@media (max-width: 480px) {
  .col[class*="col--s-"] {
    display: inline-block;
    margin-right: -.24em;
  }
  .col.col--s-1-of-2, .col.col--s-2-of-4 {
    width: 50%;
  }
  .col.col--s-1-of-3 {
    width: 33.33333%;
  }
  .col.col--s-2-of-3 {
    width: 66.66667%;
  }
  .col.col--s-1-of-4 {
    width: 25%;
  }
  .col.col--s-3-of-4 {
    width: 75%;
  }
}

.col--centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.col--d-first {
  float: left;
}

.col--d-last {
  float: right;
}

.row--no-gutter {
  margin-left: 0;
  width: 100%;
}

.row--no-gutter .col {
  padding-left: 0;
}

.row--no-gutter .col--span-all {
  margin-left: 0;
  width: 100%;
}

.col--ab {
  vertical-align: bottom;
}

.col--am {
  vertical-align: middle;
}

/*# sourceMappingURL=style.css.map */