@-ms-viewport {
  width: device-width;
  initial-scale: 1; }
@-moz-viewport {
  width: device-width;
  initial-scale: 1; }
@-webkit-viewport {
  width: device-width;
  initial-scale: 1; }
*, :before, :after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  min-height: 100%; }

body {
  position: relative;
  min-height: 100%;
  overflow: auto;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-overflow-scrolling: touch;
  -ms-touch-action: manipulation;
  touch-action: manipulation; }

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block; }

video, audio, canvas {
  display: inline-block; }

span {
  display: inline-block; }

a, input, button, textarea, optgroup, select, fieldset, figure, legend, address {
  font: inherit;
  color: inherit;
  line-height: inherit;
  text-transform: inherit;
  text-shadow: inherit;
  border: none;
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  margin: 0;
  padding: 0; }

a, button, [type='button'], [type='submit'] {
  -webkit-transition: color .25s, background .25s, opacity .25s;
  -o-transition: color .25s, background .25s, opacity .25s;
  transition: color .25s, background .25s, opacity .25s; }

a {
  cursor: pointer;
  text-decoration: none;
  -webkit-text-decoration-skip: none; }

button {
  overflow: visible;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit; }

p {
  margin: 0;
  overflow: hidden; }

b, strong {
  font-weight: 700; }

img, svg, embed, object, iframe, video, audio, canvas {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  border: 0; }

img {
  image-rendering: optimizeQuality; }

svg {
  color: inherit; }
  svg:not(:root) {
    overflow: hidden; }

progress {
  vertical-align: baseline; }

h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility;
  font: inherit;
  color: inherit;
  margin: 0; }

ul, ol, menu {
  margin: 0;
  padding: 0;
  list-style: none; }

input, select, button, button > *, a > * {
  display: inline-block;
  vertical-align: middle; }

button, label, select, summary, [type='button'], [type='submit'], [type='reset'], [type='checkbox'], [type='radio'], [type='range'] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer; }

[type='button'], [type='submit'], [type='search'], [type="radio"], [type='range'], ::-webkit-search-cancel-button, ::-webkit-search-decoration, ::-webkit-outer-spin-button, ::-webkit-inner-spin-button, ::-webkit-slider-thumb {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

::-webkit-contacts-auto-fill-button, ::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  right: 0; }

:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 1000px #fff;
  box-shadow: inset 0 0 0 1000px #fff; }

::-webkit-details-marker {
  display: none; }

[type="radio"] {
  -webkit-appearance: radio; }

[type='number'] {
  -moz-appearance: textfield; }

::-ms-clear, ::-ms-reveal {
  display: none; }

input, textarea {
  width: 100%; }

input {
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis; }

textarea {
  overflow: auto;
  resize: none; }

:active, :hover, :focus {
  outline: 0;
  outline-offset: 0; }

:disabled {
  pointer-events: none; }

::-moz-focus-outer, ::-moz-focus-inner {
  border: 0;
  padding: 0; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

td, th {
  padding: 0;
  text-align: center; }

article p:not(:empty) {
  margin-top: .7em;
  margin-bottom: .7em; }
article img, article embed, article object, article iframe, article video {
  display: block;
  margin: auto; }
article span {
  display: inline; }
article ul, article ol, article menu {
  margin-top: .7em;
  margin-bottom: .7em; }
  article ul ul, article ul ol, article ul menu, article ol ul, article ol ol, article ol menu, article menu ul, article menu ol, article menu menu {
    margin: 0;
    padding-left: 1.3em; }
  article ul > li:before, article ol > li:before, article menu > li:before {
    margin-right: .7em; }
  article ul > li p, article ol > li p, article menu > li p {
    display: inline; }
article ul > li:before, article menu > li:before {
  content: '';
  width: .4em;
  height: .4em;
  display: inline-block;
  vertical-align: 10%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #000;
  border: 1px solid #000; }
article ul > li li:before, article menu > li li:before {
  background: transparent; }
article ol {
  counter-reset: count; }
  article ol > li:before {
    content: counter(count) ".";
    counter-increment: count; }

html {
  font-family: "Rubik", sans-serif;
  color: #181818;
  font-size: 20px;
  line-height: 1; }

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.wrapper {
  position: relative;
  min-width: 320px;
  min-height: 100vh;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  overflow: hidden; }

.footer {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0; }

a {
  display: inline-block;
  vertical-align: middle; }

.container {
  position: relative;
  max-width: 1280px;
  min-width: 320px;
  padding: 0 20px;
  margin: 0 auto;
  z-index: 1; }

img {
  display: inline-block;
  max-width: 100%; }

/*helpers*/
.center {
  text-align: center; }

.light {
  color: #fff; }

.accent {
  color: #E32A61; }

.medium {
  color: #8c8c8ce7; }

/*typografy*/
.section__title {
  font-size: 30px;
  margin-bottom: 0.5em;
  font-weight: bold;
  text-align: center; }
  @media (min-width: 400px) {
    .section__title {
      font-size: 20px;
      font-size: calc( 0.0098684211 * 100vw + 26.0526315789px ); } }
  @media (min-width: 1920px) {
    .section__title {
      font-size: 45px; } }

p {
  line-height: 1.3; }
  @media (max-width: 600px) {
    p {
      font-size: 23px; } }

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .row--rewerse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; }
    @media (max-width: 600px) {
      .row--rewerse {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row; } }

.col {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 400px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 48%;
  -ms-flex: 0 1 48%;
  flex: 0 1 48%; }
  @media (max-width: 700px) {
    .col {
      -webkit-box-flex: 1 !important;
      -webkit-flex: 1 1 100% !important;
      -ms-flex: 1 1 100% !important;
      flex: 1 1 100% !important;
      min-height: auto; } }
  .col-right {
    margin-left: auto; }
    @media (max-width: 700px) {
      .col-right {
        margin: 0 auto; } }
  .col-left {
    margin-right: auto; }
    @media (max-width: 700px) {
      .col-left {
        margin: 0 auto; } }
  .col--pic {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%; }
    @media (max-width: 700px) {
      .col--pic {
        position: relative;
        margin-bottom: 30px; } }
    .col--pic img {
      display: block;
      margin: 0 auto;
      height: 100%;
      -o-object-fit: contain;
      object-fit: contain; }
      @media (max-width: 700px) {
        .col--pic img {
          height: auto; } }
    .col--pic.left {
      margin-right: auto;
      right: 108%; }
      @media (max-width: 700px) {
        .col--pic.left {
          right: auto; } }
    .col--pic.right {
      margin-left: auto;
      left: 108%; }
      @media (max-width: 700px) {
        .col--pic.right {
          left: auto; } }
  .col-40 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 40%;
    -ms-flex: 0 1 40%;
    flex: 0 1 40%; }
  .col-60 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 60%;
    -ms-flex: 0 1 60%;
    flex: 0 1 60%; }

.reality__icon, .reasons__icon {
  width: 72px;
  height: 72px;
  margin: 0 auto;
  text-align: center;
  line-height: 72px;
  overflow: hidden;
  -webkit-border-radius: 100%;
  border-radius: 100%; }

.bullit li {
  position: relative;
  padding-left: 50px;
  margin-bottom: 1em; }
  .bullit li:before {
    content: '';
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    width: 40px;
    height: 40px;
    background: url(../img/bullit.png) center center/contain no-repeat; }
  .bullit li:last-child {
    margin-bottom: 0; }

.shild {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  top: -25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 113px;
  padding: 1em 0 .5em 0;
  font-size: 23px;
  text-align: center;
  color: #fff;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(55.02%, #E32A61), color-stop(212.4%, #C51FFF)), #E32A61;
  background: -webkit-linear-gradient(bottom, #E32A61 55.02%, #C51FFF 212.4%), #E32A61;
  background: -o-linear-gradient(bottom, #E32A61 55.02%, #C51FFF 212.4%), #E32A61;
  background: linear-gradient(0deg, #E32A61 55.02%, #C51FFF 212.4%), #E32A61;
  -webkit-border-radius: 4px;
  border-radius: 4px; }
  @media (min-width: 400px) {
    .shild {
      font-size: 20px;
      font-size: calc( -0.0046052632 * 100vw + 24.8421052632px ); } }
  @media (min-width: 1920px) {
    .shild {
      font-size: 16px; } }
  .shild:after {
    content: '';
    position: absolute;
    top: 96%;
    left: 0;
    width: 100%;
    height: 28%;
    background: url(../img/trngl.svg) center top/100% auto no-repeat; }
  @media (max-width: 600px) {
    .shild {
      top: -40px;
      width: 180px; }
      .shild:after {
        height: 35%; } }

.shild__sale {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 100%;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  margin: 2px 0;
  font-size: 45px; }
  @media (min-width: 400px) {
    .shild__sale {
      font-size: 20px;
      font-size: calc( -0.0059210526 * 100vw + 47.3684210526px ); } }
  @media (min-width: 1920px) {
    .shild__sale {
      font-size: 36px; } }

.shild__prime {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px; }

/*.reviews*/
.reviews {
  padding: 70px 0 50px 0;
  background-position: 8% 20%, 90% 85%;
  background-repeat: no-repeat; }
  @media (max-width: 1200px) {
    .reviews {
      background-image: url(../img/5.png) !important;
      background-position: 50% 50%; } }
  .reviews .swiper-button-prev {
    left: 10%; }
    @media (max-width: 700px) {
      .reviews .swiper-button-prev {
        left: 0;
        top: 200px;
        margin-top: 0; } }
  .reviews .swiper-button-next {
    right: 10%; }
    @media (max-width: 700px) {
      .reviews .swiper-button-next {
        right: 0;
        top: 200px;
        margin-top: 0; } }

.reviews__slider {
  max-width: 900px; }

.reviews__item {
  width: 45%;
  padding: 40px 30px;
  border: 1px solid #EFEFEF;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
  font-size: 17px;
  font-weight: 300;
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  background: rgba(255, 255, 255, 0.7); }

.reviews__ava {
  width: 173px;
  height: 173px;
  margin: 0 auto 20px auto;
  -webkit-box-shadow: 0px 4px 15px rgba(24, 24, 24, 0.18);
  box-shadow: 0px 4px 15px rgba(24, 24, 24, 0.18);
  -webkit-border-radius: 2px;
  border-radius: 2px; }
  .reviews__ava img {
    display: block;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }
  @media (max-width: 700px) {
    .reviews__ava {
      width: 113px;
      height: 113px; } }

.reviews__autor {
  margin-bottom: 17px;
  font-size: 20px;
  text-align: center; }

.reviews__url a {
  position: relative;
  padding-left: 50px;
  margin-bottom: 20px;
  font-size: 15px;
  word-break: break-all; }
  .reviews__url a:before {
    content: '';
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    width: 30px;
    height: 30px; }
.reviews__url [href*="://www."]:before {
  background-color: green; }
.reviews__url [href*="instagram"]:before {
  background-color: red; }
.reviews__url [href*="vk.com"]:before {
  background-color: blue; }

.price__timer {
  position: absolute;
  width: 100%;
  right: 100%;
  bottom: 40px;
  z-index: 1;
  text-align: center; }
  .price__timer p {
    font-size: 16px;
    margin-bottom: 10px;
    color: #E32A61; }
  .price__timer .timer {
    font-size: 36px;
    color: #fff; }
  @media (max-width: 700px) {
    .price__timer {
      position: relative;
      right: 0;
      bottom: 0;
      margin-top: 40px; } }

.hero {
  position: relative;
  min-height: auto;
  padding: 30px 0 120px 0;
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-position: 80% 0;
  background-repeat: no-repeat; }
  @media (min-width: 1650px) {
    .hero {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      min-height: 95vh;
      padding: 50px 0 80px 0;
      background-position: 20% 0; } }
  @media (max-width: 700px) {
    .hero {
      background-image: none !important;
      padding: 0; } }
  .hero .section__title {
    line-height: 1.1;
    margin-bottom: 20px; }
  .hero .section__subtitle {
    line-height: 1.1;
    font-weight: 300;
    margin-bottom: 3em; }
    @media (max-width: 700px) {
      .hero .section__subtitle {
        margin-bottom: 1em; } }

.hero__title {
  max-width: 60%;
  margin: 0 auto; }
  @media (max-width: 700px) {
    .hero__title {
      max-width: 100%;
      background-image: url(../img/hero-m.png);
      -webkit-background-size: cover;
      background-size: cover;
      background-attachment: fixed;
      background-position: right top;
      background-repeat: no-repeat;
      padding: 30px 30px 50px 30px; } }

.hero__logo {
  margin-bottom: 30px; }
  @media (min-width: 1650px) {
    .hero__logo {
      margin-bottom: 50px; } }

.hero__box {
  position: relative;
  width: 320px;
  margin: 0 auto;
  padding: 105px 40px 40px 40px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 39px rgba(255, 255, 255, 0.51);
  box-shadow: 0px 0px 39px rgba(255, 255, 255, 0.51);
  text-align: center;
  z-index: 1;
  font-size: 23px; }
  @media (min-width: 400px) {
    .hero__box {
      font-size: 20px;
      font-size: calc( -0.0065789474 * 100vw + 25.6315789474px ); } }
  @media (min-width: 1920px) {
    .hero__box {
      font-size: 13px; } }
  @media (max-width: 700px) {
    .hero__box {
      padding: 120px 40px 100px 40px;
      width: 100%; } }
  .hero__box p:first-of-type {
    padding-bottom: 10px;
    border-bottom: 1px solid #8c8c8c;
    margin-bottom: 5px; }
    .hero__box p:first-of-type + p {
      margin-bottom: 15px; }

.hero__date {
  margin-bottom: 20px; }

.hero__day {
  font-size: 90px;
  margin-bottom: 5px;
  line-height: 0.7; }

/*bonus*/
.bonus {
  position: relative;
  padding: 70px 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(22.85%, #FFFA89), color-stop(93.36%, #FF9F7E));
  background: -webkit-linear-gradient(top, #FFFA89 22.85%, #FF9F7E 93.36%);
  background: -o-linear-gradient(top, #FFFA89 22.85%, #FF9F7E 93.36%);
  background: linear-gradient(180deg, #FFFA89 22.85%, #FF9F7E 93.36%); }
  .bonus:before {
    content: '';
    position: absolute;
    bottom: 99%;
    left: 0;
    width: 100%;
    height: 15px;
    background-image: url("data:image/svg+xml,%3Csvg height='14' viewBox='0 0 40 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M17.4099 1.05056C20.1507 -0.109966 24.1144 -0.109966 26.8553 1.05056L41.5608 7.27718C46.9154 9.54441 43.7854 14 36.8382 14H7.42703C0.47978 14 -2.65021 9.54441 2.70434 7.27719L17.4099 1.05056Z' fill='%23FFFA89'/%3E %3C/svg%3E"), -webkit-gradient(linear, left top, left bottom, color-stop(22.85%, #FFFA89), color-stop(93.36%, #EDFF7E));
    background-image: url("data:image/svg+xml,%3Csvg height='14' viewBox='0 0 40 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M17.4099 1.05056C20.1507 -0.109966 24.1144 -0.109966 26.8553 1.05056L41.5608 7.27718C46.9154 9.54441 43.7854 14 36.8382 14H7.42703C0.47978 14 -2.65021 9.54441 2.70434 7.27719L17.4099 1.05056Z' fill='%23FFFA89'/%3E %3C/svg%3E"), -webkit-linear-gradient(top, #FFFA89 22.85%, #EDFF7E 93.36%);
    background-image: url("data:image/svg+xml,%3Csvg height='14' viewBox='0 0 40 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M17.4099 1.05056C20.1507 -0.109966 24.1144 -0.109966 26.8553 1.05056L41.5608 7.27718C46.9154 9.54441 43.7854 14 36.8382 14H7.42703C0.47978 14 -2.65021 9.54441 2.70434 7.27719L17.4099 1.05056Z' fill='%23FFFA89'/%3E %3C/svg%3E"), -o-linear-gradient(top, #FFFA89 22.85%, #EDFF7E 93.36%);
    background-image: url("data:image/svg+xml,%3Csvg height='14' viewBox='0 0 40 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M17.4099 1.05056C20.1507 -0.109966 24.1144 -0.109966 26.8553 1.05056L41.5608 7.27718C46.9154 9.54441 43.7854 14 36.8382 14H7.42703C0.47978 14 -2.65021 9.54441 2.70434 7.27719L17.4099 1.05056Z' fill='%23FFFA89'/%3E %3C/svg%3E"), linear-gradient(180deg, #FFFA89 22.85%, #EDFF7E 93.36%);
    -webkit-background-size: 40px 14px, auto 7px;
    background-size: 40px 14px, auto 7px;
    background-repeat: repeat-x;
    background-position: bottom left;
    z-index: 2; }

.bonus__icon {
  position: absolute;
  left: 50%;
  top: calc(-10% + 15px);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 113px;
  height: 113px;
  overflow: hidden;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(55.02%, #E32A61), color-stop(212.4%, #C51FFF)), #E32A61;
  background: -webkit-linear-gradient(bottom, #E32A61 55.02%, #C51FFF 212.4%), #E32A61;
  background: -o-linear-gradient(bottom, #E32A61 55.02%, #C51FFF 212.4%), #E32A61;
  background: linear-gradient(0deg, #E32A61 55.02%, #C51FFF 212.4%), #E32A61;
  text-align: center;
  line-height: 107px;
  z-index: 2; }
  @media (max-width: 600px) {
    .bonus__icon {
      top: calc(-6% + 15px); } }

.problems {
  position: relative;
  padding: 3% 0 0 0; }
  .problems:before {
    content: '';
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 100%;
    width: 101%;
    height: 80px;
    background: url(../img/bonus.svg) center bottom/cover no-repeat; }
  .problems:after {
    content: '';
    position: absolute;
    left: 0;
    top: 99.90%;
    width: 101%;
    height: 110px;
    background: url(../img/001.svg) left top/cover no-repeat;
    z-index: 2; }
    @media (max-width: 600px) {
      .problems:after {
        height: 50px; } }
  @media (max-width: 700px) {
    .problems {
      padding: 50px 0; } }

.problems__section {
  padding: 6% 0; }

.reality {
  position: relative;
  padding: 10% 0 8% 0;
  background: -webkit-gradient(linear, left top, right top, color-stop(-31.53%, #A8E7FD), color-stop(50.16%, #FFFFFF), color-stop(130.6%, #E7D0FF));
  background: -webkit-linear-gradient(left, #A8E7FD -31.53%, #FFFFFF 50.16%, #E7D0FF 130.6%);
  background: -o-linear-gradient(left, #A8E7FD -31.53%, #FFFFFF 50.16%, #E7D0FF 130.6%);
  background: linear-gradient(90deg, #A8E7FD -31.53%, #FFFFFF 50.16%, #E7D0FF 130.6%); }
  @media (max-width: 1000px) {
    .reality {
      padding: 10% 0 15% 0; } }
  @media (max-width: 700px) {
    .reality {
      padding: 90px 0 40px 0; } }
  .reality:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 140px;
    background: url(../img/002.svg) left top/cover no-repeat; }
    @media (max-width: 700px) {
      .reality:after {
        height: 50px; } }

.reality__icon {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 72px;
  -ms-flex: 0 1 72px;
  flex: 0 1 72px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(22.85%, #58D0FF), color-stop(93.36%, #A181FF));
  background: -webkit-linear-gradient(top, #58D0FF 22.85%, #A181FF 93.36%);
  background: -o-linear-gradient(top, #58D0FF 22.85%, #A181FF 93.36%);
  background: linear-gradient(180deg, #58D0FF 22.85%, #A181FF 93.36%);
  line-height: 70px; }
  .reality__icon svg {
    width: 48px;
    text-align: center; }

.reality__list {
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 900px;
  margin: 30px -20px; }
  @media (max-width: 960px) {
    .reality__list {
      margin: 0 auto;
      left: auto;
      -webkit-transform: none;
      -ms-transform: none;
      transform: none; } }

.reality__item {
  padding: 20px 0;
  min-height: 82px;
  line-height: 1.2;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 calc(54% - 100px);
  -ms-flex: 0 1 calc(54% - 100px);
  flex: 0 1 calc(54% - 100px); }
  .reality__item span {
    display: inline;
    color: #A181FF; }
  .reality__item--expect {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 20px;
    background-color: rgba(0, 184, 255, 0.3);
    -webkit-clip-path: polygon(0% 0%, 95% 0, 100% 50%, 95% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 95% 0, 100% 50%, 95% 100%, 0% 100%); }
  @media (max-width: 700px) {
    .reality__item {
      padding: 20px 20px 40px 20px;
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 100%;
      -ms-flex: 1 1 100%;
      flex: 1 1 100%;
      text-align: center; }
      .reality__item--expect {
        margin-bottom: 20px;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 100%, 0 75%);
        clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 100%, 0 75%); } }

/*reasons*/
.reasons__best {
  position: relative;
  max-width: 83%;
  margin: 0 auto 0 0; }
  .reasons__best:after {
    content: '';
    clear: both;
    display: table; }
  @media (max-width: 1280px) {
    .reasons__best {
      max-width: 90%;
      margin: 40px auto; } }

.reasons__best-col {
  text-align: center; }
  .reasons__best-col .section__title {
    display: inline-block; }
  .reasons__best-col p {
    overflow: visible;
    padding: 0 20px;
    margin-bottom: 30px; }
    .reasons__best-col p:last-child {
      margin-bottom: 0; }

.reasons__best-pic {
  position: relative;
  -webkit-transform: translateY(-18%);
  -ms-transform: translateY(-18%);
  transform: translateY(-18%);
  float: left;
  width: 50%;
  margin-right: 30px; }
  @media (max-width: 800px) {
    .reasons__best-pic {
      float: none;
      width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
      -webkit-transform: none;
      -ms-transform: none;
      transform: none; } }

.reasons__list {
  -webkit-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 20px;
  column-gap: 20px;
  max-width: 900px;
  margin: 50px auto; }
  @media (max-width: 700px) {
    .reasons__list {
      width: 100%;
      -webkit-column-count: 1;
      column-count: 1;
      -webkit-column-gap: 0;
      column-gap: 0;
      padding: 0 20px; } }

.reasons__item {
  display: inline-block;
  vertical-align: middle;
  min-height: 200px;
  margin-bottom: 35px; }
  .reasons__item p > span {
    display: inline; }
  @media (max-width: 700px) {
    .reasons__item {
      min-height: auto; } }

.reasons__icon {
  margin-bottom: 20px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(55.02%, #E32A61), color-stop(212.4%, #C51FFF)), #E32A61;
  background: -webkit-linear-gradient(bottom, #E32A61 55.02%, #C51FFF 212.4%), #E32A61;
  background: -o-linear-gradient(bottom, #E32A61 55.02%, #C51FFF 212.4%), #E32A61;
  background: linear-gradient(0deg, #E32A61 55.02%, #C51FFF 212.4%), #E32A61; }

.reasons__order p {
  font-size: 23px;
  text-align: center;
  font-weight: 300;
  line-height: 1.1; }
  @media (min-width: 400px) {
    .reasons__order p {
      font-size: 20px;
      font-size: calc( 0.0111842105 * 100vw + 18.5263157895px ); } }
  @media (min-width: 1920px) {
    .reasons__order p {
      font-size: 40px; } }
.reasons__order .btn {
  font-size: 20px;
  margin-top: 25px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center; }
  @media (min-width: 400px) {
    .reasons__order .btn {
      font-size: 20px;
      font-size: calc( 0.0065789474 * 100vw + 17.3684210526px ); } }
  @media (min-width: 1920px) {
    .reasons__order .btn {
      font-size: 30px; } }
@media (max-width: 700px) {
  .reasons__order .col-60 {
    margin-bottom: 30px; } }

.price {
  position: relative;
  padding: 8% 0;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat; }
  .price:before {
    content: '';
    position: absolute;
    top: -3px;
    left: 0;
    width: 101%;
    height: 110px;
    background: url(../img/003.svg) 0 0/cover no-repeat; }
  @media (max-width: 700px) {
    .price {
      padding: 70px 0 0 0; }
      .price .container {
        padding: 0; } }

.price__row {
  max-width: 900px;
  margin: 80px auto 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }
  @media (max-width: 700px) {
    .price__row {
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start; } }

.price__col {
  padding: 60px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  position: relative; }
  .price__col--offer {
    padding-top: 100px !important;
    background: #14072F;
    -webkit-border-radius: 4px 0px 0px 4px;
    border-radius: 4px 0px 0px 4px;
    text-align: center;
    color: #ffffff; }
  .price__col--form {
    background: rgba(255, 255, 255, 0.65);
    -webkit-border-radius: 0px 4px 4px 0px;
    border-radius: 0px 4px 4px 0px;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px); }
  @media (max-width: 900px) {
    .price__col {
      padding: 40px 30px; } }
  @media (max-width: 700px) {
    .price__col {
      -webkit-box-flex: 0;
      -webkit-flex: 0 1 100%;
      -ms-flex: 0 1 100%;
      flex: 0 1 100%;
      -webkit-border-radius: 0;
      border-radius: 0; } }

.price__old {
  margin-bottom: 30px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6); }
  .price__old s {
    font-size: 34px;
    font-weight: 300; }

.price__new {
  padding-bottom: 40px;
  border-bottom: 1px solid;
  margin-bottom: 40px; }
  @media (max-width: 700px) {
    .price__new {
      padding-bottom: 0;
      border-bottom: none;
      margin-bottom: 0; } }

.price__new-dgt {
  font-size: 65px;
  line-height: 1;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(22.85%, #FFFA89), color-stop(93.36%, #FF9F7E));
  background: -webkit-linear-gradient(top, #FFFA89 22.85%, #FF9F7E 93.36%);
  background: -o-linear-gradient(top, #FFFA89 22.85%, #FF9F7E 93.36%);
  background: linear-gradient(180deg, #FFFA89 22.85%, #FF9F7E 93.36%);
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent; }
  @media (min-width: 400px) {
    .price__new-dgt {
      font-size: 20px;
      font-size: calc( 0.0059210526 * 100vw + 62.6315789474px ); } }
  @media (min-width: 1920px) {
    .price__new-dgt {
      font-size: 74px; } }
  .price__new-dgt + p {
    font-size: 16px; }

.price__title {
  margin-bottom: 10px;
  font-size: 24px;
  text-align: center; }
  @media (min-width: 400px) {
    .price__title {
      font-size: 20px;
      font-size: calc( 0.0013157895 * 100vw + 23.4736842105px ); } }
  @media (min-width: 1920px) {
    .price__title {
      font-size: 26px; } }

.price__subtitle {
  margin-bottom: 10px;
  font-size: 16px;
  text-align: center; }
  .price__subtitle .study {
    color: #E32A61; }

.order-form .btn {
  width: 100%;
  font-size: 20px; }

.order-form__row {
  position: relative;
  margin-bottom: 20px; }
  .order-form__row input, .order-form__row select {
    background: #fff;
    padding: 20px 10px;
    font-size: 16px; }
    .order-form__row input::-webkit-input-placeholder, .order-form__row select::-webkit-input-placeholder {
      color: transparent; }
    .order-form__row input:-ms-input-placeholder, .order-form__row select:-ms-input-placeholder {
      color: transparent; }
    .order-form__row input::-ms-input-placeholder, .order-form__row select::-ms-input-placeholder {
      color: transparent; }
    .order-form__row input::placeholder, .order-form__row select::placeholder {
      color: transparent; }
    .order-form__row input:placeholder-shown + label, .order-form__row select:placeholder-shown + label {
      top: 0;
      height: 100%;
      background-color: #f5f5f5;
      font-size: 16px; }
    .order-form__row input:-ms-placeholder-shown + label, .order-form__row select:-ms-placeholder-shown + label {
      top: 0;
      height: 100%;
      background-color: #f5f5f5;
      font-size: 16px; }
    .order-form__row input:focus + label, .order-form__row select:focus + label {
      background-color: transparent; }
  .order-form__row label {
    position: absolute;
    top: -25px;
    left: 0;
    display: block;
    width: 100%;
    height: auto;
    padding: 20px 0 0 10px;
    font-weight: 300;
    background-color: transparent;
    font-size: 14px;
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out; }

.btn {
  font-size: 23px;
  padding: .7em 2.5em;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: #fff;
  text-transform: uppercase;
  background: #E32A61;
  -webkit-box-shadow: 0px 2px 11px rgba(227, 42, 97, 0.5);
  box-shadow: 0px 2px 11px rgba(227, 42, 97, 0.5);
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  text-align: center; }
  @media (min-width: 400px) {
    .btn {
      font-size: 20px;
      font-size: calc( -0.0059210526 * 100vw + 25.3684210526px ); } }
  @media (min-width: 1920px) {
    .btn {
      font-size: 14px; } }
  .btn:hover {
    -webkit-box-shadow: 0px 0px 2px rgba(227, 42, 97, 0.5);
    box-shadow: 0px 0px 2px rgba(227, 42, 97, 0.5); }



/*# sourceMappingURL=main.css.map */