.btn {
 position: relative;
 &--link {
  width: 24px;
  height: 24px;
  text-align: center;
 }
 &--right {
  position: absolute;
  top: 10px;
  right: 1em;
 }
 &--hide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 16px;
  margin: auto;
  font-size: 14px;
  font-weight: 700;
  color: var(--primary);
  text-align: center;
  &:after {
   content: "";
   display: block;
   position: relative;
   transform: rotate(0);
   transform-origin: center center;
   width: 10px;
   height: 10px;
   margin-left: 10px;
   background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 10 7'%3E%3Cpath stroke='%23FFB000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m1 1.994 4 4 4-4'/%3E%3C/svg%3E")
    center center/contain no-repeat;
   transition: transform 0.5s ease-in-out;
  }
 }
 &--mine {
  padding: 0.8em 1.8em;
  border-radius: 0.7em;
  font-size: 14px;
  font-weight: 700;
  color: var(--text);
  background-color: var(--primary);
 }
 &--form {
  @include center(y);
  right: 5px;
 }
 &.open {
  &:after {
   transform: rotate(180deg);
  }
 }
}

.like {
 width: 20px;
 height: 20px;
 .like__fill {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
 }
 &.fill {
  .like__fill {
   opacity: 1;
  }
 }
}
