  .serch__button {
  width: 26px;
  height: 26px;
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  transition: color .25s ease-in-out;
    &:hover {
    color: $hover-text;
  }
}

.btn {
  padding: 1em 2.25em;
  background: $btn-stay;
  outline: none;
  border: none;
  border: 1px solid transparent;
  border-bottom: 3px solid $accent-btn;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  transition: all .25s ease-in-out;
  &:hover {
    color: $hover-color;
    background: #fff;
    border: 1px solid $accent-btn;
    border-bottom: 3px solid $accent-btn;
  }

  &--small {
    padding: 0.3em 1em;
    border: 1px solid #ebebeb;
    background: #fff;
    color: #8c8c8c;
    &:hover {
      color: #fff;
      background: $btn-stay;
      border: 1px solid transparent;
    }
  }
  
  &--small-active {
    color: #fff;
      background: $btn-stay;
      border: 1px solid transparent;
  }
}