.slider {
  height: 100%;
}

.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  &--1 {
   background: url(../img/content/slider/slide1.jpg) center center/cover no-repeat; 
  }

  &--2 {
   background: url(../img/content/slider/slide2.jpg)  center center/cover no-repeat; 
  }

  &--3 {
    background: url(../img/content/slider/slide3.jpg)  center center/cover no-repeat;
  }

  &--4 {
    background: url(../img/content/slider/slide4.jpg)  center center/cover no-repeat;
  }

  &--5 {
    background: url(../img/content/slider/slide1.jpg)  center center/cover no-repeat;
  }
}

  .slick-initialized .slick-slide {
   display: flex; 
   justify-content: space-around;
   align-items: center;
 }

/* position dots in carousel*/

.slick-dots {
  bottom: 50px;
  z-index: 4;
}
.slick-dots li button {
  width: 12px;
  height: 12px;
  opacity: 0.5;
  background: $main-text;
  border: 2px solid transparent;
  border-radius: 50%;
  vertical-align: middle;
  transition: background 0.3s ease, border-color 0.3s ease;
}

.slick-dots li button:before {
  content: '';

}

.slick-dots li button:hover, 
.slick-dots li.slick-active button {
  background: transparent;
  border-color: $hover-text;
  opacity: 0.7;
}

//slider arrows

.slick-prev, .slick-next {
  width: 70px;
  height: 73px;
  z-index: 3;
}

.slick-prev {
  left: 50px;
}

.slick-next {
  right: 50px;
}

.slick-prev:before, 
.slick-next:before {
  content: '';
  font-family: 'icomoon';
  font-size: 70px;
  color: $main-text;
  opacity: 0.7;
  transition: color 0.3s ease;
}

.slick-prev:before {
  content: '\e901';
  
}

.slick-next:before {
  content: '\e909';
}

.slick-prev:hover:before, 
.slick-next:hover:before {
  color: $hover-text;
  opacity: 0.7;
}

//arrows blog
.blog__list {
  position: relative;
 .slick-prev, .slick-next {
  top: 100%;
  width: 22px;
  height: 22px;
  color: $hover-text;
  border: 2px solid;
  border-radius: 50%;
  }
  .slick-prev {
    left: 48%;
    margin-left: -20px;
  }
  .slick-next {
    right: 50%;
    margin-right: -20px;
  }

  .slick-prev:before, 
  .slick-next:before {
    font-size: 10px;
    font-weight: bold;
    color: $hover-text;
  }


}



// small-sliders

.blog__post--slider {
  z-index: 5;
  .slick-dots {
    bottom: 20px;
  }
  .slick-dotted.slick-slider {
    margin-bottom: 0;
  }
}