
//var colors
$bg_color: #1bb0ae;
$footer_bgc: #0d4f4d;
$main_color: #0b4443;
$title_color: #fce9be;
$pink: #d6305a;
$dark: #2a2a28;

//var proportions
$container_width: 1000px;
$font-size: 14px;
$footer_height: 340px;


// base&general styles

@import "general/mixins";
@import "general/reset";
@import "general/base";
@import "general/typografy";

//layout&typografy
@import "layout/section"; // general style of layouts
@import "layout/controls"; //buttons&sliders
@import "layout/navigation";

//responsiv

@import "general/media";