.person__header {
  margin-top: 120px;
  text-align: center;
   @include breakpoint(950px) {
    margin-top: 140px;
   }
 .teachers__item {
    position: relative;
    margin: auto;
    color: $main-color;
    &:before, &:after {
      content: '';
      position: absolute;
      display: inline-block;
      width: 100%;
      height: 10px;
      background: currentColor;
    }
    &:before {
      right: 100%;
      top: 50%;
    }

    &:after {
      left: 100%;
      top: 50%;
    }
 }
}

.person__info, .person__video {
  @extend %container;
}

.person__info {
  margin-bottom: 30px;
  a {
    color: $main-color;
  }
}

.person__shedule {
  @extend %container;
  margin-bottom: 50px;
  .schedule__time {
    text-align: left;
    margin-top: 30px;
    padding-left: 20px;
    @include breakpoint($sm) {
      margin-top: 0;
    }
  }
  .schedule__item {
    margin-bottom: 30px;
  }

  .schedule__title {
    text-align: left; 
  }

  .schedule__header {
    padding: 0 20px;
  }
}

.person__shedule-header {
  text-align: center;
  font-size: 1.4em;
  color: $main-color;
}

.person__shedule-link {
  @extend .partners__link;
}

.bredcrambs__item {
  position: relative;
  display: inline-block;
  margin-right: 20px;
  &:not(:first-child):after {
    content: '/';
    position: absolute;
    top: 4px;
    left: -15px;
    display: block;
    font-size: 18px; 
    color: $main-color;
  }
}

.bredcrambs__link {
  position: relative;
  padding: 5px;
  display: block;
  color: $main-color;
   &:after, &:before {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    display: block;
    width: 0%;
    height: 2px;
    background: currentColor;
    transition: width .5s ease-in-out, left .5s ease-in-out;
  }
  &:hover:after {
    width: 50%;
  }
  &:hover:before {
    width: 50%;
    left: 0;
  }
}

/*photoalbum*/

.photogallery {
  @extend %container;
}

.bredcrambs__list {
  text-align: left;
  padding-left: 30px;
}