#page-preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(#fff, .5);
    z-index: 100500;
}

#page-preloader .spinner {
    width: 128px;
    height: 128px;
    position: absolute;
    left: 50%;
    top: 50%;
    background: url('../uploads/preloader.gif') no-repeat 50% 50%;
    transform: translate(-50%, -50%);
}


section {
  position: relative;
  margin-top: 50px;
  // margin-bottom: 50px;
}

p {
  margin-bottom: 20px;
  color: $text-color;
  &:last-of-type {
    margin-bottom: 0;
  }
  span {
    color: $main-color;
    font-weight: bold;
  }
}

.stn__inner {
  @extend %container;
  &--flex {
    @extend %flex;
    @include breakpoint($sm) {
      display: block;
    }
  }
}

.description {
  margin-top: 120px;
  &:after {
    @extend %cf;
  }
    @include breakpoint(950px) {
      margin-top: 140px;
  }
}

.stn__header {
    margin-bottom: 30px;
    color: $main-color;
    font-size: 1.5em;
    text-transform: uppercase;
    text-align: center;
  &--main {
    font-size: 2em;
    margin-bottom: 30px;
  }
}

.stn__img {
  float: left;
  margin: 0 20px 20px 0;
}

@include breakpoint($sm) {
  .stn__img {
    float: none;
    text-align: center;
  }
}

.section__accent {
  font-weight: bold;
}

