html {
 font-family: $ff;
 color: $text;
 @include fFS(16px, 20px, 320px, 1900px, 20px);
 line-height: 1;
}

body {
 display: flex;
 flex-direction: column;
}

.wrapper {
 position: relative;
 min-width: 320px;
 min-height: 100vh;
 flex-grow: 1;
 overflow: hidden;
}

.footer {
 flex-grow: 0;
}

a {
 display: inline-block;
 vertical-align: middle;
}

.container {
 max-width: $container;
 margin: 0 auto;
 padding: 0 20px;
}
