.menu-btn {
 display: none;
 position: relative;
 width: 50px;
 height: 50px;
 padding: 24px 14px;
 background-clip: content-box;
 cursor: pointer;
 top: 0;
 -webkit-transition: 0.5s ease-in-out;
 transition: 0.5s ease-in-out;
 z-index: 11;
 background-color: #fff;
}
.menu-btn:before,
.menu-btn:after {
 content: "";
 position: absolute;
 top: calc(50% - 1px);
 left: 14px;
 right: 14px;
 height: 2px;
 background-color: #fff;
 -webkit-transform-origin: center center;
 transform-origin: center center;
 -webkit-transition: 0.5s ease-in-out;
 transition: 0.5s ease-in-out;
}
.menu-btn:before {
 -webkit-transform: translateY(-5px);
 transform: translateY(-5px);
}
.menu-btn:after {
 transform: translateY(5px);
}
.menu-btn.open {
 background-color: transparent;
}
.menu-btn.open:before {
 transform: translateY(0) rotate(45deg);
}
.menu-btn.open:after {
 transform: translateY(0) rotate(-45deg);
}
@media (max-width: 750px) {
 .menu-btn {
  display: block;
 }
}

.btn {
 @include fFS(20px, 47px, 320px, 1900px, 20px);
 padding: 0.8em 2.2em;
 text-transform: uppercase;
 text-align: center;
 color: #fff;
 background-color: #5cb85c;
}

.btn-call {
 @include fFS(12px, 20px, 320px, 1900px, 20px);
}
