$container: 1280px;

$fz: 20px;
$ff: 'Rubik', sans-serif;
// $acent-ff: PTSans;

$text:  #181818;
$accent: #E32A61;
$medium: #8c8c8c;
$light: #fff;


$accent-gradient: linear-gradient(0deg, #E32A61 55.02%, #C51FFF 212.4%), #E32A61;