//form

.header__title {
  text-align: center;
}

.catalog__filteres {
  button {
    width: 100%;
    font-weight: 500;
  }
}

.catalog__title {
  font-size: 18px;
  text-transform: uppercase;
}

.catalog__form-group {
  border: none;
  margin-bottom: 60px;
  &:last-of-type {
    margin-bottom: 50px;
  }
  .catalog__title {
    display: block;
    margin-bottom: 23px;
    float: none;
    font-weight: 600;
  }
  .catalog__input {
    display: none;
  }
  .catalog__label {
    display: block;
  }
}

.range__top {
  position: relative;
  padding: 38px 22px;
  margin: 30px 0 15px 0;
  background: #eee;
  border-radius: 4px;
  .range__progress {
    height: 2px;
    background-color: #d7dcde;
    .range__bar {
      height: 2px;
      background: $green;
    }
  }
}

.range__toggle {
  width: 4px;
  height: 4px;
  background: #d7dcde;
  border: 8px solid #fff;
  border-radius: 50%;
  box-shadow: 0 2px 2px rgba(215, 220, 222, 0.5);
  box-sizing: content-box;
  position: absolute;
  top: 28px;
  left: 20px;
  cursor: pointer;
  &--max {
    left: 60%;
  }
}

.range__form {
  &:after{
    @extend %cf;
  }
}

.range__descriptioniption {
  color: #283136;
  text-transform: uppercase;
  &--max{
   margin-left: 21px;
 }  
}

.range__input {
  margin-left: 12px;
  padding: 12px;
  max-width: 80px;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  background-color: #eee;
  border: none;
  outline: none;
}

.catalog__label {
  position: relative;
  padding:0 0 30px 35px;
  color: #283136;
  cursor: pointer;
  transition: color, background 0.3s ease-in-out;
  
  &:last-child {
    padding-bottom: 0;
  }

  &:hover {
    color: #000;
  }
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    width: 17px;
    height: 17px;
    border: 4px solid #b8b8b8;
    border-radius: 50%;
    transition: border-color 0.3s ease-in-out;
  }
  &:hover:before {
    border-color: #4d4d4d;
  }
  &--advantages {
    &:before {
      border-width: 3px;
      border-radius: 4px;
    }
  }
}

.catalog__input:checked + .catalog__label--grid {
  &:after {
    content: '';
    position: absolute;
    top: 8px;
    left: 8px;
    display: inline-block;
    width: 9px;
    height: 9px;
    background-color: #b8b8b8;
    border-radius: 50%;
    transition: background 0.3s ease-in-out;
  }
  &:hover:after {
    background-color: #4d4d4d;
  }
}

.catalog__input:disabled + .catalog__label--grid,
.catalog__input:disabled + .catalog__label--advantages {
    cursor: auto;
    opacity: 0.2;
    &:hover {
      opacity: 0.2;
    }
}

.catalog__input:checked + .catalog__label--advantages {
  &:before{
    border: none;
  }
  &:after {
    content: '';
    display: inline-block;
    width: 27px;
    height: 23px;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/checkbox-on.png) no-repeat 0 0;
    opacity: 0.5;
    transition: background 0.3s ease-in-out;
  }
  &:hover:after { 
    opacity: 1;
  }
}

//pop-ups
.pop-up-wrapper {
  position: fixed;
  top: 0;
  padding-top: 20px;
  width: 100%;
  min-height: 100%;
  background: rgba(#000, 0.5);
  overflow:hidden;
  transition: all 0.5s ease-in-out;
}
.pop-up {
  position: relative;
  width: 960px;
  margin: 0 auto;
  padding: 50px 100px 60px 100px;
  background: #fff;
  z-index: 100;
  box-shadow: 0 20px 40px 0px rgba(0, 0, 0, 0.5);
  &__title {
    display: inline-block;
    margin-bottom: 50px;
    font-size: 45px;
  }
  .form__row {
    width: 100%;
    margin-bottom: 40px;
    &:after{
      @extend %cf;
    }
  }
  .form__column {
    width: 360px;
    &:nth-child(1) {
      float: left;
    }
    &:nth-child(2) {
      float: right;
    }
  }
  .form__label {
    display: block;
    margin-bottom: 15px;
  }

  .form__input {
    width: 100%;
    padding: 15px 17px;
    color: #444;
    font-size: 16px;
    border: 2px solid #d7dcde;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
    &--message {
    height: 115px;
    color: #444;
    font: 16px/1 Roboto;
    }
    &:hover {
      color: #b4b9bb;
      border-color: #b4b9bb;
    }
    &:active, &:focus {
      color: #000;
      border-color: #000;
    }
  } 

  .form__close {
    float: right;
    width: 23px;
    height: 23px;
    border: none;
    outline: none;
    background: url(../img/close-cross.png) no-repeat;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
    &:hover {
      opacity: 1;
    }
  }
}


