body {
  font: 400 16px/1.42 Roboto, sans-serif;
}


.advantages {
  padding-bottom: 80px;
  border-bottom: 2px solid #eee;
}

.advantages__item {
  img {
    width: 300px;
    margin-bottom: 30px;
  }
}

.advantages__title {
  margin-bottom: 28px;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}

.advantages__description {
  margin-bottom: 40px;
}

.partner {
  margin-bottom: 80px;
  font-size: 0;
  text-align: center;
  border-bottom: 2px solid #eee;
}

.partner__item {
  display: inline-block;
  vertical-align: middle;
  width: 260px;
  padding: 37px 30px;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
  &:hover {
    opacity: 1;
  }
    img {
    width: 100%; 
    /* &:before {
    content:'';
    display: inline-block;
    height: 100%;
    vertical-align: middle; } */
  }
}

.studio {
  padding-bottom: 80px;
  border-bottom: 2px solid #eee;
}

.studio__about {
  margin-top: 50px;
}

.studio__title {
  margin-bottom: 45px;
  font: 500 45px/1 Roboto;
  &--small {
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
  } 
}

.studio__about-descr {
  margin-bottom: 57px;
}

.studio__about-item {
  position: relative;
  padding-left: 37px;
  margin-bottom: 19px;
  &:last-child {
    margin-bottom: 0;
  }
  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    left: 0;
    top: 10px;
    width: 25px;
    height: 2px;
    background-color: $red;
  }
  span {
    display: block;
  }
}

.studio__statistics {
  margin-top: 40px;
  img {
    margin-bottom: 40px
  }
}
.studio__statistic-diget {
  font-size: 45px;
  font-weight: 500;
}

.map-canvas {
  margin-bottom: 70px;
}


//catalog

.header__title {
  padding: 80px 0 116px 0;
  clear: both;
}

.catalog-container {
  margin-bottom: 60px;
}

.catalog__header {
  margin-bottom: 60px;
}

.map-canvas {
  position: relative;
}

#map {
  width: 100%;
  height: 417px;
  
}

.contact {
  position: absolute;
  top: 55px;
  left: 10%;
  width: 319px;
  padding: 34px 45px 45px;
  background-color: #fff;
  .contact__title {
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
  }
  .contact__adress, .contact__phon {
    color: #666;
    margin-bottom: 25px;
  }
  .contact__phon {
    margin-bottom: 35px;
  }
}

//catalog

//shoucase

.showcase {
  position: relative;
  cursor: pointer;
  &:hover {
    box-shadow: 0px 6px 15px -6px rgba(0, 0, 0, 0.5);
    .showcase__brouser {
      background-color: #4d4d4d;
    }
  }
}

.showcase__brouser {
  width: 100%;
  height: 40px;
  background-color: #e9e9e9;
  border-radius: 5px 5px 0 0;
  transition: background 0.3s ease-in-out;
}

.showcase__img {
  font-size: 0;
  width: 360px;
}

.showcase__description {
  font-size: 16px;
  text-align: center;
  padding: 33px 65px 43px 65px;
  background: #eee;
  position: absolute;
  opacity: 0;
  bottom: 0;
  left: 9999;
  transition: opacity 0.5s ease-in-out;
}

.showcase:hover .showcase__description {
  bottom: 0;
  left: 0;
  opacity: 1;
}

.showcase__name {
  font-size: 18px;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 22px;
}

.showcase__info {
  margin-bottom: 30px;
  line-height: 1;
}
