.slider {
  clear: both;
  &:after {
    clear: both;
    content: "";
    display: table;
  }

  input {
    display: none;
  }
}

.slider__wrapper {
  position: relative;

}

.slider__list {
  position: relative;
  height: 413px;
}

.slide {
  position: absolute;
  width: 100%;
  height: 415px;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  &--first {
    background: url(../img/slider/slide1.jpg) no-repeat right top;
  }
  &--second {
    background: url(../img/slider/slide2.jpg) no-repeat right top;
  }
  &--therd {
    background: url(../img/slider/slide3.jpg) no-repeat right top;
  }
}

.slide__text {
  display: inline-block;
  vertical-align: middle;
  padding-top: 40px;
  max-width: 518px;
}

.slide__title {
  font: 500 55px/1 Roboto;
  margin-bottom: 50px;
}

.slide__descr {
  margin-bottom: 50px;
  line-height: 1;
}

.slide__control {
  position: absolute;
  bottom: 95px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

.slide__control-item {
  display: inline-block;
  position: relative;  
  width: 14px;
  height: 14px;
  margin: 0 17px;
  border: 2px solid transparent;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  &:before {
    content: '';
    position: absolute;
    display: block;
    top: -7px;
    left: -7px;
    border: 6px solid #fff;
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }
}

.slide__control-item:hover, 
#slide1:checked ~ .slide__control > .slide1, 
#slide2:checked ~ .slide__control > .slide2, 
#slide3:checked ~ .slide__control > .slide3 {
  border-color: #e1e1e1; 
}

#slide1:checked ~ .slider__list > .slide--first,
#slide2:checked ~ .slider__list > .slide--second,
#slide3:checked ~ .slider__list > .slide--therd {
  opacity: 1;
  // z-index: 2;
}