html {
  width: 100%;
  height: 100%;
}

body {
  background: #ccc;
  height: 100%;
  width: 100%;
}

.wrapper {
  position: relative;
  max-width: 1200px;
  padding: 40px;
  margin: 0 auto;
  background: #ddd;
  height: 100vh;
}

.page-frame {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 100%;
}

.showcase-window {
  position: absolute;
  width: 500px;
  height: 100vh;
  top: 0; right: 80px; bottom: 0;
  overflow: hidden;
  background: #000;
}

/* .showcase-window > img {
  display: none;
} */

.btn-wrapper {
  display: flex;
  -webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  z-index: 2;
  width: 50%;
  height: 300px;
  padding: 40px;
  background: #fff;
}

.btn {
  position: relative;
  width: 20px;
  height: 20px;
  background: gold;
  border-radius: 50%;
  outline: none;
}

.btn:nth-child(odd) {
  align-self: center;
}

.btn:after {
  content: '';
  
}

.btn:hover:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border: 10px solid gold;
  border-radius: 50%;
  text-decoration: none;
  transition: border 0.8s ease-in-out;
}

.btn1:hover:after {
  background: url(img/tmb1.jpg) center center no-repeat gold;
}

.btn2:hover:after {
  background: url(img/tmb2.jpg) center center no-repeat gold;
}

.btn3:hover:after {
  background: url(img/tmb3.jpg) center center no-repeat gold;
}

.btn4:hover:after {
  background: url(img/tmb4.jpg) center center no-repeat gold;
}

.btn5:hover:after {
  background: url(img/tmb5.jpg) center center no-repeat gold;
}

.showcase-window .img {
  width: 100%;
  height: 100%;
  opacity: 0.2;
}

/* .showcase-window .img.active {
  opacity: 1;
} */

.showcase-window #img1 {
  background: url(img/full-size1.jpg) left center no-repeat;
}

.showcase-window #img2 {
  background: url(img/full-size2.jpg) left center no-repeat;
}

.showcase-window #img3 {
  background: url(img/full-size3.jpg) left center no-repeat;
}

.showcase-window #img4 {
  background: url(img/full-size4.jpg) left center no-repeat;
}

.showcase-window #img5 {
  background: url(img/full-size5.jpg) left center no-repeat;
}

.showcase-window > #img1:target,
.showcase-window > #img2:target,
.showcase-window > #img3:target,
.showcase-window > #img4:target,
.showcase-window > #img5:target {
  animation: slide 4s linear forwards;
} 


@keyframes slide {
  0% {
    background-position-x: left;
    opacity: 0;
  }
  50% {
    background-position-x: center;
    opacity: 0.5;
  }
  100% {
    background-position-x: right;
    opacity: 1;
  }
}