*,
:before,
:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  overflow: auto;
  overflow-x: hidden;
  word-wrap: break-word;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: subpixel-antialiased !important;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-overflow-scrolling: touch;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

video,
audio,
canvas {
  display: inline-block;
}

span {
  display: inline-block;
}

a,
input,
button,
textarea,
optgroup,
select,
fieldset,
figure,
legend,
address {
  font: inherit;
  color: inherit;
  line-height: inherit;
  text-transform: inherit;
  text-shadow: inherit;
  border: none;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
}

a,
button,
[type=button],
[type=submit] {
  -webkit-transition: color 0.25s, background 0.25s, opacity 0.25s;
  -o-transition: color 0.25s, background 0.25s, opacity 0.25s;
  transition: color 0.25s, background 0.25s, opacity 0.25s;
}

a {
  cursor: pointer;
  text-decoration: none;
  -webkit-text-decoration-skip: none;
}

button {
  overflow: visible;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
}

b,
strong {
  font-weight: 700;
}

img,
svg,
embed,
object,
iframe,
video,
audio,
canvas {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  border: 0;
}

img {
  image-rendering: optimizeQuality;
}

svg {
  color: inherit;
}
svg:not(:root) {
  overflow: hidden;
}

progress {
  vertical-align: baseline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-rendering: optimizeLegibility;
  font: inherit;
  color: inherit;
  margin: 0;
}

ul,
ol,
menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

input,
select,
button,
button > *,
a > * {
  display: inline-block;
  vertical-align: middle;
}

button,
label,
select,
summary,
[type=button],
[type=submit],
[type=reset],
[type=checkbox],
[type=radio],
[type=range] {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

[type=button],
[type=submit],
[type=search],
[type=radio],
[type=range],
::-webkit-search-cancel-button,
::-webkit-search-decoration,
::-webkit-outer-spin-button,
::-webkit-inner-spin-button,
::-webkit-slider-thumb {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

::-webkit-contacts-auto-fill-button,
::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  right: 0;
}

:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 1000px #fff;
          box-shadow: inset 0 0 0 1000px #fff;
}

::-webkit-details-marker {
  display: none;
}

[type=radio] {
  -webkit-appearance: radio;
}

[type=number] {
  -moz-appearance: textfield;
}

::-ms-clear,
::-ms-reveal {
  display: none;
}

input,
textarea {
  width: 100%;
}

input {
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

textarea {
  overflow: auto;
  resize: none;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

:disabled {
  pointer-events: none;
}

::-moz-focus-outer,
::-moz-focus-inner {
  border: 0;
  padding: 0;
}

::-moz-placeholder {
  opacity: 1;
}

::placeholder,
::-moz-placeholder {
  opacity: 1;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td,
th {
  padding: 0;
  text-align: center;
}

article p:not(:empty) {
  margin-top: 0.7em;
  margin-bottom: 0.7em;
}
article img,
article embed,
article object,
article iframe,
article video {
  display: block;
  margin: auto;
}
article span {
  display: inline;
}
article ul,
article ol,
article menu {
  margin-top: 0.7em;
  margin-bottom: 0.7em;
}
article ul ul,
article ul ol,
article ul menu,
article ol ul,
article ol ol,
article ol menu,
article menu ul,
article menu ol,
article menu menu {
  margin: 0;
  padding-left: 1.3em;
}
article ul > li:before,
article ol > li:before,
article menu > li:before {
  margin-right: 0.7em;
}
article ul > li p,
article ol > li p,
article menu > li p {
  display: inline;
}

@font-face {
  font-family: "Lato";
  src: local("Lato Regular"), local("Lato-Regular"), url("../fonts/latoregular.woff2") format("woff2"), url("../fonts/latoregular.woff") format("woff"), url("../fonts/latoregular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: local("Lato Medium"), local("Lato-Medium"), url("../fonts/latomedium.woff2") format("woff2"), url("../fonts/latomedium.woff") format("woff"), url("../fonts/latomedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: local("Lato Semibold"), local("Lato-Semibold"), url("../fonts/latosemibold.woff2") format("woff2"), url("../fonts/latosemibold.woff") format("woff"), url("../fonts/latosemibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: local("Lato Bold"), local("Lato-Bold"), url("../fonts/latobold.woff2") format("woff2"), url("../fonts/latobold.woff") format("woff"), url("../fonts/latobold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: local("Lato Heavy"), local("Lato-Heavy"), url("../fonts/latoheavy.woff2") format("woff2"), url("../fonts/latoheavy.woff") format("woff"), url("../fonts/latoheavy.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
html {
  font-family: "Lato", Arial, sans-serif;
  color: #111;
  font-size: 14px;
  height: -webkit-fill-available;
}
@media (min-width: 320px) {
  html {
    font-size: 20px;
    font-size: calc(0.0012658228 * 100vw + 13.5949367089px);
  }
}
@media (min-width: 1900px) {
  html {
    font-size: 16px;
  }
}

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: -webkit-fill-available;
}

.wrapper {
  position: relative;
  min-width: 320px;
  min-height: 100vh;
  height: 100%;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.footer {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

a {
  display: inline-block;
  vertical-align: middle;
}

img {
  display: inline-block;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.accent {
  color: #ffe177;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 2px 0;
  background-color: #fff;
}
.header .btn-call {
  margin-right: auto;
}
@media (max-width: 850px) {
  .header .btn-call {
    margin-right: 20px;
    margin-left: auto;
  }
}

.header__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  padding: 0 10px 0 4%;
}
@media (max-width: 1300px) {
  .header__container {
    padding: 0 10px;
  }
}
@media (max-width: 850px) {
  .header__container {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.logo {
  width: 40px;
}

.menu {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 54%;
      -ms-flex: 0 1 54%;
          flex: 0 1 54%;
  margin: auto;
}
@media (max-width: 1300px) {
  .menu {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
}
@media (max-width: 850px) {
  .menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    opacity: 0;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.6, 0.04, 0.98, 0.34);
    transition: -webkit-transform 0.5s cubic-bezier(0.6, 0.04, 0.98, 0.34);
    -o-transition: transform 0.5s cubic-bezier(0.6, 0.04, 0.98, 0.34);
    transition: transform 0.5s cubic-bezier(0.6, 0.04, 0.98, 0.34);
    transition: transform 0.5s cubic-bezier(0.6, 0.04, 0.98, 0.34), -webkit-transform 0.5s cubic-bezier(0.6, 0.04, 0.98, 0.34);
  }
  .menu.open {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.menu__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 850px) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.menu__item a {
  position: relative;
  display: block;
  padding: 1em;
}
.menu__item a:after {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 100%;
  width: 0;
  height: 2px;
  background: #ffe177;
  -webkit-transition: width 0.5s cubic-bezier(0.6, 0.04, 0.98, 0.34);
  -o-transition: width 0.5s cubic-bezier(0.6, 0.04, 0.98, 0.34);
  transition: width 0.5s cubic-bezier(0.6, 0.04, 0.98, 0.34);
}
@media (max-width: 850px) {
  .menu__item a:after {
    display: none;
  }
}
.menu__item:hover a:after {
  width: 100%;
}

.hero {
  height: calc(100vh - 50px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
  padding: 3em 0;
}
.hero .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 850px) and (orientation: landscape) {
  .hero {
    height: auto;
    min-height: calc(100vh - 50px);
  }
}

@media only screen and (max-height: 500px) {
  .hero {
    height: auto;
    min-height: calc(100vh - 50px);
  }
}
.hero__title {
  font-size: 30px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  color: #fff;
}
@media (min-width: 320px) {
  .hero__title {
    font-size: 16px;
    font-size: calc(0.0126582278 * 100vw + 25.9493670886px);
  }
}
@media (min-width: 1900px) {
  .hero__title {
    font-size: 50px;
  }
}

.hero__text {
  margin-bottom: 1.5em;
  text-align: center;
  color: #fff;
}

.hero__icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 4em;
}
@media (max-width: 750px) {
  .hero__icon {
    margin-bottom: 0;
  }
}

.hero__icon-item {
  width: 5em;
  height: 5em;
  margin: 0 0.5em;
  border-radius: 100%;
  background-color: grey;
}

.hero__card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__card-item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 21%;
      -ms-flex: 0 1 21%;
          flex: 0 1 21%;
  padding: 2.5em 0.5em;
  margin: 0 0.5em;
  border-radius: 0.5em;
  background: #c4c4c4;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.57);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.57);
  color: #fff;
  text-align: center;
}
@media (max-width: 750px) {
  .hero__card-item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 100%;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    padding: 0.9em 0.5em;
    margin: 1em 0 0 0;
  }
}

.hero__card-title {
  font-size: 1.25em;
  font-weight: 600;
}

.hero__card-img {
  display: block;
  width: 90%;
  margin: 2em auto 0 auto;
}
@media (max-width: 750px) {
  .hero__card-img {
    display: none;
  }
}

.menu-trigger {
  display: none;
  position: relative;
  width: 50px;
  height: 50px;
  padding: 24px 14px;
  background-clip: content-box;
  background-color: #111;
  cursor: pointer;
  top: 0;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  z-index: 11;
}
.menu-trigger:before, .menu-trigger:after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  left: 14px;
  right: 14px;
  height: 2px;
  background-color: #111;
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.menu-trigger:before {
  -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
          transform: translateY(-5px);
}
.menu-trigger:after {
  -webkit-transform: translateY(5px);
      -ms-transform: translateY(5px);
          transform: translateY(5px);
}
.menu-trigger.open {
  background-color: transparent;
}
.menu-trigger.open:before {
  -webkit-transform: translateY(0) rotate(45deg);
      -ms-transform: translateY(0) rotate(45deg);
          transform: translateY(0) rotate(45deg);
}
.menu-trigger.open:after {
  -webkit-transform: translateY(0) rotate(-45deg);
      -ms-transform: translateY(0) rotate(-45deg);
          transform: translateY(0) rotate(-45deg);
}
@media (max-width: 850px) {
  .menu-trigger {
    display: block;
  }
}

.btn {
  position: relative;
  padding: 1.6em 2em;
  text-transform: uppercase;
  font-weight: 800;
  background-color: #ffe177;
  line-height: 1;
  -webkit-transition: background-color 0.5s cubic-bezier(0.6, 0.04, 0.98, 0.34);
  -o-transition: background-color 0.5s cubic-bezier(0.6, 0.04, 0.98, 0.34);
  transition: background-color 0.5s cubic-bezier(0.6, 0.04, 0.98, 0.34);
}
.btn:after {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 100%;
  width: 0;
  height: 2px;
  background: #ffe177;
  -webkit-transition: width 0.5s cubic-bezier(0.6, 0.04, 0.98, 0.34);
  -o-transition: width 0.5s cubic-bezier(0.6, 0.04, 0.98, 0.34);
  transition: width 0.5s cubic-bezier(0.6, 0.04, 0.98, 0.34);
}
.btn.btn-call {
  padding: 0.9em 1.5em;
}
.btn:hover {
  background-color: transparent;
}
.btn:hover:after {
  width: 100%;
}

/*Glide*/
.glide {
  position: relative;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.glide * {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.glide__track {
  overflow: hidden;
}

.glide__slides {
  position: relative;
  width: 100%;
  list-style: none;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -ms-touch-action: pan-Y;
      touch-action: pan-Y;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  will-change: transform;
}

.glide__slides--dragging {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.glide__slide {
  width: 100%;
  height: 100%;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  white-space: normal;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

.glide__slide a {
  -webkit-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.glide__arrows {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.glide__bullets {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.glide--rtl {
  direction: rtl;
}
/*# sourceMappingURL=main.css.map */