:root {
  --text: #111;
  --accent: #fe9153;
  --caption-color: #566ecf;
  --itembg: #c4c4c4;
  --footerbg: #e5e5e5;
  --lightbg: #fff5ef;
  --iconbg: #6885fa;
  --link: #001e7a;
  --reviews: #f9f9f9;
  --btn: #ff7c32;
  --btn-hov: #ffa674;
}

*,
:before,
:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  overflow: auto;
  overflow-x: hidden;
  word-wrap: break-word;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: subpixel-antialiased !important;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-overflow-scrolling: touch;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

video,
audio,
canvas {
  display: inline-block;
}

span {
  display: inline-block;
}

a,
input,
button,
textarea,
optgroup,
select,
fieldset,
figure,
legend,
address {
  font: inherit;
  color: inherit;
  line-height: inherit;
  text-transform: inherit;
  text-shadow: inherit;
  border: none;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
}

a,
button,
[type=button],
[type=submit] {
  -webkit-transition: color 0.25s, background 0.25s, opacity 0.25s;
  -o-transition: color 0.25s, background 0.25s, opacity 0.25s;
  transition: color 0.25s, background 0.25s, opacity 0.25s;
}

a {
  cursor: pointer;
  text-decoration: none;
  -webkit-text-decoration-skip: none;
}

button {
  overflow: visible;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
}

b,
strong {
  font-weight: 700;
}

img,
svg,
embed,
object,
iframe,
video,
audio,
canvas {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  border: 0;
}

img {
  image-rendering: optimizeQuality;
}

svg {
  color: inherit;
}
svg:not(:root) {
  overflow: hidden;
}

progress {
  vertical-align: baseline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-rendering: optimizeLegibility;
  font: inherit;
  color: inherit;
  margin: 0;
}

ul,
ol,
menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

input,
select,
button,
button > *,
a > * {
  display: inline-block;
  vertical-align: middle;
}

button,
label,
select,
summary,
[type=button],
[type=submit],
[type=reset],
[type=checkbox],
[type=radio],
[type=range] {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

[type=button],
[type=submit],
[type=search],
[type=radio],
[type=range],
::-webkit-search-cancel-button,
::-webkit-search-decoration,
::-webkit-outer-spin-button,
::-webkit-inner-spin-button,
::-webkit-slider-thumb {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

::-webkit-contacts-auto-fill-button,
::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  right: 0;
}

:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 1000px #fff;
          box-shadow: inset 0 0 0 1000px #fff;
}

::-webkit-details-marker {
  display: none;
}

[type=radio] {
  -webkit-appearance: radio;
}

[type=number] {
  -moz-appearance: textfield;
}

::-ms-clear,
::-ms-reveal {
  display: none;
}

input,
textarea {
  width: 100%;
}

input {
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

textarea {
  overflow: auto;
  resize: none;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

:disabled {
  pointer-events: none;
}

::-moz-focus-outer,
::-moz-focus-inner {
  border: 0;
  padding: 0;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td,
th {
  padding: 0;
  text-align: center;
}

article img,
article embed,
article object,
article iframe,
article video {
  display: block;
  margin: auto;
}
article span {
  display: inline;
}
article ul,
article ol,
article menu {
  margin-top: 0.7em;
  margin-bottom: 0.7em;
}
article ul ul,
article ul ol,
article ul menu,
article ol ul,
article ol ol,
article ol menu,
article menu ul,
article menu ol,
article menu menu {
  margin: 0;
  padding-left: 1.3em;
}
article ul > li:before,
article ol > li:before,
article menu > li:before {
  margin-right: 0.7em;
}
article ul > li p,
article ol > li p,
article menu > li p {
  display: inline;
}

@font-face {
  font-family: "Lato";
  src: local("Lato Regular"), local("Lato-Regular"), url("../fonts/latoregular.woff2") format("woff2"), url("../fonts/latoregular.woff") format("woff"), url("../fonts/latoregular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: local("Lato Medium"), local("Lato-Medium"), url("../fonts/latomedium.woff2") format("woff2"), url("../fonts/latomedium.woff") format("woff"), url("../fonts/latomedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: local("Lato Semibold"), local("Lato-Semibold"), url("../fonts/latosemibold.woff2") format("woff2"), url("../fonts/latosemibold.woff") format("woff"), url("../fonts/latosemibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: local("Lato Bold"), local("Lato-Bold"), url("../fonts/latobold.woff2") format("woff2"), url("../fonts/latobold.woff") format("woff"), url("../fonts/latobold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: local("Lato Heavy"), local("Lato-Heavy"), url("../fonts/latoheavy.woff2") format("woff2"), url("../fonts/latoheavy.woff") format("woff"), url("../fonts/latoheavy.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
html {
  font-family: "Lato", Arial, sans-serif;
  color: var(--text);
  font-size: 13px;
  height: -webkit-fill-available;
}
@media (min-width: 320px) {
  html {
    font-size: 20px;
    font-size: calc(0.0018987342 * 100vw + 12.3924050633px);
  }
}
@media (min-width: 1900px) {
  html {
    font-size: 16px;
  }
}

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: -webkit-fill-available;
}

.wrapper {
  position: relative;
  min-width: 320px;
  min-height: 100vh;
  height: 100%;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.footer {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

a {
  display: inline-block;
  vertical-align: baseline;
}

img {
  display: inline-block;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.section {
  padding: 5em 0;
}
@media (max-width: 750px) {
  .section {
    padding: 2em 0;
  }
}

.accent {
  color: var(--accent);
}

.center {
  text-align: center;
}

.centred {
  margin: auto;
}

.light {
  color: #fff;
}

@media (max-width: 750px) {
  .desk {
    display: none;
  }
}

.mobil {
  display: none;
}
@media (max-width: 750px) {
  .mobil {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.section__title {
  margin-bottom: 10px;
  font-size: 1.65em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.section__title + .section__row {
  margin-top: 2em;
}
.section__title.quotes {
  position: relative;
}
.section__title.quotes:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -5%;
  -webkit-transform: translateY(-40%);
      -ms-transform: translateY(-40%);
          transform: translateY(-40%);
  width: 240px;
  height: 150px;
  -webkit-filter: drop-shadow(4px 30px 3px rgba(0, 0, 0, 0.18));
          filter: drop-shadow(4px 30px 3px rgba(0, 0, 0, 0.18));
  background: url(../img/bg/qwot.png) center center/contain no-repeat;
}
@media (max-width: 1400px) {
  .section__title.quotes:before {
    left: -3%;
  }
}
@media (max-width: 1150px) {
  .section__title.quotes:before {
    display: none;
  }
}

.section__lead {
  margin-bottom: 1.5em;
  font-size: 1.25em;
  text-align: center;
}

.section__caption {
  font-size: 1.25em;
  margin-bottom: 0.7em;
  font-weight: 700;
  color: var(--caption-color);
}

.section__text {
  font-size: 16px;
}
.section__text p + p {
  margin-top: 1em;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.83);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: 100;
}
.header .btn-call:after {
  display: none;
}
@media (max-width: 1000px) {
  .header .btn-call {
    margin-right: 20px;
    margin-left: auto;
  }
}
@media (max-width: 600px) {
  .header .btn-call {
    margin-right: auto;
    margin-left: auto;
    font-size: 12px;
  }
}
@media (max-width: 1000px) {
  .header .btn-link {
    display: none;
  }
}

.header__container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  padding: 0 10px;
  min-width: 320px;
}
@media (max-width: 1300px) {
  .header__container {
    padding: 0 10px;
  }
}
@media (max-width: 1000px) {
  .header__container {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.logo {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 4%;
  display: block;
  width: 115px;
}
@media (max-width: 1300px) {
  .logo {
    position: static;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    width: 40px;
  }
}

.menu {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 65%;
      -ms-flex: 0 1 65%;
          flex: 0 1 65%;
  margin: auto;
}
@media (max-width: 1350px) {
  .menu {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
}
@media (max-width: 900px) {
  .menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    opacity: 0;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.6, 0.04, 0.98, 0.34);
    transition: -webkit-transform 0.5s cubic-bezier(0.6, 0.04, 0.98, 0.34);
    -o-transition: transform 0.5s cubic-bezier(0.6, 0.04, 0.98, 0.34);
    transition: transform 0.5s cubic-bezier(0.6, 0.04, 0.98, 0.34);
    transition: transform 0.5s cubic-bezier(0.6, 0.04, 0.98, 0.34), -webkit-transform 0.5s cubic-bezier(0.6, 0.04, 0.98, 0.34);
  }
  .menu.open {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.menu__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 900px) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.menu__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}
.menu__item a {
  position: relative;
  display: block;
  padding: 1em;
  color: var(--link);
}
.menu__item a:after {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  width: 0;
  height: 2px;
  background: var(--accent);
  -webkit-transition: width 0.5s cubic-bezier(0.6, 0.04, 0.98, 0.34);
  -o-transition: width 0.5s cubic-bezier(0.6, 0.04, 0.98, 0.34);
  transition: width 0.5s cubic-bezier(0.6, 0.04, 0.98, 0.34);
}
@media (max-width: 1000px) {
  .menu__item a:after {
    display: none;
  }
}
.menu__item:hover a:after {
  width: 100%;
}

@media (max-width: 950px) {
  .header-desk {
    display: none;
  }
}

.header-mobil {
  display: none;
}
@media (max-width: 900px) {
  .header-mobil {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

/*grid*/
.section__wrapper {
  position: relative;
  max-width: 980px;
  margin: 2.8em auto 0 auto;
}
@media (max-width: 1050px) {
  .section__wrapper {
    max-width: 100%;
  }
}

.section__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
}

.section__col {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
@media (max-width: 750px) {
  .section__col {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 100%;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .section__col + .section__col {
    margin-top: 1.5em;
  }
}
.section__col.pic, .section__col.content {
  position: relative;
  padding-top: 38%;
  overflow: hidden;
}
.section__col.pic > *:first-child, .section__col.content > *:first-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section__col.content {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 60%;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
  background-color: var(--itembg);
}
@media (max-width: 750px) {
  .section__col.content {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 100%;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding-bottom: 65%;
  }
}
.section__col.review {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 60%;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
  padding: 2em 1em 2em 2em;
  min-height: 200px;
  max-height: 400px;
  border-radius: 0.5em;
  background-color: var(--reviews);
}
.section__col.review:before {
  content: "";
  position: absolute;
  left: -20px;
  top: 50%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 18px 18px 0 18px;
  border-color: var(--reviews) transparent transparent transparent;
  -webkit-transform: translateY(-50%) rotate(90deg);
      -ms-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg);
}
@media (max-width: 750px) {
  .section__col.review {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 100%;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .section__col.review:before {
    left: 50%;
    top: -17px;
    -webkit-transform: translateX(-50%) rotate(180deg);
        -ms-transform: translateX(-50%) rotate(180deg);
            transform: translateX(-50%) rotate(180deg);
  }
}
.section__col .review__container {
  overflow: auto;
}
.section__col .review__inner {
  padding-right: 1em;
  overflow: auto;
}
.section__col .review__inner p {
  margin-bottom: 1em;
}
.section__col .review__inner p:last-child {
  margin-bottom: 0;
}
.section__col.pic {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 55%;
      -ms-flex: 0 1 55%;
          flex: 0 1 55%;
}
@media (max-width: 750px) {
  .section__col.pic {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 100%;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding-bottom: 25%;
  }
}
.section__col.border {
  border: 4px solid #fff;
  border-radius: 0.4em;
  overflow: hidden;
  -webkit-box-shadow: 0px 0.8em 1em rgba(147, 147, 147, 0.37);
          box-shadow: 0px 0.8em 1em rgba(147, 147, 147, 0.37);
}
.section__col.text {
  position: relative;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 40%;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
  padding: 0.5em;
  -webkit-align-content: start;
      -ms-flex-line-pack: start;
          align-content: start;
}
@media (max-width: 750px) {
  .section__col.text {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 100%;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding: 1em 1.5em;
    margin-top: 1em;
  }
  .section__col.text:before {
    top: -17px;
    left: 50%;
    -webkit-transform: translateX(-50%) rotate(180deg);
        -ms-transform: translateX(-50%) rotate(180deg);
            transform: translateX(-50%) rotate(180deg);
  }
}
.section__col.descr {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 45%;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
  padding: 0 1em 0 2em;
}
@media (max-width: 750px) {
  .section__col.descr {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 100%;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .section__col.descr + .video,
.section__col.descr .pic {
    margin-top: 1em;
  }
}
.section__col.single {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 65%;
      -ms-flex: 0 1 65%;
          flex: 0 1 65%;
  min-height: 360px;
  padding: 3em 2.5em;
  border-radius: 0.5em;
  background-color: #fff;
  margin: auto;
}
@media (max-width: 750px) {
  .section__col.single {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 100%;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    padding: 1.5em 1em;
  }
}

/*section*/
.hero {
  height: calc(100vh - 50px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
  padding: 3em 0;
}
.hero .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 850px) and (orientation: landscape) {
  .hero {
    height: auto;
    min-height: calc(100vh - 50px);
  }
}

@media only screen and (max-height: 700px) {
  .hero {
    height: auto;
    min-height: calc(100vh - 50px);
  }
}
.hero__title {
  font-size: 30px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 1;
  text-align: center;
  color: #fff;
}
@media (min-width: 320px) {
  .hero__title {
    font-size: 16px;
    font-size: calc(0.0126582278 * 100vw + 25.9493670886px);
  }
}
@media (min-width: 1900px) {
  .hero__title {
    font-size: 50px;
  }
}

.hero__text {
  font-size: 1.3em;
  margin-bottom: 1em;
  font-weight: 900;
  text-align: center;
  line-height: 1.5;
  color: #fff;
}

.hero__slider {
  position: relative;
  margin-bottom: 3.5em;
}
@media (max-width: 650px) {
  .hero__slider {
    margin-bottom: 1.5em;
  }
}

.hero__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 750px) {
  .hero__list {
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 0 auto;
  }
}

.hero__item {
  width: 200px;
}
@media (max-width: 750px) {
  .hero__item {
    width: auto;
  }
}

.hero__icon {
  width: 80px;
  height: 80px;
  margin: 0 auto 0.5em auto;
  border-radius: 100%;
  background-color: #fff;
}

.hero__pagination .swiper-pagination-bullet-active {
  background-color: #fff;
}

.hero__caption {
  text-align: center;
  color: #fff;
}

.hero__card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__card-item {
  position: relative;
  height: 290px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 25%;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  margin: 0 0.5em;
  border-radius: 1.5em;
  color: #fff;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
}
.hero__card-item:hover .hero__card-back {
  opacity: 1;
}
@media (max-width: 750px) {
  .hero__card-item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 100%;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin: 1em 0 0 0;
    height: auto;
    padding: 2.5em;
    border-radius: 0.5em;
  }
}

.hero__card-front,
.hero__card-back {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 1.5em;
}
.hero__card-front p,
.hero__card-back p {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 3.4em;
  text-decoration: underline;
}
@media (max-width: 750px) {
  .hero__card-front p,
.hero__card-back p {
    display: none;
  }
}

@media (max-width: 750px) {
  .hero__card-front {
    background: var(--accent) !important;
  }
}

.hero__card-back {
  color: var(--accent);
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
@media (max-width: 750px) {
  .hero__card-back {
    background: #fff !important;
  }
}

.hero__card-title {
  font-size: 1.5em;
  font-weight: 900;
}
@media (max-width: 600px) {
  .hero__card-title {
    font-size: 1.2em;
  }
}

/*accordion*/
.accordion {
  margin-bottom: 1.5em;
}

.accordion__slider {
  position: relative;
}

.accordion__tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 6px solid var(--itembg);
  margin-bottom: 1.7em;
}
@media (max-width: 750px) {
  .accordion__tabs {
    display: none;
  }
}

.accordion__tab {
  position: relative;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 calc(33% - 10px);
      -ms-flex: 0 1 calc(33% - 10px);
          flex: 0 1 calc(33% - 10px);
  padding: 0.9em 0.9em 0.5em 0.9em;
  font-size: 1.25em;
  font-weight: 700;
  color: var(--itembg);
  text-align: center;
  cursor: pointer;
  -webkit-transition: color 0.5s ease-in-out;
  -o-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}
.accordion__tab:after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 6px;
  background-color: transparent;
  -webkit-transition: background-color 0.5s ease-in-out;
  -o-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}
.accordion__tab.current {
  color: var(--accent);
}
.accordion__tab.current:after {
  background-color: currentColor;
}
.accordion__tab:hover {
  color: var(--accent);
}
.accordion__tab:hover:after {
  background-color: currentColor;
}

.accordion__item {
  display: none;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.accordion__item.current {
  display: block;
  opacity: 1;
}
.accordion__item.current .accordion__item-container {
  -webkit-animation: opacity 1s ease forwards;
          animation: opacity 1s ease forwards;
}
@media (max-width: 750px) {
  .accordion__item {
    display: block;
    opacity: 1;
  }
  .accordion__item.current .accordion__item-container {
    height: auto;
    padding: 2em 0;
  }
  .accordion__item.current .accordion__item-label:after {
    -webkit-transform: rotate(-135deg) translate(-7px, 0);
        -ms-transform: rotate(-135deg) translate(-7px, 0);
            transform: rotate(-135deg) translate(-7px, 0);
  }
}

@-webkit-keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.accordion__item-caption {
  font-size: 1.25em;
  font-weight: 700;
  text-align: center;
  color: var(--accent);
}

.accordion__item-text {
  text-align: center;
}

@media (max-width: 750px) {
  .accordion__item-container {
    padding: 0 1.25em;
    height: 0;
    overflow: hidden;
    /****/
    opacity: 0;
    -webkit-transition: padding 0.5s ease, opacity 0.5s 0.15s ease;
    -o-transition: padding 0.5s ease, opacity 0.5s 0.15s ease;
    transition: padding 0.5s ease, opacity 0.5s 0.15s ease;
  }
}

.accordion__slider-button,
.accordion__item-label {
  display: none;
}
@media (max-width: 750px) {
  .accordion__slider-button,
.accordion__item-label {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.accordion__item-label {
  position: relative;
  padding: 1em 2.5em 1em 1.5em;
  margin: 0 -10px 2px -10px;
  font-size: 1.25em;
  font-weight: 700;
  background-color: var(--accent);
  color: #fff;
  cursor: pointer;
}
.accordion__item-label:after {
  content: "";
  height: 15px;
  width: 15px;
  position: absolute;
  -webkit-transform: translate(50%, 0) rotate(45deg);
      -ms-transform: translate(50%, 0) rotate(45deg);
          transform: translate(50%, 0) rotate(45deg);
  right: 1.5em;
  margin: auto;
  border: 2px solid transparent;
  border-color: transparent currentColor currentColor transparent;
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.card__list {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 980px;
  padding: 3.5em 0 2em 0;
  margin: auto;
}
@media (max-width: 1050px) {
  .card__list {
    max-width: 100%;
  }
}
@media (max-width: 750px) {
  .card__list {
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
  }
}

.card__item {
  position: relative;
  width: 30%;
  min-height: 330px;
  font-size: 16px;
  padding: 2.5em 1.5em 0.5em 1.5em;
  border-radius: 8px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0.4em 1em rgba(86, 137, 213, 0.37);
          box-shadow: 0px 0.4em 1em rgba(86, 137, 213, 0.37);
}
.card__item:nth-child(-n+3) {
  margin-bottom: 3.5em;
}
@media (max-width: 750px) {
  .card__item {
    padding: 1em 1.8em;
  }
  .card__item:nth-child(-n+3) {
    margin-bottom: auto;
  }
}

.card__icon {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -2em;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  background-color: var(--iconbg);
}
@media (max-width: 750px) {
  .card__icon {
    position: relative;
    top: auto;
    margin-bottom: 0.8em;
  }
}

.card__caption {
  margin-bottom: 0.8em;
  font-weight: 800;
  color: var(--iconbg);
}

/*possibilities*/
.possibilities .swiper-slide.section__row {
  position: relative;
}

/*contact-form*/
.contact-form {
  padding: 7em 0;
}
.contact-form .section__lead {
  max-width: 980px;
  margin: 0 auto 1.5em auto;
  font-weight: 700;
}

/*marketing*/
.marketing .section__row {
  padding: 1em 2.5em;
  min-height: 500px;
}
@media (max-width: 750px) {
  .marketing .section__row {
    min-height: 0;
  }
}

/*price*/
.price {
  padding: 7em 0;
}
.price .section__row {
  max-width: 980px;
  border-radius: 0.9em;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-shadow: 0px 7px 17px rgba(89, 89, 89, 0.37);
          box-shadow: 0px 7px 17px rgba(89, 89, 89, 0.37);
}
.price .section__col .form-wrapper {
  padding: 1.5em 1.125em 3em 1.125em;
  border-radius: 0 0.9em 0.9em 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}
@media (max-width: 750px) {
  .price .section__col .form-wrapper {
    border-radius: 0 0 0.9em 0.9em;
  }
}

.price__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  border-radius: 0.9em 0 0 0.9em;
  background-color: var(--lightbg);
}
@media (max-width: 750px) {
  .price__wrapper {
    border-radius: 0.9em 0.9em 0 0;
  }
}

.price__lead {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 24%;
      -ms-flex: 0 1 24%;
          flex: 0 1 24%;
  border-radius: 0.9em 0 0 0.9em;
  background-color: var(--accent);
  font-size: 1.25em;
  font-weight: 700;
  color: #fff;
  text-align: center;
}
@media (max-width: 750px) {
  .price__lead {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 70px;
        -ms-flex: 0 1 70px;
            flex: 0 1 70px;
    border-radius: 0.9em;
  }
}

.price__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 36%;
      -ms-flex: 1 1 36%;
          flex: 1 1 36%;
  border-bottom: 1px solid #fff;
}
.price__item:last-child {
  border-bottom: none;
}
@media (max-width: 750px) {
  .price__item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 120px;
        -ms-flex: 0 1 120px;
            flex: 0 1 120px;
  }
}

.price__content {
  max-width: 240px;
  width: 100%;
}
@media (max-width: 400px) {
  .price__content {
    margin-left: auto;
  }
}

.price__caption {
  position: relative;
  font-size: 1.25em;
  margin-bottom: 0.2em;
}
.price__caption .icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 100%;
  width: 2.1em;
  height: 2.1em;
  border-radius: 100%;
  margin-right: 6px;
  background-color: #fff;
  vertical-align: middle;
}

.price__value {
  font-weight: 800;
  margin-bottom: 0.2em;
}
.price__value span {
  font-size: 2em;
  line-height: 1;
}
.price__value span.currency {
  font-weight: 600;
}

/*develop*/
.develop {
  padding: 8em 0;
}
.develop .list li {
  margin-bottom: 2em;
}
.develop .list li:last-child {
  margin-bottom: 0;
}

/*reviews*/
.reviews .section__wrapper {
  max-width: 1090px;
}
.reviews .section__row {
  border-radius: 0.5em;
}
.reviews .section__caption {
  color: #42414b;
}

/*contacts*/
.contacts .section__row {
  max-width: 980px;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.contacts .form-wrapper {
  padding: 1em 1.125em 3em 1.125em;
}

.contacts__list {
  margin: 1.5em 0;
}

.contacts__item {
  position: relative;
  margin-bottom: 1.5em;
}
.contacts__item a {
  font-weight: 800;
}
.contacts__item:last-child {
  margin-bottom: 0;
}
.contacts__item .icon {
  vertical-align: middle;
  width: 2.65em;
  height: 2.56em;
  margin-right: 0.7em;
  border-radius: 100%;
  background-color: var(--accent);
}

.footer {
  padding: 3em 0;
  background-color: var(--footerbg);
}

.footer__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.footer__brand {
  -webkit-box-flex: 2;
  -webkit-flex: 2 1 400px;
      -ms-flex: 2 1 400px;
          flex: 2 1 400px;
  color: #727271;
}
.footer__brand .logo {
  position: static;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}
@media (max-width: 1200px) {
  .footer__brand {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 150px;
        -ms-flex: 1 1 150px;
            flex: 1 1 150px;
    margin-bottom: 1em;
  }
  .footer__brand .logo {
    width: 115px;
  }
}
@media (max-width: 750px) {
  .footer__brand {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 100%;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    text-align: center;
  }
  .footer__brand .logo {
    margin: 0 auto 10px auto;
  }
}

.footer__col {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 150px;
      -ms-flex: 1 1 150px;
          flex: 1 1 150px;
}
@media (max-width: 750px) {
  .footer__col {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 100%;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    text-align: center;
    margin-bottom: 1.5em;
  }
  .footer__col:last-child {
    margin-bottom: 0;
  }
}

.footer__copy {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 100%;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  margin-top: 7em;
  color: #727271;
}
@media (max-width: 1000px) {
  .footer__copy {
    margin-top: 4em;
  }
}

.footer__list li {
  margin-bottom: 0.5em;
}
.footer__list li:last-child {
  margin-bottom: 0;
}
.footer__list li a {
  color: var(--link);
}

.form-wrapper {
  max-width: 490px;
  padding: 3em 1.2em;
  border-radius: 0.9em;
  -webkit-box-shadow: 0px 0.8em 1em rgba(86, 137, 213, 0.37);
          box-shadow: 0px 0.8em 1em rgba(86, 137, 213, 0.37);
  background-color: #fff;
}
.form-wrapper .section__text {
  margin-bottom: 1.1em;
}
@media (max-width: 750px) {
  .form-wrapper {
    padding: 2.5em 2.1em;
  }
}
.form-wrapper .section__caption {
  max-width: 443px;
  color: var(--caption-color);
  line-height: 1.1;
}

.form {
  padding: 0 2.2em;
}

.form__row + .form__row {
  margin-top: 0.9em;
}
.form__row .btn:only-child {
  margin: auto;
}
.form__row.error {
  color: red;
}
.form__row.error .form__input {
  border: 1px solid currentColor !important;
}
.form__row.error .form__input-wrap:hover:after {
  background-color: red;
}

.form__icon {
  width: 5em;
  height: 5em;
  margin: 0 auto 0.5em auto;
  border-radius: 100%;
}

.form__label {
  position: relative;
  display: block;
  margin-bottom: 0.3em;
}

.form__input-wrap {
  position: relative;
  display: block;
}
.form__input-wrap:after {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--accent);
  -webkit-transition: width 0.5s cubic-bezier(0.6, 0.04, 0.98, 0.34);
  -o-transition: width 0.5s cubic-bezier(0.6, 0.04, 0.98, 0.34);
  transition: width 0.5s cubic-bezier(0.6, 0.04, 0.98, 0.34);
}
.form__input-wrap:hover:after {
  width: 100%;
}
.form__input-wrap:hover .form__input {
  border: 1px solid transparent;
  border-bottom: 2px solid transparent;
}

.form__input {
  padding: 1em;
  border: 1px solid transparent;
  border-bottom: 2px solid var(--accent);
  -webkit-transition: border 0.1s cubic-bezier(0.6, 0.04, 0.98, 0.34);
  -o-transition: border 0.1s cubic-bezier(0.6, 0.04, 0.98, 0.34);
  transition: border 0.1s cubic-bezier(0.6, 0.04, 0.98, 0.34);
}
.form__input:-moz-placeholder-shown:not(:hover):not(:focus) {
  border: 1px solid #cfcfcf;
}
.form__input:-ms-input-placeholder:not(:hover):not(:focus) {
  border: 1px solid #cfcfcf;
}
.form__input:placeholder-shown:not(:hover):not(:focus) {
  border: 1px solid #cfcfcf;
}
.form__input:focus {
  border: 1px solid transparent;
  border-bottom: 2px solid var(--accent);
}

.menu-trigger {
  display: none;
  position: relative;
  width: 50px;
  height: 50px;
  padding: 24px 14px;
  background-clip: content-box;
  background-color: var(--btn);
  cursor: pointer;
  top: 0;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  z-index: 11;
}
.menu-trigger:before, .menu-trigger:after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  left: 14px;
  right: 14px;
  height: 2px;
  background-color: var(--btn);
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.menu-trigger:before {
  -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
          transform: translateY(-5px);
}
.menu-trigger:after {
  -webkit-transform: translateY(5px);
      -ms-transform: translateY(5px);
          transform: translateY(5px);
}
.menu-trigger.open {
  background-color: transparent;
}
.menu-trigger.open:before {
  -webkit-transform: translateY(0) rotate(45deg);
      -ms-transform: translateY(0) rotate(45deg);
          transform: translateY(0) rotate(45deg);
}
.menu-trigger.open:after {
  -webkit-transform: translateY(0) rotate(-45deg);
      -ms-transform: translateY(0) rotate(-45deg);
          transform: translateY(0) rotate(-45deg);
}
@media (max-width: 900px) {
  .menu-trigger {
    display: block;
  }
}

.btn {
  position: relative;
  padding: 1.2em 2em;
  border-radius: 0.5em;
  text-transform: uppercase;
  font-weight: 800;
  background-color: var(--btn);
  color: #fff;
  line-height: 1;
  -webkit-box-shadow: inset 0px 4px 2px rgba(255, 255, 255, 0.25);
          box-shadow: inset 0px 4px 2px rgba(255, 255, 255, 0.25);
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.btn.btn-call {
  font-size: 15px;
  text-align: center;
  padding: 0.3em 2.5em;
  line-height: 1.1;
  margin: auto;
  color: #fff;
}
.btn:hover {
  background-color: var(--btn-hov);
}
.btn:disabled {
  opacity: 0.5;
}

.btn-link {
  position: relative;
  padding: 0.6em 0.2em;
  font-size: 1.2em;
  font-weight: 800;
  color: var(--link);
}
.btn-link:after {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  width: 0;
  height: 2px;
  background: currentColor;
  -webkit-transition: width 0.5s cubic-bezier(0.6, 0.04, 0.98, 0.34);
  -o-transition: width 0.5s cubic-bezier(0.6, 0.04, 0.98, 0.34);
  transition: width 0.5s cubic-bezier(0.6, 0.04, 0.98, 0.34);
}
.btn-link:hover:after {
  width: 100%;
}

.play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 5.5em;
  height: 3.4em;
}

/* Lightbox.js */
.remove-scroll {
  overflow: hidden;
}

.lightbox-hide {
  top: -9999px;
  left: -9999px;
  position: absolute;
  visibility: hidden;
}

.lightbox-container {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 2em;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  position: fixed;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 100;
}

.lightbox-wrapper {
  position: relative;
}

.lightbox-image {
  max-height: 80vh;
  vertical-align: middle;
}

.lightbox-btn {
  width: 2.2em;
  height: 2.2em;
  position: absolute;
  border-radius: 50%;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #000;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 100;
}

.lightbox-btn:disabled {
  cursor: initial;
  background-color: #adadad;
}

.lightbox-btn-close {
  top: -0.8em;
  right: -0.8em;
  background-size: 40%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cpath fill='%23fff' d='M98.2 89.3L58.8 50l39.3-39.3c2.4-2.4 2.4-6.4 0-8.8-2.4-2.4-6.4-2.4-8.8 0L50 41.2 10.7 1.8C8.3-.6 4.3-.6 1.9 1.8c-2.4 2.4-2.4 6.4 0 8.8L41.2 50 1.8 89.3c-2.4 2.4-2.4 6.4 0 8.8 2.4 2.4 6.4 2.4 8.8 0L50 58.8l39.3 39.3c2.4 2.4 6.4 2.4 8.8 0 2.5-2.4 2.5-6.3.1-8.8z'/%3E%3C/svg%3E");
}

.lightbox-btn-next,
.lightbox-btn-previous {
  top: calc(50% - (2.2em / 2));
  background-size: 25% 80%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 17 31' %3E%3Cpath fill='%23fff' d='M0.5,27.9c-0.7,0.7-0.7,1.7,0,2.4c0.7,0.7,1.7,0.7,2.4,0l13.6-13.6c0.7-0.7,0.7-1.7,0-2.4L2.9,0.7 C2.2,0,1.2,0,0.5,0.7c-0.7,0.7-0.7,1.7,0,2.4l12.4,12.4L0.5,27.9z'/%3E%3C/svg%3E");
}

.lightbox-btn-previous {
  left: 1.5em;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.lightbox-btn-next {
  right: 1.5em;
}

.lightbox-video-wrapper {
  width: 80vw;
  overflow: hidden;
  position: relative;
  padding-bottom: 56.25%;
}

.lightbox-video-player {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes createBox {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes createBox {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes deleteBox {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
@keyframes deleteBox {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
/*slider*/
.swiper-slide.section__row {
  padding: 3em 2.5em;
  background-color: #fff;
  border-radius: 0.5em;
}
.swiper-slide.section__row.no-bg {
  background-color: transparent;
}
@media (max-width: 750px) {
  .swiper-slide.section__row {
    padding: 1.5em 1em;
  }
}
.swiper-slide .section__container {
  max-width: 75%;
  margin: auto;
}

.slider1__pagination,
.slider2__pagination,
.slider3__pagination {
  display: none;
}
@media (max-width: 750px) {
  .slider1__pagination,
.slider2__pagination,
.slider3__pagination {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: initial;
  }
  .slider1__pagination .swiper-pagination-bullet,
.slider2__pagination .swiper-pagination-bullet,
.slider3__pagination .swiper-pagination-bullet {
    border: none;
    opacity: 0.2;
  }
  .slider1__pagination .swiper-pagination-bullet-active,
.slider2__pagination .swiper-pagination-bullet-active,
.slider3__pagination .swiper-pagination-bullet-active {
    opacity: 1;
  }
}

.section__slider-btns .swiper-button-prev {
  left: -5em;
}
@media (max-width: 1200px) {
  .section__slider-btns .swiper-button-prev {
    left: -0.5em;
  }
}
.section__slider-btns .swiper-button-next {
  right: -5em;
}
@media (max-width: 1200px) {
  .section__slider-btns .swiper-button-next {
    right: -0.5em;
  }
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.list {
  margin: 0.4em 0 0.4em 1.4em;
}
.list li {
  position: relative;
  padding-left: 0.8em;
  margin-bottom: 0.4em;
}
.list li:before {
  content: "";
  position: absolute;
  top: 0.5em;
  left: 0;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: currentColor;
}
.list li:last-child {
  margin-bottom: 0;
}

.avatar {
  width: 5em;
  height: 5em;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.4em;
  margin-right: 0.5em;
}

/*popup + overlay*/
.overlay {
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  -webkit-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
.overlay.shown {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: opacity 1s ease forwards;
          animation: opacity 1s ease forwards;
}

.popup {
  position: relative;
  max-width: 550px;
  margin: auto;
}
.popup p {
  margin-bottom: 1.5em;
  font-size: 1.25em;
  color: var(--caption-color);
}

.popup__body {
  padding: 3em 2.5em;
  border-radius: 1em;
  background-color: #fff;
  -webkit-box-shadow: 3px 0.5em 1em rgba(147, 147, 147, 0.26);
          box-shadow: 3px 0.5em 1em rgba(147, 147, 147, 0.26);
}
.popup__body .btn {
  width: 270px;
}

.popup__icon {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -2.7em;
  width: 5.5em;
  height: 5.5em;
}
/*# sourceMappingURL=main.css.map */