$container: 1240px;

$fz: 24px;
$ff: "TTRounds", sans-serif;
$ff-a: "Rounds", sans-serif;

$text: #fff;
$main: #e09c93;
$next: #d7ecec;
$accent: #f6f900;
$light: #ff5d00;
$outline: 0 -1px 0 #ff5d00, 0 -1px 0 #ff5d00, 0 1px 0 #ff5d00, 0 1px 0 #ff5d00, -1px 0 0 #ff5d00, 1px 0 0 #ff5d00,
 -1px 0 0 #ff5d00, 1px 0 0 #ff5d00, -1px -1px 0 #ff5d00, 1px -1px 0 #ff5d00, -1px 1px 0 #ff5d00, 1px 1px 0 #ff5d00,
 -1px -1px 0 #ff5d00, 1px -1px 0 #ff5d00, -1px 1px 0 #ff5d00, 1px 1px 0 #ff5d00;
$filter: drop-shadow(7px -29px 10px rgba(0, 0, 0, 0.22));
$blur: blur(2px);
