@font-face{
  font-family: Montserrat;
  src: local('lol'),
    url('../fonts/montserrat.eot?#iefix') format('embedded-opentype'),
    url('../fonts/montserrat.woff') format("woff"),
    url('../fonts/montserrat.svg') format("svg");
  font-weight: 400;
  font-style: normal;
}

h1, h2, h3, h4 {
  font-family: Raleway, Roboto, sans-serif;
  font-weight: 400;
  line-height: 1;
  color: $title-color;
}

h1 {
  font-weight: 500;
  font-size: 50px;
}

h3 {
  font-weight: 500;
  font-size: 30px;
}

.stn__title {
  margin-bottom: 30px;
  text-align: center;
  &--white {
    color: #fff;
  }
}

p {
  font-family: Montserrat;
  font-variant: 400;
  line-height: 1.5;
  color: $main-text;
}

.stn__description {
  &--white{
    color: #fff;
  }
}  