//btn

$btn-stay: #998675;
$accent-btn: #736357;
$hover-color: #362f2d;

//typografy

$hover-text: #c7b299;
$title-color: #555555;
$main-text: #8c8c8c;
$footer-span: #00bff3;

//layout
$top-footer: #191919;
$bootonme-footer: #111;
