.result {
 background: #ffffff;
 border: 1px solid #f1f1f1;
 box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.1);
}
.result__row {
 position: relative;
 @include row(jfs, ac);
 padding: (23/26) * 1rem 1rem rem(21.5, 26) 1rem;
 border-bottom: 1px solid #f1f1f1;
 &:last-of-type {
  border-bottom: none;
 }
 &--paused {
  color: lighten($color: $text, $amount: 20%);
  .result__avatar {
   background: linear-gradient(220.16deg, #e9e8e8 6.3%, #dadada 90.95%);
  }
  &:before {
   content: "";
   position: absolute;
   left: 0;
   top: 0;
   width: 7px;
   height: 100%;
   background: #2e94f3;
   border-radius: 0px 6px 6px 0px;
  }
 }
 &--warning {
  .result__descr {
   color: $accent;
  }
 }
}

.result__avatar {
 @include row(jc, ac);
 width: (71.5/26) * 1rem;
 height: (71.5/26) * 1rem;
 border: 1px solid #f1f1f1;
 border-radius: 100%;
 margin-right: (18.5/26) * 1rem;
 background: linear-gradient(220.16deg, #e162bd 6.3%, #b23c7e 90.95%);
 span {
  font-size: (30/26) * 1rem;
  text-transform: uppercase;
  color: #fff;
 }
}

.result__content {
 width: calc(100% - 2.75rem - (18.5 / 26) * 1rem);
}

.result__title {
 font-size: (30/26) * 1rem;
 margin-bottom: 0.3rem;
 letter-spacing: 0.005em;
}

.result__descr {
 @include row(jfs, ab);
 font-size: (19/26) * 1rem;
 letter-spacing: 0.05em;
 * + * {
  margin: 0 (12.75/26) * 1rem;
 }
 *:first-of-type {
  margin-right: (12.75/26) * 1rem;
 }
}
