html {
  font-family: var(--ff), sans-serif;
  color: var(--text);
  font-size: var(--fz);
  //  @include fFS(16px, $fz, 320px, 1900px, 20px);
  // height: -webkit-fill-available;
}

body {
  display: flex;
  flex-direction: column;
  // min-height: -webkit-fill-available;
}

.wrapper {
  position: relative;
  min-width: 320px;
  max-width: var(--container);
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  // height: 100%;
  flex-grow: 1;
  overflow: hidden;
}

.footer {
  flex-grow: 0;
}

a {
  display: inline-block;
  vertical-align: middle;
}

img {
  display: inline-block;
  vertical-align: middle;
}

.container {
  // max-width: var(--container);
  // margin: 0 auto;
  padding: 0 30px;
  @include bp(350px) {
    padding: 0 10px;
  }
}

.container-left {
  padding: 0 0 0 30px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  &.jsb {
    justify-content: space-between;
  }
}

.section {
  padding: 50px 0;
  &--bg {
    position: relative;
    padding: 60px 0 50px 0;
    background-color: var(--light);
  }
}

.section__header {
  text-align: center;
  margin-bottom: 50px;
}

.section__icon {
  width: 110px;
  margin: 0 auto 20px auto;
  img {
    display: block;
    width: 100%;
  }
}

.section__title {
  font-size: 33px;
  font-weight: 700;
}

.accent {
  display: inline;
  font-weight: 700;
  color: var(--accent);
}

.note {
  margin-bottom: 20px;
}
