// $container: 1280px;

// $fz: 20px;
// $ff: Arial;
// $acent-ff: PTSans;

// $text: #222;
// $accent: #f01;

:root {
 --container: 400px;
 --fz: 14px;
 --ff: "Inter";
 --text: #535353;
 --accent: #14ad28;
 --light: #e2f7ff;
}
