html {
 font-family: $ff;
 color: $text;
 font-size: $fz;
 height: -webkit-fill-available;
}

body {
 display: flex;
 flex-direction: column;
 min-height: -webkit-fill-available;
 line-height: 1;
}

.wrapper {
 position: relative;
 min-width: 320px;
 // min-height: 100%;
 // min-height: 100vh;
 height: 100%;
 flex-grow: 1;
 overflow: hidden;
}

.footer {
 flex-grow: 0;
}

a {
 display: inline-block;
 vertical-align: middle;
}

img {
 display: inline-block;
}

.container {
 max-width: rem(1220, 26);
 min-width: rem(900, 26);
 margin: 0 auto;
 // padding: 0 10px;
}
