*,
:before,
:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  overflow: auto;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  font-smooth: always;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-overflow-scrolling: touch;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

video,
audio,
canvas {
  display: inline-block;
}

span {
  display: inline-block;
}

a,
input,
button,
textarea,
optgroup,
select,
fieldset,
figure,
legend,
address {
  font: inherit;
  color: inherit;
  line-height: inherit;
  text-transform: inherit;
  text-shadow: inherit;
  border: none;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
}

a,
button,
[type=button],
[type=submit] {
  -webkit-transition: color 0.25s, background 0.25s, opacity 0.25s;
  -o-transition: color 0.25s, background 0.25s, opacity 0.25s;
  transition: color 0.25s, background 0.25s, opacity 0.25s;
}

a {
  cursor: pointer;
  text-decoration: none;
  -webkit-text-decoration-skip: none;
}

button {
  overflow: visible;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
}

p {
  margin: 0;
}

b,
strong {
  font-weight: 700;
}

img,
svg,
embed,
object,
iframe,
video,
audio,
canvas {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  border: 0;
}

img {
  image-rendering: optimizeQuality;
}

svg {
  color: inherit;
}
svg:not(:root) {
  overflow: hidden;
}

progress {
  vertical-align: baseline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-rendering: optimizeLegibility;
  font: inherit;
  color: inherit;
  margin: 0;
}

ul,
ol,
menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

input,
select,
button,
button > *,
a > * {
  display: inline-block;
  vertical-align: middle;
}

button,
label,
select,
summary,
[type=button],
[type=submit],
[type=reset],
[type=checkbox],
[type=radio],
[type=range] {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

[type=button],
[type=submit],
[type=search],
[type=radio],
[type=range],
::-webkit-search-cancel-button,
::-webkit-search-decoration,
::-webkit-outer-spin-button,
::-webkit-inner-spin-button,
::-webkit-slider-thumb {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

::-webkit-contacts-auto-fill-button,
::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  right: 0;
}

:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 1000px #fff;
          box-shadow: inset 0 0 0 1000px #fff;
}

::-webkit-details-marker {
  display: none;
}

[type=radio] {
  -webkit-appearance: radio;
}

[type=number] {
  -moz-appearance: textfield;
}

::-ms-clear,
::-ms-reveal {
  display: none;
}

input,
textarea {
  width: 100%;
}

input {
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

textarea {
  overflow: auto;
  resize: none;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

:disabled {
  pointer-events: none;
}

::-moz-focus-outer,
::-moz-focus-inner {
  border: 0;
  padding: 0;
}

::-moz-placeholder {
  opacity: 1;
}

::placeholder,
::-moz-placeholder {
  opacity: 1;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td,
th {
  padding: 0;
  text-align: center;
}

article p:not(:empty) {
  margin-top: 0.7em;
  margin-bottom: 0.7em;
}
article img,
article embed,
article object,
article iframe,
article video {
  display: block;
  margin: auto;
}
article span {
  display: inline;
}
article ul,
article ol,
article menu {
  margin-top: 0.7em;
  margin-bottom: 0.7em;
}
article ul ul,
article ul ol,
article ul menu,
article ol ul,
article ol ol,
article ol menu,
article menu ul,
article menu ol,
article menu menu {
  margin: 0;
  padding-left: 1.3em;
}
article ul > li:before,
article ol > li:before,
article menu > li:before {
  margin-right: 0.7em;
}
article ul > li p,
article ol > li p,
article menu > li p {
  display: inline;
}
article ul > li:before,
article menu > li:before {
  content: "";
  width: 0.4em;
  height: 0.4em;
  display: inline-block;
  vertical-align: 10%;
  border-radius: 50%;
  background: #000;
  border: 1px solid #000;
}
article ul > li li:before,
article menu > li li:before {
  background: transparent;
}
article ol {
  counter-reset: count;
}
article ol > li:before {
  content: counter(count) ".";
  counter-increment: count;
}

@font-face {
  font-family: "buyan";
  src: url("../fonts/buyanbold.woff2") format("woff2"), url("../fonts/buyanbold.woff") format("woff"), url("../fonts/buyanbold.svg#boldbold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "buyan";
  src: url("../fonts/buyanregular.woff") format("woff"), url("../fonts/buyanregular.woff2") format("woff2"), url("../fonts/buyanregular.svg#regularregular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "buyan";
    src: url("../fonts/buyanbold.svg#boldbold") format("svg");
  }
}
@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-narrow-v12-latin_cyrillic-700.eot");
  src: local(""), url("../fonts/pt-sans-narrow-v12-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/pt-sans-narrow-v12-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/pt-sans-narrow-v12-latin_cyrillic-700.woff") format("woff"), url("../fonts/pt-sans-narrow-v12-latin_cyrillic-700.svg#PTSansNarrow") format("svg");
}
@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-narrow-v12-latin_cyrillic-regular.eot");
  src: local(""), url("../fonts/pt-sans-narrow-v12-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/pt-sans-narrow-v12-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/pt-sans-narrow-v12-latin_cyrillic-regular.woff") format("woff"), url("../fonts/pt-sans-narrow-v12-latin_cyrillic-regular.svg#PTSansNarrow") format("svg");
}
html {
  font-family: "PT Sans Narrow", sans-serif;
  color: #dcdcdc;
  font-size: 16px;
  height: -webkit-fill-available;
}
@media (min-width: 320px) {
  html {
    font-size: 20px;
    font-size: calc(0.0012658228 * 100vw + 15.5949367089px);
  }
}
@media (min-width: 1900px) {
  html {
    font-size: 18px;
  }
}

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: -webkit-fill-available;
  background: #343434;
  font-weight: normal;
}

.wrapper {
  position: relative;
  min-width: 320px;
  min-height: 100vh;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: hidden;
}

.footer {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

a {
  display: inline-block;
  vertical-align: middle;
}

img {
  display: inline-block;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 10px;
}

.center {
  text-align: center;
}

.section__header {
  font-size: 35px;
  font-family: "buyan", sans-serif;
  letter-spacing: 0.08em;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(35.94%, #fffa8b), to(#ffcc91));
  background-image: -o-linear-gradient(top, #fffa8b 35.94%, #ffcc91 100%);
  background-image: linear-gradient(180deg, #fffa8b 35.94%, #ffcc91 100%);
}
@media (min-width: 320px) {
  .section__header {
    font-size: 20px;
    font-size: calc(0.0110169492 * 100vw + 31.4745762712px);
  }
}
@media (min-width: 1500px) {
  .section__header {
    font-size: 48px;
  }
}

.section__title {
  font-size: 0.9em;
  margin-bottom: 1.5em;
  text-transform: uppercase;
  font-weight: 700;
}

* + .section__title {
  margin-top: 2.43em;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  min-width: 320px;
  padding-top: 20px;
  z-index: 10;
}
@media (max-width: 1100px) {
  .header {
    padding-top: 0;
    background: #111;
  }
}

.header__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1770px;
  padding: 0 10px;
  margin: 0 auto;
}
@media (max-width: 1100px) {
  .header__container {
    padding: 0 10px 0 0;
  }
}

.logo {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 165px;
      -ms-flex: 0 1 165px;
          flex: 0 1 165px;
}
.logo a {
  display: block;
  line-height: 0;
}
@media (max-width: 1100px) {
  .logo {
    margin-right: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 135px;
        -ms-flex: 0 1 135px;
            flex: 0 1 135px;
  }
}

.nav__wrapper {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 1120px;
      -ms-flex: 0 1 1120px;
          flex: 0 1 1120px;
  padding: 0 10px;
  margin: 0 auto;
}
@media (max-width: 1500px) {
  .nav__wrapper {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}
@media (max-width: 1100px) {
  .nav__wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #111;
    opacity: 0;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    -o-transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
  .nav__wrapper.open {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.nav__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1100px) {
  .nav__list {
    display: block;
  }
}
.nav__list.tablet {
  margin-right: 0.5em;
}

.nav__item a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 1.1em 0.3em;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 1;
}
@media (max-width: 1100px) {
  .nav__item a {
    font-size: 15px;
  }
}
.nav__item:hover > a {
  color: #ffd290;
}

.nav__mobil-text {
  display: none;
}
@media (max-width: 1100px) {
  .nav__mobil-text {
    display: block;
  }
}

.nav__text + * {
  margin-left: 0.4em;
}

.tablet {
  display: none;
}
@media (max-width: 1100px) {
  .tablet {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 650px) {
  .tablet {
    display: none;
  }
}

.nav__icon,
.login__icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0.4em;
}

.login__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 1.1em 0.1em;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 1;
}
@media (max-width: 1100px) {
  .login__link {
    font-size: 14px;
  }
}

.login:hover > a {
  color: #ffd290;
}

/*benefits*/
.benefits {
  padding-bottom: 4.5%;
}

.benefits__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1380px;
  margin: 0 auto;
}

.benefits__pic {
  width: 41.6%;
}
@media (max-width: 650px) {
  .benefits__pic {
    width: 100%;
    margin-bottom: 1.5em;
  }
}

.benefits__descr {
  width: 49.2%;
}
@media (max-width: 650px) {
  .benefits__descr {
    width: 100%;
  }
}

.benefits__list {
  max-width: 490px;
}

.benefits__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0.9em;
}
.benefits__item:last-child {
  margin-bottom: 0;
}

.benefits__item-icon {
  width: 58px;
  -webkit-filter: drop-shadow(0px -1px 0px rgba(255, 184, 0, 0.21)) drop-shadow(0px 1px 0px rgba(0, 71, 255, 0.47));
          filter: drop-shadow(0px -1px 0px rgba(255, 184, 0, 0.21)) drop-shadow(0px 1px 0px rgba(0, 71, 255, 0.47));
}

.benefits__item-text {
  width: calc(100% - 70px);
}

/*how*/
.how {
  max-width: 1380px;
  margin: 0 auto 9% auto;
}

.how__list {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.how__item {
  position: relative;
  width: 23%;
}
@media (max-width: 900px) {
  .how__item {
    width: auto;
  }
}
.how__item:nth-last-child(2) .how__pic:after {
  right: -50%;
}
.how__item:last-child .how__pic:after {
  display: none;
}

.how__pic {
  position: relative;
  max-width: 278px;
  margin: 0 auto 1em auto;
}
.how__pic img {
  display: block;
  width: 100%;
}
.how__pic:after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -33%;
  width: 55%;
  height: 6px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 101 9'%3E%3Cpath fill='%23fff' d='M100.85 4.765a.5.5 0 0 0 0-.707L97.668.876a.5.5 0 1 0-.707.707l2.828 2.828-2.828 2.829a.5.5 0 0 0 .707.707l3.182-3.182ZM.504 4.91h99.992v-1H.504v1Z'/%3E%3C/svg%3E");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
@media (max-width: 1100px) {
  .how__pic:after {
    display: none;
  }
}

.how__text {
  padding: 0 5px;
  text-align: center;
}
@media (max-width: 1100px) {
  .how__text br {
    display: none;
  }
}

.how__button {
  display: none;
}
@media (max-width: 900px) {
  .how__button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.how__button-prev,
.how__button-next {
  top: 0;
  height: 110%;
  width: 13%;
  min-width: 80px;
  background-size: cover;
  background-repeat: no-repeat;
}
.how__button-prev:after,
.how__button-next:after {
  display: none;
}

.how__button-prev {
  left: 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 81 245'%3E%3Cpath fill='url(%23a)' d='M80.852 244.954h-59.34L0 122.477 21.513 0h59.34v244.954Z'/%3E%3Cdefs%3E%3ClinearGradient id='a' x1='2.919' x2='80.852' y1='122.477' y2='122.477' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23959595'/%3E%3Cstop offset='.729' stop-color='%23343434' stop-opacity='0'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
  background-position: center left;
}

.how__button-next {
  right: 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 82 246'%3E%3Cpath d='M.15.428h59.339L81 122.905 59.49 245.382H.149V.428Z' fill='url(%23a)'/%3E%3Cdefs%3E%3ClinearGradient id='a' x1='78.082' x2='.149' y1='122.905' y2='122.905' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23959595'/%3E%3Cstop offset='.729' stop-color='%23343434' stop-opacity='0'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
  background-position: center right;
}

/*models*/
.models {
  background: #1f1932;
  min-height: 100vh;
}
.models .section__header {
  margin-bottom: 1.5em;
}

.models__container {
  max-width: 1060px;
  margin: 0 auto;
}

.models__list {
  max-width: 980px;
  margin-left: auto;
}

.models__content {
  max-width: 880px;
  margin: 0 0 0 3em;
}

.models__item {
  position: relative;
  margin-bottom: 1.8em;
}
.models__item:last-child {
  margin-bottom: 0;
}
.models__item.open .models__content {
  background: #4c4b50;
}
.models__item.open .models__icon {
  -webkit-transform: scale(3) translateY(20%);
      -ms-transform: scale(3) translateY(20%);
          transform: scale(3) translateY(20%);
}
.models__item.open .models__open {
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
.models__item.open .models__close {
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
.models__item.open .models__header {
  padding: 0.5em 0 0.5em 5em;
}
.models__item.open .models__link {
  display: none;
}

.models__header {
  padding: 0.5em;
  -webkit-transition: padding 0.5s ease-in-out;
  -o-transition: padding 0.5s ease-in-out;
  transition: padding 0.5s ease-in-out;
}

.models__icon {
  position: absolute;
  top: -0.5em;
  left: -2.2em;
  width: 4.4em;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: 1;
}
@media (max-width: 1100px) {
  .models__icon {
    font-size: 12px;
  }
}

.models__open {
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

object.models__open {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
}

.models__close {
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.models__title {
  margin-bottom: 5px;
  font-size: 2.2em;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
}

.models__subtitle {
  font-weight: 700;
}

.models__link {
  padding: 1em 1em 1em 0;
  color: #ffc48d;
}

.menu-trigger {
  display: none;
  position: relative;
  width: 50px;
  height: 40px;
  padding: 19px 14px;
  background-clip: content-box;
  background-color: currentColor;
  cursor: pointer;
  top: 0;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  z-index: 11;
}
.menu-trigger:before, .menu-trigger:after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  left: 14px;
  right: 14px;
  height: 2px;
  background-color: currentColor;
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.menu-trigger:before {
  -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
          transform: translateY(-5px);
}
.menu-trigger:after {
  -webkit-transform: translateY(5px);
      -ms-transform: translateY(5px);
          transform: translateY(5px);
}
.menu-trigger.open {
  background-color: transparent;
}
.menu-trigger.open:before {
  -webkit-transform: translateY(0) rotate(45deg);
      -ms-transform: translateY(0) rotate(45deg);
          transform: translateY(0) rotate(45deg);
}
.menu-trigger.open:after {
  -webkit-transform: translateY(0) rotate(-45deg);
      -ms-transform: translateY(0) rotate(-45deg);
          transform: translateY(0) rotate(-45deg);
}
@media (max-width: 1100px) {
  .menu-trigger {
    display: block;
  }
}
/*# sourceMappingURL=main.css.map */