@charset "UTF-8";
*,
:before,
:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  overflow: auto;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  font-smooth: always;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-overflow-scrolling: touch;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

video,
audio,
canvas {
  display: inline-block;
}

span {
  display: inline-block;
}

a,
input,
button,
textarea,
optgroup,
select,
fieldset,
figure,
legend,
address {
  font: inherit;
  color: inherit;
  line-height: inherit;
  text-transform: inherit;
  text-shadow: inherit;
  border: none;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
}

a,
button,
[type=button],
[type=submit] {
  -webkit-transition: color 0.25s, background 0.25s, opacity 0.25s;
  -o-transition: color 0.25s, background 0.25s, opacity 0.25s;
  transition: color 0.25s, background 0.25s, opacity 0.25s;
}

a {
  cursor: pointer;
  text-decoration: none;
  -webkit-text-decoration-skip: none;
}

button {
  overflow: visible;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
}

p {
  margin: 0;
}

b,
strong {
  font-weight: 700;
}

img,
svg,
embed,
object,
iframe,
video,
audio,
canvas {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  border: 0;
}

img {
  image-rendering: optimizeQuality;
}

svg {
  color: inherit;
}
svg:not(:root) {
  overflow: hidden;
}

progress {
  vertical-align: baseline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-rendering: optimizeLegibility;
  font: inherit;
  color: inherit;
  margin: 0;
}

ul,
ol,
menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

input,
select,
button,
button > *,
a > * {
  display: inline-block;
  vertical-align: middle;
}

button,
label,
select,
summary,
[type=button],
[type=submit],
[type=reset],
[type=checkbox],
[type=radio],
[type=range] {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

[type=button],
[type=submit],
[type=search],
[type=radio],
[type=range],
::-webkit-search-cancel-button,
::-webkit-search-decoration,
::-webkit-outer-spin-button,
::-webkit-inner-spin-button,
::-webkit-slider-thumb {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

::-webkit-contacts-auto-fill-button,
::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  right: 0;
}

:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 1000px #fff;
          box-shadow: inset 0 0 0 1000px #fff;
}

::-webkit-details-marker {
  display: none;
}

[type=radio] {
  -webkit-appearance: radio;
}

[type=number] {
  -moz-appearance: textfield;
}

::-ms-clear,
::-ms-reveal {
  display: none;
}

input,
textarea {
  width: 100%;
}

input {
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

textarea {
  overflow: auto;
  resize: none;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

:disabled {
  pointer-events: none;
}

::-moz-focus-outer,
::-moz-focus-inner {
  border: 0;
  padding: 0;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td,
th {
  padding: 0;
  text-align: center;
}

article p:not(:empty) {
  margin-top: 0.7em;
  margin-bottom: 0.7em;
}
article img,
article embed,
article object,
article iframe,
article video {
  display: block;
  margin: auto;
}
article span {
  display: inline;
}
article ul,
article ol,
article menu {
  margin-top: 0.7em;
  margin-bottom: 0.7em;
}
article ul ul,
article ul ol,
article ul menu,
article ol ul,
article ol ol,
article ol menu,
article menu ul,
article menu ol,
article menu menu {
  margin: 0;
  padding-left: 1.3em;
}
article ul > li:before,
article ol > li:before,
article menu > li:before {
  margin-right: 0.7em;
}
article ul > li p,
article ol > li p,
article menu > li p {
  display: inline;
}
article ul > li:before,
article menu > li:before {
  content: "";
  width: 0.4em;
  height: 0.4em;
  display: inline-block;
  vertical-align: 10%;
  border-radius: 50%;
  background: #000;
  border: 1px solid #000;
}
article ul > li li:before,
article menu > li li:before {
  background: transparent;
}
article ol {
  counter-reset: count;
}
article ol > li:before {
  content: counter(count) ".";
  counter-increment: count;
}

@font-face {
  font-family: "buyan";
  src: url("../fonts/buyanbold.woff2") format("woff2"), url("../fonts/buyanbold.woff") format("woff"), url("../fonts/buyanbold.svg#boldbold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "buyan";
  src: url("../fonts/buyanregular.woff") format("woff"), url("../fonts/buyanregular.woff2") format("woff2"), url("../fonts/buyanregular.svg#regularregular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "buyan";
    src: url("../fonts/buyanbold.svg#boldbold") format("svg");
  }
}
@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-narrow-v12-latin_cyrillic-700.eot");
  src: local(""), url("../fonts/pt-sans-narrow-v12-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/pt-sans-narrow-v12-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/pt-sans-narrow-v12-latin_cyrillic-700.woff") format("woff"), url("../fonts/pt-sans-narrow-v12-latin_cyrillic-700.svg#PTSansNarrow") format("svg");
}
@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-narrow-v12-latin_cyrillic-regular.eot");
  src: local(""), url("../fonts/pt-sans-narrow-v12-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/pt-sans-narrow-v12-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/pt-sans-narrow-v12-latin_cyrillic-regular.woff") format("woff"), url("../fonts/pt-sans-narrow-v12-latin_cyrillic-regular.svg#PTSansNarrow") format("svg");
}
html {
  font-family: "PT Sans Narrow", sans-serif;
  color: #dcdcdc;
  font-size: 16px;
  height: -webkit-fill-available;
}
@media (min-width: 320px) {
  html {
    font-size: 20px;
    font-size: calc(0.0012658228 * 100vw + 15.5949367089px);
  }
}
@media (min-width: 1900px) {
  html {
    font-size: 18px;
  }
}

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: -webkit-fill-available;
  background: #343434;
  font-weight: normal;
}
body.noscroll {
  overflow: hidden;
}

.wrapper {
  position: relative;
  min-width: 320px;
  min-height: 100vh;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: hidden;
}

.footer {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

a {
  display: inline-block;
  vertical-align: middle;
}
a:hover {
  color: #ffd290;
}

img {
  display: inline-block;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 10px;
}

.center {
  text-align: center;
}

.section--top {
  padding: 4em 0 3em 0;
  margin-top: 4em;
}
@media (max-width: 1100px) {
  .section--top {
    margin-top: 2em;
    padding: 2em 0;
  }
}

.section__header {
  font-size: 35px;
  font-family: "buyan", sans-serif;
  letter-spacing: 0.08em;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(35.94%, #fffa8b), to(#ffcc91));
  background-image: -o-linear-gradient(top, #fffa8b 35.94%, #ffcc91 100%);
  background-image: linear-gradient(180deg, #fffa8b 35.94%, #ffcc91 100%);
  color: transparent;
}
@media (min-width: 320px) {
  .section__header {
    font-size: 20px;
    font-size: calc(0.0110169492 * 100vw + 31.4745762712px);
  }
}
@media (min-width: 1500px) {
  .section__header {
    font-size: 48px;
  }
}
.section__header--lite {
  color: #fff;
  background-image: transpatent;
}

.section__title {
  font-size: 0.9em;
  margin-bottom: 1.5em;
  text-transform: uppercase;
  font-weight: 700;
}

.section__caption {
  margin-bottom: 0.8em;
}

* + .section__title {
  margin-top: 2.43em;
}

.section__header + .section__title {
  margin-top: 1em;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  min-width: 320px;
  padding-top: 20px;
  z-index: 10;
  background-color: transparent;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.header.sticky {
  padding-top: 0;
  background-color: #343434;
}
@media (max-width: 1100px) {
  .header {
    padding-top: 0;
    background-color: #111;
  }
}

.header__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1770px;
  padding: 0 10px;
  margin: 0 auto;
}
@media (max-width: 1100px) {
  .header__container {
    padding: 0 10px 0 0;
  }
}

.logo {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 165px;
      -ms-flex: 0 1 165px;
          flex: 0 1 165px;
}
.logo a {
  display: block;
  line-height: 0;
}
@media (max-width: 1100px) {
  .logo {
    margin-right: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 135px;
        -ms-flex: 0 1 135px;
            flex: 0 1 135px;
  }
}

.nav__wrapper {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 1120px;
      -ms-flex: 0 1 1120px;
          flex: 0 1 1120px;
  padding: 0 10px;
  margin: 0 auto;
}
@media (max-width: 1500px) {
  .nav__wrapper {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    padding: 0 10px 0 5%;
  }
}
@media (max-width: 1200px) {
  .nav__wrapper {
    padding: 0 10px;
  }
}
@media (max-width: 1100px) {
  .nav__wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #111;
    opacity: 0;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    -o-transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
  .nav__wrapper.open {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.nav__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1100px) {
  .nav__list {
    display: block;
  }
}
.nav__list.tablet {
  margin-right: 0.5em;
}

.nav__item a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 1.1em 0.3em;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 1;
  color: #fff;
}
@media (max-width: 1200px) {
  .nav__item a {
    font-size: 15px;
  }
}
.nav__item:hover > a {
  color: #ffd290;
}
.nav__item.current > a {
  -webkit-filter: drop-shadow(0px 0px 10px #f5c25b);
          filter: drop-shadow(0px 0px 10px #f5c25b);
}

.nav__mobil-text {
  display: none;
}
@media (max-width: 1100px) {
  .nav__mobil-text {
    display: block;
  }
}

.nav__text + * {
  margin-left: 0.4em;
}

.tablet {
  display: none;
}
@media (max-width: 1100px) {
  .tablet {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 650px) {
  .tablet {
    display: none;
  }
}

.nav__icon,
.login__icon {
  display: block;
  margin-right: 0.4em;
}

.login__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 1.1em 0.1em;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 1;
}
@media (max-width: 1100px) {
  .login__link {
    font-size: 14px;
  }
}

.login:hover > a {
  color: #ffd290;
}

/*hero*/
.hero {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: calc(48.125%);
  min-height: 400px;
  /**/
  overflow: hidden;
}
.hero .container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
}
@media (max-width: 800px) {
  .hero {
    min-height: 80vh;
  }
}
@media (max-width: 600px) {
  .hero {
    min-height: 100vh;
  }
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(52, 52, 52, 0.4);
}

.hero__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 101%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.hero__slider {
  max-width: 650px;
  margin: auto;
}

.hero__title {
  font-size: 35px;
  margin-bottom: 0.3em;
  font-family: "buyan", sans-serif;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
}
@media (min-width: 320px) {
  .hero__title {
    font-size: 20px;
    font-size: calc(0.036440678 * 100vw + 23.3389830508px);
  }
}
@media (min-width: 1500px) {
  .hero__title {
    font-size: 78px;
  }
}

.hero__text {
  font-size: 1.5em;
  margin-bottom: 1em;
}

/*about*/
.about {
  padding: 3em 0;
}

.about__content.mobil {
  display: none;
}
@media (max-width: 800px) {
  .about__content.mobil {
    display: block;
  }
}
@media (max-width: 800px) {
  .about__content.desk {
    display: none;
  }
}

.about__slider {
  max-width: 400px;
  margin: 0 auto;
  overflow: hidden;
}

.about__pic {
  max-width: 300px;
  margin: 0 auto 1em auto;
}

.about__slide {
  padding: 0 10px;
}

.about__text {
  position: relative;
  padding-left: 1.5em;
}
.about__text:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.25em;
  width: 12px;
  height: 12px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-box-shadow: 0px 0px 24px #5012ff;
          box-shadow: 0px 0px 24px #5012ff;
}

/*partners*/
.partners {
  padding-bottom: 4em;
}

.partners__slider {
  max-width: 1380px;
  margin: 0 auto;
}
@media (max-width: 600px) {
  .partners__slider {
    margin: 0 -20px;
  }
}

.partners__slide {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 38px;
  background: #46434b;
}
.partners__slide img,
.partners__slide svg {
  display: block;
  width: 80%;
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: auto;
}

/*benefits*/
.benefits {
  padding-bottom: 4.5%;
}

.benefits__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1380px;
  margin: 0 auto;
}

.benefits__pic {
  width: 41.6%;
}
@media (max-width: 650px) {
  .benefits__pic {
    width: 100%;
    margin-bottom: 1.5em;
  }
}

.benefits__descr {
  width: 49.2%;
}
@media (max-width: 650px) {
  .benefits__descr {
    width: 100%;
  }
}

.benefits__list {
  max-width: 490px;
}

.benefits__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0.9em;
}
.benefits__item:last-child {
  margin-bottom: 0;
}

.benefits__item-icon {
  width: 58px;
  -webkit-filter: drop-shadow(0px -1px 0px rgba(255, 184, 0, 0.21)) drop-shadow(0px 1px 0px rgba(0, 71, 255, 0.47));
          filter: drop-shadow(0px -1px 0px rgba(255, 184, 0, 0.21)) drop-shadow(0px 1px 0px rgba(0, 71, 255, 0.47));
}

.benefits__item-text {
  width: calc(100% - 70px);
}

/*how*/
.how {
  max-width: 1380px;
  margin: 0 auto 9% auto;
}

.how__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.how__item {
  position: relative;
  width: 23%;
}
@media (max-width: 900px) {
  .how__item {
    width: auto;
  }
}
.how__item:nth-last-child(2) .how__pic:after {
  right: -50%;
}
.how__item:last-child .how__pic:after {
  display: none;
}
@media (max-width: 900px) {
  .how__item {
    width: 50%;
  }
}
@media (max-width: 650px) {
  .how__item {
    width: 100%;
    margin-bottom: 1em;
  }
  .how__item:last-child {
    margin-bottom: 0;
  }
}

.how__pic {
  position: relative;
  max-width: 278px;
  margin: 0 auto 1em auto;
}
.how__pic img {
  display: block;
  width: 100%;
}
.how__pic:after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -33%;
  width: 55%;
  height: 6px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 101 9'%3E%3Cpath fill='%23fff' d='M100.85 4.765a.5.5 0 0 0 0-.707L97.668.876a.5.5 0 1 0-.707.707l2.828 2.828-2.828 2.829a.5.5 0 0 0 .707.707l3.182-3.182ZM.504 4.91h99.992v-1H.504v1Z'/%3E%3C/svg%3E");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
@media (max-width: 1100px) {
  .how__pic:after {
    display: none;
  }
}

.how__text {
  padding: 0 5px;
  text-align: center;
}
@media (max-width: 1100px) {
  .how__text br {
    display: none;
  }
}

.how__button {
  display: none;
}
@media (max-width: 900px) {
  .how__button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.how__button-prev,
.how__button-next {
  top: 0;
  height: 110%;
  width: 13%;
  min-width: 80px;
  background-size: cover;
  background-repeat: no-repeat;
}
.how__button-prev:after,
.how__button-next:after {
  display: none;
}

.how__button-prev {
  left: 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 81 245'%3E%3Cpath fill='url(%23a)' d='M80.852 244.954h-59.34L0 122.477 21.513 0h59.34v244.954Z'/%3E%3Cdefs%3E%3ClinearGradient id='a' x1='2.919' x2='80.852' y1='122.477' y2='122.477' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23959595'/%3E%3Cstop offset='.729' stop-color='%23343434' stop-opacity='0'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
  background-position: center left;
}

.how__button-next {
  right: 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 82 246'%3E%3Cpath d='M.15.428h59.339L81 122.905 59.49 245.382H.149V.428Z' fill='url(%23a)'/%3E%3Cdefs%3E%3ClinearGradient id='a' x1='78.082' x2='.149' y1='122.905' y2='122.905' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23959595'/%3E%3Cstop offset='.729' stop-color='%23343434' stop-opacity='0'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
  background-position: center right;
}

/*servises*/
.services {
  padding-top: 2em;
  padding-bottom: 5em;
  background: #1f1932;
}

.services__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services__item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 25%;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding: 0 20px;
}
@media (max-width: 900px) {
  .services__item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 50%;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin-bottom: 1em;
  }
  .services__item:last-child {
    margin-bottom: 0;
  }
}
.services__item:nth-child(3) .services__icon {
  width: 220px;
}
@media (max-width: 650px) {
  .services__item:nth-child(3) .services__icon {
    width: 150px;
  }
}
@media (max-width: 650px) {
  .services__item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 100%;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.services__icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 144px;
  height: 190px;
  margin: 0 auto 5px auto;
}
.services__icon svg {
  -webkit-filter: drop-shadow(0px 1px 0px rgba(0, 71, 255, 0.47)) drop-shadow(0px -1px 0px rgba(255, 184, 0, 0.31));
          filter: drop-shadow(0px 1px 0px rgba(0, 71, 255, 0.47)) drop-shadow(0px -1px 0px rgba(255, 184, 0, 0.31));
}
@media (max-width: 650px) {
  .services__icon {
    width: 90px;
    height: auto;
  }
}

.services__text {
  text-align: center;
}

.result {
  max-width: 1060px;
  margin: 0 auto 6em auto;
}

.result__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 980px;
  margin-left: 5%;
}
@media (max-width: 800px) {
  .result__list {
    margin-left: 0;
  }
}

.result__text {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 58%;
      -ms-flex: 0 1 58%;
          flex: 0 1 58%;
  padding-right: 1em;
}
@media (max-width: 800px) {
  .result__text {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 100%;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    padding-right: 0;
    margin-bottom: 1.5em;
  }
}

.result__media {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 40%;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
}
@media (max-width: 800px) {
  .result__media {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 100%;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

/*contacts*/
.contacts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 85vh;
  padding: 4em 0;
}
.contacts .container {
  width: 100%;
}
@media (max-width: 1100px) {
  .contacts {
    min-height: 0;
  }
}

.contacts__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 880px;
  margin: 5em auto 0 auto;
}

.contacts__content {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 45%;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
}
@media (max-width: 800px) {
  .contacts__content {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 100%;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin-bottom: 2em;
  }
}

.contacts__form {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 4em 2em;
  background: #58565e;
}
@media (max-width: 800px) {
  .contacts__form {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 100%;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    padding: 2em 2em 3em 2em;
  }
}
@media (max-width: 600px) {
  .contacts__form {
    padding: 1em 1em 2em 1em;
  }
}

.contacts__list li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-bottom: 1em;
}
.contacts__list li:last-child {
  margin-bottom: 0;
}

.contacts__icon {
  width: 16px;
  margin-right: 5px;
}

/*models*/
.models {
  background: #1f1932;
  min-height: 100vh;
  padding-bottom: 1.5em;
}
.models .section__header {
  margin-bottom: 1.5em;
}

.models__container {
  max-width: 1060px;
  margin: 0 auto;
}

.models__list {
  max-width: 980px;
  margin-left: auto;
}
@media (max-width: 1050px) {
  .models__list {
    max-width: 800px;
    margin-left: 12%;
  }
}
@media (max-width: 600px) {
  .models__list {
    margin-left: 6%;
  }
}

.models__content {
  max-width: 880px;
  margin: 0 0 0 3em;
  background-color: transparent;
  -webkit-transition: background-color 0.5s 0.1s ease-in-out;
  -o-transition: background-color 0.5s 0.1s ease-in-out;
  transition: background-color 0.5s 0.1s ease-in-out;
}
@media (max-width: 600px) {
  .models__content {
    margin: 0 0 0 2em;
  }
}

.models__item {
  position: relative;
  margin-bottom: 1.8em;
}
.models__item:last-child {
  margin-bottom: 0;
}
.models__item.open .models__header {
  padding: 2em 0.5em 0.5em 5em;
}
@media (max-width: 1100px) {
  .models__item.open .models__header {
    padding: 2em 0.5em 0.5em 3em;
  }
}
@media (max-width: 1100px) {
  .models__item.open .models__header {
    padding: 0.5em 0.5em 0.5em 3em;
  }
}
@media (max-width: 600px) {
  .models__item.open .models__header {
    padding: 0.5em;
  }
}
.models__item.open .models__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.5em 2em 1.2em 5em;
}
@media (max-width: 1100px) {
  .models__item.open .models__wrapper {
    padding: 0.5em 0.5em 0.5em 3em;
  }
}
@media (max-width: 600px) {
  .models__item.open .models__wrapper {
    padding: 0;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
}
.models__item.open .models__content {
  background-color: #4c4b50;
  margin-bottom: 1.8em;
  -webkit-transition: background-color 0.5s ease-in-out;
  -o-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}
@media (max-width: 600px) {
  .models__item.open .models__content {
    background-color: transparent;
    margin-bottom: 0;
  }
}
.models__item.open .models__icon {
  -webkit-transform: scale(3) translateY(20%);
      -ms-transform: scale(3) translateY(20%);
          transform: scale(3) translateY(20%);
}
@media (max-width: 600px) {
  .models__item.open .models__icon {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
}
.models__item.open .models__open {
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
.models__item.open .models__close {
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
@media (max-width: 600px) {
  .models__item.open .models__close {
    opacity: 1;
  }
}
.models__item.open .models__link {
  display: none;
}
@media (max-width: 600px) {
  .models__item.open .models__link {
    display: block;
  }
}
.models__item.open:last-child .models__content {
  margin-bottom: 0;
}
@media (max-width: 600px) {
  .models__item {
    padding-top: 1.5em;
    margin-bottom: 0;
  }
  .models__item::before, .models__item:after {
    content: "";
    position: absolute;
    left: -2em;
    right: -10px;
    height: 1px;
    background: #555069;
  }
  .models__item::before {
    top: 0;
  }
  .models__item:last-child:after {
    display: none;
  }
}

.models__wrapper {
  display: none;
  overflow: hidden;
  padding: 0 2em 0 5em;
}
@media (max-width: 600px) {
  .models__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    z-index: 100;
    overflow: auto;
    background-color: #4c4b50;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: -webkit-transform 0.5s ease-in-out;
    -o-transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    will-change: transform;
  }
}
.models__wrapper .btn.mob {
  display: none;
}
@media (max-width: 600px) {
  .models__wrapper .btn.mob {
    display: block;
    margin: auto;
  }
}
@media (max-width: 600px) {
  .models__wrapper .btn.desk {
    display: none;
  }
}

.models__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 2em;
}
.models__row .link--icon {
  margin-right: 1em;
}
@media (max-width: 600px) {
  .models__row .link--icon {
    margin-right: 0;
    margin-bottom: 1.5em;
  }
}
.models__row.callout {
  background: #58565e;
}
@media (max-width: 600px) {
  .models__row {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.models__footer .js-close {
  display: block;
  width: 100%;
  color: #878787;
  text-align: right;
}
@media (max-width: 600px) {
  .models__footer {
    padding: 1em 0;
  }
  .models__footer .js-close {
    display: none;
  }
}

.models__header {
  padding: 0.5em;
  -webkit-transition: padding 0.5s ease-in-out;
  -o-transition: padding 0.5s ease-in-out;
  transition: padding 0.5s ease-in-out;
}

.models__header-mobil {
  display: none;
}
.models__header-mobil .models__title, .models__header-mobil .services__title {
  margin-right: 0.2em;
  margin-bottom: 0;
  font-family: "buyan", sans-serif;
  text-shadow: 0px 0px 24px #5012ff;
}
.models__header-mobil .models__subtitle {
  font-weight: 600;
  text-transform: uppercase;
}
@media (max-width: 600px) {
  .models__header-mobil {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}

.models__btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 60px;
  text-align: center;
  background: #646369;
}
.models__btn svg,
.models__btn img {
  margin: auto;
  pointer-events: none;
}

.models__caption {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.4em 1.1em;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 calc(100% - 60px);
      -ms-flex: 0 1 calc(100% - 60px);
          flex: 0 1 calc(100% - 60px);
}

.models__icon {
  position: absolute;
  top: -0.5em;
  left: -2.2em;
  width: 4.4em;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: 1;
}
@media (max-width: 1100px) {
  .models__icon {
    font-size: 12px;
  }
}
@media (max-width: 600px) {
  .models__icon {
    top: 2em;
  }
}

.models__open {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  -webkit-filter: drop-shadow(0px 1px 0px rgba(0, 71, 255, 0.26)) drop-shadow(0px 0px 90px rgba(80, 18, 255, 0.79));
          filter: drop-shadow(0px 1px 0px rgba(0, 71, 255, 0.26)) drop-shadow(0px 0px 90px rgba(80, 18, 255, 0.79));
}
@media (max-width: 600px) {
  .models__open {
    display: none;
  }
}

.models__close {
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.models__title, .services__title {
  margin-bottom: 5px;
  font-size: 2.2em;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
}

.models__subtitle {
  font-weight: 700;
}

.models__link {
  display: block;
  padding: 1em 1em 1em 0;
  color: #ffc48d;
}
@media (max-width: 600px) {
  .models__link {
    text-transform: uppercase;
    text-decoration: underline;
  }
}
.models__link:hover {
  color: #fff;
}

.models__info {
  max-width: 670px;
  margin-bottom: 1em;
}
@media (max-width: 600px) {
  .models__info {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    overflow: auto;
    padding: 1em;
    scrollbar-width: thin;
    scrollbar-color: #ffd290 #ddd;
  }
  .models__info::-webkit-scrollbar {
    width: 0.3em;
  }
  .models__info::-webkit-scrollbar-track {
    border-radius: 0.2em;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  .models__info::-webkit-scrollbar-thumb {
    background-color: #ffd290;
  }
}
@media (max-width: 320px) {
  .models__info {
    padding: 0.5em;
  }
}

.footer {
  padding: 4em 0;
  background: rgba(32, 32, 32, 0.62);
}
.footer .logo {
  width: 165px;
  margin-bottom: 0.5em;
}

.footer__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 980px;
  margin: 0 auto;
}

.footer__info {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}
@media (max-width: 600px) {
  .footer__info {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 100%;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin-bottom: 1em;
  }
  .footer__info:last-of-type {
    margin-bottom: 0;
  }
}

.section--top .breadcrambs {
  max-width: 1008px;
  margin: 0 auto;
}
.section--title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 285px;
  padding: 2em 0;
  margin-bottom: 2.5em;
}
@media (max-width: 1100px) {
  .section--title {
    min-height: 150px;
  }
}

.ferms__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1008px;
  margin: 0 auto;
}

.ferms__item {
  position: relative;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 calc(50% - 1.5em);
      -ms-flex: 0 1 calc(50% - 1.5em);
          flex: 0 1 calc(50% - 1.5em);
  margin-bottom: 2.5em;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #3a3a3a;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.45);
          box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.45);
}
.ferms__item .btn {
  width: 100%;
}
.ferms__item:hover {
  border: 1px solid #f5c25b;
  background-color: #4a4c50;
  -webkit-box-shadow: 0px 1.8em 3.83em rgba(0, 0, 0, 0.45);
          box-shadow: 0px 1.8em 3.83em rgba(0, 0, 0, 0.45);
}
.ferms__item:hover .ferms__pic--front {
  opacity: 0;
}
.ferms__item:hover .ferms__pic--back {
  opacity: 1;
}
.ferms__item.hit {
  border: 1px solid #f5c25b;
}
.ferms__item.hit:before {
  content: "Хит продаж";
  position: absolute;
  top: 1.5em;
  left: -1px;
  padding: 1em 1em 1em 0.5em;
  font-size: 16px;
  font-weight: 600;
  line-height: 0;
  text-transform: uppercase;
  color: #111;
  background: -webkit-gradient(linear, left top, left bottom, from(#fffa8b), to(#f5c25b));
  background: -o-linear-gradient(top, #fffa8b 0%, #f5c25b 100%);
  background: linear-gradient(180deg, #fffa8b 0%, #f5c25b 100%);
  -webkit-clip-path: polygon(100% 0%, 95% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
          clip-path: polygon(100% 0%, 95% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
  z-index: 1;
}
@media (max-width: 700px) {
  .ferms__item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 100%;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
.ferms__item--single {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 100%;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  padding: 2em;
}
.ferms__item--single .ferms__media,
.ferms__item--single .ferms__descr {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
@media (max-width: 700px) {
  .ferms__item--single .ferms__media,
.ferms__item--single .ferms__descr {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 100%;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
.ferms__item--single .ferms__descr {
  padding: 0 3.38em;
}
@media (max-width: 800px) {
  .ferms__item--single .ferms__descr {
    padding: 1.5em;
  }
}

.ferms__media {
  position: relative;
  padding-top: 55.8333333333%;
  overflow: hidden;
}

.ferms__pic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.ferms__pic--back {
  opacity: 0;
}

.ferms__descr {
  padding: 0 3.38em 2.5em 3.38em;
}
@media (max-width: 800px) {
  .ferms__descr {
    padding: 1.5em;
  }
}

.ferms__title {
  margin-bottom: 7px;
  font-size: 1.16em;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
}

.ferms__power {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.7em;
}

.ferms__icon {
  display: block;
  margin-right: 0.3em;
}

.ferms__features {
  margin-bottom: 1.5em;
}
.ferms__features li {
  margin-bottom: 0.5em;
  line-height: 1;
}
.ferms__features li:last-child {
  margin-bottom: 0;
}

.list {
  margin-left: 1.1em;
}
.list:last-child {
  margin-bottom: 0;
}
.list li {
  position: relative;
  padding-left: 1.3em;
}
.list li:before {
  content: "";
  position: absolute;
  left: 0;
}
.list li:last-child {
  margin-bottom: 0;
}

ul.list {
  margin-bottom: 2em;
}
ul.list li {
  margin-bottom: 0.5em;
}
ul.list li:before {
  top: 0.25em;
  width: 12px;
  height: 12px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-box-shadow: 0px 0px 24px #5012ff;
          box-shadow: 0px 0px 24px #5012ff;
}

ol.list {
  counter-reset: count;
}
ol.list > li {
  margin-bottom: 1.2em;
}
ol.list > li:before {
  top: 0;
  content: counter(count) ".";
  counter-increment: count;
}

.callout {
  padding: 1.2em 2.7em;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-radius: 0.4em;
  -webkit-backdrop-filter: blur(13px);
          backdrop-filter: blur(13px);
}
@media (max-width: 600px) {
  .callout {
    padding: 1.2em;
  }
}

.callout__text {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 55%;
      -ms-flex: 0 1 55%;
          flex: 0 1 55%;
}
@media (max-width: 600px) {
  .callout__text {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 100%;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin-bottom: 1em;
  }
}

/*breadcrambs*/
.breadcrambs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.breadcrambs li {
  position: relative;
}
.breadcrambs li:before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 9px;
  height: 14px;
  width: 7px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 9 15'%3E%3Cpath stroke='%23fff' stroke-opacity='.65' d='m1 14.5 7-7-7-7'/%3E%3C/svg%3E") center center/contain no-repeat;
}
.breadcrambs li:last-child:before {
  display: none;
}
.breadcrambs li * {
  display: block;
  padding: 5px 1.8em 5px 0;
}

/*popup*/
.overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.overlay.visible {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.popup {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 635px;
  padding: 2.7em 3em 2em 3em;
  border-radius: 4px;
  background-color: #58565e;
}
@media (max-width: 600px) {
  .popup {
    padding: 1.7em 1.5em;
  }
}

.popup__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.5em;
}

.popup__icon {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 4.7em;
      -ms-flex: 0 1 4.7em;
          flex: 0 1 4.7em;
}
@media (max-width: 600px) {
  .popup__icon {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 3em;
        -ms-flex: 0 1 3em;
            flex: 0 1 3em;
  }
}

.popup__caption {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 calc(100% - 6em);
      -ms-flex: 0 1 calc(100% - 6em);
          flex: 0 1 calc(100% - 6em);
}
@media (max-width: 600px) {
  .popup__caption {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 calc(100% - 3.5em);
        -ms-flex: 0 1 calc(100% - 3.5em);
            flex: 0 1 calc(100% - 3.5em);
  }
}

.popup__body .form {
  max-width: 380px;
  margin: auto;
}

.popup__title {
  font-weight: 700;
  text-transform: uppercase;
}

.popup__subtitle {
  color: #ffd290;
}

.popup__close {
  top: 0;
  right: 0;
  z-index: 1;
}

.form {
  width: 100%;
  min-width: 21em;
}
@media (max-width: 1000px) {
  .form {
    min-width: 0;
  }
}

.form__row {
  position: relative;
  margin-bottom: 0.8em;
}
.form__row:last-of-type {
  margin-bottom: 0;
}
.form__row .btn:only-child {
  width: 100%;
}
.form__row.error input {
  border: 2px solid currentColor;
  color: #ff6d6d;
}

input {
  padding: 0.9em;
  border: 2px solid transparent;
  border-radius: 4px;
  font-family: inherit;
  color: #b9b9b9;
  background: #807f87;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
input:focus, input:active {
  border: 2px solid currentColor;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 1;
}

::-moz-placeholder {
  color: inherit;
  opacity: 1;
}

:-ms-input-placeholder {
  color: inherit;
  opacity: 1;
}

::-ms-input-placeholder {
  color: inherit;
  opacity: 1;
}

::placeholder {
  color: inherit;
  opacity: 1;
}

::-moz-placeholder {
  color: inherit;
  opacity: 1;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 1;
}

.form__caption {
  text-transform: uppercase;
  margin-bottom: 0.5em;
}

.menu-trigger {
  display: none;
  position: relative;
  width: 50px;
  height: 40px;
  padding: 19px 14px;
  background-clip: content-box;
  background-color: currentColor;
  cursor: pointer;
  top: 0;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  z-index: 11;
}
.menu-trigger:before, .menu-trigger:after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  left: 14px;
  right: 14px;
  height: 2px;
  background-color: currentColor;
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.menu-trigger:before {
  -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
          transform: translateY(-5px);
}
.menu-trigger:after {
  -webkit-transform: translateY(5px);
      -ms-transform: translateY(5px);
          transform: translateY(5px);
}
.menu-trigger.open {
  background-color: transparent;
}
.menu-trigger.open:before {
  -webkit-transform: translateY(0) rotate(45deg);
      -ms-transform: translateY(0) rotate(45deg);
          transform: translateY(0) rotate(45deg);
}
.menu-trigger.open:after {
  -webkit-transform: translateY(0) rotate(-45deg);
      -ms-transform: translateY(0) rotate(-45deg);
          transform: translateY(0) rotate(-45deg);
}
@media (max-width: 1100px) {
  .menu-trigger {
    display: block;
  }
}

.btn {
  display: inline-block;
  padding: 0.6em 2.2em 0.7em 2.2em;
  border-radius: 4px;
  font-size: 1.25em;
  font-weight: 600;
  line-height: 1;
  color: #111;
  background: #ffe175;
  -webkit-box-shadow: 0px 0px 24px rgba(255, 255, 255, 0.13);
          box-shadow: 0px 0px 24px rgba(255, 255, 255, 0.13);
  text-align: center;
}
.btn:hover {
  background: #fff;
}
.btn--clean {
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
}
.btn--clean:hover {
  color: #111;
}

.link {
  padding: 0.3em;
  text-decoration: underline;
}
.link--icon {
  padding: 0 2.2em 0 0;
}

.link__icon {
  width: 39px;
  margin-right: 0.5em;
}

.close, .popup__close {
  position: absolute;
  width: 50px;
  height: 50px;
}
.close:before, .popup__close:before, .close::after, .popup__close::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  left: 15px;
  right: 15px;
  height: 3px;
  background-color: #fff;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}
.close:before, .popup__close:before {
  -webkit-transform: translateY(-50%) rotate(45deg);
      -ms-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}
.close:after, .popup__close:after {
  -webkit-transform: translateY(-50%) rotate(-45deg);
      -ms-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
}
/*# sourceMappingURL=main.css.map */