/*popup*/
.popup-container {
 position: fixed;
 top: 7vw;
 right: 10vw;
 z-index: 10;
 transition: top 0.3s ease-in-out;
 @include bp(1550px) {
  right: 20px;
 }
 @include bp(850px) {
  top: auto;
  bottom: 8%;
 }
 @include bp(450px) {
  bottom: 10%;
  right: 10px;
 }
 &.hide {
  top: 4vw;
  @include bp(850px) {
   top: auto;
  }
 }
}

.popup {
 position: absolute;
 top: 50%;
 transform: translateY(-50%);
 right: -99999px;
 background: linear-gradient(0deg, #ffffff, #ffffff), linear-gradient(0deg, #eee8ff 0%, #f0e9ff 0.01%, #ffffff 77.1%);
 width: 354px;
 padding: 2.7em 2em;
 border-radius: 8px;
 text-align: center;
 box-shadow: 0px 5px 20px rgba(70, 0, 103, 0.43);
 z-index: 100;
 transition: right 1.5s ease-in-out;
 z-index: -1;
 @include bp(650px) {
  width: 280px;
 }
 @include bp(450px) {
  width: 250px;
 }
 &.show {
  right: 50%;
 }
 &.promotion {
  padding: 4em 2em 2em 2em;
  background: linear-gradient(90deg, #ffe600 38.54%, #ffc700 100%);
  @include bp(650px) {
   padding: 3em 2em 2em 2em;
  }
 }
}

.popup__promotion {
 position: relative;
 display: inline-block;
 color: #4e0000;
 letter-spacing: 0.01em;
 line-height: 1.45;
 font-weight: 500;
 &:before {
  content: "";
  display: block;
  @include center(x);
  bottom: 105%;
  background-position: center center;
  background-repeat: no-repeat;
  width: 2em;
  height: 1.9em;
  background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 37 31'%3E%3Cpath d='M33.448 10.058l.945-.89a.83.83 0 00.194-.27.79.79 0 00-.19-.91.886.886 0 00-.287-.18.929.929 0 00-.963.185l-.983.927a13.53 13.53 0 00-5.735-2.58V4.429h.88a.909.909 0 00.623-.244.807.807 0 00.259-.587V.83a.807.807 0 00-.259-.587A.909.909 0 0027.31 0h-7.048a.909.909 0 00-.623.243.807.807 0 00-.258.587v2.768c0 .22.093.432.258.587.165.156.39.244.623.244h.88v1.91a13.53 13.53 0 00-5.734 2.58l-.983-.926a.885.885 0 00-.286-.183.928.928 0 00-.965.178.83.83 0 00-.192.271.79.79 0 00.197.908l.944.89c-2.284 2.302-3.554 5.336-3.552 8.488C10.571 25.412 16.5 31 23.786 31 31.072 31 37 25.413 37 18.545c.002-3.152-1.267-6.186-3.552-8.487zM21.143 1.66h5.286v1.107h-5.286V1.66zm1.762 2.768h1.762v1.689a14.12 14.12 0 00-1.762 0v-1.69zm.88 24.91c-6.314 0-11.452-4.842-11.452-10.794 0-5.953 5.138-10.795 11.453-10.795 6.315 0 11.452 4.842 11.452 10.795 0 5.952-5.137 10.794-11.452 10.794z' fill='%23B900E8'/%3E%3Cpath d='M23.786 9.41c-5.344 0-9.69 4.098-9.69 9.135 0 5.036 4.346 9.134 9.69 9.134 5.343 0 9.69-4.098 9.69-9.134 0-5.037-4.347-9.134-9.69-9.134zm7.88 8.304h-7v-6.596c1.787.19 3.452.947 4.723 2.145s2.074 2.768 2.276 4.451zm-7.88 8.304c-2.027 0-3.976-.732-5.448-2.044-1.472-1.313-2.355-3.107-2.468-5.014-.112-1.907.554-3.782 1.862-5.24 1.308-1.459 3.16-2.39 5.173-2.602v7.427c0 .22.093.431.258.587.165.155.39.243.623.243h7.88c-.22 1.826-1.144 3.512-2.597 4.737s-3.334 1.904-5.283 1.906zM9.69 12.732H3.817a.909.909 0 00-.622.243.807.807 0 00-.258.588c0 .22.092.43.258.587.165.155.389.243.622.243H9.69a.909.909 0 00.623-.243.807.807 0 00.258-.588.807.807 0 00-.258-.587.909.909 0 00-.623-.243zM9.397 20.205a.807.807 0 00-.258-.587.909.909 0 00-.623-.243H2.643a.909.909 0 00-.623.243.807.807 0 00-.258.587c0 .22.093.432.258.588.165.155.39.243.623.243h5.873a.909.909 0 00.623-.244.807.807 0 00.258-.587zM9.103 22.696h-4.11a.909.909 0 00-.624.244.807.807 0 00-.258.587c0 .22.093.431.258.587.165.156.39.243.623.243h4.111a.909.909 0 00.623-.243.807.807 0 00.258-.587.807.807 0 00-.258-.587.909.909 0 00-.623-.244zM9.397 16.884a.807.807 0 00-.258-.587.909.909 0 00-.623-.243H.88a.909.909 0 00-.623.243.807.807 0 00-.258.587c0 .22.093.431.258.587.165.156.39.243.623.243h7.635a.909.909 0 00.623-.243.807.807 0 00.258-.587z' fill='%23B900E8'/%3E%3C/svg%3E");
 }
}

.popup__icon {
 position: relative;
 width: 3.3em;
 height: 3.3em;
 text-align: center;
 line-height: 3.3em;
 border-radius: 100%;
 background-color: $btn;
 overflow: hidden;
 .score {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 21px;
  height: 21px;
  line-height: 21px;
  text-align: center;
  border-radius: 100%;
  font-size: 12px;
  color: #ff0000;
  font-weight: 700;
  background-color: #fff;
  animation: zoom 3s 3s both infinite;
 }
 .bell {
  transform-origin: 50% 10px;
  animation: ring 4.5s ease infinite;
 }
}

@keyframes ring {
 0% {
  transform: rotate(0);
 }
 1% {
  transform: rotate(30deg);
 }
 3% {
  transform: rotate(-28deg);
 }
 5% {
  transform: rotate(34deg);
 }
 7% {
  transform: rotate(-32deg);
 }
 9% {
  transform: rotate(30deg);
 }
 11% {
  transform: rotate(-28deg);
 }
 13% {
  transform: rotate(26deg);
 }
 15% {
  transform: rotate(-24deg);
 }
 17% {
  transform: rotate(22deg);
 }
 19% {
  transform: rotate(-20deg);
 }
 21% {
  transform: rotate(18deg);
 }
 23% {
  transform: rotate(-16deg);
 }
 25% {
  transform: rotate(14deg);
 }
 27% {
  transform: rotate(-12deg);
 }
 29% {
  transform: rotate(10deg);
 }
 31% {
  transform: rotate(-8deg);
 }
 33% {
  transform: rotate(6deg);
 }
 35% {
  transform: rotate(-4deg);
 }
 37% {
  transform: rotate(2deg);
 }
 39% {
  transform: rotate(-1deg);
 }
 41% {
  transform: rotate(1deg);
 }

 43% {
  transform: rotate(0);
 }
 100% {
  transform: rotate(0);
 }
}

@keyframes zoom {
 0% {
  opacity: 0;
  transform: scale(0);
 }
 10% {
  opacity: 1;
  transform: scale(1);
 }
 50% {
  opacity: 1;
 }
 51% {
  opacity: 0;
 }
 100% {
  opacity: 0;
 }
}

.popup__text {
 @include fFS(14px, 18px, 320px, 1920px, 18px);
 font-weight: 700;
 p {
  margin-bottom: 0.3em;
  &:last-child {
   margin-bottom: 0;
  }
 }
}
.rating {
 margin: 0.9em 0;
 @include bp(650px) {
  margin: 0.3em 0;
 }
}
.raiting__list {
 font-size: 0;
 li {
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  margin: 0 1px;
  background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 19 18'%3E%3Cpath d='M9.426.001L12.65 4.99l5.74 1.525-3.747 4.608.323 5.93-5.54-2.14-5.54 2.14.322-5.93L.461 6.514l5.74-1.525L9.426 0z' fill='url(%23paint0_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='9.426' y1='.001' x2='9.426' y2='18.853' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FFE934'/%3E%3Cstop offset='.714' stop-color='%23FFD600'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
  background-size: cover;
  background-position: center center;
  @include bp(650px) {
   width: 10px;
   height: 10px;
  }
 }
}
