:root {
  --ff: Lato, sans-serif;
  --af: 'Maven Pro', sans-serif;
  --dark:#222;
  --light: #e4e9eb;
  --main: #323232;
  --accent: #2eb398;
  --accent-text: #20816d;
  --accent-border: #219d84;
  --text: #bebebe;
  --input: #454545; }

@-ms-viewport {
  width: device-width;
  initial-scale: 1; }
@-moz-viewport {
  width: device-width;
  initial-scale: 1; }
@-webkit-viewport {
  width: device-width;
  initial-scale: 1; }
*, *:before, *:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  min-height: 100%; }

body {
  position: relative;
  min-height: 100%;
  overflow: auto;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-overflow-scrolling: touch;
  -ms-touch-action: manipulation;
  touch-action: manipulation; }

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block; }

video, audio, canvas {
  display: inline-block; }

span {
  display: inline-block; }

a, input, button, textarea, optgroup, select, fieldset, figure, legend, address {
  font: inherit;
  color: inherit;
  line-height: inherit;
  text-transform: inherit;
  text-shadow: inherit;
  border: none;
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  margin: 0;
  padding: 0; }

a, button, [type='button'], [type='submit'] {
  -webkit-transition: color .25s, background .25s, opacity .25s;
  -o-transition: color .25s, background .25s, opacity .25s;
  transition: color .25s, background .25s, opacity .25s; }

a {
  cursor: pointer;
  text-decoration: none;
  -webkit-text-decoration-skip: none; }

button {
  overflow: visible;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit; }

p {
  margin: 0;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  overflow: hidden; }

b, strong {
  font-weight: 700; }

img, svg, embed, object, iframe, video, audio, canvas {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  border: 0; }

img {
  image-rendering: optimizeQuality; }

svg {
  color: inherit; }
  svg:not(:root) {
    overflow: hidden; }

progress {
  vertical-align: baseline; }

h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility;
  font: inherit;
  color: inherit;
  margin: 0; }

ul, ol, menu {
  margin: 0;
  padding: 0;
  list-style: none; }

input, select, button, button > *, a > * {
  display: inline-block;
  vertical-align: middle; }

button, label, select, summary, [type='button'], [type='submit'], [type='reset'], [type='checkbox'], [type='radio'], [type='range'] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer; }

[type='button'], [type='submit'], [type='search'], [type="radio"], [type='range'], ::-webkit-search-cancel-button, ::-webkit-search-decoration, ::-webkit-outer-spin-button, ::-webkit-inner-spin-button, ::-webkit-slider-thumb {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

::-webkit-contacts-auto-fill-button, ::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  right: 0; }

:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 1000px #fff;
  box-shadow: inset 0 0 0 1000px #fff; }

::-webkit-details-marker {
  display: none; }

[type="radio"] {
  -webkit-appearance: radio; }

[type='number'] {
  -moz-appearance: textfield; }

::-ms-clear, ::-ms-reveal {
  display: none; }

input, textarea {
  width: 100%; }

input {
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis; }

textarea {
  overflow: auto;
  resize: none; }

:active, :hover, :focus {
  outline: 0;
  outline-offset: 0; }

:disabled {
  pointer-events: none; }

::-moz-focus-outer, ::-moz-focus-inner {
  border: 0;
  padding: 0; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

td, th {
  padding: 0;
  text-align: center; }

article p:not(:empty) {
  margin-top: .7em;
  margin-bottom: .7em; }
article img, article embed, article object, article iframe, article video {
  display: block;
  margin: auto; }
article span {
  display: inline; }
article ul, article ol, article menu {
  margin-top: .7em;
  margin-bottom: .7em; }
  article ul ul, article ul ol, article ul menu, article ol ul, article ol ol, article ol menu, article menu ul, article menu ol, article menu menu {
    margin: 0;
    padding-left: 1.3em; }
  article ul > li:before, article ol > li:before, article menu > li:before {
    margin-right: .7em; }
  article ul > li p, article ol > li p, article menu > li p {
    display: inline; }
article ul > li:before, article menu > li:before {
  content: '';
  width: .4em;
  height: .4em;
  display: inline-block;
  vertical-align: 10%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #000;
  border: 1px solid #000; }
article ul > li li:before, article menu > li li:before {
  background: transparent; }
article ol {
  counter-reset: count; }
  article ol > li:before {
    content: counter(count) ".";
    counter-increment: count; }

html {
  font-family: var(--ff);
  color: var(--text);
  font-size: 16px; }

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

a {
  display: inline-block;
  vertical-align: middle; }

.wrapper {
  position: relative;
  min-height: 100vh;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  overflow: hidden; }

section {
  padding: 20px 0; }

.footer {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0; }

.container {
  position: relative;
  max-width: 920px;
  min-width: 320px;
  padding: 0 20px;
  margin: 0 auto; }

/*grid*/
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start; }

/*typografy*/
p {
  line-height: 2;
  padding-bottom: 10px; }
  p:last-of-type {
    padding-bottom: 0; }

.section__title {
  font-size: 30px;
  font-family: var(--af); }

.section__subtitle {
  font-size: 20px;
  font-family: var(--af);
  margin-bottom: 1em; }

.accent {
  color: var(--accent-text); }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?qhrsll");
  src: url("../fonts/icomoon.eot?qhrsll#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?qhrsll") format("truetype"), url("../fonts/icomoon.woff?qhrsll") format("woff"), url("../fonts/icomoon.svg?qhrsll#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-env:before {
  content: "\f0e0"; }

.icon-ptrt:before {
  content: "\f231"; }

.icon-phn:before {
  content: "\e943"; }

.icon-pin:before {
  content: "\e947"; }

.icon-fcbk:before {
  content: "\ea90"; }

.icon-ttr:before {
  content: "\ea96"; }

.icon-dbbl:before {
  content: "\eaa7"; }

.icon-lkn:before {
  content: "\eaca"; }

.header {
  position: relative;
  padding: 15px 0;
  background-color: var(--main); }
  .header:before, .header:after {
    content: '';
    position: absolute;
    bottom: -20px;
    width: calc(50% - 90px);
    height: 1px;
    background-color: var(--light); }
    @media (max-width: 580px) {
      .header:before, .header:after {
        width: calc(100% - 70px); } }
  .header:before {
    left: 30px; }
  .header:after {
    right: 30px; }

.nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.menu {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 100; }
  .menu li {
    position: relative;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto; }
    .menu li:after {
      content: '';
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      right: 0;
      display: inline-block;
      vertical-align: middle;
      width: 2px;
      height: 2px;
      margin: 0 0 0 auto;
      background-color: #474c5f; }
    .menu li:nth-child(n+4) {
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
      -ms-flex-order: 2;
      order: 2; }
    .menu li:last-child:after {
      display: none; }
    .menu li:hover a {
      color: var(--accent-text); }
    .menu li a {
      display: block;
      padding: 1em;
      text-transform: uppercase;
      font-weight: 700;
      color: #fff;
      text-align: center; }
  @media (max-width: 580px) {
    .menu {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: var(--main);
      -webkit-transform: translateX(-110%);
      -ms-transform: translateX(-110%);
      transform: translateX(-110%); }
      .menu li {
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 100%;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%; }
        .menu li:after {
          display: none; } }
  .menu.opened {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: 0.6s ease;
    -o-transition: 0.6s ease;
    transition: 0.6s ease; }

li.menu__logo {
  width: 90px;
  height: 100%;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1; }
  li.menu__logo:after {
    display: none; }
  @media (max-width: 580px) {
    li.menu__logo {
      display: none; } }

.logo {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }
  .logo:after {
    content: '';
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: -36px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 24px 45px 0 45px;
    border-color: var(--main) transparent transparent transparent; }
  @media (max-width: 580px) {
    .logo {
      position: relative;
      left: auto;
      -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
      transform: translateX(0%); }
      .logo:after {
        display: none; } }

.portfolio {
  position: relative; }
  .portfolio:after {
    content: '';
    position: absolute;
    left: 30px;
    right: 30px;
    bottom: 20px;
    height: 1px;
    background-color: var(--light); }

.hex {
  padding: 5.5% 20px; }

.hex__list {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 1120px;
  margin: 0 auto; }
  .hex__list:before, .hex__list:after {
    content: '';
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 82%;
    height: 20%;
    border-left: 1px solid var(--light);
    border-right: 1px solid var(--light);
    z-index: -1; }
  .hex__list:before {
    top: 10%; }
  .hex__list:after {
    bottom: 10%; }
  .hex__list:hover .hex__item {
    -webkit-filter: sepia(70%);
    filter: sepia(70%); }
    .hex__list:hover .hex__item:hover {
      -webkit-filter: sepia(0%);
      filter: sepia(0%); }

.hex__item {
  position: relative;
  width: calc(20% - 20px);
  padding-bottom: calc(23% - 20px);
  margin: 10px;
  overflow: hidden;
  visibility: hidden;
  -webkit-transform: rotate(-60deg) skewY(30deg);
  -ms-transform: rotate(-60deg) skewY(30deg);
  transform: rotate(-60deg) skewY(30deg);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  .hex__item:first-child {
    margin-left: calc(10% + 10px); }
  .hex__item:nth-last-child(4) {
    margin-left: calc(10% + 10px); }
  .hex__item:nth-child(n+5) {
    margin-top: -5%; }
  @media (max-width: 900px) {
    .hex__item {
      width: calc(33% - 20px);
      padding-bottom: calc(38% - 20px); }
      .hex__item:first-child {
        margin-left: 0; }
      .hex__item:nth-child(n+5) {
        margin-top: 0; }
      .hex__item:nth-last-child(4) {
        margin-left: 10px; }
      .hex__item:nth-child(5n+4) {
        margin-left: calc(16.5% + 10px); }
      .hex__item:nth-child(n+4) {
        margin-top: -7%; } }
  @media (max-width: 500px) {
    .hex__item {
      width: 99%;
      padding-bottom: 114%;
      margin: 0;
      margin-bottom: 20px; }
      .hex__item:nth-child(5n+4) {
        margin-left: 0; }
      .hex__item:nth-child(n+4) {
        margin-top: 0; }
      .hex__item:nth-last-child(4) {
        margin-left: 0; } }

.hex__pic {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-transform: skewY(-30deg) rotate(60deg);
  -ms-transform: skewY(-30deg) rotate(60deg);
  transform: skewY(-30deg) rotate(60deg);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  overflow: hidden;
  visibility: visible; }

.about {
  background-color: var(--accent);
  padding: 20px 0; }
  .about .container {
    padding: 5% 20px;
    border-left: 1px solid var(--accent-border);
    border-right: 1px solid var(--accent-border); }

.col.avatar {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 204px;
  -ms-flex: 0 1 204px;
  flex: 0 1 204px; }

.col.text {
  -webkit-box-flex: 4;
  -webkit-flex: 4 1 500px;
  -ms-flex: 4 1 500px;
  flex: 4 1 500px;
  padding-left: 20px;
  color: #d7fcf5; }

.avatar__wrap {
  position: relative;
  overflow: hidden;
  padding-bottom: 116%;
  -webkit-clip-path: polygon(51% 0, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0 25%);
  clip-path: polygon(51% 0, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0 25%); }
  .avatar__wrap img {
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }

.network {
  text-align: right;
  margin: 5% 0 2% 0;
  font-size: 0; }
  .network li {
    font-size: initial;
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px; }
    .network li a {
      display: block;
      text-align: center;
      color: var(--accent);
      line-height: 30px; }

.icon-1 {
  background-color: #d5dde0; }

.icon-2 {
  background-color: #c7d1d5; }

.icon-3 {
  background-color: #b8c5ca; }

.icon-4 {
  background-color: #a9b9c0; }

.icon-5 {
  background-color: #9badb5; }

/*contact*/
.contact {
  position: relative;
  background-color: var(--main); }
  .contact:before, .contact:after {
    content: '';
    position: absolute;
    left: 30px;
    right: 30px;
    height: 1px;
    background-color: #2b2b2b; }
  .contact:before {
    top: 20px; }
  .contact:after {
    bottom: 20px; }
  .contact .container {
    padding: 5% 20px; }

.contact__form {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 72.5%;
  -ms-flex: 1 1 72.5%;
  flex: 1 1 72.5%;
  padding-right: 20px; }
  @media (max-width: 900px) {
    .contact__form {
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 100%;
      -ms-flex: 1 1 100%;
      flex: 1 1 100%;
      padding-right: 0;
      margin-bottom: 30px; } }

.contact__requisite {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 26%;
  -ms-flex: 1 1 26%;
  flex: 1 1 26%;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch; }
  .contact__requisite p {
    margin-top: -0.3em;
    line-height: 1.4; }
  @media (max-width: 900px) {
    .contact__requisite {
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 100%;
      -ms-flex: 1 1 100%;
      flex: 1 1 100%; } }

.contact__address {
  margin-top: 26%; }
  @media (max-width: 900px) {
    .contact__address {
      margin-top: 30px; } }
  .contact__address li {
    margin-bottom: 10px; }
  .contact__address i {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    color: var(--accent); }

.footer {
  background-color: var(--dark); }
  .footer .copy {
    padding: 30px;
    color: #3f3f3f; }

.form__row {
  margin-bottom: 20px; }
  .form__row:last-of-type {
    margin-bottom: 0; }
  .form__row input, .form__row textarea {
    padding: 13px;
    background-color: var(--input); }
  .form__row textarea {
    height: 150px; }
  .form__row .btn {
    display: block;
    max-width: 200px;
    margin-left: auto; }
    @media (max-width: 500px) {
      .form__row .btn {
        margin: 0 auto;
        max-width: 100%;
        width: 100%; } }

.menu-trigger {
  display: none;
  position: relative;
  bottom: 5px;
  width: 50px;
  height: 30px;
  border-left: 1px solid;
  border-right: 1px solid;
  margin-left: auto;
  -webkit-transition: 0.6s ease;
  -o-transition: 0.6s ease;
  transition: 0.6s ease; }
  .menu-trigger:before, .menu-trigger:after {
    content: '';
    position: absolute;
    top: 0;
    left: -1px;
    width: inherit;
    height: inherit;
    border-left: 1px solid;
    border-right: 1px solid;
    -webkit-transition: 0.6s ease;
    -o-transition: 0.6s ease;
    transition: 0.6s ease; }
  .menu-trigger:before {
    -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg); }
  .menu-trigger:after {
    -webkit-transform: rotate(-120deg);
    -ms-transform: rotate(-120deg);
    transform: rotate(-120deg); }
  .menu-trigger.opened {
    font-size: 0;
    border-color: transparent; }
    .menu-trigger.opened:before, .menu-trigger.opened:after {
      left: 50%;
      width: 1px;
      background-color: #fff;
      border-color: transparent; }
  @media (max-width: 580px) {
    .menu-trigger {
      display: block; } }

.btn {
  padding: 0.8em 2em;
  color: #fff;
  text-transform: uppercase;
  background-color: var(--accent); }



/*# sourceMappingURL=main.css.map */