.form {
 width: 100%;
 min-width: 21em;
 @include bp(1000px) {
  min-width: 0;
 }
}

.form__row {
 position: relative;
 margin-bottom: 0.8em;
 &:last-of-type {
  margin-bottom: 0;
 }
 .btn:only-child {
  width: 100%;
 }
 &.error {
  input {
   border: 2px solid currentColor;
   color: #ff6d6d;
  }
 }
}
input {
 padding: 0.9em;
 border: 2px solid transparent;
 border-radius: 4px;
 font-family: inherit;
 color: $formInpColor;
 background: $formInpBg;
 transition: 0.5s ease-in-out;
 &:focus,
 &:active {
  border: 2px solid currentColor;
 }
}
::placeholder {
 color: inherit;
 opacity: 1;
}
::-moz-placeholder {
 color: inherit;
 opacity: 1;
}
::-webkit-input-placeholder {
 color: inherit;
 opacity: 1;
}

.form__caption {
 text-transform: uppercase;
 margin-bottom: 0.5em;
}
