@font-face {
	font-family: 'proxima';
    src: local('lol');
	src: url('../fonts/proxima-nova-regular.woff2') format('woff2'),
    url('../fonts/proxima-nova-regular.woff') format('woff'), 
	url('../fonts/proxima-nova-regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'novecento';
    src: local('lol');
    src:url('../fonts/novecentowide-light-webfont.woff2') format('woff2'),
    url('../fonts/novecentowide-light-webfont.woff') format('woff'),
    url('../fonts/novecentowide-light-webfont.svg#novecento_widelight') format('svg');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'novecento';
    src: local('lol');
    src: url('../fonts/novecentowide-medium-webfont.woff2') format('woff2'),
    url('../fonts/novecentowide-medium-webfont.woff') format('woff'),
    url('../fonts/novecentowide-medium-webfont.svg#novecento_widemedium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'novecento';
    src: local('lol');
    src: url('../fonts/novecentowide-normal-webfont.woff2') format('woff2'),
    url('../fonts/novecentowide-normal-webfont.woff') format('woff'),
    url('../fonts/novecentowide-normal-webfont.svg#novecento_widenormal') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ostrich';
    src: local('lol');
    src: url('../fonts/ostrich-regular-webfont.woff2') format('woff2'),
    url('../fonts/ostrich-regular-webfont.woff') format('woff'),
    url('../fonts/ostrich-regular-webfont.svg#ostrich_sansmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ostrich_black';
    src: local('lol');
    src: url('../fonts/ostrichsans-black-webfont.woff2') format('woff2'),
    url('../fonts/ostrichsans-black-webfont.woff') format('woff'),
    url('../fonts/ostrichsans-black-webfont.svg#ostrich_sansblack') format('svg');
    font-weight: normal;
    font-style: normal;

}

html, 
body {
	width: 100%;
	height: 100%;
}

html {
	font-size: 16px;
}

section{
	position: relative;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	position: relative;
	// min-width: 100%;
    max-width: 1600px;
	height: auto;
	margin: 0 auto;
}

.container {
	max-width: $container;
	margin: 0 auto;
	padding: 0 20px;
    position: relative;
}

footer {
	height: $footer-h;
    margin: 70px 0 0 0;
}