.header {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 padding-top: 5vh;
 z-index: 1;
}

.logo {
 width: 100px;
 @include bp(700px) {
  margin: auto;
 }
}

.nav {
 @include row();
 flex: 1 1 auto;
 @include bp(700px) {
  display: none;
 }
 &--mobile {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 220px;
  padding: 2em 1em 5.5em 1em;
  margin-left: auto;
  @include fFS(14px, 20px, 320px, 700px, 16px);
  .nav__list {
   flex-direction: column;
   text-align: right;
   margin: 0 0 0.5em 0;
   li {
    a {
     padding: 0.5em 0.5em 0.8em;
    }
   }
  }
  @include bp(700px) {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
  }
 }
}

.nav__list {
 @extend %row;
 justify-content: space-around;
 flex: 1 1 auto;
 max-width: 800px;
 margin: 0 auto;
 li {
  a {
   display: block;
   font-size: 1.25em;
   text-transform: uppercase;
   color: #fff;
   text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
 }
}
