@-ms-viewport {
  width: device-width;
  initial-scale: 1; }

@-moz-viewport {
  width: device-width;
  initial-scale: 1; }

@-webkit-viewport {
  width: device-width;
  initial-scale: 1; }

*,
:before,
:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  min-height: 100%; }

body {
  position: relative;
  min-height: 100%;
  overflow: auto;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: subpixel-antialiased !important;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-overflow-scrolling: touch;
  -ms-touch-action: manipulation;
  touch-action: manipulation; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

video,
audio,
canvas {
  display: inline-block; }

span {
  display: inline-block; }

a,
input,
button,
textarea,
optgroup,
select,
fieldset,
figure,
legend,
address {
  font: inherit;
  color: inherit;
  line-height: inherit;
  text-transform: inherit;
  text-shadow: inherit;
  border: none;
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  margin: 0;
  padding: 0; }

a,
button,
[type="button"],
[type="submit"] {
  -webkit-transition: color 0.25s, background 0.25s, opacity 0.25s;
  -o-transition: color 0.25s, background 0.25s, opacity 0.25s;
  transition: color 0.25s, background 0.25s, opacity 0.25s; }

a {
  cursor: pointer;
  text-decoration: none;
  -webkit-text-decoration-skip: none; }

button {
  overflow: visible;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit; }

p {
  margin: 0; }

b,
strong {
  font-weight: 700; }

img,
svg,
embed,
object,
iframe,
video,
audio,
canvas {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  border: 0; }

svg {
  color: inherit; }
  svg:not(:root) {
    overflow: hidden; }

progress {
  vertical-align: baseline; }

h1,
h2,
h3,
h4,
h5,
h6 {
  text-rendering: optimizeLegibility;
  font: inherit;
  color: inherit;
  margin: 0; }

ul,
ol,
menu {
  margin: 0;
  padding: 0;
  list-style: none; }

input,
select,
button,
button > *,
a > * {
  display: inline-block;
  vertical-align: middle; }

button,
label,
select,
summary,
[type="button"],
[type="submit"],
[type="reset"],
[type="checkbox"],
[type="radio"],
[type="range"] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer; }

[type="button"],
[type="submit"],
[type="search"],
[type="radio"],
[type="range"],
::-webkit-search-cancel-button,
::-webkit-search-decoration,
::-webkit-outer-spin-button,
::-webkit-inner-spin-button,
::-webkit-slider-thumb {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

::-webkit-contacts-auto-fill-button,
::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  right: 0; }

:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 1000px #fff;
  box-shadow: inset 0 0 0 1000px #fff; }

::-webkit-details-marker {
  display: none; }

[type="radio"] {
  -webkit-appearance: radio; }

[type="number"] {
  -moz-appearance: textfield; }

::-ms-clear,
::-ms-reveal {
  display: none; }

input,
textarea {
  width: 100%; }

input {
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis; }

textarea {
  overflow: auto;
  resize: none; }

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0; }

:disabled {
  pointer-events: none; }

::-moz-focus-outer,
::-moz-focus-inner {
  border: 0;
  padding: 0; }

::placeholder,
::-moz-placeholder {
  opacity: 1; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

td,
th {
  padding: 0;
  text-align: center; }

article p:not(:empty) {
  margin-top: 0.7em;
  margin-bottom: 0.7em; }

article img,
article embed,
article object,
article iframe,
article video {
  display: block;
  margin: auto; }

article span {
  display: inline; }

article ul,
article ol,
article menu {
  margin-top: 0.7em;
  margin-bottom: 0.7em; }
  article ul ul,
  article ul ol,
  article ul menu,
  article ol ul,
  article ol ol,
  article ol menu,
  article menu ul,
  article menu ol,
  article menu menu {
    margin: 0;
    padding-left: 1.3em; }
  article ul > li:before,
  article ol > li:before,
  article menu > li:before {
    margin-right: 0.7em; }
  article ul > li p,
  article ol > li p,
  article menu > li p {
    display: inline; }

article ul > li:before,
article menu > li:before {
  content: "";
  width: 0.4em;
  height: 0.4em;
  display: inline-block;
  vertical-align: 10%;
  border-radius: 50%;
  background: #000;
  border: 1px solid #000; }

article ul > li li:before,
article menu > li li:before {
  background: transparent; }

article ol {
  counter-reset: count; }
  article ol > li:before {
    content: counter(count) ".";
    counter-increment: count; }

@font-face {
  font-family: "lobo";
  src: url("../fonts/lobo.eot");
  src: url("../fonts/lobo.eot?#iefix") format("embedded-opentype"), url("../fonts/lobo.woff") format("woff"), url("../fonts/lobo.svg#lobo") format("svg");
  font-weight: 400;
  font-style: normal; }

[data-icon]:before {
  font-family: "lobo" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: 400 !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "lobo" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-bag:before {
  content: "a"; }

.icon-heart:before {
  content: "b"; }

.icon-heart-empty:before {
  content: "c"; }

.icon-menu:before {
  content: "d"; }

.icon-bag-1:before {
  content: "e"; }

.icon-flick-left:before {
  content: "i"; }

.icon-horizontal-swipe:before {
  content: "j"; }

.icon-up-open-big:before {
  content: "k"; }

.icon-fontawesome-webfont-6:before {
  content: "r"; }

.icon-fontawesome-webfont-7:before {
  content: "s"; }

.icon-fontawesome-webfont-8:before {
  content: "t"; }

.icon-fontawesome-webfont-13:before {
  content: "y"; }

.icon-down-open-big:before {
  content: "z"; }

.icon-down-open-mini:before {
  content: "A"; }

.icon-left-open-mini:before {
  content: "D"; }

.icon-left-open-big:before {
  content: "E"; }

.icon-link:before {
  content: "G"; }

.icon-popup:before {
  content: "J"; }

.icon-resize-full:before {
  content: "K"; }

.icon-resize-small:before {
  content: "L"; }

.icon-right-open-big:before {
  content: "N"; }

.icon-right-open-mini:before {
  content: "M"; }

.icon-share:before {
  content: "O"; }

.icon-shuffle:before {
  content: "P"; }

.icon-behance:before {
  content: "W"; }

.icon-facebook:before {
  content: "X"; }

.icon-evernote:before {
  content: "Y"; }

.icon-dribbble:before {
  content: "Z"; }

.icon-forrst:before {
  content: "0"; }

.icon-github:before {
  content: "1"; }

.icon-grooveshark:before {
  content: "2"; }

.icon-last:before {
  content: "3"; }

.icon-linkedin:before {
  content: "4"; }

.icon-paypal:before {
  content: "5"; }

.icon-myspace:before {
  content: "6"; }

.icon-skype:before {
  content: "7"; }

.icon-soundcloud:before {
  content: "8"; }

.icon-spotify:before {
  content: "9"; }

.icon-tumblr-1:before {
  content: "!"; }

.icon-twitter:before {
  content: '"'; }

.icon-vimeo:before {
  content: "#"; }

.icon-whatsapp:before {
  content: "$"; }

.icon-youtube:before {
  content: "%"; }

.icon-google:before {
  content: "f"; }

.icon-gplus:before {
  content: "g"; }

.icon-google-circles:before {
  content: "h"; }

.icon-social-pinterest:before {
  content: "l"; }

.icon-pinterest:before {
  content: "m"; }

.icon-pause:before {
  content: "n"; }

.icon-play:before {
  content: "o"; }

.icon-volume:before {
  content: "p"; }

.icon-volume-none:before {
  content: "q"; }

.icon-fontawesome-webfont:before {
  content: "u"; }

.icon-fontawesome-webfont-1:before {
  content: "v"; }

.icon-reddit:before {
  content: "w"; }

.icon-instagram:before {
  content: "x"; }

.icon-flickr:before {
  content: "B"; }

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
  font-size: 14px; }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.wrapper {
  position: relative;
  min-width: 320px;
  min-height: 100vh;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  overflow: hidden; }

.footer {
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0; }

a {
  display: inline-block;
  vertical-align: middle; }

img {
  display: inline-block; }

.container {
  max-width: 100%;
  margin: 0 auto; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

@media (max-width: 800px) {
  .desk {
    display: none; } }

.header {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  padding: 1.5em 0;
  background-image: url("../img/hero.jpg");
  background-position: center top;
  -webkit-transition: 0.5s linear;
  -o-transition: 0.5s linear;
  transition: 0.5s linear;
  z-index: 10;
  will-change: top; }
  .header .row {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media (max-width: 800px) {
      .header .row {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; } }
  .header.open {
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
  .header.visible {
    top: 0; }
    .header.visible .header__container {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0); }

.header__container {
  position: relative;
  -webkit-transform: translateY(-300%);
  -ms-transform: translateY(-300%);
  transform: translateY(-300%);
  width: 90%;
  margin: 0 auto;
  padding: 0 1em;
  -webkit-transition: 0.5s 0.5s linear;
  -o-transition: 0.5s 0.5s linear;
  transition: 0.5s 0.5s linear; }

.header__title {
  color: #fff;
  font-size: 0.9em;
  font-weight: 700; }

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .header__list a {
    padding: 0 1.5em;
    text-transform: uppercase;
    color: #fff;
    font-size: 0.8em;
    font-weight: 700; }

.menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 50%;
  color: #fff;
  background-color: #212121;
  -webkit-transition: 0.5s linear;
  -o-transition: 0.5s linear;
  transition: 0.5s linear; }
  .menu.open {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }

.menu__list {
  margin: auto 0 auto 3vw; }
  .menu__list li a {
    display: block;
    font-size: 7vw;
    font-weight: 500;
    line-height: 0.8; }
    @media (max-width: 600px) {
      .menu__list li a {
        padding: 0.5em 0; } }
  .menu__list li:hover a {
    color: #c1c1c1; }

.menu__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 3vw;
  margin-bottom: 10vh; }
  @media (max-width: 800px) {
    .menu__footer .logo {
      display: none; } }

.menu__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .menu__social li {
    margin-right: 0.5em; }
    .menu__social li:last-child {
      margin-right: 0; }
    .menu__social li a {
      vertical-align: middle;
      font-size: 2em;
      line-height: 1; }
    .menu__social li:hover {
      color: #c1c1c1; }

:root {
  --proportion: 60%; }
  @media (max-width: 600px) {
    :root {
      --proportion: 140%; } }

.hero {
  position: relative;
  padding-bottom: var(--proportion); }
  .hero .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .hero .hero__container {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 0;
    width: 95%;
    height: 100%;
    padding: 2.5em 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }

.hero__bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-bottom: var(--proportion);
  z-index: -1; }
  .hero__bg img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover; }
    @media (max-width: 800px) {
      .hero__bg img {
        height: 100%; } }

.hero__footer {
  color: #fff;
  font-weight: 400; }
  @media (max-width: 800px) {
    .hero__footer {
      text-align: center; } }

.hero__title {
  font-size: 23px; }
  @media (min-width: 320px) {
    .hero__title {
      font-size: 16px;
      font-size: calc(0.00625 * 100vw + 21px); } }
  @media (min-width: 1920px) {
    .hero__title {
      font-size: 33px; } }

.hero__subtitle {
  font-size: 9px;
  text-transform: uppercase; }

.logo {
  width: 200px; }

.content {
  position: relative;
  -webkit-transition: 0.5s linear;
  -o-transition: 0.5s linear;
  transition: 0.5s linear;
  z-index: 1; }
  .content.open {
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }

.gallery {
  position: relative;
  background: #e0e0e0;
  z-index: 2; }

.gallery__list {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
  -ms-grid-rows: 45vh;
  grid-template-rows: 45vh;
  grid-auto-columns: 45vh; }
  @media (max-width: 600px) {
    .gallery__list {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr; } }

.gallery__item {
  min-height: 35vh; }
  .gallery__item img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }
  .gallery__item--double {
    -ms-grid-column-span: 2;
    grid-column: span 2; }
  .gallery__item--big {
    -ms-grid-column-span: 2;
    grid-column: span 2;
    -ms-grid-row-span: 2;
    grid-row: span 2; }
  @media (max-width: 900px) {
    .gallery__item {
      -ms-grid-column-span: 2;
      grid-column: span 2;
      -ms-grid-row-span: 2;
      grid-row: span 2; } }
  .gallery__item .slider {
    width: 49.45vw;
    height: 100%; }
    @media (max-width: 600px) {
      .gallery__item .slider {
        width: 100vw; } }
    .gallery__item .slider .glide {
      width: 100%;
      height: 100%; }

.pagination {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
  grid-auto-rows: 45vh;
  -ms-grid-column-span: 2;
  grid-column: span 2; }

.pagination__item {
  position: relative; }
  .pagination__item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8); }
  .pagination__item a {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: 500; }
    .pagination__item a:after {
      content: "";
      display: inline-block;
      vertical-align: middle;
      height: 100%;
      width: 0; }
    .pagination__item a:before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      -webkit-transform: translateY(1em);
      -ms-transform: translateY(1em);
      transform: translateY(1em);
      width: 100%;
      height: 2px;
      background: #000;
      opacity: 0;
      -webkit-transition: opacity 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53), -webkit-transform 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53);
      transition: opacity 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53), -webkit-transform 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53);
      -o-transition: transform 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53), opacity 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53);
      transition: transform 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53), opacity 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53);
      transition: transform 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53), opacity 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53), -webkit-transform 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53); }
  .pagination__item:hover {
    font-size: 0; }
    .pagination__item:hover a:before {
      opacity: 1;
      -webkit-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
      transform: translateY(-3px); }

.gallery__caption {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.3fr 1fr 0.3fr;
  grid-template-columns: 0.3fr 1fr 0.3fr;
  -ms-flex-line-pack: center;
  align-content: center;
  background-color: #fff; }
  @media (max-width: 800px) {
    .gallery__caption {
      -ms-grid-columns: 0.2fr 1fr 0.2fr;
      grid-template-columns: 0.2fr 1fr 0.2fr; } }

.gallery__title {
  margin-bottom: 0.2em;
  font-size: 1.1em;
  font-weight: 700;
  -ms-grid-column: 2;
  grid-column: 2; }

.gallery__subtitle {
  margin-bottom: 0.8em;
  font-size: 0.9em;
  font-weight: 700;
  -ms-grid-column: 2;
  grid-column: 2; }

.gallery__text {
  position: relative;
  padding-top: 1em;
  -ms-grid-column: 2;
  grid-column: 2; }
  .gallery__text:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 1.5em;
    height: 3px;
    background: #000; }

.add-item {
  position: relative;
  background: #000;
  color: #fff;
  -webkit-transition: 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  -o-transition: 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition: 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53); }
  .add-item a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: 500; }
    .add-item a i {
      display: block;
      margin-top: 0.5em;
      font-size: 1.5em; }
  .add-item:hover {
    background: rgba(255, 255, 255, 0.5);
    color: #000; }
    .add-item:hover .add-item__inner:before {
      opacity: 1;
      -webkit-transform: translateY(-7px);
      -ms-transform: translateY(-7px);
      transform: translateY(-7px); }

.add-item__inner {
  position: relative;
  display: inline-block;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center; }
  .add-item__inner:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(1em);
    -ms-transform: translateY(1em);
    transform: translateY(1em);
    width: 100%;
    height: 2px;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    -webkit-transition: opacity 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53), -webkit-transform 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    transition: opacity 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53), -webkit-transform 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    -o-transition: transform 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53), opacity 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    transition: transform 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53), opacity 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    transition: transform 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53), opacity 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53), -webkit-transform 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53); }

.share {
  margin: auto;
  width: 100%;
  max-width: 45%; }

.share__header {
  padding: 0.6em 0.2em;
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
  background-color: #b2b2b2; }

.share__list {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(80px, 1fr));
  grid-auto-rows: 80px; }

.share__item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  color: #3c3c3c;
  font-size: 1.5em; }

.share__item:nth-child(even) {
  background: #121212; }

.share__item:nth-child(odd) {
  background: #1a1a1a; }

.share__item:hover:nth-child(1) a {
  color: #fff;
  background: #00aced; }

.share__item:hover:nth-child(2) a {
  color: #fff;
  background: #3b5998; }

.share__item:hover:nth-child(3) a {
  color: #fff;
  background: #dd4b39; }

.share__item:hover:nth-child(4) a {
  color: #fff;
  background: #c00014; }

.share__item:hover:nth-child(5) a {
  color: #fff;
  background: #34526f; }

.share__item:hover:nth-child(6) a {
  color: #fff;
  background: #ff4500; }

.share__item:hover:nth-child(7) a {
  color: #fff;
  background: #4bf; }

.footer {
  padding: 4em 1em; }

.footer__row {
  margin-bottom: 2em;
  text-align: center; }
  .footer__row:last-of-type {
    margin-bottom: 0; }

.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .footer__link li {
    padding: 0.5em 1em;
    position: relative; }
    .footer__link li:nth-child(1) a:before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      -webkit-transform: translateY(1em);
      -ms-transform: translateY(1em);
      transform: translateY(1em);
      width: 100%;
      height: 2px;
      background: #00aced;
      opacity: 0;
      -webkit-transition: opacity 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53), -webkit-transform 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53);
      transition: opacity 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53), -webkit-transform 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53);
      -o-transition: transform 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53), opacity 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53);
      transition: transform 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53), opacity 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53);
      transition: transform 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53), opacity 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53), -webkit-transform 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53); }
    .footer__link li:nth-child(2) a:before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      -webkit-transform: translateY(1em);
      -ms-transform: translateY(1em);
      transform: translateY(1em);
      width: 100%;
      height: 2px;
      background: #3b5998;
      opacity: 0;
      -webkit-transition: opacity 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53), -webkit-transform 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53);
      transition: opacity 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53), -webkit-transform 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53);
      -o-transition: transform 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53), opacity 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53);
      transition: transform 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53), opacity 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53);
      transition: transform 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53), opacity 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53), -webkit-transform 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53); }
    .footer__link li:nth-child(3) a:before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      -webkit-transform: translateY(1em);
      -ms-transform: translateY(1em);
      transform: translateY(1em);
      width: 100%;
      height: 2px;
      background: #1769ff;
      opacity: 0;
      -webkit-transition: opacity 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53), -webkit-transform 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53);
      transition: opacity 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53), -webkit-transform 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53);
      -o-transition: transform 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53), opacity 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53);
      transition: transform 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53), opacity 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53);
      transition: transform 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53), opacity 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53), -webkit-transform 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53); }
    .footer__link li:nth-child(4) a:before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      -webkit-transform: translateY(1em);
      -ms-transform: translateY(1em);
      transform: translateY(1em);
      width: 100%;
      height: 2px;
      background: #3f729b;
      opacity: 0;
      -webkit-transition: opacity 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53), -webkit-transform 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53);
      transition: opacity 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53), -webkit-transform 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53);
      -o-transition: transform 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53), opacity 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53);
      transition: transform 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53), opacity 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53);
      transition: transform 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53), opacity 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53), -webkit-transform 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53); }
    .footer__link li:nth-child(5) a:before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      -webkit-transform: translateY(1em);
      -ms-transform: translateY(1em);
      transform: translateY(1em);
      width: 100%;
      height: 2px;
      background: #000;
      opacity: 0;
      -webkit-transition: opacity 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53), -webkit-transform 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53);
      transition: opacity 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53), -webkit-transform 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53);
      -o-transition: transform 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53), opacity 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53);
      transition: transform 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53), opacity 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53);
      transition: transform 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53), opacity 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53), -webkit-transform 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53); }
    @media (max-width: 600px) {
      .footer__link li {
        padding: 0.5em; } }
    .footer__link li:hover a:before {
      opacity: 1;
      -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
      transform: translateY(10px); }
  .footer__link a {
    position: relative;
    display: inline-block; }
  .footer__link--copy li:after {
    content: "";
    position: absolute;
    width: 0.5em;
    height: 1px;
    background-color: currentColor;
    top: 50%;
    right: -0.25em; }
  .footer__link--copy li:last-child:after {
    display: none; }
  .footer__link--copy li:hover a:before {
    opacity: 1;
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px); }
  .footer__link--copy a:before {
    background: #000 !important; }

/*glide js*/
.glide {
  position: relative;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.glide * {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

.glide__track {
  overflow: hidden;
  height: 100%;
  /**/ }

.glide__slides {
  position: relative;
  width: 100%;
  height: 100%;
  /**/
  list-style: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -ms-touch-action: pan-Y;
  touch-action: pan-Y;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  will-change: transform; }

.glide__slides--dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.glide__slide {
  width: 100%;
  height: 100%;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  white-space: normal;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent; }

.glide__slide a {
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none; }

.glide__arrows {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.glide--rtl {
  direction: rtl; }

.glide__bullets {
  position: absolute;
  bottom: 5%;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.glide__bullet {
  width: 10px;
  height: 10px;
  border: 1px solid #222;
  border-radius: 100%;
  margin-right: 1em; }
  .glide__bullet--active {
    background: #222; }
  .glide__bullet:last-child {
    margin-right: 0; }

.glide--rtl {
  direction: rtl; }

.overlay {
  position: fixed;
  display: none;
  opacity: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9;
  -webkit-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out; }
  .overlay.visible {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 1; }

.menu-btn i {
  font-size: 30px; }

.menu-btn.open {
  opacity: 0; }

@media (max-width: 800px) {
  .menu-btn {
    color: #fff; } }

.menu-close {
  position: relative;
  margin: 5vh 3vw 0 auto;
  width: 50px;
  height: 50px;
  color: #fff;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out; }
  .menu-close:before, .menu-close:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    width: 60%;
    height: 2px;
    background: currentColor;
    outline: 1px solid transparent; }
  .menu-close:before {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg); }
  .menu-close:after {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    -ms-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg); }
  .menu-close:hover {
    color: #c1c1c1; }
    .menu-close:hover:before, .menu-close:hover:after {
      outline: 1px solid currentColor; }

/*# sourceMappingURL=main.css.map */