/*article*/

.article {
 padding: 2.6em 0;
}
.container-inner {
 max-width: 690px;
 padding: 0 15px;
}
.article__header {
 @include row();
 margin-bottom: 1em;
}

.article__title {
 font-size: 1.8em;
 font-weight: 700;
}

.article__content {
 margin-bottom: 2.6em;
}

.article__row {
 .btn {
  margin-right: 0.5em;
  &:last-child {
   margin-right: 0;
  }
 }
}
