/*color*/
.plank.gradient {
  background: #80fffb;
  background: -webkit-gradient(linear, left top, right top, from(#80fffb), color-stop(38%, rgba(128, 255, 251, 0.99)), color-stop(64%, rgba(255, 255, 128, 0.99)), to(rgba(255, 255, 128, 0.98)));
  background: -webkit-linear-gradient(left, #80fffb 0%, rgba(128, 255, 251, 0.99) 38%, rgba(255, 255, 128, 0.99) 64%, rgba(255, 255, 128, 0.98) 100%);
  background: -o-linear-gradient(left, #80fffb 0%, rgba(128, 255, 251, 0.99) 38%, rgba(255, 255, 128, 0.99) 64%, rgba(255, 255, 128, 0.98) 100%);
  background: linear-gradient(to right, #80fffb 0%, rgba(128, 255, 251, 0.99) 38%, rgba(255, 255, 128, 0.99) 64%, rgba(255, 255, 128, 0.98) 100%); }

.involved__item {
  background: #cd9efe;
  background: -webkit-gradient(linear, left top, right top, from(#cd9efe), color-stop(38%, rgba(205, 158, 254, 0.99)), color-stop(64%, rgba(6, 252, 207, 0.99)), to(rgba(6, 252, 207, 0.98)));
  background: -webkit-linear-gradient(left, #cd9efe 0%, rgba(205, 158, 254, 0.99) 38%, rgba(6, 252, 207, 0.99) 64%, rgba(6, 252, 207, 0.98) 100%);
  background: -o-linear-gradient(left, #cd9efe 0%, rgba(205, 158, 254, 0.99) 38%, rgba(6, 252, 207, 0.99) 64%, rgba(6, 252, 207, 0.98) 100%);
  background: linear-gradient(to right, #cd9efe 0%, rgba(205, 158, 254, 0.99) 38%, rgba(6, 252, 207, 0.99) 64%, rgba(6, 252, 207, 0.98) 100%); }

@-ms-viewport {
  width: device-width;
  initial-scale: 1; }

@-moz-viewport {
  width: device-width;
  initial-scale: 1; }

@-webkit-viewport {
  width: device-width;
  initial-scale: 1; }

*, :before, :after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  min-height: 100%; }

body {
  position: relative;
  min-height: 100%;
  overflow: auto;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
  -ms-touch-action: manipulation;
  touch-action: manipulation; }

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block; }

video, audio, canvas {
  display: inline-block; }

span {
  display: inline-block; }

a, input, button, textarea, optgroup, select, fieldset, figure, legend, address {
  font: inherit;
  color: inherit;
  line-height: inherit;
  text-transform: inherit;
  text-shadow: inherit;
  border: none;
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  margin: 0;
  padding: 0; }

a {
  cursor: pointer;
  text-decoration: none;
  -webkit-text-decoration-skip: none; }

button {
  overflow: visible;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit; }

p {
  margin: 0;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  overflow: hidden; }

b, strong {
  font-weight: 700; }

img, svg, embed, object, iframe, video, audio, canvas {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  border: 0; }

img {
  image-rendering: optimizeQuality;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -webkit-optimize-contrast;
/*  image-rendering: -moz-crisp-edges;
  image-rendering: -o-pixelated;
  image-rendering: pixelated;*/ }

svg {
  color: inherit; }
  svg:not(:root) {
    overflow: hidden; }

progress {
  vertical-align: baseline; }

h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility;
  font: inherit;
  color: inherit;
  margin: 0; }

ul, ol, menu {
  margin: 0;
  padding: 0;
  list-style: none; }

input, select, button, button > *, a > * {
  display: inline-block;
  vertical-align: middle; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

::-webkit-contacts-auto-fill-button, ::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  right: 0; }

[type="radio"] {
  -webkit-appearance: radio; }

::-ms-clear, ::-ms-reveal {
  display: none; }

input, textarea {
  width: 100%; }

input {
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis; }

textarea {
  overflow: auto;
  resize: none; }

:active, :hover, :focus {
  outline: 0;
  outline-offset: 0; }

:disabled {
  pointer-events: none; }

::-moz-focus-outer, ::-moz-focus-inner {
  border: 0;
  padding: 0; }

::placeholder, ::-moz-placeholder {
  opacity: 1; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

td, th {
  padding: 0;
  text-align: center; }

article p:not(:empty) {
  margin-top: .7em;
  margin-bottom: .7em; }

article img, article embed, article object, article iframe, article video {
  display: block;
  margin: auto; }

article span {
  display: inline; }

article ul, article ol, article menu {
  margin-top: .7em;
  margin-bottom: .7em; }
  article ul ul, article ul ol, article ul menu, article ol ul, article ol ol, article ol menu, article menu ul, article menu ol, article menu menu {
    margin: 0;
    padding-left: 1.3em; }
  article ul > li:before, article ol > li:before, article menu > li:before {
    margin-right: .7em; }
  article ul > li p, article ol > li p, article menu > li p {
    display: inline; }

article ul > li:before, article menu > li:before {
  content: '';
  width: .4em;
  height: .4em;
  display: inline-block;
  vertical-align: 10%;
  border-radius: 50%;
  background: #000;
  border: 1px solid #000; }

article ul > li li:before, article menu > li li:before {
  background: transparent; }

article ol {
  counter-reset: count; }
  article ol > li:before {
    content: counter(count) ".";
    counter-increment: count; }

html {
  min-height: 100vh; }

body {
  font-family: 'Open Sans';
  line-height: 1.38;
  font-size: 16px;
  font-weight: 400;
  color: #000; }
  @media (min-width: 480px) {
    body {
      font-size: 18px;
      font-size: calc( 0.01125 * 100vw + 10.6px); } }
  @media (min-width: 1280px) {
    body {
      font-size: 25px; } }

h1 {
  font-size: 45px;
  font-weight: 700; }
  @media (min-width: 480px) {
    h1 {
      font-size: 18px;
      font-size: calc( 0.05 * 100vw + 21px); } }
  @media (min-width: 1280px) {
    h1 {
      font-size: 85px; } }

a {
  display: inline-block; }

a:not([data-target="anchor"]) {
  color: #002aff;
  padding-bottom: 3px;
  border-bottom: 2px dashed; }

img {
  max-width: 100%;
  height: auto;
  border: none;
  outline: none;
  font-size: 0;
  background: transparent;
  display: block; }

section {
  position: relative;
  padding: 7% 0; }
  @media (max-width: 900px) {
    section {
      padding: 13% 0; } }
  @media (max-width: 900px) {
    section {
      padding: 20% 0; } }

span {
  font-weight: 600; }

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden; }

.container {
  position: relative;
  width: 80%;
  min-width: 320px;
  padding: 0 20px;
  margin: 0 auto;
  z-index: 1; }
  @media (max-width: 900px) {
    .container {
      width: 100%; } }

.hidden {
  display: none; }

.row, .awaits__row, .contact-form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.plank {
  display: inline-block;
  vertical-align: middle;
  padding: 0.3em 0.5em;
  font-weight: 700;
  text-transform: uppercase; }
  .plank.yellow {
    background-color: #f6ff00; }

.section__skew {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: skewY(-8deg);
  -ms-transform: skewY(-8deg);
  transform: skewY(-8deg);
  overflow: hidden;
  z-index: -1; }
  .section__skew:after {
    content: '';
    position: absolute;
    display: block;
    top: -20%;
    left: 0;
    width: 100%;
    height: 150%; }
  .section__skew-top {
    -webkit-transform-origin: left bottom;
    -ms-transform-origin: left bottom;
    transform-origin: left bottom;
    height: 110%; }

.green {
  color: #61c206; }

.popup-lives {
  position: absolute; }
  .popup-lives-1 {
    top: 4%;
    left: 30%; }
    @media (max-width: 600px) {
      .popup-lives-1 {
        left: 5%; } }
  .popup-lives-2 {
    bottom: 30%;
    right: 15%; }
    @media (max-width: 600px) {
      .popup-lives-2 {
        right: 5%;
        bottom: 0%; } }
  .popup-lives-3 {
    right: 40%;
    bottom: -25%;
    z-index: 5; }
  .popup-lives-4 {
    left: 3%; }

.header {
  position: relative;
  padding-top: 2em;
  z-index: 0; }
  @media (max-width: 800px) {
    .header {
      height: auto; } }
  .header .section__skew-top:after {
    top: 0;
    background: url(../img/bg/02-min.jpg) 50% 50%/auto 90% no-repeat;
    -webkit-transform: skewY(8deg);
    -ms-transform: skewY(8deg);
    transform: skewY(8deg); }
    @media (max-width: 1500px) {
      .header .section__skew-top:after {
        background: url(../img/bg/02-min.jpg) center center/cover no-repeat; } }

.lead {
  min-height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5% 20px;
  margin-bottom: 5em; }
  .lead h1 {
    width: 100%;
    margin: auto; }
    .lead h1 .plank {
      padding: 0.05em 0.3em; }
    .lead h1 span:not(.plank) {
      display: block; }
      @media (max-width: 800px) {
        .lead h1 span:not(.plank) {
          display: inline-block; } }
  .lead--right {
    text-align: right; }
    @media (max-width: 800px) {
      .lead--right {
        text-align: initial; } }

.logo {
  margin-left: 3%; }

.header__inner {
  position: relative;
  padding: 3% 0 5% 0;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8); }
  .header__inner:before {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    height: 0;
    width: 0;
    border-bottom: 20vh solid rgba(255, 255, 255, 0.8);
    border-right: 100vw solid rgba(255, 255, 255, 0.8); }

.header__alert {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  top: -1em;
  display: inline-block; }

.heder__plank {
  margin-top: 2%;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px; }
  @media (min-width: 480px) {
    .heder__plank {
      font-size: 18px;
      font-size: calc( 0.01875 * 100vw + 21px); } }
  @media (min-width: 1280px) {
    .heder__plank {
      font-size: 45px; } }
  @media (max-width: 600px) {
    .heder__plank {
      margin-top: 2em; } }

.time-line {
  margin-top: 30px; }

.time-line__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack: center;
  align-content: center;
  margin: 0 -3% 3em -3%; }
  @media (max-width: 600px) {
    .time-line__list {
      display: block; } }

.time-line__item {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }
  @media (max-width: 1400px) {
    .time-line__item {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 33%;
      flex: 0 0 33%; } }
  @media (max-width: 600px) {
    .time-line__item {
      margin-bottom: 3em; }
      .time-line__item:after {
        content: "";
        position: absolute;
        left: calc(50% - 2px);
        top: 100%;
        margin: 0;
        display: block;
        width: 4px;
        height: calc(100% - 35px);
        z-index: -1; } }
  .time-line__item:nth-of-type(1) .color {
    background-color: #ccff1c; }
  @media (max-width: 600px) {
    .time-line__item:nth-of-type(1):after {
      background: #ceff1c;
      background: -webkit-gradient(linear, left top, right top, from(#ceff1c), to(#76ff84));
      background: -webkit-linear-gradient(left, #ceff1c 0%, #76ff84 100%);
      background: -o-linear-gradient(left, #ceff1c 0%, #76ff84 100%);
      background: linear-gradient(to right, #ceff1c 0%, #76ff84 100%); } }
  .time-line__item:nth-of-type(1) .time-line__icon:after {
    background: #ceff1c;
    background: -webkit-gradient(linear, left top, right top, from(#ceff1c), to(#76ff84));
    background: -webkit-linear-gradient(left, #ceff1c 0%, #76ff84 100%);
    background: -o-linear-gradient(left, #ceff1c 0%, #76ff84 100%);
    background: linear-gradient(to right, #ceff1c 0%, #76ff84 100%); }
  .time-line__item:nth-of-type(2) .color {
    background-color: #76ff83; }
  @media (max-width: 600px) {
    .time-line__item:nth-of-type(2):after {
      background: #76ff84;
      background: -webkit-gradient(linear, left top, right top, from(#76ff84), to(#02fff2));
      background: -webkit-linear-gradient(left, #76ff84 0%, #02fff2 100%);
      background: -o-linear-gradient(left, #76ff84 0%, #02fff2 100%);
      background: linear-gradient(to right, #76ff84 0%, #02fff2 100%); } }
  .time-line__item:nth-of-type(2) .time-line__icon:after {
    background: #76ff84;
    background: -webkit-gradient(linear, left top, right top, from(#76ff84), to(#02fff2));
    background: -webkit-linear-gradient(left, #76ff84 0%, #02fff2 100%);
    background: -o-linear-gradient(left, #76ff84 0%, #02fff2 100%);
    background: linear-gradient(to right, #76ff84 0%, #02fff2 100%); }
  .time-line__item:last-of-type {
    margin-bottom: 0; }
    .time-line__item:last-of-type .color {
      background-color: #02fff4; }
    .time-line__item:last-of-type .time-line__icon:after {
      display: none; }

.time-line__icon {
  position: relative;
  margin: 0 auto 15px auto; }
  .time-line__icon:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 20px;
    margin: 0 -50% 0 0;
    display: block;
    width: calc(100% - 35px);
    height: 4px;
    z-index: -1; }
    @media (max-width: 600px) {
      .time-line__icon:after {
        display: none; } }
  .time-line__icon img {
    width: 80px;
    margin: 0 auto; }

.time-line__text {
  font-weight: 700;
  text-transform: uppercase; }
  .time-line__text .color {
    display: inline-block;
    vertical-align: middle;
    padding: 0.3em 0.5em; }
    @media (max-width: 600px) {
      .time-line__text .color {
        display: block; } }

.section__header {
  position: absolute;
  top: -1%;
  left: 0;
  display: inline-block;
  margin-left: 10%;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-pixelated;
  image-rendering: pixelated;
  padding: 0.3em;
  -webkit-transform: skewY(-8deg);
  -ms-transform: skewY(-8deg);
  transform: skewY(-8deg);
  text-transform: uppercase;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  font-size: 30px;
  background-color: #00ffd8;
  z-index: 2;
  line-height: 1; }
  @media (min-width: 480px) {
    .section__header {
      font-size: 18px;
      font-size: calc( 0.04375 * 100vw + 9px); } }
  @media (min-width: 1280px) {
    .section__header {
      font-size: 65px; } }
  @media (max-width: 900px) {
    .section__header {
      margin-left: 20px; } }
  @media (max-width: 500px) {
    .section__header {
      margin-left: 0; } }

/*awaits*/
.awaits {
  padding: 9% 0;
  z-index: 1; }
  @media (max-width: 500px) {
    .awaits {
      padding: 15% 0; } }  
  .awaits .section__skew:after {
    background-image: url(../img/bg/04-min.jpg);
    -webkit-transform: skewY(8deg);
    -ms-transform: skewY(8deg);
    transform: skewY(8deg);
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    transform-origin: 0% 0%; }

.awaits__row {
  margin: 0 -3%; }

.awaits__col {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42%;
  flex: 1 1 42%;
  margin: 0 3% 5% 3%; }
  .awaits__col:nth-of-type(n+2) {
    margin: 0 3%; }
    @media (max-width: 800px) {
      .awaits__col:nth-of-type(n+2) {
        margin-bottom: 4em; }
        .awaits__col:nth-of-type(n+2):last-of-type {
          margin-bottom: 0; } }
  @media (max-width: 800px) {
    .awaits__col {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 97%;
      flex: 1 1 97%;
      margin-bottom: 3em; } }

.awaits__title {
  display: inline-block;
  -webkit-transform: rotate(-9deg) translate(-8px, -1em);
  -ms-transform: rotate(-9deg) translate(-8px, -1em);
  transform: rotate(-9deg) translate(-8px, -1em);
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
  font-style: italic; }

@media (max-width: 500px) { 
  .awaits__title {
    -webkit-transform: rotate(-9deg) translate(-8px, 0);
  -ms-transform: rotate(-9deg) translate(-8px, 0);
  transform: rotate(-9deg) translate(-8px, 0);
  }
} 

/*terms*/
.terms {
  text-align: center; }
  .terms .section__skew:after {
    background: url(../img/bg/09-min.jpg) center center/cover no-repeat;
    -webkit-transform: skewY(8deg);
    -ms-transform: skewY(8deg);
    transform: skewY(8deg);
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0; }
  .terms__item {
    margin-bottom: 2em; }
    .terms__item:last-of-type {
      margin-bottom: 0; }
  .terms__icon {
    max-width: 150px;
    margin: auto; }
  @media (max-width: 600px) {
    .terms {
      padding: 30% 0 20% 0; } }

/*involved*/
.involved {
  padding: 10% 0; }
  .involved .section__skew:after {
    background-image: url(../img/bg/04-min.jpg);
    -webkit-transform: skewY(8deg);
    -ms-transform: skewY(8deg);
    transform: skewY(8deg);
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    transform-origin: 0% 0%; }
  @media (max-width: 1250px) {
    .involved {
      background: none !important; } }
  @media (max-width: 800px) {
    .involved {
      padding: 25% 0; } }

.involved__list {
  counter-reset: section;
  max-width: 680px;
  margin: 0 auto; }
  @media (max-width: 900px) {
    .involved__list {
      max-width: 90%; } }

.involved__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  min-height: 180px;
  padding: 1em 1em 1em 3.5em;
  margin-bottom: 2em; }
  .involved__item:last-of-type {
    margin-bottom: 0; }
  .involved__item:before {
    counter-increment: section;
    content: "" counter(section);
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: -0.3em;
    font-size: 40px;
    font-weight: 700;
    color: #d29cff;
    z-index: 2;
    line-height: 0;
    /*FACK!!!*/ }
    @media (min-width: 480px) {
      .involved__item:before {
        font-size: 18px;
        font-size: calc( 0.0375 * 100vw + 22px); } }
    @media (min-width: 1280px) {
      .involved__item:before {
        font-size: 70px; } }
  .involved__item:after {
    content: '';
    position: absolute;
    top: 50%;
    left: -0.55em;
    width: 1.1em;
    height: 1.1em;
    font-size: 40px;
    -webkit-transform: translateY(-50%) rotate(45deg);
    -ms-transform: translateY(-50%) rotate(45deg);
    transform: translateY(-50%) rotate(45deg);
    background-color: #fff;
    z-index: 0; }
    @media (min-width: 480px) {
      .involved__item:after {
        font-size: 18px;
        font-size: calc( 0.0375 * 100vw + 22px); } }
    @media (min-width: 1280px) {
      .involved__item:after {
        font-size: 70px; } }
  @media (max-width: 900px) {
    .involved__item {
      min-height: 150px; } }

/*result*/
.result {
  padding: 0; }
  .result .section__header {
    top: 10%; }
    @media (max-width: 600px) {
      .result .section__header {
        top: 2%; } }
  .result .skew-top {
    margin-top: -7%;
    height: 100vh;
    -webkit-clip-path: polygon(0 30%, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0 30%, 100% 0%, 100% 100%, 0% 100%); }
    @media (max-width: 900px) {
      .result .skew-top {
        -webkit-clip-path: polygon(0 25%, 100% 0%, 100% 100%, 0% 100%);
        clip-path: polygon(0 25%, 100% 0%, 100% 100%, 0% 100%); } }
    @media (max-width: 600px) {
      .result .skew-top {
        -webkit-clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0% 100%);
        clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0% 100%); } }

/*reviews*/
.reviews {
  padding: 3% 0 5% 0; }
  @media (max-width: 1100px) {
    .reviews {
      background: none !important; } }
  @media (max-width: 600px) {
    .reviews {
      padding: 10% 0; } }

.reviews__title {
  margin-bottom: 0.5em;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase; }
  @media (min-width: 480px) {
    .reviews__title {
      font-size: 18px;
      font-size: calc( 0.025 * 100vw + 18px); } }
  @media (min-width: 1280px) {
    .reviews__title {
      font-size: 50px; } }

.reviews__text {
  text-align: center;
  margin-bottom: 5%; }

/*faq__item*/
.faq {
  padding: 10% 0 7% 0;
}
  @media (max-width: 500px) {
    .faq {
      padding: 20% 0; 
  } }

.faq__title {
  margin-bottom: 15px; }

.faq__item {
  margin-bottom: 5%; }
  .faq__item:last-of-type {
    margin-bottom: 0; }

.dark-style {
  counter-reset: dark 0;
  margin: 1em 0 1em 1.5em; }
  .dark-style li {
    position: relative;
    padding-left: 1.5em; }
    .dark-style li:before {
      position: absolute;
      left: 0;
      counter-increment: dark;
      content: counter(dark) ".";
      font-weight: 700; }

.romb-style {
  margin: 1em 0 1em 1.5em; }
  .romb-style li {
    position: relative;
    padding-left: 1.5em; }
    .romb-style li:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 10px;
      width: 10px;
      height: 10px;
      background-color: #000;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }

/*form*/
section.form {
  padding-bottom: 20%; }

  @media (max-width: 1550px) {
    section.form {
      background: url(../img/bg/21-min.png) 3% 100%/auto 30% no-repeat, 
      url(../img/bg/22-min.png) -10% -100%/auto 35% no-repeat,
      url(../img/bg/form-section.jpg)50% 0% /cover no-repeat !important; } }

  @media (max-width: 1200px) {
    section.form {
      background: url(../img/bg/21-min.png) 3% 100%/auto 30% no-repeat, 
      url(../img/bg/22-min.png) -10% -100%/auto 35% no-repeat,
      url(../img/bg/form-section.jpg) 70% 0/cover no-repeat !important; } }
  @media (max-width: 800px) {
    section.form {
      background: url(../img/bg/form-section.jpg) top left/cover no-repeat !important; } }
.form__container {
  max-width: 57%; }

  @media (max-width: 1200px) {
    .form__container {
      max-width: 70%; } 
    }
  @media (max-width: 800px) {
    .form__container {
      max-width: 100%; } }

.form__header {
  margin-bottom: 1em;
  font-size: 35px;
  font-weight: 700;
  background-color: rgba(255,255,255,0.5);
  display: inline-block;
  padding: 0 0.2em; }
  @media (min-width: 480px) {
    .form__header {
      font-size: 18px;
      font-size: calc( 0.0525 * 100vw + 9.8px); } }
  @media (min-width: 1280px) {
    .form__header {
      font-size: 77px; } }

/*footer*/
.footer {
  padding: 1em;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.5);
  background-color: #272727; }
  @media (min-width: 480px) {
    .footer {
      font-size: 18px;
      font-size: calc( 0.00625 * 100vw + 7px); } }
  @media (min-width: 1280px) {
    .footer {
      font-size: 15px; } }
  .footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
.footer .ruls a {
  margin-left: 10%;
  color: rgba(255, 255, 255, 0.5); 
  border-bottom: none; 
  text-decoration: underline;
}

/*popup*/
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  overflow: auto; }

.bmi-popup {
  position: relative;
  width: 70%;
  padding: 2em 3%;
  margin: auto; }
  @media (max-width: 800px) {
    .bmi-popup {
      width: 90%; } }

.popup__body h3 {
  margin-bottom: 0.5em;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center; }

.popup__body .formula {
  text-align: center;
  margin: 0.5em auto; }

.popup__text {
  width: 60%;
  margin-bottom: 1em; }
  @media (max-width: 600px) {
    .popup__text {
      width: 100%; } }

/*form*/
.contact-form__row {
  margin: 0 -1.5em 2em -1.5em; }
  .contact-form__row:last-of-type {
    margin-bottom: 0; }

.contact-form__col {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 calc(50% - 3em);
  flex: 1 1 calc(50% - 3em);
  margin: 0 1.5em; }
  @media (max-width: 1000px) {
    .contact-form__col {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(100% - 3em);
      flex: 1 1 calc(100% - 3em);
      margin-bottom: 10px; } }
  .contact-form__col.third {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 calc(30% - 3em);
    flex: 1 1 calc(30% - 3em); }
    @media (max-width: 600px) {
      .contact-form__col.third {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(100% - 3em);
        flex: 1 1 calc(100% - 3em); } }
    .contact-form__col.third .contact-form__input {
      padding: 0.7em 0.2em 1em 0.7em; }

.contact-form__label {
  font-size: 20px;
  font-weight: 700; }
  @media (max-width: 600px) {
    .contact-form__label {
      color: #fff; } }

.contact-form__input {
  border: 1px solid #00ffd8;
  padding: 0.7em 1em;
  background-color: rgba(255, 255, 255, 0.9); }
  .contact-form__input.error {
    border-color: #ff4343;
    color: #ff4343; }

.error-message {
  position: absolute;
  padding: 1.1em;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  top: calc(100% + 20px);
  background-color: #ff4343;
  font-size: 20px;
  color: #fff;
  width: 420px;
  z-index: 2; }
  .error-message:before {
    content: '';
    width: 20px;
    height: 20px;
    background-color: inherit;
    position: absolute;
    top: -10px;
    left: 50%;
    -webkit-transform: translateX(-50%) rotate(-45deg);
    -ms-transform: translateX(-50%) rotate(-45deg);
    transform: translateX(-50%) rotate(-45deg); }
  @media (max-width: 600px) {
    .error-message {
      width: 300px;
      font-size: 16px; } }

.btn, .header__alert {
  font-size: 25px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  line-height: 1;
  padding: 0.4em 1.2em;
  background-color: #ff004e;
  -webkit-box-shadow: -8.918px 8.03px 21px 0px rgba(255, 0, 96, 0.66);
  box-shadow: -8.918px 8.03px 21px 0px rgba(255, 0, 96, 0.66);
  cursor: pointer; }
  @media (min-width: 480px) {
    .btn, .header__alert {
      font-size: 18px;
      font-size: calc( 0.01875 * 100vw + 16px); } }
  @media (min-width: 1280px) {
    .btn, .header__alert {
      font-size: 40px; } }

.to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background: #9bffdf;
  background: -moz-linear-gradient(left, #9bffdf 0%, #e4ff99 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #9bffdf), color-stop(100%, #e4ff99));
  background: -webkit-linear-gradient(left, #9bffdf 0%, #e4ff99 100%);
  background: -o-linear-gradient(left, #9bffdf 0%, #e4ff99 100%);
  background: -ms-linear-gradient(left, #9bffdf 0%, #e4ff99 100%);
  background: -webkit-gradient(linear, left top, right top, from(#9bffdf), to(#e4ff99));
  background: linear-gradient(to right, #9bffdf 0%, #e4ff99 100%);
  border-radius: 100%;
  z-index: 3; }
  .to-top:before {
    content: '';
    position: absolute;
    top: 20px;
    left: 50%;
    -webkit-transform: translateX(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) rotate(45deg);
    transform: translateX(-50%) rotate(45deg);
    width: 13px;
    height: 13px;
    border-left: 4px solid #5b625d;
    border-top: 4px solid #5b625d; }

.popup-close {
  position: absolute;
  top: 1em;
  right: 3%;
  width: 30px;
  height: 30px;
  cursor: pointer; }
  .popup-close:before, .popup-close:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 4px;
    background: #bababa;
    border-radius: 2px; }
  .popup-close:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
  .popup-close:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }

.slider__title {
  font-weight: 700;
  text-align: center; }

.slider {
  position: relative;
  margin: 4em auto; }
  @media (max-width: 780px) {
    .slider {
      margin: 30px auto; } }

.slider__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 -10px; }

.slider__item {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 18%;
  flex: 1 1 18%;
  margin: 0 10px;
  border: 1px solid #f0f0f0;
  -webkit-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  z-index: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  .slider__item img {
    width: 100%; }
  .slider__item:hover, .slider__item.curent {
    z-index: 2;
    -webkit-transform: scale(1.7);
    -ms-transform: scale(1.7);
    transform: scale(1.7);
    -webkit-box-shadow: -7px 7px 15px rgba(59, 59, 59, 0.4);
    box-shadow: -7px 7px 15px rgba(59, 59, 59, 0.4); }
    @media (max-width: 780px) {
      .slider__item:hover.curent, .slider__item.curent.curent {
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transform: scale(1) !important;
        -ms-transform: scale(1) !important;
        transform: scale(1) !important; }
        .slider__item:hover.curent:hover, .slider__item.curent.curent:hover {
          -webkit-box-shadow: -7px 7px 15px rgba(59, 59, 59, 0.4);
          box-shadow: -7px 7px 15px rgba(59, 59, 59, 0.4);
          -webkit-transform: scale(1) !important;
          -ms-transform: scale(1) !important;
          transform: scale(1) !important; } }
  @media (max-width: 780px) {
    .slider__item {
      -webkit-box-flex: 1 !important;
      -ms-flex: 1 1 100% !important;
      flex: 1 1 100% !important;
      margin-bottom: 30px;
      -webkit-transform: scale(1) !important;
      -ms-transform: scale(1) !important;
      transform: scale(1) !important; } }

.slider__item:hover + .slider__item.curent,
.slider__list:hover .slider__item.curent:not(:hover) {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #f0f0f0;
  font-size: 15px;
  z-index: 1; }


/*gloub*/

.contest-prize {
  position: absolute;
  right: 10%;
  top: 2%;
  max-width: 300px;
  z-index: 2; }
  @media (max-width: 1600px) {
      .contest-prize {
      right: 7%;}
  }
  @media (max-width: 1500px) {
    .contest-prize {
      top: 33%;
      right: auto;
      left: 20%;
      max-width: 280px; 
      } }
  @media (max-width: 1200px) {
    .contest-prize {
      position: relative;
      top: auto;
      left: auto;
      margin: 0 auto;
      max-width: 300px;
      -webkit-transform: translateY(-35%);
      -ms-transform: translateY(-35%);
      transform: translateY(-35%); } }
  @media (max-width: 800px) {
    .contest-prize { 
      -webkit-transform: translateY(-25%);
      -ms-transform: translateY(-25%);
      transform: translateY(-25%);
    
  }}     

.contest-prize__body {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 80%; }

.contest-prize__text {
  font-size: 15px;
  text-align: center; }
  @media (min-width: 480px) {
    .contest-prize__text {
      font-size: 16px;
      font-size: calc( 0.00625 * 100vw + 12px); } }
  @media (min-width: 1280px) {
    .contest-prize__text {
      font-size: 20px; } }

.contest-prize__plank {
  display: block;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  margin: 5px auto 2px auto; }
  @media (min-width: 480px) {
    .contest-prize__plank {
      font-size: 16px;
      font-size: calc( 0.00375 * 100vw + 13.2px); } }
  @media (min-width: 1280px) {
    .contest-prize__plank {
      font-size: 18px; } }


.section__header {
  position: absolute;
  top: -1%;
  left: 0;
  display: inline-block;
  margin-left: 10%;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-pixelated;
  image-rendering: pixelated;
  padding: 0.3em;
  -webkit-transform: skewY(-8deg);
  -ms-transform: skewY(-8deg);
  transform: skewY(-8deg);
  text-transform: uppercase;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  font-size: 30px;
  background-color: #00ffd8;
  z-index: 2;
  line-height: 1; }
  @media (min-width: 480px) {
    .section__header {
      font-size: 18px;
      font-size: calc( 0.04375 * 100vw + 9px); } }
  @media (min-width: 1280px) {
    .section__header {
      font-size: 65px; } }
  @media (max-width: 900px) {
    .section__header {
      margin-left: 20px; } }
  @media (max-width: 500px) {
    .section__header {
      margin-left: 0; } }
