$container: 1760px;

$fz: 24px;
$ff: "Exo 2", sans-serif;

$text: #222;
$accent: #00d4d4;

$grad1: linear-gradient(108.17deg, #1752db 0%, #07308f 100%);
$grad1_1: linear-gradient(90deg, #1752db 0%, #07308f 100%);
$grad2: linear-gradient(288.17deg, #1752db 0%, #07308f 100%);
$grad2_1: linear-gradient(0.32deg, #1752db 20.9%, #07308f 99.71%);
$angle1: rotate(101.8deg);
$angle2: rotate(-78.08deg);
