.footer {
 padding: 5% 0 3.5em 0;
 @include fFS(11px, 16px, 320px, 1920px, 18px);
 color: #fff;
 line-height: 1.5;
 font-weight: 300;
 .row + .row {
  margin-top: 11%;
  align-items: flex-end;
 }
 @include bp(650px) {
  padding: 10% 0 3.5em 0;
 }
}

.footer__title {
 font-weight: 700;
 text-transform: uppercase;
 margin-bottom: 1.2em;
}

.footer__text + .footer__text {
 margin-top: 1.2em;
}
