/*static*/
html, 
body {
	width: 100%;
	height: 100%;
	-webkit-font-smoothing: antialiased;
	font-family: 'fira_sans';
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	position: relative;
	background: #f6f6f6;
}

.wrapper:after {
	content: '';
	display: block;
	height: 50px;
	margin: 30px 0 0 0;
}

.contener {
	max-width: 60rem;
	margin: 0 auto;
	position: relative;
}

header {
	background: #fff;
	width: 100%;
	font-size: 0;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
	padding: 10px 0;
	margin: 0 0 30px 0;
}

.user-block,
.contact-block {
	display: inline-block;
	text-align: left;
	width: 50%;
	font: 700 1.125rem/1.45 'Fira Sans', sans-serif;
}

.contact-block {
	text-align: right;
}

.user__pic,
.user__name {
	display: inline-block;
	width: 49%;
	vertical-align: middle;
	
}

.user__pic {
	width: 3.75rem;
	height: 3.75rem;
	border-radius: 50%;
	overflow: hidden;
	border: 1px solid #d5d5d5;
	margin: 0 20px 0 0;
}

.userpic-foto {
	width: 100%;
}

.contacts {
	position: relative;
	display: inline-block;
}

.contacts__link {
	color: #33c1e3;
	border-bottom: 2px dotted;
}

.contacts__link:hover {
	color: #e86567;
	border-bottom: 2px dotted;
}

.contacts__list {
	display: none;
	position: absolute;
	left:auto;
	z-index:10;
	text-align: left;
	background: #fff;
	border-radius: 20px;
	border: 1px solid #eee;
	margin: 10px 0 0 0;
	transform: translateX(-50%);
	white-space: nowrap;
}

.contacts__list:before {
	content: "";
	display: block;
	width: 15px;
	height: 15px;
	position: absolute;
	top: -10px;
	left: 50%;
	background-color: #fff;
	border-top: 1px solid #eee;
	border-left: 1px solid #eee;
	transform: rotate(45deg);
}
	

.contacts__list:after {
	content: '';
	position: absolute;
	display: block;
	top: -16px;
	left: 0;
	width: 100%;
	height: 15px;
}

.contacts__list .fa {
	color: #33c1e3;
	padding: 0 10px 0 0;
}

.contacts__link:hover + .contacts__list, .contacts__list:hover {
	display: block;
}

.contacts__list-link {
	color: #414141;
	font: 300 1.125rem/1.45 'Fira Sans', sans-serif;
}

.contacts__list-item {
	border-bottom: 1px solid #eee;
	padding: 15px 20px;
	min-width: 16.25rem;
}

.contacts__list-item:last-child {
	border-bottom: none;
}

/*hello*/
.hello {
	width: 18.75rem;
	position: absolute;
	top: 50%; 
	left: 50%;
	transform: translate(-50%, -50%);
}

.hello__avatar {
	width: 8.6875rem;
	height: 8.6875rem;
	border-radius: 50%;
	border: 2px solid #bebebe;
	overflow: hidden;
	margin: -4.375rem auto;
	position: relative;
	text-align: center;
}

.hello__info {
	background: #fff;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
	margin: 0;
	text-align: center;
	padding: 4.375rem 0 0 0;
}

.hello__info-name {
	font: 1.3175rem/1 'Open Sans', sans-serif;
	color: #414141;
}

.hello__info-footer {
	height: 4.875rem;
	line-height: 4.875rem;
	background: #33c1e3;

}

.hello__info-footer-link {
	text-decoration: none;
	font-family: 'Fira Sans', sans-serif;
	font-weight: bold;
	font-size: 0.875rem;
	color: #fff;
	border-radius: 50px;
	border: 2px solid #fff;
	padding: 12px;
	display: inline;
}

.hello__info-footer-link:hover {
	color: #33c1e3;
	background-color: #fff;
}

/*sidebar + navigation*/

.sidebar {
	width: 12.5rem;
	float: left;
	text-align: right;
}

.nav__list-link {
	font: 400 1.125rem/1.45 'Fira Sans', sans-serif;
	color: #414141;
	padding: 12px 15px 16px;
	display: block;
	border-right: 5px solid transparent;
}

.nav__list-link:hover {
	color: #33c1e3;
}
.list__link-active {
	color: #33c1e3;
	font-weight: 700;
	border-right: 5px solid #33c1e3;
}


.nav__list-link .fa {
	margin: 0 10px 0 0;
}

/*maine + about*/

.main-content {
	float: right;
	width: 43.75rem;
}
.about__foto {
	float: left;
	width: 18.75rem;
}

.about__descr {
	float: right;
	width: 25rem;
}
.about__foto-user {
	width: 14.375rem;
	height: 14.375rem;
	border-radius: 50%;
	border: 5px solid #fff;
	overflow: hidden;
}

.about__foto-user img {
	width: 100%;
	display: block;
}

.about__descr-header {
	font: 500 2.1875rem/1.45 'Fira Sans', sans-serif;
	color: #414141;
	margin: 0 0 30px 0;
}

.about__descr-text {
	font: 400 1.125rem/1.45 'Fira Sans', sans-serif;
	height: 18.75rem;
	color: #414141;
	overflow: auto;
	margin: 0 0 50px 0;
}

.about__descr-load {
	text-align: right;
}

.load__link {
	width: auto;
	height: 36px;
	text-align: center;
	color: #e85f61;
	border: 2px solid #e85f61;
	border-radius: 20px;
	box-sizing: border-box;
	padding: 5px 10px;
	font: 400 14px/1.45 'Open Sans', sans-serif;
}

.load__link:hover {
	color: #fff;
	background: #e85f61;
}

.load__link .fa {
	padding: 0 10px 0 0;
}

/*career*/

.career__foto {
  float: left;
  width: 13.75rem;
}

.career__path {
  float: right;
  width: 28.125rem;
  font-family:'Fira Sans', sans-serif;
}

.career__path-header {
	font: 500 2.1875rem/1.45 'Fira Sans', sans-serif;
    color: #414141;
    margin: 0 0 30px 0;
    text-align: left;
}

.career__foto-inner {
	width: 13.75rem;
	height: 13.75rem;
	border-radius: 10px;
	display: inline-block;
	text-align: center;
	overflow: hidden;
}

.career__foto-inner img {
	display: block;
	max-width: 100%;
	max-height: 100%;
}


.career__path-item {
	text-align: right;
	margin: 0 0 20px 0;
	cursor: pointer;

}

.career__path-block {
	width: 21.25rem;
	text-align: left;	
	color: #414141;
	background: #fff;
	border-radius: 10px;
	padding: 15px 20px;
	display: inline-block;
	position: relative;
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3)

}

.career__path-block:hover {
	background: #33c1e3;
}

.career__path-block:hover .career__path-position,
.career__path-block:hover .career__path-date,
.career__path-block:hover .career__path-title {
	color: #fff;
}

.career__path-block:hover .career__path-year {
	color: #33c1e3;
	font-weight: 600;
	font-size: 1.125rem;
}

.career__path-item:last-child {
	margin: 0;
}

.career__path-title {
	font-size: 1.3125rem;
	color: #5a5a5a;
}

.career__path-position,
.career__path-date,
.career__path-year {
	color: #727272;
	font-size: 1.125rem;
	line-height: 1.5;
}

.career__path-year {
	position: absolute;
	right: 100%;
	top: 50%;
	margin: 0 1.625rem 0 0;
}

.career__path-year:after {
	content:'';
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #33c1e3;
	position: absolute;
	top: 8px;
	right: -1rem;
}

.career__path-block:hover .career__path-year:after {
	box-shadow: 0 0 0 5px #94e0f2;
}

.career__path-item:first-child .career__path-block:before {
  display: none;
}

.career__path-item:last-child .career__path-block:after {
  display: none;
}

.career__path-block:before,
.career__path-block:after {
  content: "";
  display: block;
  width: 1px;
  background: #dddddd;
  position: absolute;
  left: -1rem;
}
.career__path-block:before {
  top: 0;
  bottom: 50%;
  margin-bottom: 10px;
}

.career__path-block:after  {
  bottom: -1.3125rem;
  top: 56%;
  margin-top: 15px;
}

/*portfolio*/

.portfolio__header {
	font: 500 2.1875rem/1.45 'Fira Sans', sans-serif;
    color: #414141;
    margin: 0 0 30px 0;
    text-align: left;
}

.portfolio__list {
	font-size: 0;
  	column-count: auto;
  	column-gap: 20px;
  	-moz-column-count: auto;
    -moz-column-gap: 20px;
    -webkit-column-count: auto;
    -webkit-column-gap: 20px;
}

.portfolio__list-item {
	font: 400 0.875rem/1.45 'Fira Sans', sans-serif;
	display: inline-block;
	vertical-align: top;
	margin: 0 20px 20px 0;
	border-radius: 10px;
	overflow: hidden;
	padding: 0;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.portfolio__list-item:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.portfolio__list-item:nth-child(3){
	margin: 0 0 20px 0;
}

.portfolio__item-foto {
	width: 13.75rem;
	height: 10.625rem;
	display: inline-block;
}

.portfolio-pic {
	display: block;
	width: 100%;
}

.portfolio__item-case {
	padding: 20px;
}

.portfolio__case-header {
	font-size: 1.3125rem;
	color: #33c1e3;
}

.portfolio__case-descr {
	color: #414141;
	margin: 0 0 15px 0;
}

.portfolio__case-type {
	color: #aeaeae;
	font-weight: 600;
}

.portfolio__case-type > .fa {
	font-size: 1.125rem;
	padding: 0 5px 0 0;
}

.portfolio__list-item:hover .portfolio__case-header {
	color: #e85f61;
}

/*footer*/

footer {
	width: 100%;
	height: 50px;
	margin: -50px 0 0 0;
	background-color: #414141;
	position: relative;
	font-size: 0;
}

.footer__social,
.footer__copyrite {
	display: inline-block;
	width: 50%;
}
.copyrite__text {
	color: #9c9c9c;
	font: 400 0.875rem/1.45 'Fira Sans', sans-serif;
}

.footer__social {
	text-align: right;
	margin: 10px 0 0 0;
}

.social__list-item {
	display: inline-block;
	font-size: 0.875rem;
	width: 30px;
	height: 30px;
	background: #9c9c9c;
	margin: 0 7px 0 0;
	border-radius: 50%;
}

.social__list-link {
	display: block;
	text-align: center;
	line-height: 30px;
	color: #414141;
	border-radius: 50%;
	padding: 0 0 0 3px;
	
}

.social__list-link:last-child {
	margin: 0;
}

.link-fb:hover {
	background: #4463a6;
	color: #fff;
}

.link-vk:hover {
	background: #5d99c3;
	color: #fff;
}

.link-tw:hover {
	background: #6ac4d9;
	color: #fff;
}

/*adaptiv*/

html {
	font-size: 16px;
	box-sizing:  border-box;
}

@media screen and (max-width: 992px) {
	html {
		font-size: 15px;

	}

	.contener {
		max-width: 750px;
		padding: 0 1rem;
	}

	.main-content{
		width: 33.75rem;
	}

	.about__foto,
	.career__foto {
		width: 12rem;
	}

	.about__foto-user, 
	.career__foto-inner {
		width: 11rem;
		height: 11rem;
	}

	.about__descr, .career__path {
		width: 20rem;
	}

	.career__path-year::after{
		right: -1rem;
	}
	.career__path-block::before, .career__path-block::after{
		left: -1rem;
	}

@media screen and (max-width: 768px) {
	html {
		font-size: 14px;
	}

	.contener {
		max-width: 650px;
		margin: 0 auto;
	}

	.sidebar, .main-content {
		float: none;
	}

	.sidebar {
		width: 100%;
		margin: 0 0 3.125rem;
		text-align: left;
	}

	.main-content{
		margin: 0 auto;
		width: 100%;
	}
	
	.about__foto {
		width: 12rem;
	}

	.about__foto-user{
		width: 100%;
		height: 100%;
	}

	.about__descr {
		min-width: 28rem;
	}

	.career__path-block {
		max-width: 19rem;
	}

	.nav__item {
		display: inline-block;
		
	}
	.nav__list-link{
		border: none;
	}

}

@media screen and (max-width: 480px) {
	html {
		font-size: 13px;
	}

	.contener {
		width: 300px;
		margin: 0 auto;
	}

	.user-block, .contact-block {
		width: 50%;
	}

	.contacts__link, .contacts__link:hover {
		border: none;
	}

	.contacts__list {
		transform: translateX(-95%);
	}

	.contacts__list::after {
		top: -25px;
		width: 110%;
		height: 35px;
	}

	.contacts__list::before {
		left: 85%;
	}

	.contacts__link span {
		display: none;
		border: none;
	}

	.contacts__link::before {
		content: "\f095";
		font-family: FontAwesome;
		font-size: 40px;	
	}

	.nav__item .fa {
		display: none;
	}

	.about__descr-header, .career__path-header{
		text-align: center;
	}

	.about__descr, .about__foto, 
	.career__foto, .career__path {
		float: none;
		margin: 20px auto;
		min-width: auto;
	}

	.career__path {
		margin: 0;
	}

	.about__descr-load {
		text-align: center;
	}

	.portfolio__list-item {
		display: block;
		text-align: center;
		font-size: 18px;
		margin: 20px 0;
	}

	.portfolio__item-link {
		display: block;
	}

	.portfolio__item-foto {
		width: 100%;
		height: 100%;
		display: block;
	}

	footer {
		height: 90px;
	}

	.footer__social, .footer__copyrite {
		display: block;
		margin: 0 auto;
		padding: 5px 0;
		width: auto;
		text-align: center;
	}
	
	.nav__list-link{
		padding: 0px 5px;
	}

	.career__path-year, 
	.career__path-block::before, 
	.career__path-block::after {
		display: none;
	}
	

}