:root {
 --container: 1440px;
 --fz: 18px;
 --ff: 'Manrope';
 --title-ff: 'Orchidea';
 --prim: #141414;


 --bg: linear-gradient(0deg, #464341 0%, #010101 100%);
 --mask: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0.25) 100%);



 --carousel-slide-width: 360px;
}