.header {
  position: relative;
}

.header__top-menu {
  padding-top: 10px;
  background: #f79b1d;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
  z-index: 2;
  position: relative;
}

.nav {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.logo {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
}

.nav__list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  max-width: 960px;
}

.nav__item {
  -webkit-flex: 1 1 0%;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
  text-align: center;
  position: relative;
}

.nav__item:last-child {
  white-space: nowrap;
}

.nav__link {
  position: relative;
  font-size: 15px;
  padding: 12px 8px;
  color: #fff;
  transition: 0.3s;
}

.nav__link:before {
  content: '';
  position: absolute;
  top: 0;
  left: -3px;
  width: 20px;
  height: 39px;
}

.nav__link:hover:before {
  background: url(../img/icon/logo-icon-small.png) 0px 0px;
}

.header__sub-menu {
  background: #b11f29;
  position: relative;
  z-index: 1;
  box-shadow: 0 5px 3px rgba(0, 0, 0, 0.5);
}

.sub-nav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.sub-nav .sub-nav__list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.sub-nav .sub-nav__link {
  position: relative;
  padding: 7px 7px 7px 34px;
  font-size: 15px;
  color: #fff;
}

.sub-nav .sub-nav__link:after {
  content: '';
  position: absolute;
  top: 7px;
  left: 0;
  width: 30px;
  height: 20px;
  display: block;
}

.sub-nav .sub-nav__link--cargo:after {
  background: url(../img/icon/spritesheet.png) -5px -34px;
}

.sub-nav .sub-nav__link--client:after {
  background: url(../img/icon/spritesheet.png) -5px -5px;
}

.sub-nav .sub-nav__link--sale:after {
  background: url(../img/icon/spritesheet.png) -60px -5px;
}

.user__list .user__item {
  position: relative;
  display: inline-block;
}

.user__list .user__link {
  position: relative;
  padding: 7px 10px;
  font-size: 15px;
  color: #fff;
  transition: color 0.3s;
}

.user__list .user__link:hover {
  color: #000;
}

.user__list .user__link--login:after {
  content: '';
  display: block;
  position: absolute;
  top: 12px;
  bottom: 12px;
  right: 0;
  width: 1px;
  background: #fff;
}

.user__list .user__link--cart {
  padding-right: 34px;
}

.user__list .user__link--cart:after {
  content: '';
  display: block;
  position: absolute;
  top: 8px;
  right: 0;
  width: 22px;
  height: 19px;
  background: url(../img/icon/spritesheet.png) -38px -5px;
  transition: 0.3s;
}

.user__list .user__link--cart:hover:after {
  background: url(../img/icon/spritesheet.png) -68px -34px;
}

.nav__dropdown {
  background: rgba(17, 17, 17, 0.8);
  border-top: 3px solid #f6f5f3;
  position: absolute;
  top: -9999px;
  opacity: 0;
  z-index: -10;
  transition: opacity .2s ease-in-out;
}

.nav__dropdown .nav__list {
  display: block;
  padding: 11px 0;
  text-align: center;
  width: 200px;
}

.nav__dropdown .nav__link {
  padding: 10px;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: underline;
}

.nav__dropdown .nav__link:hover:after {
  top: -3px;
}

.nav__dropdown--wide {
  padding-top: 15px;
}

.nav__dropdown--wide .nav__list {
  padding: 0;
}

.nav__dropdown--wide .nav__title {
  margin-bottom: 10px;
  font-size: 15px;
  line-height: 1;
  text-transform: uppercase;
  color: #fff;
}

.nav__item:hover .nav__dropdown,
.nav__link:hover .nav__dropdown {
  top: 80%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 1;
  z-index: 10;
}

.nav__item:hover .nav__dropdown--wide,
.nav__link:hover .nav__dropdown--wide {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}

/* Singl product page */
.product__container {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.col {
  -webkit-flex: 1 1 33.33%;
      -ms-flex: 1 1 33.33%;
          flex: 1 1 33.33%;
  margin-top: 45px;
}

.col--foto {
  margin-top: 0;
}

.product__header {
  text-align: right;
  margin-bottom: 25px;
}

.product__main-title {
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.product__id {
  font-size: 15px;
  text-transform: uppercase;
  color: #aaaaaa;
}

.product__spec {
  margin-bottom: 25px;
}

.product__caption {
  position: relative;
  display: inline-block;
  padding-right: 28px;
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 1;
  color: #5f5e5e;
  cursor: pointer;
}

.product__caption:after {
  content: '';
  position: absolute;
  top: -50%;
  right: 0;
  display: inline-block;
  width: 18px;
  height: 32px;
  background: url(../img/icon/arrow.png) no-repeat;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

.product__caption:hover:after {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.product__description {
  font-size: 15px;
  text-align: right;
  max-height: 150px;
  overflow: auto;
  padding: 0 15px;
}

/* product__reviews */
.product__reviews-list {
  max-height: 140px;
  overflow: auto;
}

.product__reviews-item {
  margin-bottom: 20px;
  padding: 0 15px;
  font-size: 15px;
}

.product__reviews-item .reviews__autor {
  font-weight: bold;
}

/* PRODUCT-FOTO */
.product__foto-wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  min-width: 200px;
  max-width: 350px;
  margin: 0 auto;
}

.product__foto-wrap img {
  width: 100%;
  height: auto;
}

/* PRODUCT-SPEC */
.product__title {
  position: relative;
  display: inline-block;
  margin-bottom: 0;
  padding-right: 35px;
  line-height: 1;
  font-size: 24px;
  text-transform: uppercase;
}

.product__title:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: -5px;
  right: 0;
  width: 18px;
  height: 32px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  background: url(../img/icon/arrow.png) no-repeat;
}

.col--price {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.product__price button {
  display: block;
  margin: 12px auto;
}

.product__extra-wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  margin-top: 20px;
}

.product__extra-wrap .product__extra-link {
  position: relative;
  -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.product__extra-wrap .product__extra-img {
  position: relative;
  height: 160px;
  width: 50%;
  margin: 0 auto;
}

.product__extra-wrap .product__extra-img img {
  width: 100%;
  height: auto;
}

.product__extra-wrap .product__extra-img:after {
  content: '';
  transition: background 0.3s ease-in-out;
}

.product__extra-wrap .product__extra-img:hover:after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.3);
}

.product__extra-wrap .product__extra-img:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: inline-block;
  width: 24px;
  height: 24px;
  background: transparent url(../img/icon/spritesheet.png) -42px -31px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.product__extra-wrap .product__extra-img:hover:before {
  opacity: 1;
}

.product__extra-wrap .product__extra-link {
  overflow: hidden;
  height: 160px;
}

.product__cost {
  margin-bottom: 20px;
  font-size: 35px;
  line-height: 1;
  color: #a70606;
}

/* Catalog */
.catalog {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.catalog__menu {
  -webkit-flex: 1 0 250px;
      -ms-flex: 1 0 250px;
          flex: 1 0 250px;
}

.catalog__header {
  -webkit-flex: 1 0 100%;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
}

.catalog__header .sorting {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  border-bottom: 2px solid #636363;
}

.catalog__header .filtr {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.catalog__header .catalog__title {
  border-bottom: none;
}

.catalog__header .catalog__header-title {
  -webkit-flex-basis: 200px;
      -ms-flex-preferred-size: 200px;
          flex-basis: 200px;
}

.catalog__header .catalog__sorting {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-bottom: 15px;
  border-bottom: none;
}

.catalog__header .catalog__filtr {
  -webkit-flex: 0 0 calc(100% - 200px);
      -ms-flex: 0 0 calc(100% - 200px);
          flex: 0 0 calc(100% - 200px);
  padding: 6px 0;
  border-bottom: 2px solid #636363;
}

.catalog__title {
  font-size: 24px;
  text-transform: uppercase;
  padding-bottom: 5px;
  border-bottom: 2px solid #636363;
}

.catalog__nav {
  line-height: 1;
}

.catalog__nav .catalog__nav-link {
  display: block;
  position: relative;
  padding: 9px 0 9px 15px;
  text-transform: uppercase;
  color: #000;
}

.catalog__nav .catalog__nav-link:before {
  content: '';
  position: absolute;
  top: 0;
  left: -3px;
  width: 20px;
  height: 39px;
}

.catalog__nav .catalog__nav-link:hover:before {
  background: url(../img/icon/logo-small-red.png) 7px 0px no-repeat;
}

/* Catalog sorting */
.sort-list__title, .filtr-list {
  font-size: 15px;
  color: #7b7979;
}

.sort-list__item, .filtr-list__item {
  display: inline-block;
}

.sort-list__link, .filtr-list__link {
  position: relative;
  padding-right: 23px;
  margin-right: 25px;
  font-size: 15px;
  color: #7b7979;
}

.sort-list__link:hover, .filtr-list__link:hover {
  text-decoration: underline;
}

.sort-list__link:after, .filtr-list__link:after {
  content: '';
  position: absolute;
  top: 7px;
  right: 0;
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url(../img/icon/shape.svg) 0 0 no-repeat;
}

/* Pagination */
.pagination__item {
  display: inline-block;
  color: #7b7979;
}

.pagination__link {
  margin-right: 8px;
  color: #7b7979;
  font-size: 15px;
  text-align: center;
}

.pagination__link--active, .pagination__link:hover {
  border-bottom: 2px solid #b11f29;
}

.pagination__link svg {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

/* Catalog list */
.catalog__container {
  -webkit-flex: 1 0 calc(100% - 250px);
      -ms-flex: 1 0 calc(100% - 250px);
          flex: 1 0 calc(100% - 250px);
}

.catalog__list {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: 30px;
}

.catalog__item {
  -webkit-flex: 0 0 25%;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  padding: 0 10px;
  position: relative;
  max-width: 220px;
  margin-bottom: 70px;
}

.catalog__item .catalog__item-link {
  display: block;
  position: relative;
  text-align: center;
  color: #000;
}

.catalog__item .catalog__item-pic {
  width: 100%;
  height: 260px;
  overflow: hidden;
  margin-bottom: 15px;
}

.catalog__item .catalog__item-pic img {
  width: 100%;
  height: auto;
}

.catalog__item .catalog__item-info {
  margin-bottom: 13px;
  font-size: 18px;
  -webkit-flex: 1 1 0%;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
  min-width: 0;
  word-wrap: break-word;
}

.catalog__item .catalog__item-price {
  color: #b11f29;
}

/* Footer */
.footer {
  position: relative;
  z-index: 3;
  background: #f79b1d;
  box-shadow: 0 5px 6px 10px rgba(45, 42, 42, 0.5);
}

.footer .nav__list {
  margin: auto;
}

.footer--sticky {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.79;
}

.footer--sticky .nav__list .nav__link {
  padding: 3px 8px;
}

.footer--sticky .nav__list .nav__link:before {
  top: -3px;
  left: -3px;
}

.slider {
  height: 610px;
  position: relative;
}

.slider .slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slider .slick-dots {
  bottom: 13px;
}

.slider .slick-dots li button::before {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid #fff;
  background: #b11f29;
  opacity: 1;
  box-shadow: 3px 1px 2px rgba(0, 0, 0, 0.5);
}

.slider .slick-dots li button::before {
  color: transparent;
}

.slider .slick-dots li.slick-active button::before {
  background: #f79b1d;
  color: transparent;
  opacity: 1;
}

.slide {
  height: 610px;
}

.slide--1 {
  background: url(../img/slide-fase.jpg) center center/cover no-repeat;
}

.slide--2 {
  background: url(../img/slide-fase.jpg) center center/cover no-repeat;
}

.slide--3 {
  background: url(../img/slide-fase.jpg) center center/cover no-repeat;
}

.slide--4 {
  background: url(../img/slide-fase.jpg) center center/cover no-repeat;
}

.slide--5 {
  background: url(../img/slide-fase.jpg) center center/cover no-repeat;
}

.slide__content, .banner .image__content {
  background: rgba(0, 0, 0, 0.5);
  max-width: 850px;
  padding: 35px 38px 10px 75px;
  text-align: right;
  position: relative;
  top: 53%;
}

.slide__content h1, .banner .image__content h1 {
  margin-bottom: 10px;
  font-size: 29px;
  color: #fff;
  line-height: 1;
}

.slide__content p, .banner .image__content p {
  font-size: 18px;
  line-height: 1;
  color: #fff;
}

.slide__content a, .banner .image__content a {
  text-align: right;
  font-size: 15px;
  color: #010101;
  border-bottom: 2px solid #56595d;
}

.slide__content a:hover, .banner .image__content a:hover {
  border-bottom-color: transparent;
}

.slide__content .slide__lead, .banner .image__content .slide__lead {
  margin-bottom: 5px;
  text-align: left;
  position: relative;
}

.slide__content .slide__lead:before, .banner .image__content .slide__lead:before {
  content: '';
  position: absolute;
  top: -28px;
  left: -30px;
  display: block;
  width: 40px;
  height: 100px;
  background: url(../img/icon/logo-icon.png);
}

/* catalog slider */
.banner {
  margin-bottom: 30px;
  height: 188px;
  position: relative;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
}

.banner .image {
  height: 188px;
}

.banner .image--1 {
  background: url(../img/banner.jpg) center center/cover no-repeat;
}

.banner .image--2 {
  background: url(../img/banner.jpg) center center/cover no-repeat;
}

.banner .image--3 {
  background: url(../img/banner.jpg) center center/cover no-repeat;
}

.banner .image--4 {
  background: url(../img/banner.jpg) center center/cover no-repeat;
}

.banner .image--5 {
  background: url(../img/banner.jpg) center center/cover no-repeat;
}

.banner .image__content {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background: none;
  text-align: left;
}

.banner .image__content h1 {
  color: #b11f29;
}

.banner .image__content p {
  color: #f79b1d;
}

.banner .image__content .image__lead {
  position: relative;
}

.banner .image__content .image__lead:before {
  content: '';
  position: absolute;
  top: -28px;
  left: -30px;
  display: block;
  width: 40px;
  height: 100px;
  background: url(../img/icon/logo-big-red.png);
}

.cart-form__btn {
  background: transparent;
  color: #fff;
  font-size: 12px;
}

.cart-form__btn:hover {
  text-decoration: underline;
}

.login-form__btn {
  background: transparent;
  font-size: 9px;
  color: #fff;
}

.login-form__btn:hover {
  text-decoration: underline;
}

.user-form__button {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  vertical-align: middle;
  background: transparent url(../img/icon/spritesheet.png) -42px -31px;
  cursor: pointer;
}

.btn {
  position: relative;
  padding: 1em;
  border: 1px solid currentColor;
  font-family: Verdana, sans-serif;
  line-height: 1;
  color: #fff;
  background: transparent;
  overflow: hidden;
}

.btn:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  width: 100%;
  height: 0;
  background: #fff;
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
      -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
          transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transition: all 0.3s;
}

.btn:active:after {
  height: 400%;
  opacity: 1;
}

.btn:hover:after {
  height: 300%;
  opacity: 1;
}

.btn--red {
  padding: 0.6em 1.7em;
  background: #a70606;
  font-size: 1.2em;
  transition: all 0.3s;
  z-index: 1;
}

.btn--red:hover, .btn--red:active {
  color: #a70606;
}

.btn--white {
  padding: 1.1em 0.7em;
  color: #a70606;
  font-size: 0.75em;
}

.btn--white:hover, .btn--white:active {
  color: #fff;
}

.btn--white:after {
  background: #a70606;
}

.btn--orange {
  z-index: 1;
  width: 46px;
  height: 28px;
  padding: 0.01em 0.6em;
  background: #f79b1d;
  border: none;
  font-weight: bold;
}

.btn--orange:hover, .btn--orange:active {
  color: #f79b1d;
}

.btn--catalog-form {
  width: 38px;
  height: 28px;
  padding: 0;
  border: 2px solid #f79b1d;
  background: #fff url(../img/icon/cart-orange.png) center 2px no-repeat;
  transition: all 0.3s;
}

.btn--catalog-form:hover {
  background: #f79b1d url(../img/icon/cart.png) center 2px no-repeat;
}

html {
  font-size: 16px;
  font-family: Verdana, sans-serif;
  height: 100%;
  width: 100%;
}

body {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  line-height: 1.42;
  width: 100%;
}

.wrapper {
  overflow: hidden;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  min-height: 100%;
}

footer {
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.nav, .sub-nav, .product__container, .catalog {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
  position: relative;
}

.nav, .product__container, .product__size, .catalog, .catalog__header .sorting, .catalog__header .catalog__sorting, .catalog__list, .catalog__item-form {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.user-form__input {
  position: absolute;
  width: 0;
  border: none;
  outline: none;
  z-index: -10;
  transition: right .3s ease;
}

.user-form__input--active {
  padding: 0 10px;
  width: 235px;
  height: 24px;
  right: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 5;
  box-shadow: 1px 0px 2px 3px rgba(17, 17, 17, 0.3);
  transition: width .3s ease;
}

.login-form {
  position: absolute;
  top: -9999px;
  opacity: 0;
  z-index: -10;
  width: 185px;
  padding: 24px 7px 5px 7px;
  border-top: 3px solid #f6f5f3;
  background: rgba(17, 17, 17, 0.8);
  text-align: center;
  transition: opacity 0.3s ease;
}

.login-form .login-form__row {
  text-align: right;
  margin-bottom: 8px;
}

.login-form .login-form__label {
  font-size: 11px;
  color: #fff;
}

.login-form .login-form__input {
  width: 121px;
  padding: 0 5px;
}

.login-form .login-form__link {
  display: block;
  margin-bottom: 11px;
  font-size: 9px;
  color: #fff;
  text-align: right;
}

.login-form .login-form__link:hover {
  text-decoration: underline;
}

.user__item:hover > .login-form {
  top: 90%;
  left: -30px;
  opacity: 1;
  z-index: 10;
  transition: opacity 0.3s ease;
}

.cart-form {
  position: absolute;
  top: -9999px;
  z-index: -10;
  opacity: 0;
  width: 185px;
  padding: 10px 10px 5px 10px;
  background: rgba(17, 17, 17, 0.8);
  border-top: 3px solid #f6f5f3;
  text-align: center;
}

.cart-form span {
  color: #fff;
  display: inline-block;
}

.cart-form .cart-form__row {
  margin-bottom: 10px;
  text-align: left;
}

.cart-form .cart-form__total,
.cart-form .cart-form__goods {
  font-size: 11px;
  width: 60px;
}

.cart-form .cart-form__amount,
.cart-form .cart-form__summ {
  font-size: 15px;
  margin-left: 5px;
}

.user__item:hover > .cart-form {
  top: 90%;
  left: 50%;
  opacity: 1;
  z-index: 10;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  transition: opacity 0.3s ease;
}

/* catalog item form */
.catalog__item-input {
  width: 46px;
  height: 28px;
  background: #f79b1d;
  border: none;
  outline: none;
  color: #fff;
  font-size: 18px;
  text-align: center;
}

/*# sourceMappingURL=main.css.map */