/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

img {
  border: none;
  outline: none;
  font-size: 0;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul, ul, ol {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  display: inline-block; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

textarea {
  overflow: auto;
  resize: none; }

input:focus:-ms-input-placeholder {
  color: transparent; }

input:focus::-moz-placeholder {
  color: transparent; }

input:focus:-moz-placeholder {
  color: transparent; }

input:focus::-webkit-input-placeholder {
  color: transparent; }

input:focus:placeholder-shown {
  color: transparent; }

textarea:focus:-ms-input-placeholder {
  color: transparent; }

textarea:focus::-moz-placeholder {
  color: transparent; }

textarea:focus:-moz-placeholder {
  color: transparent; }

textarea:focus::-webkit-input-placeholder {
  color: transparent; }

textarea:focus:placeholder-shown {
  color: transparent; }

ul, ol {
  list-style: none; }

label, button {
  cursor: pointer; }

button {
  border: none;
  outline: none; }

@font-face {
  font-family: 'museo';
  src: url("../fonts/museo_300.eot");
  src: url("../fonts/museo_300.eot?#iefix") format("embedded-opentype"), url("../fonts/museo_300.woff2") format("woff2"), url("../fonts/museo_300.woff") format("woff"), url("../fonts/museo_300.ttf") format("truetype"), url("../fonts/museo_300.svg#museo_cyrl300") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'museo';
  src: url("../fonts/museo_500.eot");
  src: url("../fonts/museo_500.eot?#iefix") format("embedded-opentype"), url("../fonts/museo_500.woff2") format("woff2"), url("../fonts/museo_500.woff") format("woff"), url("../fonts/museo_500.ttf") format("truetype"), url("../fonts/museo_500.svg#museo_cyrl500") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'museo';
  src: url("../fonts/museo_700.eot");
  src: url("../fonts/museo_700.eot?#iefix") format("embedded-opentype"), url("../fonts/museo_700.woff2") format("woff2"), url("../fonts/museo_700.woff") format("woff"), url("../fonts/museo_700.ttf") format("truetype"), url("../fonts/museo_700.svg#museo_cyrl700") format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'museo';
  src: url("../fonts/museo_900.eot");
  src: url("../fonts/museo_900.eot?#iefix") format("embedded-opentype"), url("../fonts/museo_900.woff2") format("woff2"), url("../fonts/museo_900.woff") format("woff"), url("../fonts/museo_900.ttf") format("truetype"), url("../fonts/museo_900.svg#museo_cyrl900") format("svg");
  font-weight: 900;
  font-style: normal; }

/*respond*/
body, html {
  width: 100%;
  height: 100%; }

html {
  position: relative;
  font-size: 100%;
  line-height: 1.42;
  font-family: "museo";
  font-weight: 300;
  color: #000;
  -webkit-font-smoothing: subpixel-antialiased !important;
  backface-visibility: hidden; }

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%; }

.wrapper {
  overflow: hidden;
  flex: 1 0 auto;
  min-width: 300px;
  position: relative; }

footer {
  flex: 0 0 auto; }

p {
  padding-bottom: 10px; }
  p:last-of-type {
    padding-bottom: 0; }

.container--flex, .header__top, .main, .catalog {
  max-width: 1010px;
  min-width: 300px;
  margin: 0 auto; }
  @media (max-width: 500px) {
    .container--flex, .header__top, .main, .catalog {
      padding: 0 20px; } }

.container {
  max-width: 1010px;
  min-width: 300px;
  margin: 0 auto; }
  @media (max-width: 500px) {
    .container {
      padding: 0 20px; } }

.container--flex, .header__top, .nav__list, .main, .product__wrapper, .product__btn, .footer__nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

@media (max-width: 500px) {
  .container--flex {
    flex-direction: column; } }

/*top header*/
.header__top {
  padding: 16px 40px;
  margin: 0 auto; }

/*logo group*/
.logo {
  position: relative;
  width: 198px; }
  @media (max-width: 500px) {
    .logo {
      width: 127px; } }
  .logo img {
    width: 100%; }

.logo__nav {
  position: absolute;
  top: 0;
  left: 31px;
  font-size: 0;
  width: 100%; }
  @media (max-width: 500px) {
    .logo__nav {
      display: none; } }

.logo__nav-item {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 0 7px;
  font-size: 12px; }
  .logo__nav-item:not(:last-child):after {
    content: '|';
    position: absolute;
    top: 0;
    right: -1px; }

.logo__nav-link {
  padding-bottom: 5px;
  font-size: 11px;
  text-transform: uppercase;
  color: #3e3d3d; }
  .logo__nav-link--active {
    color: #f79b1d; }
  .logo__nav-link:hover {
    color: #f79b1d; }

/*user group*/
.user {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
  padding-top: 10px; }

@media (max-width: 500px) {
  .user__login {
    display: none; } }

@media (max-width: 500px) {
  .user__login--mobil {
    display: block;
    padding-top: 5px;
    text-align: center;
    background: #3e3d3d; } }

.user__login-link {
  padding-bottom: 10px;
  font-size: 11px;
  text-transform: uppercase;
  color: #3e3d3d;
  border-bottom: 1px solid transparent;
  transition: all 0.3s linear; }
  @media (max-width: 500px) {
    .user__login-link {
      color: #fff; } }
  .user__login-link:hover {
    border-color: currentColor; }

.user__login-icon {
  display: inline-block;
  vertical-align: bottom;
  width: 20px;
  height: 20px;
  margin: -3px 10px;
  background: url(../img/icon/sprites.png) no-repeat 0 -163px; }
  @media (max-width: 500px) {
    .user__login-icon {
      background-position: -66px -100px; } }

/*header__menu*/
.header__menu {
  background: #3e3d3d; }

.nav-toggle, .nav-toggle-close {
  display: none; }
  @media (max-width: 500px) {
    .nav-toggle, .nav-toggle-close {
      display: block; } }

.nav {
  max-width: 690px; }
  @media (max-width: 500px) {
    .nav {
      position: absolute;
      top: 0;
      left: -9999px;
      opacity: 0;
      z-index: -10; } }
  .nav--active {
    top: 0;
    left: 0;
    opacity: 1;
    transition: 0.5s left ease-in-out;
    display: flex;
    flex-direction: column;
    z-index: 10;
    background: #3e3d3d;
    max-width: 380px;
    padding: 50px 25px 25px 25px; }
    .nav--active .nav__list {
      flex-direction: column; }
    .nav--active .nav__item {
      align-self: flex-start;
      text-align: left;
      width: 100%;
      border-bottom: 1px solid #000; }
    .nav--active .nav__link {
      display: block;
      padding: 8px 0 8px 10px;
      font-size: 16px; }
      .nav--active .nav__link:hover, .nav--active .nav__link:focus {
        color: #8d8d8d; }

.nav__item {
  flex: 1 1 0%;
  text-align: center;
  position: relative;
  align-self: stretch;
  line-height: 33px;
  transition: all 0.3s ease-in-out; }
  .nav__item:hover {
    background: #7e7d7d; }
    @media (max-width: 500px) {
      .nav__item:hover {
        background: #3e3d3d; } }

.nav__link {
  display: inline-block;
  vertical-align: middle;
  padding: 5px;
  font-size: 11px;
  text-transform: uppercase;
  line-height: 1.5;
  color: #fff; }

.nav__dropdown {
  position: absolute;
  top: -9999px;
  left: 0;
  background: #e8e8e8;
  transition: left 0.5s ease-in-out, opacity 0.5s ease-in-out; }
  @media (max-width: 900px) {
    .nav__dropdown {
      transition: opacity 0.5s ease-in-out; } }
  @media (max-width: 500px) {
    .nav__dropdown {
      position: static;
      background: #3e3d3d; } }

.nav__dropdown-list {
  width: 158px;
  padding: 20px 18px;
  text-align: left; }
  @media (max-width: 500px) {
    .nav__dropdown-list {
      width: 100%;
      padding: 0 18px; } }
  .nav__dropdown-list:not(:last-child) {
    border-right: 1px solid #3e3d3d; }

.nav__dropdown-title {
  display: block;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-size: 12px;
  color: #686767; }

.nav__dropdown-link {
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  color: #010101; }
  .nav__dropdown-link:hover {
    text-decoration: underline; }
  @media (max-width: 500px) {
    .nav__dropdown-link {
      color: #e8e8e8; } }

.nav__item:hover .nav__dropdown,
.nav__link:hover .nav__dropdown {
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
  z-index: 10; }
  @media (max-width: 900px) {
    .nav__item:hover .nav__dropdown,
    .nav__link:hover .nav__dropdown {
      left: 0;
      transform: translateX(0%); } }
  @media (max-width: 500px) {
    .nav__item:hover .nav__dropdown,
    .nav__link:hover .nav__dropdown {
      transform: none; } }

.nav__item:hover .nav__dropdown--wide,
.nav__link:hover .nav__dropdown--wide {
  display: flex; }
  @media (max-width: 500px) {
    .nav__item:hover .nav__dropdown--wide,
    .nav__link:hover .nav__dropdown--wide {
      display: block; } }

/*header__mobile*/
.mobile {
  display: none; }
  @media (max-width: 500px) {
    .mobile {
      display: block; } }

.main {
  align-items: center;
  padding: 0 25px;
  margin-bottom: 70px; }
  @media (max-width: 500px) {
    .main {
      padding: 0;
      margin-bottom: 10px; } }
  .main .main__header {
    margin-bottom: 40px; }
    @media (max-width: 500px) {
      .main .main__header {
        margin: 0; } }

.main__header {
  flex: 1 1 100%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  font-size: 28px;
  text-transform: uppercase;
  text-align: center;
  color: #222222; }
  .main__header:after {
    content: '';
    display: block;
    margin: 10px auto 0 auto;
    width: 150px;
    height: 2px;
    background: #6f6e6e; }
    @media (max-width: 500px) {
      .main__header:after {
        width: 105px; } }
  @media (max-width: 500px) {
    .main__header {
      font-size: 16px;
      font-weight: 500; } }

.main__stn {
  padding: 20px 25px;
  margin: auto; }
  @media (max-width: 500px) {
    .main__stn {
      padding: 20px 0; } }
  .main__stn:nth-child(even) .main__banner-title {
    background: #b11f29; }
  .main__stn:nth-child(even) .main__banner-text:before {
    background: url(../img/icon/sprites.png) no-repeat 0 -100px; }
  .main__stn:nth-child(odd) .main__banner-title {
    background: #f79b1d; }
  .main__stn:nth-child(odd) .main__banner-text:before {
    background: url(../img/icon/sprites.png) no-repeat -100px -60px; }

.main__banner {
  max-width: 430px;
  position: relative;
  font-size: 0;
  transition: all 0.3s ease-in-out; }
  .main__banner img {
    width: 100%;
    height: auto; }
  @media (max-width: 500px) {
    .main__banner {
      max-width: 100%; } }
  .main__banner:hover {
    box-shadow: 0 5px 3px rgba(0, 0, 0, 0.5); }

.main__banner-title {
  position: absolute;
  bottom: 30px;
  padding: 16px 0;
  width: 300px;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.85; }

.main__banner-text {
  position: relative;
  font-size: 17px;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff; }
  .main__banner-text:before {
    content: '';
    display: block;
    position: absolute;
    top: -14px;
    left: -12px;
    width: 17px;
    height: 43px; }

/*product*/
.product {
  max-width: 950px;
  margin: 25px auto 30px auto;
  min-width: 300px; }
  @media (max-width: 500px) {
    .product {
      padding: 0 20px; } }

.breadcrumbs {
  margin-bottom: 30px;
  padding-left: 20px;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  font-size: 0; }

.breadcrumbs__item {
  position: relative;
  display: inline-block;
  font-size: 14px;
  margin-right: 7px; }
  .breadcrumbs__item--active {
    color: #868686; }
  .breadcrumbs__item:not(:last-child):after {
    content: '/';
    display: inline-block;
    margin-left: 3px;
    font-size: 14px;
    color: currentColor; }

.breadcrumbs__link {
  font-size: 14px;
  padding: 5px 0;
  color: #5f5f5f;
  transition: color 0.3s ease-in-out; }
  .breadcrumbs__link:hover {
    color: #868686;
    text-decoration: underline; }

/*product*/
.product__wrapper {
  margin-bottom: 70px; }
  @media (max-width: 500px) {
    .product__wrapper {
      margin-bottom: 30px; } }

.product__gallery {
  display: flex;
  max-width: 440px; }
  @media (max-width: 900px) {
    .product__gallery {
      margin: auto; } }
  @media (max-width: 500px) {
    .product__gallery {
      max-width: 400px;
      margin-bottom: 30px; } }

.gallery__list {
  max-width: 350px;
  height: 480px;
  margin-left: 9px;
  overflow: hidden; }
  @media (max-width: 500px) {
    .gallery__list {
      max-width: 316px;
      height: 420px; } }

.gallery__item {
  font-size: 0;
  height: 480px; }
  @media (max-width: 500px) {
    .gallery__item {
      height: 420px; } }
  .gallery__item:hover {
    cursor: zoom-in; }
  .gallery__item img {
    max-width: 100%;
    display: block; }

.gallery-nav {
  width: 88px; }
  @media (max-width: 500px) {
    .gallery-nav {
      width: 77px; } }

.gallery-nav__item {
  width: 88px;
  font-size: 0; }
  @media (max-width: 500px) {
    .gallery-nav__item {
      width: 77px; } }
  .gallery-nav__item:hover {
    cursor: pointer; }
  .gallery-nav__item img {
    width: 100%;
    display: block; }

.product__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 400px; }
  @media (max-width: 900px) {
    .product__info {
      max-width: 100%;
      padding: 0 20px;
      margin-top: 30px; } }

.product__title {
  margin-bottom: 10px;
  font-size: 24px;
  color: #3e3d3d; }

.product__description {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid #e8e8e8; }

.product__description-wrap {
  max-height: 130px;
  overflow: auto;
  margin-bottom: 20px; }
  @media (max-width: 500px) {
    .product__description-wrap {
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch; } }

.product__price {
  font-size: 20px;
  font-weight: 500;
  color: #b11f29; }

.product-slider__slide {
  width: 160px; }

.product-slider__link {
  color: #000;
  transition: all 0.3s ease-in-out; }
  .product-slider__link:hover {
    box-shadow: 0 5px 3px rgba(0, 0, 0, 0.5); }

.product-slider__pic {
  width: 160px;
  text-align: center;
  font-size: 0;
  margin: 0 auto 20px auto; }
  .product-slider__pic img {
    width: 100%; }

.product-slider__info {
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
  word-break: break-all; }

.product-slider__price {
  color: #b11f29;
  font-size: 18px;
  font-weight: 500; }

.catalog {
  padding: 0 25px;
  margin-top: 30px;
  margin-bottom: 54px; }

.catalog__title {
  position: relative;
  margin-bottom: 15px;
  font-size: 20px;
  color: #010101; }
  .catalog__title:before {
    content: '';
    position: absolute;
    top: -15px;
    left: -10px;
    display: inline-block;
    width: 17px;
    height: 43px;
    background: url(../img/icon/sprites.png) no-repeat -100px -60px; }

.catalog__description {
  margin-bottom: 45px; }

.catalog__item {
  width: 180px;
  padding: 13px;
  background: #f3f0f0;
  text-align: center;
  margin: 10px 10px 0 10px;
  transition: all 0.3s ease-in-out; }
  .catalog__item:hover {
    box-shadow: 0 5px 3px rgba(0, 0, 0, 0.5); }

.catalog__item-link {
  font-size: 14px;
  line-height: 1.5;
  color: #000;
  font-weight: 500; }

.catalog__item-pic {
  max-width: 154px;
  text-align: center;
  font-size: 0;
  margin: 0 auto 10px auto; }
  .catalog__item-pic img {
    width: 100%; }

.catalog__item-info {
  word-break: break-all; }

.catalog__item-price {
  color: #b11f29;
  font-size: 18px;
  font-weight: 500; }

.catalog__item-decr {
  padding-bottom: 0; }

.footer {
  background: #eaebeb;
  border-bottom: 20px solid #b11f29;
  padding-bottom: 100px; }

.footer__nav {
  flex: 1;
  padding-top: 30px;
  max-width: 360px; }
  @media (max-width: 500px) {
    .footer__nav {
      flex-direction: column; } }

.footer__nav-list {
  width: 130px; }
  @media (max-width: 500px) {
    .footer__nav-list {
      width: 100%; } }

.footer__nav-title {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: #222222; }

.footer__nav-link {
  display: block;
  padding: 7px 0 7px 16px;
  font-size: 12px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #7e7d7d;
  transition: all 0.3s ease-in-out; }
  .footer__nav-link:hover {
    color: #222222; }

.footer__logo {
  padding-top: 20px;
  text-align: center;
  margin-bottom: 13px; }

.footer__social-list {
  display: flex;
  justify-content: center;
  margin-bottom: 35px; }

.footer__social-item {
  width: 36px;
  height: 36px;
  margin-right: 8px;
  border-radius: 50%;
  transition: all 0.3s ease-in-out; }
  .footer__social-item:hover {
    box-shadow: inset 0 -5px 3px rgba(34, 34, 34, 0.5); }

.footer__social-link {
  display: block;
  width: 36px;
  height: 36px;
  background: url(../img/icon/sprites.png) no-repeat; }
  .footer__social-link--fb {
    background-position: 0 0; }
  .footer__social-link--vk {
    background-position: -80px -150px; }
  .footer__social-link--ins {
    background-position: -50px 0; }
  .footer__social-link--tw {
    background-position: -50px -50px; }
  .footer__social-link--pin {
    background-position: 0 -50px; }

.footer__copy {
  text-align: right; }
  @media (max-width: 500px) {
    .footer__copy {
      text-align: center; } }
  .footer__copy span {
    display: block;
    text-transform: uppercase;
    line-height: 1.5;
    font-size: 14px;
    color: #7e7d7d; }

/*main-slider*/
.slide {
  position: relative;
  width: 100%;
  height: 560px;
  background: url(../img/slider.jpg) no-repeat center center/cover; }
  @media (max-width: 500px) {
    .slide {
      height: 210px; } }

.slide__content {
  max-width: 327px;
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translateY(-50%); }
  @media (max-width: 500px) {
    .slide__content {
      max-width: 177px; } }
  .slide__content:before {
    content: '';
    position: absolute;
    top: -88px;
    left: -65px;
    display: block;
    width: 114px;
    height: 287px;
    background: url(../img/icon/paper-red.png) no-repeat left/contain; }
    @media (max-width: 500px) {
      .slide__content:before {
        display: none; } }

.slide__title {
  font-size: 1.9em;
  font-weight: 900;
  color: #282828;
  line-height: 1.1;
  margin-bottom: 5px; }
  .slide__title span {
    color: #b11f29; }
  @media (max-width: 500px) {
    .slide__title {
      font-size: 1em; } }

.slide__text {
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.5;
  color: #282828;
  margin-bottom: 25px; }
  @media (max-width: 500px) {
    .slide__text {
      font-size: 0.6em; } }

.slide__link {
  display: block;
  margin-left: 40%;
  font-size: 1rem;
  text-decoration: underline;
  color: #282828; }
  .slide__link:hover {
    text-decoration: none; }
  @media (max-width: 500px) {
    .slide__link {
      font-size: 0.6em; } }

.main-slider {
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #3e3d3d; }
  .main-slider .slick-dots {
    bottom: 5px; }
  .main-slider .slick-dots li button:before {
    width: 17px;
    height: 17px;
    opacity: 1;
    border-radius: 50%;
    color: transparent;
    background: url(../img/icon/sprites.png) no-repeat -34px -130px; }
  .main-slider .slick-dots li.slick-active button:before {
    background-position: -100px 0; }

/*product-slider*/
.product-slider {
  max-width: 820px;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 100px;
  text-align: center; }
  @media (max-width: 500px) {
    .product-slider {
      margin-top: 20px;
      margin-bottom: 30px;
      padding-bottom: 30px;
      border-bottom: 1px solid #3e3d3d; } }
  .product-slider .slick-prev, .product-slider .slick-next {
    width: 37px;
    height: 37px;
    background: #6f6e6e;
    border-radius: 50%;
    z-index: 1; }
  .product-slider .slick-prev {
    left: 21px;
    transition: left 0.5s ease-in-out; }
  .product-slider .slick-next {
    right: 21px;
    transition: right 0.5s ease-in-out; }
  .product-slider .slick-prev::before, .product-slider .slick-next::before {
    content: '';
    font-family: Verdana;
    opacity: 1;
    font-size: 0;
    text-align: center; }
  .product-slider .slick-prev::before {
    width: 0;
    height: 0;
    margin-right: 3px;
    border-style: solid;
    border-width: 7px 13px 7px 0;
    border-color: transparent #ffffff transparent transparent; }
  .product-slider .slick-next::before {
    width: 0;
    height: 0;
    margin-left: 3px;
    border-style: solid;
    border-width: 7px 0 7px 13px;
    border-color: transparent transparent transparent #ffffff; }

.product-slider:hover ~ .slick-prev {
  left: 21px; }

.product-slider:hover ~ .slick-next {
  right: 21px; }

/*Catalog slider*/
.catalog__list .slick-dots {
  position: static;
  margin-top: 30px;
  padding-right: 20px;
  counter-reset: slider;
  text-align: right; }

.catalog__list .slick-dots li, .catalog__list .slick-dots li button {
  width: 28px;
  height: 28px;
  margin: 0; }

.catalog__list .slick-dots li button::before {
  content: counter(slider);
  counter-increment: slider;
  width: 28px;
  height: 28px;
  opacity: 1;
  z-index: 1;
  font-family: "museo";
  line-height: 28px;
  font-size: 20px;
  color: #585858;
  background: #f3f0f0;
  border: 1px solid #afaeae; }

.catalog__list .slick-dots li.slick-active button::before {
  color: #fff;
  background: #afaeae; }

/*product-galery*/
.nav-toggle {
  position: relative;
  align-self: center;
  width: 47px;
  height: 37px;
  border-top: 8px solid #3e3d3d;
  border-bottom: 8px solid #3e3d3d;
  background: none;
  z-index: 1;
  text-indent: 9999px;
  color: transparent;
  border-radius: 3px; }
  .nav-toggle:after {
    content: '';
    display: block;
    position: absolute;
    top: 7px;
    left: 0;
    width: 100%;
    height: 8px;
    background: #3e3d3d;
    border-radius: 3px; }

.nav-toggle-close {
  position: absolute;
  top: 10px;
  right: 25px;
  width: 47px;
  height: 47px;
  z-index: 1;
  text-indent: 9999px;
  color: transparent;
  background: none; }
  .nav-toggle-close:after, .nav-toggle-close:before {
    content: '';
    display: block;
    position: absolute;
    width: 17px;
    height: 3px;
    border-radius: 2px;
    background: #fff;
    top: 50%;
    left: 34%; }
  .nav-toggle-close:after {
    transform: rotate(45deg); }
  .nav-toggle-close:before {
    transform: rotate(-45deg); }

/*User*/
.user__cart-btn {
  position: relative;
  width: 156px;
  padding: 10px 40px 10px 30px;
  background: transparent;
  border-bottom: 1px solid transparent;
  outline: none;
  font-size: 11px;
  font-family: "museo";
  text-align: right;
  color: #222222;
  text-transform: uppercase;
  transition: all 0.3s linear; }
  .user__cart-btn:after {
    content: '';
    display: inline-block;
    position: absolute;
    top: -4px;
    right: 0;
    width: 30px;
    height: 26px;
    background: url(../img/icon/sprites.png) no-repeat -35px -160px; }
  .user__cart-btn:hover {
    border-color: currentColor; }
  @media (max-width: 500px) {
    .user__cart-btn {
      width: 45px;
      height: 45px;
      padding: 5px;
      text-indent: 9999px;
      background: url(../img/icon/basket-mob.png) no-repeat center center; }
      .user__cart-btn:after {
        display: none; } }

/*btn-baying*/
.btn-baying {
  position: relative;
  padding: 8px 40px 5px 11px;
  background: #555;
  font-size: 16px;
  font-family: "museo";
  text-transform: uppercase;
  color: #fff;
  border: 1px solid currentColor;
  transition: all 0.3s ease-in-out; }
  .btn-baying:after {
    content: '';
    position: absolute;
    right: 10px;
    width: 17px;
    height: 15px;
    background: url(../img/icon/sprites.png) no-repeat -34px -100px; }
  .btn-baying:hover {
    background: #fff;
    color: #555; }
  .btn-baying:hover:after {
    background-position: -100px -30px; }

/* product__btn */
.product__form-btn {
  padding: 5px 14px;
  font-size: 16px;
  color: #fff;
  border: none;
  outline: none;
  border: 1px solid transparent;
  transition: all 0.3s ease-in-out; }
  @media (max-width: 500px) {
    .product__form-btn {
      flex: 1 auto;
      margin-bottom: 10px; } }
  .product__form-btn--red {
    text-transform: uppercase;
    background: #b11f29; }
    .product__form-btn--red:hover {
      background: #fff;
      color: #b11f29;
      border-color: #b11f29; }
  .product__form-btn--grey {
    position: relative;
    padding-right: 35px;
    background: #3e3d3d; }
    .product__form-btn--grey:after {
      content: '';
      position: absolute;
      right: -4px;
      top: 6px;
      display: block;
      width: 29px;
      height: 29px;
      background: url(../img/icon/sprites.png) no-repeat -34px -100px; }
  .product__form-btn:hover {
    background: #fff;
    color: #3e3d3d;
    border-color: #3e3d3d; }
    .product__form-btn:hover:after {
      background-position: -100px -30px; }

/*search*/
.search {
  align-self: center; }
  @media (max-width: 500px) {
    .search {
      display: none; } }
  @media (max-width: 500px) {
    .search--mobile {
      display: block; } }

.search__form {
  position: relative;
  width: 270px; }
  @media (max-width: 500px) {
    .search__form--mobil {
      width: 100%; } }

.search__form-input {
  position: relative;
  min-width: 270px;
  height: 24px;
  padding: 0 55px 0 10px;
  border: 2px solid #c4c4c4;
  font-family: "museo";
  background: #ebebeb;
  -webkit-appearance: none; }
  @media (max-width: 500px) {
    .search__form-input--mobil {
      width: 100%;
      height: 30px;
      background: #fff; } }

.search__form-button {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 2px;
  width: 50px;
  height: 20px;
  text-indent: -99999px;
  background: #ebebeb; }
  .search__form-button:after {
    content: '';
    position: absolute;
    top: 2px;
    right: 7px;
    display: block;
    width: 17px;
    height: 17px;
    background: url(../img/icon/sprites.png) no-repeat -99px -118px; }
  @media (max-width: 500px) {
    .search__form-button {
      height: 26px;
      background: #fff; } }

/*login-form */
.pop-up {
  display: none; }

.login-form {
  position: relative;
  max-width: 450px;
  min-width: 200px;
  padding: 30px;
  background: #fff;
  margin: 0 auto;
  text-align: center; }

.login-form__row {
  margin-bottom: 8px;
  text-align: left; }

.login-form__label {
  display: block;
  margin-bottom: 8px;
  color: inherit; }

.login-form__input {
  width: 100%;
  height: 30px;
  padding: 0 10px; }
  .login-form__input:hover, .login-form__input:focus {
    border: 1px solid currentColor; }

.login-form__link {
  margin: 30px 30px 30px;
  color: inherit;
  text-align: center; }
  .login-form__link:hover {
    text-decoration: underline; }

.btn-login {
  background: transparent;
  height: 30px;
  width: 120px;
  font-family: "museo";
  font-size: 16px;
  margin: 0 auto;
  color: inherit; }
  .btn-login:hover, .btn-login:active, .btn-login:focus {
    border-bottom: 1px solid currentColor; }

.zoom-in .pop-up {
  opacity: 0;
  transform: scale(0.8); }

/* animate in */
.zoom-in.mfp-ready .pop-up {
  opacity: 1;
  transform: scale(1); }

/* animate out */
.zoom-in.mfp-removing .pop-up {
  transform: scale(0.8);
  opacity: 0; }

/* Dark overlay, start state */
.zoom-in.mfp-bg {
  opacity: 0;
  transition: opacity 0.3s ease-out; }

/* animate in */
.zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8; }

/* animate out */
.zoom-in.mfp-removing.mfp-bg {
  opacity: 0; }

/*product forms*/
.product__range-title {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
  color: #3e3d3d; }

.product__range {
  width: 100%;
  margin-bottom: 15px; }

.product__select-wrapper {
  position: relative;
  max-width: 360px;
  height: 30px;
  background: #fff; }
  .product__select-wrapper:after {
    content: '';
    display: block;
    position: absolute;
    top: 7px;
    right: 10px;
    pointer-events: none;
    z-index: 1;
    width: 9px;
    height: 9px;
    border-top: 2px solid #3e3d3d;
    border-right: 2px solid #3e3d3d;
    transform: rotate(135deg); }

.product__select {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  background: none;
  outline: none;
  border: 1px solid #e8e8e8;
  font-size: 14px;
  font-family: "museo";
  color: #3e3d3d; }

.product__amount {
  position: relative;
  margin: 15px 0 25px 0; }

.product__amount-label {
  position: absolute;
  width: 42px;
  height: 28px;
  padding: 5px 0 5px 5px;
  background: #e8e8e8;
  border-right: 1px solid #e8e8e8;
  font-size: 14px; }

.product__amount-input {
  width: 68px;
  height: 28px;
  margin-left: 40px;
  padding: 5px;
  background: #fff;
  font-size: 14px;
  font-family: "museo";
  color: #3e3d3d;
  outline: none;
  border: 1px solid #e8e8e8; }
