#mobil__header, #mobil__sub-menu, #mobil__slider {
  display: none;
}

.header {
  position: relative;
}

.header__top-menu {
  padding-top: 10px;
  background: #f79b1d;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
  z-index: 2;
  position: relative;
}

@media (max-width: 601px) {
  .header__top-menu {
    display: none;
  }
}

.nav {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.logo {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
}

.nav__list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  max-width: 960px;
}

.nav__item {
  -webkit-flex: 1 1 0%;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
  text-align: center;
  position: relative;
}

.nav__item:last-child {
  white-space: nowrap;
}

.nav__link {
  position: relative;
  font-size: 15px;
  padding: 12px 8px;
  color: #fff;
  transition: 0.3s;
}

.nav__link:before {
  content: '';
  position: absolute;
  top: 0;
  left: -3px;
  width: 20px;
  height: 39px;
}

.nav__link:hover:before {
  background: url(../img/icon/sprites.png) -45px -188px no-repeat;
}

.header__sub-menu {
  background: #b11f29;
  position: relative;
  z-index: 1;
  box-shadow: 0 5px 3px rgba(0, 0, 0, 0.5);
}

@media (max-width: 601px) {
  .header__sub-menu {
    display: none;
  }
}

.sub-nav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.sub-nav .sub-nav__list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.sub-nav .sub-nav__link {
  position: relative;
  padding: 7px 7px 7px 34px;
  font-size: 15px;
  color: #fff;
}

.sub-nav .sub-nav__link:after {
  content: '';
  position: absolute;
  top: 7px;
  left: 0;
  width: 30px;
  height: 20px;
  display: block;
}

.sub-nav .sub-nav__link--cargo:after {
  background: url(../img/icon/sprites.png) -45px -159px no-repeat;
}

.sub-nav .sub-nav__link--client:after {
  background: url(../img/icon/sprites.png) -79px 0 no-repeat;
}

.sub-nav .sub-nav__link--sale:after {
  background: url(../img/icon/sprites.png) -130px -154px no-repeat;
}

.user__list .user__item {
  position: relative;
  display: inline-block;
}

.user__list .user__link {
  position: relative;
  padding: 7px 10px;
  font-size: 15px;
  color: #fff;
  transition: color 0.3s;
}

.user__list .user__link:hover {
  color: #000;
}

.user__list .user__link--login:after {
  content: '';
  display: block;
  position: absolute;
  top: 12px;
  bottom: 12px;
  right: 0;
  width: 1px;
  background: #fff;
}

.user__list .user__link--cart {
  padding-right: 34px;
}

.user__list .user__link--cart:after {
  content: '';
  display: block;
  position: absolute;
  top: 8px;
  right: 0;
  width: 22px;
  height: 19px;
  background: url(../img/icon/sprites.png) -51px -89px no-repeat;
  transition: 0.3s;
}

.user__list .user__link--cart:hover:after {
  background: url(../img/icon/sprites.png) -51px 0 no-repeat;
}

/*DROPDOWN*/
.nav__dropdown {
  background: rgba(17, 17, 17, 0.8);
  border-top: 3px solid #f6f5f3;
  position: absolute;
  top: -9999px;
  opacity: 0;
  z-index: -10;
  transition: opacity .2s ease-in-out;
}

.nav__dropdown .nav__list {
  display: block;
  padding: 11px 0;
  text-align: center;
  width: 200px;
}

.nav__dropdown .nav__link {
  padding: 10px;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: underline;
}

.nav__dropdown .nav__link:hover:after {
  top: -3px;
}

.nav__dropdown--wide {
  padding-top: 15px;
}

.nav__dropdown--wide .nav__list {
  padding: 0;
}

.nav__dropdown--wide .nav__title {
  margin-bottom: 10px;
  font-size: 15px;
  line-height: 1;
  text-transform: uppercase;
  color: #fff;
}

.nav__item:hover .nav__dropdown,
.nav__link:hover .nav__dropdown {
  top: 80%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 1;
  z-index: 10;
}

.nav__item:hover .nav__dropdown--wide,
.nav__link:hover .nav__dropdown--wide {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}

#mobil__main, .product__mobil,
.product__amount, .catalog__title-mobil {
  display: none;
}

/* SINGL PRODUCT PAGE */
.product__container {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

@media (max-width: 601px) {
  .product__container {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.col {
  -webkit-flex: 1 1 33.33%;
      -ms-flex: 1 1 33.33%;
          flex: 1 1 33.33%;
  margin-top: 45px;
}

.col--foto {
  margin-top: 0;
}

.col--price {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

@media (max-width: 601px) {
  .col {
    margin-top: 0;
  }
  .col--info {
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
  .col--foto {
    display: block;
    margin-top: 30px;
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1;
    border-bottom: 1px solid #b11f29;
  }
  .col--price {
    margin-top: 25px;
  }
}

.product__header {
  text-align: right;
  margin-bottom: 25px;
}

.product__header--mobil {
  display: none;
}

@media (max-width: 601px) {
  .product__header {
    display: none;
    text-align: left;
  }
  .product__header--mobil {
    display: block;
    -webkit-flex: 1 1 100%;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

.product__main-title {
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.product__id {
  font-size: 15px;
  text-transform: uppercase;
  color: #aaaaaa;
}

.product__spec {
  padding-bottom: 25px;
}

@media (max-width: 601px) {
  .product__spec {
    padding-bottom: 0;
    border-bottom: 1px solid #b11f29;
  }
}

.product__caption {
  position: relative;
  display: inline-block;
  padding-right: 28px;
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 1;
  color: #5f5e5e;
  cursor: pointer;
}

.product__caption:after {
  content: '';
  position: absolute;
  top: -50%;
  right: 0;
  display: inline-block;
  width: 18px;
  height: 32px;
  background: url(../img/icon/sprites.png) -82px -29px no-repeat;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

.product__caption:hover:after {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

@media (max-width: 601px) {
  .product__caption {
    width: 100%;
    font-size: 22px;
    color: #000;
  }
  .product__caption:after {
    background: none;
    display: inline-block;
    top: 5px;
    right: 24px;
    width: 12px;
    height: 12px;
    border-left: 4px solid currentColor;
    border-top: 4px solid currentColor;
    -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  .product__caption:hover:after {
    -webkit-transform: rotate(225deg);
        -ms-transform: rotate(225deg);
            transform: rotate(225deg);
  }
}

.product__description {
  font-size: 15px;
  text-align: right;
  max-height: 150px;
  overflow: auto;
  padding: 0 15px;
}

@media (max-width: 601px) {
  .product__description {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
}

/* PRODUCT__REVIEWS */
.product__reviews-list {
  max-height: 140px;
  overflow: auto;
}

.product__reviews-item {
  margin-bottom: 20px;
  padding: 0 15px;
  font-size: 15px;
}

.product__reviews-item .reviews__autor {
  font-weight: bold;
}

/* PRODUCT-FOTO */
.product__foto-wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  min-width: 200px;
  max-width: 350px;
  margin: 0 auto;
}

.product__foto-wrap img {
  width: 100%;
  height: auto;
}

/* PRODUCT-SPEC */
.product__title {
  position: relative;
  display: inline-block;
  margin-bottom: 0;
  padding-right: 35px;
  line-height: 1;
  font-size: 24px;
  text-transform: uppercase;
}

.product__title:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: -5px;
  right: 0;
  width: 18px;
  height: 32px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  background: url(../img/icon/sprites.png) -82px -29px no-repeat;
}

@media (max-width: 601px) {
  .product__price {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}

.product__price button {
  display: block;
  margin: 12px auto;
}

@media (max-width: 601px) {
  .product__price button {
    margin: 0;
  }
}

.product__extra-wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  margin-top: 20px;
}

.product__extra-wrap .product__extra-link {
  position: relative;
  -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.product__extra-wrap .product__extra-img {
  position: relative;
  height: 160px;
  width: 50%;
  margin: 0 auto;
}

.product__extra-wrap .product__extra-img img {
  width: 100%;
  height: auto;
}

.product__extra-wrap .product__extra-img:after {
  content: '';
  transition: background 0.3s ease-in-out;
}

.product__extra-wrap .product__extra-img:hover:after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.3);
}

.product__extra-wrap .product__extra-img:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: inline-block;
  width: 24px;
  height: 24px;
  background: transparent url(../img/icon/spritesheet.png) -42px -31px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.product__extra-wrap .product__extra-img:hover:before {
  opacity: 1;
}

.product__extra-wrap .product__extra-link {
  overflow: hidden;
  height: 160px;
}

.product__cost {
  margin-bottom: 20px;
  font-size: 35px;
  color: #a70606;
}

@media (max-width: 601px) {
  .product__cost {
    display: none;
  }
  .product__cost--mobil {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 1;
  }
}

/* CATALOG */
.catalog {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.catalog__menu {
  -webkit-flex: 1 0 250px;
      -ms-flex: 1 0 250px;
          flex: 1 0 250px;
}

@media (max-width: 601px) {
  .catalog__menu {
    display: none;
  }
}

.catalog__header {
  -webkit-flex: 1 0 100%;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
}

@media (max-width: 601px) {
  .catalog__header {
    display: none;
  }
}

.catalog__header .sorting {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  border-bottom: 2px solid #636363;
}

.catalog__header .filtr {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.catalog__header .catalog__title {
  border-bottom: none;
}

.catalog__header .catalog__header-title {
  -webkit-flex-basis: 200px;
      -ms-flex-preferred-size: 200px;
          flex-basis: 200px;
}

.catalog__header .catalog__sorting {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-bottom: 15px;
  border-bottom: none;
}

.catalog__header .catalog__filtr {
  -webkit-flex: 0 0 calc(100% - 200px);
      -ms-flex: 0 0 calc(100% - 200px);
          flex: 0 0 calc(100% - 200px);
  padding: 6px 0;
  border-bottom: 2px solid #636363;
}

.catalog__title {
  font-size: 24px;
  text-transform: uppercase;
  padding-bottom: 5px;
  border-bottom: 2px solid #636363;
}

.catalog__nav {
  line-height: 1;
}

.catalog__nav .catalog__nav-link {
  display: block;
  position: relative;
  padding: 9px 0 9px 15px;
  text-transform: uppercase;
  color: #000;
}

.catalog__nav .catalog__nav-link:before {
  content: '';
  position: absolute;
  top: -6px;
  left: 1px;
  width: 20px;
  height: 39px;
}

.catalog__nav .catalog__nav-link:hover:before {
  background: url(../img/icon/sprites.png) -82px -71px no-repeat;
}

/* CATALOG SORTING */
.sort-list__title, .filtr-list {
  font-size: 15px;
  color: #7b7979;
}

.sort-list__item, .filtr-list__item {
  display: inline-block;
}

.sort-list__link, .filtr-list__link {
  position: relative;
  padding-right: 23px;
  margin-right: 25px;
  font-size: 15px;
  color: #7b7979;
}

.sort-list__link:hover, .filtr-list__link:hover {
  text-decoration: underline;
}

.sort-list__link:after, .filtr-list__link:after {
  content: '';
  position: absolute;
  top: 7px;
  right: 0;
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url(../img/icon/shape.svg) 0 0 no-repeat;
}

/* PAGINATION */
.pagination__item {
  display: inline-block;
  color: #7b7979;
}

.pagination__link {
  margin-right: 8px;
  color: #7b7979;
  font-size: 15px;
  text-align: center;
}

.pagination__link--active, .pagination__link:hover {
  border-bottom: 2px solid #b11f29;
}

.pagination__link svg {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

/*FILTR*/
/* CATALOG LIST */
.catalog__container {
  -webkit-flex: 1 0 calc(100% - 250px);
      -ms-flex: 1 0 calc(100% - 250px);
          flex: 1 0 calc(100% - 250px);
}

.catalog__list {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: 30px;
}

@media (max-width: 440px) {
  .catalog__list {
    -webkit-justify-content: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
}

.catalog__item {
  -webkit-flex: 0 0 25%;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  padding: 0 10px;
  position: relative;
  max-width: 220px;
  margin-bottom: 70px;
}

.catalog__item .catalog__item-link {
  display: block;
  position: relative;
  text-align: center;
  color: #000;
}

.catalog__item .catalog__item-pic {
  width: 100%;
  height: 260px;
  overflow: hidden;
  margin-bottom: 15px;
}

.catalog__item .catalog__item-pic img {
  width: 100%;
  height: auto;
}

.catalog__item .catalog__item-info {
  margin-bottom: 13px;
  font-size: 18px;
  -webkit-flex: 1 1 0%;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
  min-width: 0;
  word-wrap: break-word;
}

.catalog__item .catalog__item-price {
  color: #b11f29;
}

/* Footer */
.footer__social {
  display: none;
}

.footer {
  position: relative;
  z-index: 3;
  background: #f79b1d;
  box-shadow: 0 5px 6px 10px rgba(45, 42, 42, 0.5);
}

@media (max-width: 601px) {
  .footer {
    background: #fff;
    box-shadow: none;
    margin-top: 40px;
    padding-bottom: 25px;
    border-top: 13px solid #f79b1d;
  }
  .footer .nav__item {
    text-align: left;
    border-bottom: 1px solid #b11f29;
  }
  .footer .nav__link {
    display: block;
    padding-left: 16px;
    font-size: 18px;
    text-align: left;
    color: #222;
  }
  .footer .nav__link:hover:before {
    top: -1px;
    left: 7px;
    background: url(../img/icon/sprites.png) -82px -71px no-repeat;
  }
}

.footer .nav__list {
  margin: auto;
}

@media (max-width: 601px) {
  .footer .nav__list {
    display: block;
  }
}

.footer--sticky {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.79;
}

.footer--sticky .nav__list .nav__link {
  padding: 3px 8px;
}

.footer--sticky .nav__list .nav__link:before {
  top: -3px;
  left: -3px;
}

@media (max-width: 601px) {
  .footer--sticky {
    position: relative;
    opacity: 1;
  }
  .footer--sticky .nav__list .nav__link {
    padding: 12px 8px 12px 16px;
  }
  .footer--sticky .nav__list .nav__link:hover:before {
    top: -1px;
    left: 7px;
    background: url(../img/icon/sprites.png) -82px -71px no-repeat;
  }
}

@media screen and (max-width: 601px) {
  #mobil__header {
    display: block;
    padding: 10px 0;
    background: #fff;
    box-shadow: none;
    border-bottom: 3px solid #f79b1d;
  }
  .mobil__nav {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 600px;
    padding: 0 10px;
    margin: 0 auto;
    position: relative;
  }
  .mobil__logo {
    margin: auto;
  }
  .mobil__nav-list {
    position: absolute;
    left: -9999px;
    z-index: -10;
    opacity: 0;
    display: block;
    width: 390px;
    text-align: center;
    background: #c8c7c7;
    box-shadow: 3px 10px 30px rgba(0, 0, 0, 0.8);
    transition: left 0.3s ease-in-out;
  }
  .mobil__nav-list--active {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;
    z-index: 9;
  }
  .mobil__nav-list .nav__logo {
    padding: 6px 0;
    margin: auto;
  }
  .mobil__nav-item {
    text-align: left;
    background: #aaa7a7;
    border-bottom: 1px solid #8a8888;
    transition: all 0.3s ease-in-out;
  }
  .mobil__nav-item:hover {
    background: #676767;
  }
  .mobil__nav-link {
    position: relative;
    display: block;
    padding: 10px 30px;
    font-size: 20px;
    color: #fff;
    transition: all 0.3s ease-in-out;
  }
  .mobil__nav-link:hover {
    text-decoration: underline;
  }
  .mobil__nav-link:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 30px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-left: 4px solid currentColor;
    border-top: 4px solid currentColor;
    -webkit-transform: translateY(-50%) rotate(-135deg);
        -ms-transform: translateY(-50%) rotate(-135deg);
            transform: translateY(-50%) rotate(-135deg);
  }
  .mobil__nav-dropdown {
    background: #8a8888;
  }
  .dropdown__item {
    transition: all 0.3s ease-in-out;
  }
  .dropdown__item:hover {
    background: #6d6b6b;
    box-shadow: 3px 0 3px rgba(0, 0, 0, 0.5);
  }
  .dropdown__link {
    display: block;
    padding: 5px 5px 5px 30px;
    text-transform: none;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    font-weight: normal;
    text-align: left;
  }
  .dropdown__link:hover {
    text-decoration: underline;
  }
  .dropdown__title {
    padding: 10px 0;
    border-bottom: 1px solid #aaa7a7;
    text-align: center;
    font-size: 18px;
    color: #fff;
  }
  .cart__link {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    width: 46px;
    height: 36px;
    text-indent: -1000px;
    overflow: hidden;
    background: url(../img/icon/sprites.png) -75px -199px no-repeat;
  }
  .mobil__nav-cart:hover > .cart-form {
    top: 85%;
    right: 5px;
    opacity: 1;
    z-index: 9;
  }
  .nav__togge {
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1;
  }
  #mobil__sub-menu {
    display: block;
    border-bottom: 1px solid #b11f29;
  }
  .mobil__user-login {
    position: relative;
    text-align: center;
    border-bottom: 12px solid #b11f29;
  }
  .mobil__user-link {
    display: block;
    font-size: 12px;
    color: #3e3d3d;
    text-transform: uppercase;
  }
  .mobil__user-link .mobil__user-icon {
    position: relative;
    top: 3px;
    left: -2px;
    width: 29px;
    height: 31px;
    display: inline-block;
    background: url(../img/icon/sprites.png) -45px -118px no-repeat;
  }
  .mobil__serch-input {
    border: none;
    outline: none;
    padding: 1px 5px;
    width: calc(100% - 50px);
    height: 30px;
    color: #898888;
    font-size: 11px;
    text-transform: uppercase;
    text-align: right;
  }
  .mobil__user-login:hover > .login-form {
    top: 100%;
    left: 50%;
    opacity: 1;
    z-index: 10;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 100%;
  }
  .mobil__user-login:hover > .login-form .login-form__input {
    width: 100%;
  }
  #mobil__slider {
    display: block;
    padding: 40px 0;
    border-bottom: 1px solid #b11f29;
  }
  .mobil__slider-item {
    width: 200px;
    text-align: center;
  }
  .mobil__slider-item .mobil__slider-link {
    display: block;
    position: relative;
    text-align: center;
    font-size: 18px;
    color: #000;
  }
  .mobil__slider-item .mobil__slider-price {
    color: #b11f29;
  }
  .mobil__slider-item .mobil__slider-pic {
    width: 200px;
    font-size: 0;
    margin: 0 auto;
  }
  .mobil__slider-item .mobil__slider-pic img {
    width: 100%;
  }
  #mobil__main {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 30px;
  }
  .mobil-stn {
    padding-top: 25px;
  }
  .mobil-stn__banner {
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 295px;
    width: 100%;
    margin-bottom: 20px;
  }
  .mobil-stn__banner .mobil-stn__header {
    margin-bottom: 20px;
    width: 320px;
    text-align: center;
  }
  .mobil-stn__banner .mobil-stn__header-link {
    position: relative;
    padding: 15px 10px;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
  }
  .mobil-stn__banner .mobil-stn__header-link:before {
    content: '';
    position: absolute;
    top: 3px;
    left: 0px;
    display: inline-block;
    height: 46px;
    width: 21px;
    background: url(../img/icon/sprites.png) -130px -183px no-repeat;
  }
  .mobil-stn__banner--1 {
    background: url(../img/mobil-slide1.png) center center/cover;
  }
  .mobil-stn__banner--1 .mobil-stn__header {
    background: rgba(177, 31, 41, 0.85);
  }
  .mobil-stn__banner--2 {
    background: url(../img/mobil-slide2.png) center center/cover;
  }
  .mobil-stn__banner--2 .mobil-stn__header-link:before {
    background: url(../img/icon/sprites.png) -82px -71px no-repeat;
  }
  .mobil-stn__banner--2 .mobil-stn__header {
    background: rgba(247, 155, 29, 0.85);
  }
  .mobil-stn__banner--3 {
    background: url(../img/mobil-slide3.png) center center/cover;
  }
  .mobil-stn__banner--3 .mobil-stn__header {
    background: rgba(177, 31, 41, 0.85);
  }
  .mobil-stn__nav {
    border-top: 1px solid #b11f29;
    border-bottom: 1px solid #b11f29;
  }
  .mobil-stn__nav .mobil-stn__nav-link {
    position: relative;
    display: block;
    padding: 10px 15px 10px 25px;
    color: #000;
    font-size: 20px;
    text-transform: uppercase;
  }
  .mobil-stn__nav .mobil-stn__nav-link:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 30px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-left: 4px solid currentColor;
    border-top: 4px solid currentColor;
    -webkit-transform: translateY(-50%) rotate(135deg);
        -ms-transform: translateY(-50%) rotate(135deg);
            transform: translateY(-50%) rotate(135deg);
  }
  /*CATALOG*/
  .catalog__title-mobil {
    position: relative;
    display: block;
    padding: 10px 10px 10px 20px;
    font-size: 20px;
    color: #4f4e4e;
    font-weight: normal;
    border-bottom: 1px solid #b11f29;
  }
  .catalog__title-mobil:before {
    content: '';
    display: block;
    position: absolute;
    top: 1px;
    left: 8px;
    display: inline-block;
    height: 46px;
    width: 21px;
    background: url(../img/icon/sprites.png) -82px -71px no-repeat;
  }
  /*PRODUCT*/
  .product__mobil {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-top: 40px;
    padding-bottom: 24px;
  }
  .product__extra {
    display: none;
  }
  .product__reviews {
    margin-top: 30px;
    border-bottom: 1px solid #b11f29;
  }
  .product__title {
    font-size: 18px;
    text-transform: none;
  }
  .product__title:after {
    content: none;
  }
  .product__range-wrapper {
    display: block;
    margin-bottom: 10px;
    width: 100%;
  }
  .product__amount {
    display: block;
    position: relative;
  }
  /*FOOTER*/
  .footer__social {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    border-top: 10px solid #b11f29;
  }
  .mobil__logo--footer {
    margin: 23px 0 10px 0;
    width: 100%;
    text-align: center;
  }
  .footer__social-list {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__social-item {
    width: 36px;
    height: 36px;
    margin-right: 8px;
    border-radius: 50%;
  }
  .footer__social-item .footer__social-link {
    display: block;
    width: 36px;
    height: 36px;
    background: url(../img/icon/sprites.png) no-repeat;
  }
  .footer__social-item .footer__social-link--fb {
    background-position: -115px 0;
  }
  .footer__social-item .footer__social-link--vk {
    background-position: 0 -203px;
  }
  .footer__social-item .footer__social-link--ins {
    background-position: 0 -113px;
  }
  .footer__social-item .footer__social-link--tw {
    background-position: 0 -158px;
  }
  .footer__social-item .footer__social-link--pin {
    background-position: -85px -154px;
  }
}

.slider {
  height: 610px;
  position: relative;
}

@media (max-width: 601px) {
  .slider {
    display: none;
  }
}

.slider .slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slider .slick-dots {
  bottom: 13px;
}

.slider .slick-dots li button::before {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid #fff;
  background: #b11f29;
  opacity: 1;
  box-shadow: 3px 1px 2px rgba(0, 0, 0, 0.5);
}

.slider .slick-dots li button::before {
  color: transparent;
}

.slider .slick-dots li.slick-active button::before {
  background: #f79b1d;
  color: transparent;
  opacity: 1;
}

.slide {
  height: 610px;
}

.slide--1 {
  background: url(../img/slide-fase.jpg) center center/cover no-repeat;
}

.slide--2 {
  background: url(../img/slide-fase.jpg) center center/cover no-repeat;
}

.slide--3 {
  background: url(../img/slide-fase.jpg) center center/cover no-repeat;
}

.slide--4 {
  background: url(../img/slide-fase.jpg) center center/cover no-repeat;
}

.slide--5 {
  background: url(../img/slide-fase.jpg) center center/cover no-repeat;
}

.slide__content, .banner .image__content {
  background: rgba(0, 0, 0, 0.5);
  max-width: 850px;
  padding: 35px 38px 10px 75px;
  text-align: right;
  position: relative;
  top: 53%;
}

.slide__content h1, .banner .image__content h1 {
  margin-bottom: 10px;
  font-size: 29px;
  color: #fff;
  line-height: 1;
}

.slide__content p, .banner .image__content p {
  font-size: 18px;
  line-height: 1;
  color: #fff;
}

.slide__content a, .banner .image__content a {
  text-align: right;
  font-size: 15px;
  color: #010101;
  border-bottom: 2px solid #56595d;
}

.slide__content a:hover, .banner .image__content a:hover {
  border-bottom-color: transparent;
}

.slide__content .slide__lead, .banner .image__content .slide__lead {
  margin-bottom: 5px;
  text-align: left;
  position: relative;
}

.slide__content .slide__lead:before, .banner .image__content .slide__lead:before {
  content: '';
  position: absolute;
  top: -28px;
  left: -30px;
  display: block;
  width: 40px;
  height: 100px;
  background: url(../img/icon/sprites.png) -110px -45px no-repeat;
}

/* catalog slider */
.banner {
  margin-bottom: 30px;
  height: 188px;
  position: relative;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
}

@media (max-width: 601px) {
  .banner {
    display: none;
  }
}

.banner .image {
  height: 188px;
}

.banner .image--1 {
  background: url(../img/banner.jpg) center center/cover no-repeat;
}

.banner .image--2 {
  background: url(../img/banner.jpg) center center/cover no-repeat;
}

.banner .image--3 {
  background: url(../img/banner.jpg) center center/cover no-repeat;
}

.banner .image--4 {
  background: url(../img/banner.jpg) center center/cover no-repeat;
}

.banner .image--5 {
  background: url(../img/banner.jpg) center center/cover no-repeat;
}

.banner .image__content {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background: none;
  text-align: left;
}

.banner .image__content h1 {
  color: #b11f29;
}

.banner .image__content p {
  color: #f79b1d;
}

.banner .image__content .image__lead {
  position: relative;
}

.banner .image__content .image__lead:before {
  content: '';
  position: absolute;
  top: -28px;
  left: -30px;
  display: block;
  width: 40px;
  height: 100px;
  background: url(../img/icon/sprites.png) 0 0 no-repeat;
}

/*mobil slider*/
@media screen and (max-width: 601px) {
  #mobil__slider .slick-prev, #mobil__slider .slick-next {
    width: 37px;
    height: 37px;
    background: #6f6e6e;
    border-radius: 50%;
    z-index: 1;
  }
  #mobil__slider .slick-prev {
    left: 21px;
  }
  #mobil__slider .slick-next {
    right: 21px;
  }
  #mobil__slider .slick-prev::before, #mobil__slider .slick-next::before {
    content: '';
    font-family: Verdana;
    opacity: 1;
    font-size: 0;
    text-align: center;
  }
  #mobil__slider .slick-prev::before {
    width: 0;
    height: 0;
    margin-right: 3px;
    border-style: solid;
    border-width: 7px 13px 7px 0;
    border-color: transparent #ffffff transparent transparent;
  }
  #mobil__slider .slick-next::before {
    width: 0;
    height: 0;
    margin-left: 3px;
    border-style: solid;
    border-width: 7px 0 7px 13px;
    border-color: transparent transparent transparent #ffffff;
  }
}

.cart-form__btn {
  background: transparent;
  color: #fff;
  font-size: 12px;
}

.cart-form__btn:hover {
  text-decoration: underline;
}

.login-form__btn {
  background: transparent;
  font-size: 9px;
  color: #fff;
}

.login-form__btn:hover {
  text-decoration: underline;
}

.user-form__button, .mobil__serch-button {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  vertical-align: middle;
  background: transparent url(../img/icon/spritesheet.png) -42px -31px;
  cursor: pointer;
}

.btn {
  position: relative;
  padding: 1em;
  border: 1px solid currentColor;
  font-family: Verdana, sans-serif;
  line-height: 1;
  color: #fff;
  background: transparent;
  overflow: hidden;
}

.btn:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  width: 100%;
  height: 0;
  background: #fff;
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
      -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
          transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transition: all 0.3s;
}

.btn:active:after {
  height: 400%;
  opacity: 1;
}

.btn:hover:after {
  height: 300%;
  opacity: 1;
}

.btn--red {
  padding: 0.6em 1.7em;
  background: #a70606;
  font-size: 1.2em;
  transition: all 0.3s;
  z-index: 1;
}

.btn--red:hover, .btn--red:active {
  color: #a70606;
}

.btn--white {
  padding: 1.1em 0.7em;
  color: #a70606;
  font-size: 0.75em;
}

@media (max-width: 601px) {
  .btn--white {
    display: none;
  }
}

.btn--white:hover, .btn--white:active {
  color: #fff;
}

.btn--white:after {
  background: #a70606;
}

.btn--orange {
  z-index: 1;
  width: 46px;
  height: 28px;
  padding: 0.01em 0.6em;
  background: #f79b1d;
  border: none;
  font-weight: bold;
}

.btn--orange:hover, .btn--orange:active {
  color: #f79b1d;
}

.btn--catalog-form {
  width: 38px;
  height: 28px;
  padding: 0;
  vertical-align: middle;
  border: 2px solid #f79b1d;
  background: #fff url(../img/icon/sprites.png) -44px -59px no-repeat;
  transition: all 0.3s;
}

.btn--catalog-form:hover, .btn--catalog-form:active, .btn--catalog-form:focus {
  background: #f79b1d url(../img/icon/sprites.png) -45px -87px no-repeat;
}

.menu-toggle {
  position: relative;
  width: 47px;
  height: 37px;
  border-top: 8px solid #3e3d3d;
  border-bottom: 8px solid #3e3d3d;
  background: none;
  z-index: 10;
}

.menu-toggle:after {
  content: '';
  display: block;
  position: absolute;
  top: 7px;
  left: 0;
  width: 100%;
  height: 8px;
  background: #3e3d3d;
}

.mobil__serch-button {
  background: transparent url(../img/icon/sprites.png) -51px -29px no-repeat;
}

html {
  font-size: 16px;
  font-family: Verdana, sans-serif;
  height: 100%;
  width: 100%;
}

body {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  line-height: 1.42;
  width: 100%;
}

.wrapper {
  overflow: hidden;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  min-height: 100%;
}

footer {
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.nav, .sub-nav, .product__container, .catalog {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
  position: relative;
}

.nav, .product__container, .product__size, .catalog, .catalog__header .sorting, .catalog__header .catalog__sorting, .catalog__list, .catalog__item-form {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/*SERCH*/
.user-form__input {
  position: absolute;
  width: 0;
  border: none;
  outline: none;
  z-index: -10;
  transition: right .3s ease;
}

.user-form__input--active {
  padding: 0 10px;
  width: 235px;
  height: 24px;
  right: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 5;
  box-shadow: 1px 0px 2px 3px rgba(17, 17, 17, 0.3);
  transition: width .3s ease;
}

/*login*/
.login-form {
  position: absolute;
  top: -9999px;
  opacity: 0;
  z-index: -10;
  width: 185px;
  padding: 24px 7px 5px 7px;
  border-top: 3px solid #f6f5f3;
  background: rgba(17, 17, 17, 0.8);
  text-align: center;
  transition: opacity 0.3s ease;
}

.login-form .login-form__row {
  text-align: right;
  margin-bottom: 8px;
}

.login-form .login-form__label {
  font-size: 11px;
  color: #fff;
}

.login-form .login-form__input {
  width: 121px;
  padding: 0 5px;
}

.login-form .login-form__link {
  display: block;
  margin-bottom: 11px;
  font-size: 9px;
  color: #fff;
  text-align: right;
}

.login-form .login-form__link:hover {
  text-decoration: underline;
}

.user__item:hover > .login-form {
  top: 90%;
  left: -30px;
  opacity: 1;
  z-index: 10;
  transition: opacity 0.3s ease;
}

/*cart*/
.cart-form {
  position: absolute;
  top: -9999px;
  z-index: -10;
  opacity: 0;
  width: 185px;
  padding: 10px 10px 5px 10px;
  background: rgba(17, 17, 17, 0.8);
  border-top: 3px solid #f6f5f3;
  text-align: center;
}

.cart-form span {
  color: #fff;
  display: inline-block;
}

.cart-form .cart-form__row {
  margin-bottom: 10px;
  text-align: left;
}

.cart-form .cart-form__total,
.cart-form .cart-form__goods {
  font-size: 11px;
  width: 60px;
}

.cart-form .cart-form__amount,
.cart-form .cart-form__summ {
  font-size: 15px;
  margin-left: 5px;
}

.user__item:hover > .cart-form {
  top: 90%;
  left: 50%;
  opacity: 1;
  z-index: 10;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  transition: opacity 0.3s ease;
}

/* catalog item form */
.catalog__item-input {
  width: 46px;
  height: 28px;
  background: #f79b1d;
  border: none;
  outline: none;
  color: #fff;
  font-size: 18px;
  text-align: center;
}

/*product__form*/
.product__form {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-bottom: 40px;
}

.product__range {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.product__price {
  margin-top: 50px;
}

.product__amount-input {
  width: 167px;
  height: 45px;
  padding-left: 80px;
  border: 1px solid #a3a1a1;
  font-size: 20px;
  color: #979797;
}

.product__amount-label {
  position: absolute;
  left: 0;
  height: 45px;
  width: 65px;
  padding: 3px;
  font-size: 20px;
  color: #3e3d3d;
  background: #cdcccc;
  border: 1px solid #a3a1a1;
}

.product__range-wrapper {
  -webkit-flex: 1 auto;
      -ms-flex: 1 auto;
          flex: 1 auto;
  text-align: left;
  margin-right: 5px;
}

.product__select-wrapper {
  position: relative;
  overflow: hidden;
  height: 40px;
  width: 100%;
  border: 1px solid #817f7f;
  background: url(../img/select.jpg) no-repeat right center;
  cursor: pointer;
}

.product__select-wrapper .product__select {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  font-size: 18px;
  color: #817f7f;
  background: transparent;
}

/*# sourceMappingURL=main.css.map */