.form__row {
 margin-bottom: 20px;
 &:last-of-type {
  margin-bottom: 0;
 }
 input, textarea{
  padding: 13px;
  background-color: var(--input);
 }
 textarea {
  height: 150px;
 }
 .btn {
  display: block;
  max-width: 200px;
  margin-left: auto;
  @include bp(500px) {
   margin: 0 auto;
   max-width: 100%;
   width: 100%;
  }
 }
}