@charset "UTF-8";
html {
  height: 100%;
  width: 100%;
  font: 16px/1.2 'Lato', sans-serif;
  color: #3c3c3c;
}

body {
  width: 100%;
  height: 100% !important;
}

.wrapper {
  position: relative;
  min-height: 100%;
  height: auto !important;
}

.wrapper:after {
  content: '';
  display: block;
  height: 160px;
}

.container {
  max-width: 900px;
  min-width: 300px;
  margin: 0 auto;
  position: relative;
  border: 2px solid;
  border-top: none;
  padding: 5.5% 13.5% 45px 13.5%;
}

.section__title {
  text-align: center;
  position: relative;
  top: 15px;
  white-space: nowrap;
  font: 700 34px/1 sans-serif;
  text-transform: uppercase;
  overflow: hidden;
  max-width: 900px;
  margin: 0 auto;
}

.section__title:before, .section__title:after {
  content: '';
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 2px;
  background: #3c3c3c;
}

.section__title:before {
  left: -95px;
  margin: 0 0 0 -100%;
}

.section__title:after {
  left: 95px;
  margin: 0 -100% 0 0;
}

p {
  text-align: center;
  line-height: 1.5;
}

p + p {
  padding: 40px 0 0 0;
}

footer {
  height: 160px;
  margin-top: -160px;
  position: relative;
}

.header .container, .footer .container {
  border: none;
}

.header {
  background: #b4bdcc url(../img/bg-top.jpg) center right/cover no-repeat;
  color: #fff;
  text-transform: uppercase;
  padding: 10vh 0 10vh 0;
  margin: 0 0 145px 0;
}

.header__logo {
  text-align: center;
  padding: 0 0 90px 0;
}

.header__description {
  max-width: 580px;
  text-align: center;
  margin: 0 auto;
}

.header__title {
  font: 700 54px/1.2 Lato;
  padding: 0 0 50px 0;
}

.header__title span {
  display: block;
}

.header__text {
  font: 400 15px/1.2 Lato;
  padding: 0 0 230px 0;
}

.header__mause {
  height: 37px;
  width: 23px;
  border: 2px solid;
  border-radius: 14px;
  color: #fff;
}

.header__mause:before {
  content: '';
  display: block;
  width: 4px;
  height: 4px;
  margin: 8px auto 0 auto;
  background: #fff;
  border-radius: 2px;
}

.header__mause:after {
  content: '↓';
  display: block;
  font-size: 20px;
  margin: 10px 0 0 0;
  -webkit-animation: mouseDown 1s infinite;
          animation: mouseDown 1s infinite;
}

@-webkit-keyframes mouseDown {
  50% {
    -webkit-transform: translateY(25%);
    transform: translateY(25%);
  }
}

@keyframes mouseDown {
  50% {
    -webkit-transform: translateY(25%);
    transform: translateY(25%);
  }
}

.about {
  margin: 0 0 160px 0;
}

.services {
  background: #b4bdcc url(../img/bg-middle.jpg) center center/cover fixed no-repeat;
  color: #fff;
  padding: 115px 0;
  margin: 0 0 106px 0;
}

.services .section__title:before, .services .section__title:after {
  background: #fff;
}

.services .container {
  border-color: #fff;
}

.we-do {
  margin: 0 0 115px 0;
}

.we-do__item {
  margin-top: 112px;
}

.we-do__item:first-of-type {
  margin: 50px 0 0 0;
}

.we-do__item-icon {
  text-align: center;
  margin: 0 0 40px 0;
}

.we-do__item-icon .item-icon {
  fill: #3c3c3c;
}

.we-do__item-header {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 40px 0;
}

.works__list {
  display: table;
  width: 100%;
  margin: 0 0 140px 0;
}

.works__list-row {
  display: table-row;
  width: 100%;
  height: 100%;
}

.works__item {
  display: table-cell;
  text-align: left;
  position: relative;
  padding: 5px 0;
  font-size: 0;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.5s ease-in-out;
}

.works__item:nth-of-type(2) {
  padding: 0 10px;
  width: 42.1%;
}

.works__item:first-of-type, .works__item:last-of-type {
  width: 28.95%;
}

.works__item:hover {
  opacity: 1;
}

.works__item img {
  width: 100%;
}

.works__title {
  position: absolute;
  bottom: 40px;
  left: 40px;
  color: #fff;
  font-size: 34px;
  text-transform: uppercase;
}

.contacts .container {
  text-align: center;
}

.btn {
  color: #fff;
  text-transform: uppercase;
  background: #3c3c3c;
  white-space: nowrap;
  padding: 1.2rem 34.93%;
  border: 2px solid;
  margin: 45px 0 0 0;
  transition: all 0.5s ease-in-out;
}

.btn:hover {
  background: #fff;
  color: #3c3c3c;
}

.footer {
  text-align: center;
}

.footer__logo,
.footer__copyrite {
  display: inline-block;
  vertical-align: middle;
}

.footer__logo {
  width: 20%;
}

@media screen and (max-width: 900px) {
  html {
    font-size: 12px;
  }
  .works__list {
    display: block;
  }
  .works__list-row {
    display: block;
  }
  .works__item {
    display: inline-block;
    width: 100%;
  }
  .works__item:first-of-type, .works__item:last-of-type {
    width: 100%;
  }
  .works__item:nth-of-type(2) {
    width: 100%;
    padding: 10px 0;
  }
  .works__title {
    font-size: 2rem;
    left: 10px;
  }
}

@media screen and (max-width: 800px) {
  .container {
    max-width: 600px;
  }
  .section__title {
    max-width: 600px;
  }
}

@media screen and (max-width: 550px) {
  .container {
    margin: 0 10px;
  }
  .section__title {
    width: calc(100% - 20px);
  }
  .section__title:before {
    left: -45px;
  }
  .section__title:after {
    left: 45px;
  }
}

@media screen and (max-width: 450px) {
  .header {
    background-position-x: 89%;
  }
  .services {
    background-position-x: 69%;
  }
}

/*# sourceMappingURL=style.css.map */