html {
 font-family: $ff;
 color: var(--text);
 @include fFS(13px, $fz, 320px, 1900px, 20px);
 height: -webkit-fill-available;
}

body {
 display: flex;
 flex-direction: column;
 min-height: -webkit-fill-available;
}

.wrapper {
 position: relative;
 min-width: 320px;
 min-height: 100vh;
 height: 100%;
 flex-grow: 1;
 // overflow: hidden;
}

.footer {
 flex-grow: 0;
}

a {
 display: inline-block;
 vertical-align: baseline;
}

img {
 display: inline-block;
}

.container {
 max-width: $container;
 margin: 0 auto;
 padding: 0 10px;
}

.section {
 padding: 5em 0;
 @include bp(750px) {
  padding: 2em 0;
 }
}

.accent {
 color: var(--accent);
}

.center {
 text-align: center;
}

.centred {
 margin: auto;
}

.light {
 color: #fff;
}

.desk {
 @include bp(750px) {
  display: none;
 }
}

.mobil {
 display: none;
 @include bp(750px) {
  display: flex;
 }
}

.section__title {
 margin-bottom: 10px;
 font-size: 1.65em;
 font-weight: 700;
 text-transform: uppercase;
 text-align: center;
 + .section__row {
  margin-top: 2em;
 }
 &.quotes {
  position: relative;
  &:before {
   content: "";
   position: absolute;
   top: 50%;
   left: -5%;
   transform: translateY(-40%);
   width: 290px;
   height: 200px;
   background: url(../img/bg/qwot.png) center center/contain no-repeat;
   @include bp(1400px) {
    left: -3%;
   }
   @include bp(1150px) {
    display: none;
   }
  }
 }
}

.section__lead {
 margin-bottom: 1.5em;
 font-size: 1.25em;
 text-align: center;
}

.section__caption {
 font-size: 1.25em;
 margin-bottom: 0.7em;
 font-weight: 700;
 color: var(--caption-color);
}

.section__text {
 font-size: 16px;
 p + p {
  margin-top: 1em;
 }
}
