$container: 1200px;

$fz: 16px;
$ff: "Lato", Arial, sans-serif;

:root {
 --text: #111;
 --accent: #fe9153;
 --caption-color: #566ecf;
 --itembg: #c4c4c4;
 --footerbg: #e5e5e5;
 --lightbg: #fff5ef;
 --iconbg: #6885fa;
 --link: #001e7a;
 --reviews: #f9f9f9;
 --btn: #ff7c32;
 --btn-hov: #ffa674;
}
