:root {
 --container: 360px;

 --fz: 12px;

 --text-ff: "Noto", sans-serif;
 --header-ff: "Open Sans", sans-serif;
 --accent-ff: "Mukta", sans-serif;

 --text: #333;
 --light: #999;
 --medium: #878786;
 --grey: #707070;
 --lightest: #ccc;
 --light-bg: #f5f4f2;
 --primary: #ffb000;
 --callout: #ffebbf;
 --success: #0eb44d;
 --success-light: #e7f7ed;
 --attention: #e5243f;
 --divider: #ebebeb;
}
