.header {
  position: relative;
  .container {
    position: relative;
  }
}

.header-top {
  background-color: $dark;
}

.logo {
  position: absolute;
  top: -38px;
  left: 20px;
  width: 170px;
  z-index: 4;
  @include breakpoint(965px) {
    width: 140px;
  }
  @include breakpoint (600px) {
    position: relative;
    left: 0;
    display: inline-block;
    vertical-align: middle;
    width: 80px;
  }
  &.mobile {
    display: none;
    position: relative;
    top: 0;
    @include breakpoint (600px) {
      display: inline-block;
    }
  }
  &.descktop {
    @include breakpoint (600px) {
      display: none;
    }
  }
}

.header-top__menu {
  @include flex;
  margin-left: 200px;
  @include breakpoint(965px) {
    margin-left: 155px;
  }
  @include breakpoint (600px) {
    display: inline-block;
    vertical-align: middle;
    margin-left: 0;
    width: calc(100% - 90px);
  }
}
.header-top__tagline,
.header-top__menu-list {
  font-size: 10px;
  text-transform: uppercase;
}

.header-top__tagline {
  color: $light-text;
  @include breakpoint (600px) {
    margin-left: 1.4em;
    padding-top: 5px;
  }
}

.header-top__menu-list {
  @include flex;
  li {
    a {
      display: block;
      padding: 1.4em;
      color: $light-text;
    }
    &:hover {
      a {
        color: #fff;
      }
    }
    &.user-item {
      position: relative;
      z-index: 2;
      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        right: 20px;
        border: 0 solid transparent;
        border-left-width: 4px;
        border-right-width: 4px;
        border-top: 4px solid $accent;
        transform: translateY(-50%);
      }
      &:hover {
        .dropdown {
          bottom: auto;
          top: 100%;
        }
      }
      a {
        color: #fff;
        padding-right: 35px;
      }
    }
  }
}

.dropdown {
  position: absolute;
  // bottom: 100%;
  top: -500%;
  left: 0;
  width: 100%;
  background-color: $dark;
  transition: top 0.5s ease;
}

@media (max-width: 910px) {
  .header-top__menu-list > li:not(.user-item) {
    display: none;
  }
}
