.close-btn {
  position: absolute;
  top: 5%;
  right: 5%;
}

.menu-trigger {
  position: relative;
  display: none;
  margin-left: 150px;
  width: 50px;
  height: 30px;
  padding: 13px 5px;
  background-color: #4c4c4c;
  background-clip: content-box;
  &:before,
  &:after {
    content: "";
    height: 4px;
    position: absolute;
    left: 5px;
    right: 5px;
    background-color: #4c4c4c;
    transition: top 0.5s, transform 0.5s;
  }
  &:before {
    top: 0;
  }
  &:after {
    bottom: 0;
  }
  &.open {
    background-color: transparent;
    &:before {
      top: 13px;
      transform: rotate(-45deg);
    }
    &:after {
      bottom: 13px;
      transform: rotate(45deg);
    }
  }
  @include breakpoint(965px) {
    display: block;
  }
  @include breakpoint(600px) {
    margin-left: 0;
  }
}

.btn {
  position: relative;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 1.5em 2em;
  border: 2px solid currentColor;
  color: #fff;
  transition: all .5s $transit;
  &:hover {
    color: $accent;
  }
  &--arrow {
    padding: 1.5em 4em 1.5em 2em;
    &:after {
      content: '\0203A';
      position: absolute;
      right: 1em;
      top: 50%;
      transform: translateY(-55%);
      display: inline-block;
      font-size: 20px;
      line-height: 1;
      transition: inherit;
    }
    &:hover {
      &:after {
        right: 0.5em;
      }
    }
  }
  &--black {
    color: $dark;
  }
  &--gray {
    color: $dark;
    border-color: #c4c4c4;
    &:hover {
      border-color: currentColor;
    }
  }
}


.arrow-btn {
  position: relative;
  display: block;
  width: 70%;
  padding: 1em 2em;
  margin: 0 auto;
  &:before, &:after {
   content: '';
   position: absolute;
   border: 2px solid transparent;
   width: 0;
   height: 0;
   // transition: all .5s $transit;
  }
  &:before{
   top: 0;
   left: 0;
  }
  &:after {
   right: 0;
   bottom: 0;
  }
  &:hover {
   &:before, &:after {
    width: 100%;
    height: 100%;
   }
   &:before {
    border-top-color: $accent;
    border-right-color: $accent;
    transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
   }
   &:after {
    border-bottom-color: $accent;
    border-left-color: $accent;
    transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
  }
  span {
   left: 20px;
  }
  }   
   span {
    position: relative;
    left: 0;
    display: block;
    width: 32px;
    height: 2px;
    margin: 0 auto;
    background-color: $accent;
    transition: left .5s $transit;
    &:after {
     content: '';
     display: block;
     position: absolute;
     top: 50%;
     right: 0;
     width: 8px;
     height: 8px;
     background: transparent;
     border-right: 2px solid $accent;
     border-bottom: 2px solid $accent;
     transform: translateY(-50%) rotate(-45deg); 
    }
   }
  }

.top-btn {
  position: absolute;
  top: -22px;
  left: 50%;
  display: inline-block;
  width: 44px;
  height: 44px;
  background: #eb5e00;
  background: -moz-linear-gradient(-45deg, #eb5e00 0%, #eb5e00 50%, #ff6600 50%, #ff6600 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #eb5e00), color-stop(50%, #eb5e00), color-stop(50%, #ff6600), color-stop(100%, #ff6600));
  background: -webkit-linear-gradient(-45deg, #eb5e00 0%, #eb5e00 50%, #ff6600 50%, #ff6600 100%);
  background: -o-linear-gradient(-45deg, #eb5e00 0%, #eb5e00 50%, #ff6600 50%, #ff6600 100%);
  background: -ms-linear-gradient(-45deg, #eb5e00 0%, #eb5e00 50%, #ff6600 50%, #ff6600 100%);
  background: linear-gradient(135deg, #eb5e00 0%, #eb5e00 50%, #ff6600 50%, #ff6600 100%);
  transform: translateX(-50%) rotate(45deg);
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 17px;
    right: 13px;
    width: 14px;
    height: 14px;
    background: transparent;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(180deg);
  }
}