.slider {
 // margin-top: 112px;
}

.swiper-container {
 min-height: 790px;
 height: calc(100vh - 113px);
 @include breakpoint(965px) {
  min-height: auto;
 }
}

.swiper-slide {
 background-position: center center;
 background-size: cover;
 background-repeat: no-repeat;
 .container {
  display: flex;
  height: 100%;
 }
}

.swiper-pagination-bullet {
 background: $light-text;
 vertical-align: middle;
 opacity: 1;
}

.swiper-pagination-bullet-active {
 width: 12px;
 height: 12px;
 background: #fff;
}

.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
 bottom: 10%;
}

.trademark {
 margin: 10% auto 0 auto;
 text-align: center;
}

.trademark__logo {
 position: relative;
 width: 76px;
 margin: 0 auto;
 padding-bottom: 35px;
 border-bottom: 2px solid $accent;
 @include breakpoint(600px) {
  padding-bottom: 15px;
 } 
}

.trademark__lead {
 margin: 15% 0 8% 0;
 @include breakpoint(600px) {
  margin: 10% 0;
 }
}

.trademark__title {
 font-weight: bold;
  @include fluidFontSize(40px, 80px, 480px, 1280px, 18px);
  margin-bottom: 20px;
}