html {
  font-family: $ff;
  line-height: 1;
  @include fluidFontSize(16px, 20px, 480px, 1280px, 18px);
  font-weight: normal;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
}

.wrapper {
  position: relative;
  min-width: 320px;
  min-height: 100vh;
  flex-grow: 1;
  background-color: #f4f4f4;
  overflow: hidden;
}

.footer {
 flex-grow: 0;
}

.container {
 max-width: $container;
 min-width: 320px;
 padding: 0 20px;
 margin: 0 auto;
}

.vidres{
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
}

.vidres iframe, .vidres embed, .vidres object{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

img{
 display: block;
 max-width: 100%;
 height: auto;
 border: none;
 outline: none;
 font-size: 0;
 background: transparent;
}

.white {
  color: #fff;
}

.accent {
  color: $accent;
}

.section-title {
  @include fluidFontSize(25px, 50px, 480px, 1280px, 18px);
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.section-text {
  text-align: center;
  color: $light-text;
}