$ff: 'ProximaNova', 'Roboto', 'Arial', sans-serif;
$container: 1220px;


$dark: #101010;
$light: #e1e1e1;
$accent: #fc7c27;
$dark-accent: #eb5e00;
$light-text: #868686;

$transit: cubic-bezier(0.445, 0.05, 0.55, 0.95);