.menu-trigger {
 display: none;
 position: relative;
 width: 50px;
 height: 50px;
 padding: 24px 14px;
 background-clip: content-box;
 background-color: var(--text);
 cursor: pointer;
 top: 0;
 transition: 0.5s ease-in-out;
 z-index: 11;
 &:before,
 &:after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  left: 14px;
  right: 14px;
  height: 2px;
  background-color: var(--text);
  transform-origin: center center;
  transition: 0.5s ease-in-out;
 }
 &:before {
  transform: translateY(-5px);
 }
 &:after {
  transform: translateY(5px);
 }
 &.open {
  background-color: transparent;
  &:before {
   transform: translateY(0) rotate(45deg);
  }
  &:after {
   transform: translateY(0) rotate(-45deg);
  }
 }
 @include bp(900px) {
  display: block;
 }
}

.btn {
 position: relative;
 padding: 1.2em 2em;
 border-radius: 0.5em;
 text-transform: uppercase;
 font-weight: 800;
 background-color: var(--accent);
 color: #fff;
 line-height: 1;
 box-shadow: inset 0px 4px 2px rgba(255, 255, 255, 0.25);
 transition: all 0.5s ease-in-out;
 // &:after {
 //  content: "";
 //  @include center(x);
 //  top: 100%;
 //  width: 0;
 //  height: 2px;
 //  background: var(--accent);
 //  transition: width 0.5s cubic-bezier(0.6, 0.04, 0.98, 0.34);
 // }
 &.btn-call {
  font-size: 15px;
  text-align: center;
  padding: 0.3em 2.5em;
  line-height: 1.1;
  margin: auto;
  color: #fff;
 }
 &:hover {
  background-color: #ff9b62;
  // color: var(--link);
  // &:after {
  //  width: 100%;
  // }
 }
}

.play-btn {
 @include center();
 width: 5.5em;
 height: 3.4em;
}
