/* Lightbox.js */
.remove-scroll {
 overflow: hidden;
}

.lightbox-hide {
 top: -9999px;
 left: -9999px;
 position: absolute;
 visibility: hidden;
}

.lightbox-container {
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 padding: 2em;
 display: -webkit-flex;
 display: -ms-flexbox;
 display: flex;
 position: fixed;
 align-items: center;
 justify-content: center;
 // background-color: rgb(29, 29, 29);
 background-color: rgba(255, 255, 255, 0.8);
 z-index: 100;
}

.lightbox-wrapper {
 position: relative;
}

.lightbox-image {
 max-height: 80vh;
 vertical-align: middle;
}

.lightbox-btn {
 width: 2.2em;
 height: 2.2em;
 position: absolute;
 border-radius: 50%;
 transition: all 0.3s;
 background-color: #000;
 background-position: center;
 background-repeat: no-repeat;
 z-index: 100;
}

.lightbox-btn:disabled {
 cursor: initial;
 background-color: #adadad;
}

.lightbox-btn-close {
 top: -0.8em;
 right: -0.8em;
 background-size: 40%;
 background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cpath fill='%23fff' d='M98.2 89.3L58.8 50l39.3-39.3c2.4-2.4 2.4-6.4 0-8.8-2.4-2.4-6.4-2.4-8.8 0L50 41.2 10.7 1.8C8.3-.6 4.3-.6 1.9 1.8c-2.4 2.4-2.4 6.4 0 8.8L41.2 50 1.8 89.3c-2.4 2.4-2.4 6.4 0 8.8 2.4 2.4 6.4 2.4 8.8 0L50 58.8l39.3 39.3c2.4 2.4 6.4 2.4 8.8 0 2.5-2.4 2.5-6.3.1-8.8z'/%3E%3C/svg%3E");
}

.lightbox-btn-next,
.lightbox-btn-previous {
 top: calc(50% - (2.2em / 2));
 background-size: 25% 80%;
 background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 17 31' %3E%3Cpath fill='%23fff' d='M0.5,27.9c-0.7,0.7-0.7,1.7,0,2.4c0.7,0.7,1.7,0.7,2.4,0l13.6-13.6c0.7-0.7,0.7-1.7,0-2.4L2.9,0.7 C2.2,0,1.2,0,0.5,0.7c-0.7,0.7-0.7,1.7,0,2.4l12.4,12.4L0.5,27.9z'/%3E%3C/svg%3E");
}

.lightbox-btn-previous {
 left: 1.5em;
 transform: rotate(180deg);
}

.lightbox-btn-next {
 right: 1.5em;
}

.lightbox-video-wrapper {
 width: 80vw;
 overflow: hidden;
 position: relative;
 padding-bottom: 56.25%;
}

.lightbox-video-player {
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 position: absolute;
}

@keyframes fadeIn {
 from {
  opacity: 0;
 }

 to {
  opacity: 1;
 }
}

@keyframes fadeOut {
 from {
  opacity: 1;
 }

 to {
  opacity: 0;
 }
}

@keyframes createBox {
 from {
  transform: scale(0);
 }

 to {
  transform: scale(1);
 }
}

@keyframes deleteBox {
 from {
  transform: scale(1);
 }

 to {
  transform: scale(0);
 }
}

/*slider*/

.swiper-slide {
 &.section__row {
  padding: 3em 2.5em;
  background-color: #fff;
  border-radius: 0.5em;
  &.no-bg {
   background-color: transparent;
  }
  @include bp(750px) {
   padding: 1.5em 1em;
  }
 }
 .section__container {
  max-width: 75%;
  margin: auto;
 }
}
.slider1__pagination,
.slider2__pagination,
.slider3__pagination {
 display: none;
 @include bp(750px) {
  @include row(jc, ac);
  font-size: initial;
  .swiper-pagination-bullet {
   border: none;
   opacity: 0.2;
  }
  .swiper-pagination-bullet-active {
   opacity: 1;
  }
 }
}

.section__slider-btns {
 .swiper-button-prev {
  left: -5em;
  @include bp(1200px) {
   left: -0.5em;
  }
  @include bp(600px) {
   left: -1em;
  }
 }
 .swiper-button-next {
  right: -5em;
  @include bp(1200px) {
   right: -0.5em;
  }
  @include bp(600px) {
   right: -1em;
  }
 }
}

.cover {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 object-fit: cover;
}

.list {
 margin: 0.4em 0 0.4em 1.4em;
 li {
  position: relative;
  padding-left: 0.8em;
  margin-bottom: 0.4em;
  &:before {
   content: "";
   position: absolute;
   top: 0.5em;
   left: 0;
   width: 6px;
   height: 6px;
   border-radius: 100%;
   background-color: currentColor;
  }
  &:last-child {
   margin-bottom: 0;
  }
 }
}

.avatar {
 width: 5em;
 height: 5em;
 object-fit: cover;
 border-radius: 0.4em;
 margin-right: 0.5em;
}

/*popup + overlay*/
.overlay {
 display: none;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 position: fixed;
 z-index: 1000;
 background: rgba(255, 255, 255, 0.7);
 backdrop-filter: blur(20px);
 transition: opacity 0.5s ease;
 &.shown {
  display: flex;
  animation: opacity 1s ease forwards;
 }
}

.popup {
 position: relative;
 max-width: 550px;
 margin: auto;
 p {
  margin-bottom: 1.5em;
  font-size: 1.25em;
  color: var(--caption-color);
 }
}

.popup__body {
 padding: 3em 2.5em;
 border-radius: 1em;
 background-color: #fff;
 box-shadow: 3px 0.5em 1em rgba(147, 147, 147, 0.26);
 .btn {
  width: 270px;
 }
}

.popup__icon {
 @include center(x);
 top: -2.7em;
 width: 5.5em;
 height: 5.5em;
}
