@font-face {
  font-family: "MuseoSans";
  font-style: normal;
  font-weight: 300;
  unicode-range: U+0400-045F, U+0020-002F, U+0030-0039, U+003A-0040;
  font-display: swap;
  src: local(""), url("../fonts/MuseoSansCyrl-300.woff2") format("woff2"),
    url("../fonts/MuseoSansCyrl-300.woff") format("woff");
}
@font-face {
  font-family: "MuseoSans";
  font-style: normal;
  font-weight: 500;
  unicode-range: U+0400-045F, U+0020-002F, U+0030-0039, U+003A-0040;
  font-display: swap;
  src: local(""), url("../fonts/MuseoSansCyrl-500.woff2") format("woff2"),
    url("../fonts/MuseoSansCyrl-500.woff") format("woff");
}
@font-face {
  font-family: "MuseoSans";
  font-style: normal;
  font-weight: 700;
  unicode-range: U+0400-045F, U+0020-002F, U+0030-0039, U+003A-0040;
  font-display: swap;
  src: local(""), url("../fonts/MuseoSansCyrl-700.woff2") format("woff2"),
    url("../fonts/MuseoSansCyrl-700.woff") format("woff");
}
