.footer {
  @extend %flex;
  min-height: 70px;  
}

@include breakpoint($sm) {
  .footer {
    box-shadow: 0px -10px 6px -7px rgba(0,0,0,0.5);
  }
}


.footer__contact {
  flex: 1;
  margin-right: 10px;
  background: $main-color;
  text-align: right;
  box-shadow: 0px -10px 6px -7px rgba(0,0,0,0.5);
}

.footer__email {
  @extend .main-nav__link;
  display: inline-block;
  padding: 15px 10px 5px 10px;
  text-align: right;
  text-transform: none;
  font-family: $font-nav;
}

.footer__copyright {
  @extend %flex;
  align-items: center;
  padding: 10px;
  flex-basis: 180px;
  background: $main-color;
  font-family: $font-nav;
  color: #fff;
  box-shadow: 0px -10px 6px -7px rgba(0,0,0,0.5);
    @include breakpoint($xs) {
      flex-basis: 100%;
  }
}

@include breakpoint($sm) {
  .footer__contact {
    margin-right: 0;
    text-align: left;
    box-shadow: none;
  }
  .footer__copyright {
    box-shadow: none;
  }
}

