.pop-up-wrapper {
  display: none;
}

.btn {
  padding: 0.2em 1em;
  margin: 0 auto;
  border: none;
  outline: none;
  cursor: pointer;
  background: $main-color;
  font-size: 2em;
  font-family: Bebasneue;
  color: #fff;
  box-shadow: 0px 10px 6px -7px rgba(0,0,0,0.5);
}