.rules__item {

  @extend %li;
  padding: 20px 0 20px 50px;
  &:before {
    width: 1.5em;
    height: 1.5em;
    background: transparent;
    border: 5px solid $main-color;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
}