.schedule__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 300px;
  flex: 1 1 0;
  padding: 0 10px 0;
  margin-bottom: 30px;
}

.schedule__header {
  text-align: center;
  color: #fff;
  font-size: 1.5em;
  text-transform: uppercase;
  background: $main-color;
}

.schedule__item {
  padding: 30px 0;
  text-align: center;
  border-bottom: 2px dashed $main-color;
  background: $fill-color;
  &:last-of-type {
    margin-bottom: 0;
  }

  @include breakpoint($sm) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  @include breakpoint(650px) {
    flex-direction: column;
  }
}

.schedule__link {
  color: $main-color;
  text-align: center;
  @include breakpoint($sm) {
    flex: 0 1 25%;
  }
}

.schedule__pic {
  @extend .teachers__pic;
}

.schedule__caption {
  font-size: 1.1em;
  font-weight: bold;
  padding: 0 20px 0 20px;
}

.schedule__title {
  font-size: 1.2em;
  padding: 0 20px;
}

.schedule__text {
  font-size: 1em;
  padding: 0 20px;
  li {
    @extend %li;
    &:before {
      width: 5px;
      height: 5px;
    }
  }
}
.schedule__time {
  padding-bottom: 20px;
  font-size: 1.3em;
  color: $main-color;
  @include breakpoint($sm) {
    padding: 10px;
    // order: 1;
  }
}

.schedule__descr {
    flex: 1;
}
