.empty {
  @extend %vhidden;
}

.tickets__list {
  width: 100%;
  margin-bottom: 30px;
  border-collapse: collapse;
  border-bottom: 2px dashed $main-color;
}


.tickets__header-mobil {
  display: none;
  @include breakpoint($sm) {
    @extend .tickets__header-list;
    display: block;
    padding: 20px;
  }
}
.tickets__item {
  position: relative;
  border-bottom: 2px dashed $main-color;
  @include breakpoint($sm) {
    border-bottom: none;
  }
}

.tickets__header {
  @include breakpoint($sm) {
    display: none;
  }
}

.tickets__header-list {
  padding: 20px;
  font-size: 1.2em;
  font-weight: normal;
  color: #fff;
  background: $main-color;
}

.tickets__date {
  @include breakpoint($sm) {
    display: none;
  }
}
.tickets__price {
  position: relative;
  width: 25%;
  padding: 20px;
  text-align: center;
  @include breakpoint($sm) {
    width: auto;
    display: block;
    font-size: 1.5em;
    text-align: right;
    border-bottom: 2px dashed $main-color;
    &:last-child {
      border-bottom: none;
    }
    &:before {
      content: attr(data-label);
      position: absolute;
      left: 20px;
    }
  }
}

/*payment*/

.payment__list {
  @extend %flex;
}

.payment__item {
  flex: 1 1 30%;
  padding: 0 10px;
  margin-bottom: 20px;
}

.payment__btn {
  min-height: 116px;
  font-size: 2em;
  
}
.payment__link {
  @extend .btn;
  height: 116px;
  display:table-cell;
  vertical-align:middle;
  font-size: 1.5em;
  text-align: center;
}

.payment__descr {
  margin-top: 20px;
}