$container: 1200px;

$fz: 18px;
$ff: "Rubik", sans-serif;
$aff: "DM Serif Display", serif;

$text: #402b2b;
$accent: #ee4d47;
$bg: #fef8f5;
$bg-alert: #fcddd4;
$shadow: 0px 20px 40px rgba(238, 77, 71, 0.2);
