@charset "UTF-8";
:root {
  --fz: 16px;
  --ff: "Circe";
  --accent-ff: "Stratos LC Web";
  --text: #737c8d;
  --prime-color: #4687ff;
  --accent-color: #fe6912;
  --light-color: #e8eefb;
  --footer-top: #455064;
  --footer-bottom: #394255;
}

@font-face {
  font-family: "Stratos LC Web";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""), url("../fonts/StratosLCWeb-Regular.woff2") format("woff2"), url("../fonts/StratosLCWeb-Regular.woff") format("woff");
}
@font-face {
  font-family: "Stratos LC Web";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(""), url("../fonts/StratosLCWeb-Medium.woff2") format("woff2"), url("../fonts/StratosLCWeb-Medium.woff") format("woff");
}
@font-face {
  font-family: "Stratos LC Web";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local(""), url("../fonts/StratosLCWeb-Bold.woff2") format("woff2"), url("../fonts/StratosLCWeb-Bold.woff") format("woff");
}
@font-face {
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""), url("../fonts/Circe-Regular.woff2") format("woff2"), url("../fonts/Circe-Regular.woff") format("woff");
}
@font-face {
  font-family: "Circe";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local(""), url("../fonts/Circe-Bold.woff2") format("woff2"), url("../fonts/Circe-Bold.woff") format("woff");
}
html {
  font-family: var(--ff);
  color: var(--text);
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper {
  position: relative;
  min-width: 320px;
  min-height: 100vh;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: hidden;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

a {
  display: inline-block;
  vertical-align: baseline;
}

img {
  display: inline-block;
  width: 100%;
}

.section {
  padding: 4vmax 0;
}

.section__title, .features__title {
  margin-bottom: 10px;
  font-size: 28px;
  font-family: var(--accent-ff);
  font-weight: 500;
  color: #000;
}
@media (min-width: 320px) {
  .section__title, .features__title {
    font-size: 20px;
    font-size: calc(0.0050632911 * 100vw + 26.3797468354px);
  }
}
@media (min-width: 1900px) {
  .section__title, .features__title {
    font-size: 36px;
  }
}

.section__wrap {
  max-width: 1370px;
  margin: 0 auto;
  border-radius: 1em;
}

.container-tiny {
  max-width: 960px;
  padding: 0 12px;
  margin: 0 auto;
}

.white {
  color: #fff;
}

/**/
/* New shadow dom for play button */
/* This one works! */
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  z-index: 100;
  -webkit-transform: translateY();
      -ms-transform: translateY();
          transform: translateY();
  color: #fff;
  background-color: transparent;
  -webkit-transition: background-color 0.5s linear, -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: background-color 0.5s linear, -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: background-color 0.5s linear, transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: background-color 0.5s linear, transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: background-color 0.5s linear, transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.header .btn-link {
  text-decoration: none;
  font-family: inherit;
}
.header .navbar-brand {
  width: 150px;
  margin-right: 0;
}
.header .navbar-brand svg,
.header .navbar-brand img {
  display: block;
  width: 100%;
}
@media (max-width: 500px) {
  .header .navbar-brand {
    width: 100px;
  }
}
.header .nav-item:hover,
.header .btn-link:hover {
  color: var(--accent-color);
}
.header .navbar-brand,
.header .nav-link,
.header .btn-link {
  color: currentColor;
}
@media (max-width: 500px) {
  .header .navbar-brand,
.header .nav-link,
.header .btn-link {
    --bs-btn-padding-y: 0.5rem;
  }
}
.header.has_background, .header.menu_open {
  background-color: #fff;
  color: var(--text);
}
.header--hidden {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 16px;
  padding-left: 16px;
}
@media (max-width: 1200px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 8px;
    padding-left: 8px;
  }
}

.hero {
  height: 100vh;
  padding-top: 75px;
  background-color: var(--prime-color);
  color: #fff;
}
@media (max-width: 700px) {
  .hero {
    padding-top: 100px;
    height: auto;
  }
}
.hero .container {
  min-height: 1px;
  height: 100%;
}
.hero .row {
  height: 100%;
}

@media (max-width: 850px) and (orientation: landscape) {
  .hero {
    height: auto;
  }
}
.hero__title {
  font-family: var(--accent-ff);
  font-size: 30px;
  margin-bottom: 0.55em;
}
@media (min-width: 320px) {
  .hero__title {
    font-size: 20px;
    font-size: calc(0.0101265823 * 100vw + 26.7594936709px);
  }
}
@media (min-width: 1900px) {
  .hero__title {
    font-size: 46px;
  }
}

.hero__text {
  margin-bottom: 2.5em;
  font-size: 17px;
  line-height: 1.85;
}

/*my-ip*/
@media (max-width: 700px) {
  .my-ip .btn {
    display: block;
    width: 100%;
  }
}

.my-ip__media {
  width: 92%;
}
@media (max-width: 700px) {
  .my-ip__media {
    margin: auto;
  }
}

.my-ip__title {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}

.my-ip__user-adress {
  margin: 0 0 0.5em 0;
  font-size: 36px;
  color: #000;
  font-family: var(--accent-ff);
  font-weight: 500;
}

.my-ip__infobox {
  margin-bottom: 19px;
}

.my-ip__infobox-title {
  margin-bottom: 0.2em;
  color: #000;
  font-size: 18px;
  font-weight: 700;
}

.my-ip__infobox-adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.my-ip__infobox-adress .flag {
  margin-right: 5px;
}

/*features*/
.features__title {
  color: #000;
}

.features__content {
  max-width: 443px;
  line-height: 2;
}

.features__media {
  width: 92%;
}

/* anonim */
.anonim {
  padding: 0;
}
@media (max-width: 1400px) {
  .anonim {
    padding: 0 20px;
  }
}
.anonim .section__wrap {
  background-color: var(--prime-color);
  color: #fff;
}
@media (max-width: 700px) {
  .anonim .btn {
    display: block;
  }
}

.anonim__content {
  padding: 2em 0;
}

/*stats*/
.stats__content {
  width: 80%;
  margin: auto;
  text-align: center;
}
@media (max-width: 700px) {
  .stats__content {
    width: 100%;
  }
}

.stats__num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 98px;
  height: 98px;
  border-radius: 100%;
  margin: 0 auto;
  font-size: 55px;
  line-height: 0;
  background-color: var(--accent-color);
  color: #fff;
}

.stats__text {
  color: rgba(0, 0, 0, 0.8);
}

/*deviсes*/
.deviсes {
  padding: 0;
}
@media (max-width: 1400px) {
  .deviсes {
    padding: 0 20px;
  }
}
.deviсes .section__wrap {
  padding: 4vmax 0;
  background-color: var(--light-color);
}

.divices__title {
  font-size: 16px;
  color: var(--prime-color);
  font-weight: 600;
}

.devices__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px -10px 0 -10px;
}

.devices__item {
  width: 120px;
  padding: 20px 0 16px 0;
  margin: 0 10px;
  border: 1px solid var(--light-color);
  border-radius: 8px;
  text-align: center;
  background: #fff;
}
@media (max-width: 1200px) {
  .devices__item {
    margin-bottom: 20px;
  }
}

.devices__logo {
  color: var(--text);
  margin-bottom: 8px;
}

.devices__text {
  font-size: 18px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
}

/*price*/
.price__list {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 38px;
}
@media (max-width: 760px) {
  .price__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.price__item {
  position: relative;
  top: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 282px;
          flex: 0 1 282px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 38px 20px 50px 20px;
  border: 1px solid var(--light-color);
  border-radius: 7px;
  text-align: center;
  -webkit-transition: border 0.5s linear, top 0.5s linear;
  -o-transition: border 0.5s linear, top 0.5s linear;
  transition: border 0.5s linear, top 0.5s linear;
}
.price__item:hover {
  top: -10px;
  border: 1px solid var(--accent-color);
}
.price__item.popular {
  background-color: var(--prime-color);
  color: #fff;
}
.price__item.popular .price__num {
  color: #fff;
}
.price__item .btn {
  margin-top: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
@media (max-width: 990px) {
  .price__item {
    margin-bottom: 30px;
  }
  .price__item:last-child {
    margin: auto;
  }
}

.price__period {
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 600;
}

.price__value {
  margin-bottom: 38px;
}
.price__value p {
  margin-bottom: 0;
}

.price__num {
  font-size: 66px;
  font-family: var(--accent-ff);
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
}

.price__economy {
  margin-bottom: 22px;
}

.price__economy-offer {
  font-size: 18px;
  font-weight: 600;
}

.price__economy-res {
  font-size: 14px;
}

/* footer */
.footer {
  color: #fff;
}
.footer a {
  color: rgba(255, 255, 255, 0.8);
}

.footer__top {
  padding: 58px 0 48px 0;
  background-color: var(--footer-top);
}
@media (max-width: 700px) {
  .footer__top {
    padding: 35px 0;
  }
}

.footer__bottom {
  padding: 25px 0;
  background-color: var(--footer-bottom);
}

.footer__title {
  font-family: var(--accent-ff);
  font-size: 24px;
  font-weight: 600;
}

.footer__caption {
  margin-bottom: 0.5em;
  font-size: 18px;
  font-weight: 600;
}

.footer__list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
.footer__list a {
  display: block;
  padding: 0.25em 0;
  text-decoration: none;
  font-size: 14px;
}

@media (max-width: 960px) {
  .navbar-action--desk {
    display: none;
  }
}
@media (max-width: 500px) {
  .navbar-action--desk {
    display: block;
  }
  .navbar-action--desk .btn {
    display: block;
  }
}
.navbar-action--mobil {
  display: none;
}
@media (max-width: 960px) {
  .navbar-action--mobil {
    display: block;
  }
}
@media (max-width: 500px) {
  .navbar-action--mobil {
    display: none;
  }
}

.hero__btngroup .btn + .btn {
  margin-left: 1em;
}
@media (max-width: 992px) {
  .hero__btngroup .btn + .btn {
    margin-left: 0;
    margin-top: 1em;
  }
}
@media (max-width: 992px) {
  .hero__btngroup .btn {
    display: block;
    width: 100%;
  }
}

.my-ip__alert {
  position: relative;
  padding: 0 0 0.5em 1.75em;
  margin-bottom: 1em;
}
.my-ip__alert p {
  margin-bottom: 0;
}
.my-ip__alert .bi {
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
}
.my-ip__alert.warning {
  color: var(--accent-color);
}
.my-ip__alert.success {
  color: var(--prime-color);
}

/*soc*/
.soc__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
.soc__list li {
  margin-right: 7px;
}
.soc__list li:last-child {
  margin-right: 0;
}
.soc__list a {
  display: block;
  padding: 0.7em 1em;
  border-radius: 7px;
  background: var(--footer-bottom);
}

.navbar-toggler {
  border: none;
}

.btn {
  font-family: var(--accent-ff);
  font-size: 16px;
  color: #fff;
  /****/
  --bs-btn-padding-x: 2rem;
}
.btn-lxx {
  padding: 1rem 2rem;
}
.btn:hover {
  color: #fff;
}
@media (max-width: 990px) {
  .btn {
    --bs-btn-padding-x: 1rem;
  }
}
@media (max-width: 500px) {
  .btn {
    font-size: 16px;
  }
}

.btn-light {
  background-color: #fff;
  color: var(--prime-color);
}
.btn-light:hover {
  background-color: var(--prime-color);
  color: #fff;
}
/*# sourceMappingURL=main.css.map */