.btn {
 padding: 1em;
 border-radius: 0.8em;
 font-weight: 600;
 text-align: center;
 line-height: 1;
 background-color: $light;
 color: $primary;
 .icon {
  margin: auto;
  vertical-align: baseline;
 }
 &--icon {
  .icon {
   margin-right: 0.5em;
  }
 }
 &--light {
  background-color: #fff;
  color: $text;
 }
 &--primary {
  min-width: 224px;
  background-color: $primary;
  color: #fff;
  @include bp(600px) {
   min-width: 0px;
  }
 }
}
