.header, .footer {
  position: static;
  display: inline-block;
  text-align: justify;
}

@media (max-width: 768px) {
 
}

 .main-nav {
  display: inline-block;
  vertical-align: top;
  font-size: 17px;
  min-height: 75px;
  max-width: 78%;

} 

.main-nav__list {
  display: inline-block;
  text-align: justify;
  vertical-align: middle;
  width: 100%;
}

.footer:after, 
.header:after, 
.main-nav .main-nav__list:after, 
.main-nav .social-list:after {
  content: '';
  display: inline-block;
  width: 100%;
  font-size: 0;
}
.main-nav .main-nav__item {
  vertical-align: middle;
}

.main-nav__item, 
.social-list,
.social-list__item, 
.main-nav__link, .payment__item{
  display: inline-block;
}


.main-nav__item .main-nav__link {
  font-family: Verdana, sans-serif;
  font-size: 20px;
  padding: 15px;
}

@media (max-width: 768px) {
   .header {
    background: #F07333;
  }

  .main-nav .menu-toggle {
    display: block;
  }

  .main-nav .main-nav__item {
    display: block;
  }
}

/*teachers__item*/

.teachers__item, .partners__item {
  display: inline-block;
  vertical-align: top;
  margin: 0 auto;
}

.partners__item {
  width: 30%;
}

.payment__item {
  width: 30%;
  vertical-align: top;
}

.contacts__banner .contacts__phon {
  font-size: 30px;
}

.footer {
  width: 100%;
  display: inline-block;
  text-align: justify;
}

.footer__contact {
  width: 78%;
  display: inline-block;
  vertical-align: bottom;
}

.footer__copyright {
  display: inline-block;
}
