@font-face {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""), url("../fonts/josefin-sans-v25-latin-regular.woff2") format("woff2"),
    url("../fonts/josefin-sans-v25-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""), url("../fonts/josefin-sans-v25-latin-700.woff2") format("woff2"),
    url("../fonts/josefin-sans-v25-latin-700.woff") format("woff");
}
