$container: 500px;

$fz: 13px;
$ff: 'Source Sans';

$text: #343434;
$text-card: #6F6F6F;


$prim: #6C68D2;
$teal: #E2AB83;


// :root {
//  --container: 1200px;
//  --fz: 18px;
//  --ff: 'Inter';
//  --text: #2D3436;
//  --accent: #6C5CE7;
//  --fallback: ;
//  --turnOn: inital;
// }